openapi: 3.1.0
info:
  title: Llama Stack API
  description: A comprehensive API for building and deploying AI applications
  version: 1.0.0
servers:
- url: https://api.llamastack.com
  description: Production server
- url: https://staging-api.llamastack.com
  description: Staging server
paths:
  /v1/agents:
    get:
      tags:
      - Agents
      summary: List all agents.
      description: List all agents.
      operationId: list_agents_v1_agents_get
      deprecated: true
      parameters:
      - name: start_index
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          description: The index to start the pagination from.
          title: Start Index
        description: The index to start the pagination from.
      - name: limit
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          description: The number of agents to return.
          title: Limit
        description: The number of agents to return.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - Agents
      summary: Create an agent.
      description: Create an agent with the given configuration.
      operationId: create_agent_v1_agents_post
      deprecated: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentConfig-Input'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentCreateResponse'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/agents/{agent_id}:
    delete:
      tags:
      - Agents
      summary: Delete an agent.
      description: Delete an agent by its ID.
      operationId: delete_agent_v1_agents__agent_id__delete
      deprecated: true
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the agent to delete.
          title: Agent Id
        description: The ID of the agent to delete.
      responses:
        '204':
          description: Successful Response
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      tags:
      - Agents
      summary: Describe an agent.
      description: Describe an agent by its ID.
      operationId: get_agent_v1_agents__agent_id__get
      deprecated: true
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          description: ID of the agent.
          title: Agent Id
        description: ID of the agent.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/agents/{agent_id}/session:
    post:
      tags:
      - Agents
      summary: Create a new session for an agent.
      description: Create a new session for an agent.
      operationId: create_agent_session_v1_agents__agent_id__session_post
      deprecated: true
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the agent to create the session for.
          title: Agent Id
        description: The ID of the agent to create the session for.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAgentSessionRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentSessionCreateResponse'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/agents/{agent_id}/session/{session_id}:
    delete:
      tags:
      - Agents
      summary: Delete an agent session.
      description: Delete an agent session by its ID.
      operationId: delete_agents_session_v1_agents__agent_id__session__session_id__delete
      deprecated: true
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the agent to delete the session for.
          title: Agent Id
        description: The ID of the agent to delete the session for.
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the session to delete.
          title: Session Id
        description: The ID of the session to delete.
      responses:
        '204':
          description: Successful Response
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      tags:
      - Agents
      summary: Retrieve an agent session.
      description: Retrieve an agent session by its ID.
      operationId: get_agents_session_v1_agents__agent_id__session__session_id__get
      deprecated: true
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the agent to get the session for.
          title: Agent Id
        description: The ID of the agent to get the session for.
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the session to get.
          title: Session Id
        description: The ID of the session to get.
      - name: turn_ids
        in: query
        required: false
        schema:
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: List of turn IDs to filter the session by.
          title: Turn Ids
        description: List of turn IDs to filter the session by.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/agents/{agent_id}/session/{session_id}/turn:
    post:
      tags:
      - Agents
      summary: Create a new turn for an agent.
      description: Create a new turn for an agent.
      operationId: create_agent_turn_v1_agents__agent_id__session__session_id__turn_post
      deprecated: true
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the agent to create the turn for.
          title: Agent Id
        description: The ID of the agent to create the turn for.
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the session to create the turn for.
          title: Session Id
        description: The ID of the session to create the turn for.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentTurnCreateRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/agents/{agent_id}/session/{session_id}/turn/{turn_id}:
    get:
      tags:
      - Agents
      summary: Retrieve an agent turn.
      description: Retrieve an agent turn by its ID.
      operationId: get_agents_turn_v1_agents__agent_id__session__session_id__turn__turn_id__get
      deprecated: true
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the agent to get the turn for.
          title: Agent Id
        description: The ID of the agent to get the turn for.
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the session to get the turn for.
          title: Session Id
        description: The ID of the session to get the turn for.
      - name: turn_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the turn to get.
          title: Turn Id
        description: The ID of the turn to get.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Turn'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/agents/{agent_id}/session/{session_id}/turn/{turn_id}/resume:
    post:
      tags:
      - Agents
      summary: Resume an agent turn.
      description: Resume an agent turn with executed tool call responses.
      operationId: resume_agent_turn_v1_agents__agent_id__session__session_id__turn__turn_id__resume_post
      deprecated: true
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the agent to resume.
          title: Agent Id
        description: The ID of the agent to resume.
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the session to resume.
          title: Session Id
        description: The ID of the session to resume.
      - name: turn_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the turn to resume.
          title: Turn Id
        description: The ID of the turn to resume.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentTurnResumeRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/agents/{agent_id}/session/{session_id}/turn/{turn_id}/step/{step_id}:
    get:
      tags:
      - Agents
      summary: Retrieve an agent step.
      description: Retrieve an agent step by its ID.
      operationId: get_agents_step_v1_agents__agent_id__session__session_id__turn__turn_id__step__step_id__get
      deprecated: true
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the agent to get the step for.
          title: Agent Id
        description: The ID of the agent to get the step for.
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the session to get the step for.
          title: Session Id
        description: The ID of the session to get the step for.
      - name: turn_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the turn to get the step for.
          title: Turn Id
        description: The ID of the turn to get the step for.
      - name: step_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the step to get.
          title: Step Id
        description: The ID of the step to get.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentStepResponse'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/agents/{agent_id}/sessions:
    get:
      tags:
      - Agents
      summary: List all sessions of an agent.
      description: List all session(s) of a given agent.
      operationId: list_agent_sessions_v1_agents__agent_id__sessions_get
      deprecated: true
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the agent to list sessions for.
          title: Agent Id
        description: The ID of the agent to list sessions for.
      - name: start_index
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          description: The index to start the pagination from.
          title: Start Index
        description: The index to start the pagination from.
      - name: limit
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          description: The number of sessions to return.
          title: Limit
        description: The number of sessions to return.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/datasets:
    get:
      tags:
      - Datasets
      summary: List all datasets
      description: List all datasets
      operationId: list_datasets_v1_datasets_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDatasetsResponse'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      deprecated: true
    post:
      tags:
      - Datasets
      summary: Register a new dataset
      description: Register a new dataset
      operationId: register_dataset_v1_datasets_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterDatasetRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dataset'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      deprecated: true
  /v1/datasets/{dataset_id}:
    delete:
      tags:
      - Datasets
      summary: Unregister a dataset by its ID
      description: Unregister a dataset by its ID
      operationId: unregister_dataset_v1_datasets__dataset_id__delete
      deprecated: true
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the dataset to unregister
          title: Dataset Id
        description: The ID of the dataset to unregister
      responses:
        '204':
          description: Successful Response
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      tags:
      - Datasets
      summary: Get a dataset by its ID
      description: Get a dataset by its ID
      operationId: get_dataset_v1_datasets__dataset_id__get
      deprecated: true
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the dataset to get
          title: Dataset Id
        description: The ID of the dataset to get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dataset'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/eval/benchmarks:
    get:
      tags:
      - Benchmarks
      summary: List all benchmarks
      description: List all benchmarks
      operationId: list_benchmarks_v1_eval_benchmarks_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBenchmarksResponse'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      deprecated: true
    post:
      tags:
      - Benchmarks
      summary: Register a benchmark
      description: Register a benchmark
      operationId: register_benchmark_v1_eval_benchmarks_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterBenchmarkRequest'
        required: true
      responses:
        '204':
          description: Successful Response
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      deprecated: true
  /v1/eval/benchmarks/{benchmark_id}:
    delete:
      tags:
      - Benchmarks
      summary: Unregister a benchmark
      description: Unregister a benchmark
      operationId: unregister_benchmark_v1_eval_benchmarks__benchmark_id__delete
      deprecated: true
      parameters:
      - name: benchmark_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the benchmark to unregister
          title: Benchmark Id
        description: The ID of the benchmark to unregister
      responses:
        '204':
          description: Successful Response
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      tags:
      - Benchmarks
      summary: Get a benchmark by its ID
      description: Get a benchmark by its ID
      operationId: get_benchmark_v1_eval_benchmarks__benchmark_id__get
      deprecated: true
      parameters:
      - name: benchmark_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the benchmark to get
          title: Benchmark Id
        description: The ID of the benchmark to get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Benchmark'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/eval/benchmarks/{benchmark_id}/evaluations:
    post:
      tags:
      - Eval
      summary: Evaluate a list of rows on a benchmark
      description: Evaluate a list of rows on a benchmark
      operationId: evaluate_rows_v1_eval_benchmarks__benchmark_id__evaluations_post
      deprecated: true
      parameters:
      - name: benchmark_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the benchmark to run the evaluation on
          title: Benchmark Id
        description: The ID of the benchmark to run the evaluation on
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EvaluateRowsRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvaluateResponse'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/eval/benchmarks/{benchmark_id}/jobs:
    post:
      tags:
      - Eval
      summary: Run an evaluation on a benchmark
      description: Run an evaluation on a benchmark
      operationId: run_eval_v1_eval_benchmarks__benchmark_id__jobs_post
      deprecated: true
      parameters:
      - name: benchmark_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the benchmark to run the evaluation on
          title: Benchmark Id
        description: The ID of the benchmark to run the evaluation on
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BenchmarkConfig'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/eval/benchmarks/{benchmark_id}/jobs/{job_id}:
    delete:
      tags:
      - Eval
      summary: Cancel a job
      description: Cancel a job
      operationId: job_cancel_v1_eval_benchmarks__benchmark_id__jobs__job_id__delete
      deprecated: true
      parameters:
      - name: benchmark_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the benchmark to run the evaluation on
          title: Benchmark Id
        description: The ID of the benchmark to run the evaluation on
      - name: job_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the job to cancel
          title: Job Id
        description: The ID of the job to cancel
      responses:
        '204':
          description: Successful Response
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      tags:
      - Eval
      summary: Get the status of a job
      description: Get the status of a job
      operationId: job_status_v1_eval_benchmarks__benchmark_id__jobs__job_id__get
      deprecated: true
      parameters:
      - name: benchmark_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the benchmark to run the evaluation on
          title: Benchmark Id
        description: The ID of the benchmark to run the evaluation on
      - name: job_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the job to get the status of
          title: Job Id
        description: The ID of the job to get the status of
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/eval/benchmarks/{benchmark_id}/jobs/{job_id}/result:
    get:
      tags:
      - Eval
      summary: Get the result of a job
      description: Get the result of a job
      operationId: job_result_v1_eval_benchmarks__benchmark_id__jobs__job_id__result_get
      deprecated: true
      parameters:
      - name: benchmark_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the benchmark to run the evaluation on
          title: Benchmark Id
        description: The ID of the benchmark to run the evaluation on
      - name: job_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the job to get the result of
          title: Job Id
        description: The ID of the job to get the result of
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvaluateResponse'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/post-training/job/artifacts:
    get:
      tags:
      - Post Training
      summary: Get the artifacts of a training job
      description: Get the artifacts of a training job
      operationId: get_training_job_artifacts_v1_post_training_job_artifacts_get
      deprecated: true
      parameters:
      - name: job_uuid
        in: query
        required: true
        schema:
          type: string
          description: The UUID of the job to get the artifacts of
          title: Job Uuid
        description: The UUID of the job to get the artifacts of
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostTrainingJobArtifactsResponse'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/post-training/job/cancel:
    post:
      tags:
      - Post Training
      summary: Cancel a training job
      description: Cancel a training job
      operationId: cancel_training_job_v1_post_training_job_cancel_post
      deprecated: true
      parameters:
      - name: job_uuid
        in: query
        required: true
        schema:
          type: string
          description: The UUID of the job to cancel
          title: Job Uuid
        description: The UUID of the job to cancel
      responses:
        '204':
          description: Successful Response
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/post-training/job/status:
    get:
      tags:
      - Post Training
      summary: Get the status of a training job
      description: Get the status of a training job
      operationId: get_training_job_status_v1_post_training_job_status_get
      deprecated: true
      parameters:
      - name: job_uuid
        in: query
        required: true
        schema:
          type: string
          description: The UUID of the job to get the status of
          title: Job Uuid
        description: The UUID of the job to get the status of
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostTrainingJobStatusResponse'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/post-training/jobs:
    get:
      tags:
      - Post Training
      summary: Get all training jobs
      description: Get all training jobs
      operationId: get_training_jobs_v1_post_training_jobs_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPostTrainingJobsResponse'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      deprecated: true
  /v1/post-training/preference-optimize:
    post:
      tags:
      - Post Training
      summary: Run preference optimization of a model
      description: Run preference optimization of a model
      operationId: preference_optimize_v1_post_training_preference_optimize_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreferenceOptimizeRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostTrainingJob'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      deprecated: true
  /v1/post-training/supervised-fine-tune:
    post:
      tags:
      - Post Training
      summary: Run supervised fine-tuning of a model
      description: Run supervised fine-tuning of a model
      operationId: supervised_fine_tune_v1_post_training_supervised_fine_tune_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SupervisedFineTuneRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostTrainingJob'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      deprecated: true
components:
  schemas:
    Agent:
      properties:
        agent_id:
          type: string
          title: Agent Id
          description: Unique identifier for the agent
        agent_config:
          $ref: '#/components/schemas/AgentConfig-Output'
          description: Configuration settings for the agent
        created_at:
          type: string
          format: date-time
          title: Created At
          description: Timestamp when the agent was created
      type: object
      required:
      - agent_id
      - agent_config
      - created_at
      title: Agent
      description: An agent instance with configuration and metadata.
    AgentCandidate:
      properties:
        type:
          type: string
          const: agent
          title: Type
          description: The type of candidate.
          default: agent
        config:
          $ref: '#/components/schemas/AgentConfig-Input'
          description: The configuration for the agent candidate.
      type: object
      required:
      - config
      title: AgentCandidate
      description: An agent candidate for evaluation.
    AgentConfig-Input:
      properties:
        sampling_params:
          anyOf:
          - $ref: '#/components/schemas/SamplingParams'
          - type: 'null'
        input_shields:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Input Shields
        output_shields:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Output Shields
        toolgroups:
          anyOf:
          - items:
              anyOf:
              - type: string
              - $ref: '#/components/schemas/AgentToolGroupWithArgs'
            type: array
          - type: 'null'
          title: Toolgroups
        client_tools:
          anyOf:
          - items:
              $ref: '#/components/schemas/ToolDef'
            type: array
          - type: 'null'
          title: Client Tools
        tool_choice:
          anyOf:
          - $ref: '#/components/schemas/ToolChoice'
          - type: 'null'
          deprecated: true
        tool_prompt_format:
          anyOf:
          - $ref: '#/components/schemas/ToolPromptFormat'
          - type: 'null'
          deprecated: true
        tool_config:
          anyOf:
          - $ref: '#/components/schemas/ToolConfig'
          - type: 'null'
        max_infer_iters:
          anyOf:
          - type: integer
          - type: 'null'
          title: Max Infer Iters
          default: 10
        model:
          type: string
          title: Model
          description: The model identifier to use for the agent
        instructions:
          type: string
          title: Instructions
          description: The system instructions for the agent
        name:
          anyOf:
          - type: string
          - type: 'null'
          title: Name
          description: Optional name for the agent, used in telemetry and identification
        enable_session_persistence:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Enable Session Persistence
          description: Optional flag indicating whether session data has to be persisted
          default: false
        response_format:
          anyOf:
          - oneOf:
            - $ref: '#/components/schemas/JsonSchemaResponseFormat'
            - $ref: '#/components/schemas/GrammarResponseFormat'
            discriminator:
              propertyName: type
              mapping:
                grammar: '#/components/schemas/GrammarResponseFormat'
                json_schema: '#/components/schemas/JsonSchemaResponseFormat'
          - type: 'null'
          title: Response Format
          description: Optional response format configuration
      type: object
      required:
      - model
      - instructions
      title: AgentConfig
      description: Configuration for an agent.
    AgentConfig-Output:
      properties:
        sampling_params:
          anyOf:
          - $ref: '#/components/schemas/SamplingParams'
          - type: 'null'
        input_shields:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Input Shields
        output_shields:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Output Shields
        toolgroups:
          anyOf:
          - items:
              anyOf:
              - type: string
              - $ref: '#/components/schemas/AgentToolGroupWithArgs'
            type: array
          - type: 'null'
          title: Toolgroups
        client_tools:
          anyOf:
          - items:
              $ref: '#/components/schemas/ToolDef'
            type: array
          - type: 'null'
          title: Client Tools
        tool_choice:
          anyOf:
          - $ref: '#/components/schemas/ToolChoice'
          - type: 'null'
          deprecated: true
        tool_prompt_format:
          anyOf:
          - $ref: '#/components/schemas/ToolPromptFormat'
          - type: 'null'
          deprecated: true
        tool_config:
          anyOf:
          - $ref: '#/components/schemas/ToolConfig'
          - type: 'null'
        max_infer_iters:
          anyOf:
          - type: integer
          - type: 'null'
          title: Max Infer Iters
          default: 10
        model:
          type: string
          title: Model
          description: The model identifier to use for the agent
        instructions:
          type: string
          title: Instructions
          description: The system instructions for the agent
        name:
          anyOf:
          - type: string
          - type: 'null'
          title: Name
          description: Optional name for the agent, used in telemetry and identification
        enable_session_persistence:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Enable Session Persistence
          description: Optional flag indicating whether session data has to be persisted
          default: false
        response_format:
          anyOf:
          - oneOf:
            - $ref: '#/components/schemas/JsonSchemaResponseFormat'
            - $ref: '#/components/schemas/GrammarResponseFormat'
            discriminator:
              propertyName: type
              mapping:
                grammar: '#/components/schemas/GrammarResponseFormat'
                json_schema: '#/components/schemas/JsonSchemaResponseFormat'
          - type: 'null'
          title: Response Format
          description: Optional response format configuration
      type: object
      required:
      - model
      - instructions
      title: AgentConfig
      description: Configuration for an agent.
    AgentCreateResponse:
      properties:
        agent_id:
          type: string
          title: Agent Id
          description: Unique identifier for the created agent
      type: object
      required:
      - agent_id
      title: AgentCreateResponse
      description: Response returned when creating a new agent.
    AgentSessionCreateResponse:
      properties:
        session_id:
          type: string
          title: Session Id
          description: Unique identifier for the created session
      type: object
      required:
      - session_id
      title: AgentSessionCreateResponse
      description: Response returned when creating a new agent session.
    AgentStepResponse:
      properties:
        step:
          oneOf:
          - $ref: '#/components/schemas/InferenceStep-Output'
          - $ref: '#/components/schemas/ToolExecutionStep-Output'
          - $ref: '#/components/schemas/ShieldCallStep-Output'
          - $ref: '#/components/schemas/MemoryRetrievalStep-Output'
          title: Step
          description: The complete step data and execution details
          discriminator:
            propertyName: step_type
            mapping:
              inference: '#/components/schemas/InferenceStep-Output'
              memory_retrieval: '#/components/schemas/MemoryRetrievalStep-Output'
              shield_call: '#/components/schemas/ShieldCallStep-Output'
              tool_execution: '#/components/schemas/ToolExecutionStep-Output'
      type: object
      required:
      - step
      title: AgentStepResponse
      description: Response containing details of a specific agent step.
    AgentToolGroupWithArgs:
      properties:
        name:
          type: string
          title: Name
        args:
          additionalProperties: true
          type: object
          title: Args
      type: object
      required:
      - name
      - args
      title: AgentToolGroupWithArgs
    AgentTurnCreateRequest:
      properties:
        sampling_params:
          anyOf:
          - $ref: '#/components/schemas/SamplingParams'
          - type: 'null'
        input_shields:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Input Shields
        output_shields:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Output Shields
        toolgroups:
          anyOf:
          - items:
              anyOf:
              - type: string
              - $ref: '#/components/schemas/AgentToolGroupWithArgs'
            type: array
          - type: 'null'
          title: Toolgroups
          description: List of tool groups to make available for this turn
        client_tools:
          anyOf:
          - items:
              $ref: '#/components/schemas/ToolDef'
            type: array
          - type: 'null'
          title: Client Tools
        tool_choice:
          anyOf:
          - $ref: '#/components/schemas/ToolChoice'
          - type: 'null'
          deprecated: true
        tool_prompt_format:
          anyOf:
          - $ref: '#/components/schemas/ToolPromptFormat'
          - type: 'null'
          deprecated: true
        tool_config:
          anyOf:
          - $ref: '#/components/schemas/ToolConfig'
          - type: 'null'
          description: Tool configuration to override agent defaults
        max_infer_iters:
          anyOf:
          - type: integer
          - type: 'null'
          title: Max Infer Iters
          default: 10
        instructions:
          anyOf:
          - type: string
          - type: 'null'
          title: Instructions
        agent_id:
          type: string
          title: Agent Id
          description: Unique identifier for the agent
        session_id:
          type: string
          title: Session Id
          description: Unique identifier for the conversation session
        messages:
          items:
            anyOf:
            - $ref: '#/components/schemas/UserMessage-Input'
            - $ref: '#/components/schemas/ToolResponseMessage-Input'
          type: array
          title: Messages
          description: List of messages to start the turn with
        documents:
          anyOf:
          - items:
              $ref: '#/components/schemas/Document'
            type: array
          - type: 'null'
          title: Documents
          description: List of documents to provide to the agent
        stream:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Stream
          description: Whether to stream the response
          default: false
      type: object
      required:
      - agent_id
      - session_id
      - messages
      title: AgentTurnCreateRequest
      description: Request to create a new turn for an agent.
    AgentTurnInputType:
      properties:
        type:
          type: string
          const: agent_turn_input
          title: Type
          default: agent_turn_input
      type: object
      title: AgentTurnInputType
      description: "Parameter type for agent turn input.\n\n:param type: Discriminator type. Always \"agent_turn_input\""
    AgentTurnResumeRequest:
      properties:
        agent_id:
          type: string
          title: Agent Id
          description: Unique identifier for the agent
        session_id:
          type: string
          title: Session Id
          description: Unique identifier for the conversation session
        turn_id:
          type: string
          title: Turn Id
          description: Unique identifier for the turn within a session
        tool_responses:
          items:
            $ref: '#/components/schemas/ToolResponse-Input'
          type: array
          title: Tool Responses
          description: List of tool responses to submit to continue the turn
        stream:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Stream
          description: Whether to stream the response
          default: false
      type: object
      required:
      - agent_id
      - session_id
      - turn_id
      - tool_responses
      title: AgentTurnResumeRequest
      description: Request to resume an agent turn with tool responses.
    AggregationFunctionType:
      type: string
      enum:
      - average
      - weighted_average
      - median
      - categorical_count
      - accuracy
      title: AggregationFunctionType
      description: Types of aggregation functions for scoring results.
    AllowedToolsFilter:
      properties:
        tool_names:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Tool Names
          description: List of specific tool names that are allowed
      type: object
      title: AllowedToolsFilter
      description: "Filter configuration for restricting which MCP tools can be used.\n\n:param tool_names: (Optional) List of specific tool names that are allowed"
    ApprovalFilter:
      properties:
        always:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Always
          description: List of tool names that always require approval
        never:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Never
          description: List of tool names that never require approval
      type: object
      title: ApprovalFilter
      description: "Filter configuration for MCP tool approval requirements.\n\n:param always: (Optional) List of tool names that always require approval\n:param never: (Optional) List of tool names that never require approval"
    ArrayType:
      properties:
        type:
          type: string
          const: array
          title: Type
          default: array
      type: object
      title: ArrayType
      description: "Parameter type for array values.\n\n:param type: Discriminator type. Always \"array\""
    Attachment-Input:
      properties:
        content:
          anyOf:
          - type: string
          - oneOf:
            - $ref: '#/components/schemas/ImageContentItem-Input'
            - $ref: '#/components/schemas/TextContentItem'
            discriminator:
              propertyName: type
              mapping:
                image: '#/components/schemas/ImageContentItem-Input'
                text: '#/components/schemas/TextContentItem'
          - items:
              oneOf:
              - $ref: '#/components/schemas/ImageContentItem-Input'
              - $ref: '#/components/schemas/TextContentItem'
              discriminator:
                propertyName: type
                mapping:
                  image: '#/components/schemas/ImageContentItem-Input'
                  text: '#/components/schemas/TextContentItem'
            type: array
          - $ref: '#/components/schemas/URL'
          title: Content
          description: The content of the attachment.
        mime_type:
          type: string
          title: Mime Type
          description: The MIME type of the attachment.
      type: object
      required:
      - content
      - mime_type
      title: Attachment
      description: An attachment to an agent turn.
    Attachment-Output:
      properties:
        content:
          anyOf:
          - type: string
          - oneOf:
            - $ref: '#/components/schemas/ImageContentItem-Output'
            - $ref: '#/components/schemas/TextContentItem'
            discriminator:
              propertyName: type
              mapping:
                image: '#/components/schemas/ImageContentItem-Output'
                text: '#/components/schemas/TextContentItem'
          - items:
              oneOf:
              - $ref: '#/components/schemas/ImageContentItem-Output'
              - $ref: '#/components/schemas/TextContentItem'
              discriminator:
                propertyName: type
                mapping:
                  image: '#/components/schemas/ImageContentItem-Output'
                  text: '#/components/schemas/TextContentItem'
            type: array
          - $ref: '#/components/schemas/URL'
          title: Content
          description: The content of the attachment.
        mime_type:
          type: string
          title: Mime Type
          description: The MIME type of the attachment.
      type: object
      required:
      - content
      - mime_type
      title: Attachment
      description: An attachment to an agent turn.
    BasicScoringFnParams:
      properties:
        type:
          type: string
          const: basic
          title: Type
          default: basic
        aggregation_functions:
          items:
            $ref: '#/components/schemas/AggregationFunctionType'
          type: array
          title: Aggregation Functions
          description: Aggregation functions to apply to the scores of each row
      type: object
      title: BasicScoringFnParams
      description: Parameters for basic scoring function configuration.
    Batch:
      properties:
        id:
          type: string
          title: Id
        completion_window:
          type: string
          title: Completion Window
        created_at:
          type: integer
          title: Created At
        endpoint:
          type: string
          title: Endpoint
        input_file_id:
          type: string
          title: Input File Id
        object:
          type: string
          const: batch
          title: Object
        status:
          type: string
          enum:
          - validating
          - failed
          - in_progress
          - finalizing
          - completed
          - expired
          - cancelling
          - cancelled
          title: Status
        cancelled_at:
          anyOf:
          - type: integer
          - type: 'null'
          title: Cancelled At
        cancelling_at:
          anyOf:
          - type: integer
          - type: 'null'
          title: Cancelling At
        completed_at:
          anyOf:
          - type: integer
          - type: 'null'
          title: Completed At
        error_file_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Error File Id
        errors:
          anyOf:
          - $ref: '#/components/schemas/Errors'
          - type: 'null'
        expired_at:
          anyOf:
          - type: integer
          - type: 'null'
          title: Expired At
        expires_at:
          anyOf:
          - type: integer
          - type: 'null'
          title: Expires At
        failed_at:
          anyOf:
          - type: integer
          - type: 'null'
          title: Failed At
        finalizing_at:
          anyOf:
          - type: integer
          - type: 'null'
          title: Finalizing At
        in_progress_at:
          anyOf:
          - type: integer
          - type: 'null'
          title: In Progress At
        metadata:
          anyOf:
          - additionalProperties:
              type: string
            type: object
          - type: 'null'
          title: Metadata
        model:
          anyOf:
          - type: string
          - type: 'null'
          title: Model
        output_file_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Output File Id
        request_counts:
          anyOf:
          - $ref: '#/components/schemas/BatchRequestCounts'
          - type: 'null'
        usage:
          anyOf:
          - $ref: '#/components/schemas/BatchUsage'
          - type: 'null'
      additionalProperties: true
      type: object
      required:
      - id
      - completion_window
      - created_at
      - endpoint
      - input_file_id
      - object
      - status
      title: Batch
    BatchError:
      properties:
        code:
          anyOf:
          - type: string
          - type: 'null'
          title: Code
        line:
          anyOf:
          - type: integer
          - type: 'null'
          title: Line
        message:
          anyOf:
          - type: string
          - type: 'null'
          title: Message
        param:
          anyOf:
          - type: string
          - type: 'null'
          title: Param
      additionalProperties: true
      type: object
      title: BatchError
    BatchRequestCounts:
      properties:
        completed:
          type: integer
          title: Completed
        failed:
          type: integer
          title: Failed
        total:
          type: integer
          title: Total
      additionalProperties: true
      type: object
      required:
      - completed
      - failed
      - total
      title: BatchRequestCounts
    BatchUsage:
      properties:
        input_tokens:
          type: integer
          title: Input Tokens
        input_tokens_details:
          $ref: '#/components/schemas/InputTokensDetails'
        output_tokens:
          type: integer
          title: Output Tokens
        output_tokens_details:
          $ref: '#/components/schemas/OutputTokensDetails'
        total_tokens:
          type: integer
          title: Total Tokens
      additionalProperties: true
      type: object
      required:
      - input_tokens
      - input_tokens_details
      - output_tokens
      - output_tokens_details
      - total_tokens
      title: BatchUsage
    Benchmark:
      properties:
        identifier:
          type: string
          title: Identifier
          description: Unique identifier for this resource in llama stack
        provider_resource_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Provider Resource Id
          description: Unique identifier for this resource in the provider
        provider_id:
          type: string
          title: Provider Id
          description: ID of the provider that owns this resource
        type:
          type: string
          const: benchmark
          title: Type
          description: The resource type, always benchmark
          default: benchmark
        dataset_id:
          type: string
          title: Dataset Id
          description: The ID of the dataset to use for the benchmark
        scoring_functions:
          items:
            type: string
          type: array
          title: Scoring Functions
          description: The scoring functions to use for the benchmark
        metadata:
          additionalProperties: true
          type: object
          title: Metadata
          description: Metadata for this evaluation task
      type: object
      required:
      - identifier
      - provider_id
      - dataset_id
      - scoring_functions
      title: Benchmark
      description: A benchmark resource for evaluating model performance.
    BenchmarkConfig:
      properties:
        eval_candidate:
          oneOf:
          - $ref: '#/components/schemas/ModelCandidate'
          - $ref: '#/components/schemas/AgentCandidate'
          title: Eval Candidate
          description: The candidate to evaluate.
          discriminator:
            propertyName: type
            mapping:
              agent: '#/components/schemas/AgentCandidate'
              model: '#/components/schemas/ModelCandidate'
        scoring_params:
          additionalProperties:
            oneOf:
            - $ref: '#/components/schemas/LLMAsJudgeScoringFnParams'
            - $ref: '#/components/schemas/RegexParserScoringFnParams'
            - $ref: '#/components/schemas/BasicScoringFnParams'
            discriminator:
              propertyName: type
              mapping:
                basic: '#/components/schemas/BasicScoringFnParams'
                llm_as_judge: '#/components/schemas/LLMAsJudgeScoringFnParams'
                regex_parser: '#/components/schemas/RegexParserScoringFnParams'
          type: object
          title: Scoring Params
          description: Map between scoring function id and parameters for each scoring function you want to run.
        num_examples:
          anyOf:
          - type: integer
          - type: 'null'
          title: Num Examples
          description: The number of examples to evaluate. If not provided, all examples in the dataset will be evaluated.
      type: object
      required:
      - eval_candidate
      title: BenchmarkConfig
      description: A benchmark configuration for evaluation.
    Body_openai_attach_file_to_vector_store_v1_vector_stores__vector_store_id__files_post:
      properties:
        file_id:
          type: string
          title: File Id
          description: The ID of the file to attach to the vector store.
        attributes:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Attributes
          description: The key-value attributes stored with the file, which can be used for filtering.
        chunking_strategy:
          anyOf:
          - oneOf:
            - $ref: '#/components/schemas/VectorStoreChunkingStrategyAuto'
            - $ref: '#/components/schemas/VectorStoreChunkingStrategyStatic'
            discriminator:
              propertyName: type
              mapping:
                auto: '#/components/schemas/VectorStoreChunkingStrategyAuto'
                static: '#/components/schemas/VectorStoreChunkingStrategyStatic'
          - type: 'null'
          title: Chunking Strategy
          description: The chunking strategy to use for the file.
      type: object
      required:
      - file_id
      title: Body_openai_attach_file_to_vector_store_v1_vector_stores__vector_store_id__files_post
    Body_openai_search_vector_store_v1_vector_stores__vector_store_id__search_post:
      properties:
        query:
          anyOf:
          - type: string
          - items:
              type: string
            type: array
          title: Query
          description: The query string or array for performing the search.
        filters:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Filters
          description: Filters based on file attributes to narrow the search results.
        max_num_results:
          anyOf:
          - type: integer
            maximum: 50.0
            minimum: 1.0
          - type: 'null'
          title: Max Num Results
          description: Maximum number of results to return (1 to 50 inclusive, default 10).
          default: 10
        ranking_options:
          anyOf:
          - $ref: '#/components/schemas/SearchRankingOptions'
          - type: 'null'
          description: Ranking options for fine-tuning the search results.
        rewrite_query:
          type: boolean
          title: Rewrite Query
          description: Whether to rewrite the natural language query for vector search (default false).
          default: false
        search_mode:
          anyOf:
          - type: string
          - type: 'null'
          title: Search Mode
          description: The search mode to use - 'keyword', 'vector', or 'hybrid' (default 'vector').
          default: vector
      type: object
      required:
      - query
      title: Body_openai_search_vector_store_v1_vector_stores__vector_store_id__search_post
    Body_openai_upload_file_v1_files_post:
      properties:
        file:
          type: string
          format: binary
          title: File
          description: The File object to be uploaded.
        purpose:
          $ref: '#/components/schemas/OpenAIFilePurpose'
          description: The intended purpose of the uploaded file.
        expires_after:
          anyOf:
          - $ref: '#/components/schemas/ExpiresAfter'
          - type: 'null'
          description: Optional form values describing expiration for the file.
      type: object
      required:
      - file
      - purpose
      title: Body_openai_upload_file_v1_files_post
    Body_rag_tool_insert_v1_tool_runtime_rag_tool_insert_post:
      properties:
        documents:
          items:
            $ref: '#/components/schemas/RAGDocument'
          type: array
          title: Documents
          description: List of documents to index in the RAG system.
        vector_store_id:
          type: string
          title: Vector Store Id
          description: ID of the vector database to store the document embeddings.
        chunk_size_in_tokens:
          type: integer
          title: Chunk Size In Tokens
          description: Size in tokens for document chunking during indexing.
          default: 512
      type: object
      required:
      - documents
      - vector_store_id
      title: Body_rag_tool_insert_v1_tool_runtime_rag_tool_insert_post
    Body_rag_tool_query_v1_tool_runtime_rag_tool_query_post:
      properties:
        content:
          anyOf:
          - type: string
          - oneOf:
            - $ref: '#/components/schemas/ImageContentItem-Input'
            - $ref: '#/components/schemas/TextContentItem'
            discriminator:
              propertyName: type
              mapping:
                image: '#/components/schemas/ImageContentItem-Input'
                text: '#/components/schemas/TextContentItem'
          - items:
              oneOf:
              - $ref: '#/components/schemas/ImageContentItem-Input'
              - $ref: '#/components/schemas/TextContentItem'
              discriminator:
                propertyName: type
                mapping:
                  image: '#/components/schemas/ImageContentItem-Input'
                  text: '#/components/schemas/TextContentItem'
            type: array
          title: Content
          description: The query content to search for in the indexed documents.
        vector_store_ids:
          items:
            type: string
          type: array
          title: Vector Store Ids
          description: List of vector database IDs to search within.
        query_config:
          anyOf:
          - $ref: '#/components/schemas/RAGQueryConfig'
          - type: 'null'
          description: Configuration parameters for the query operation.
      type: object
      required:
      - content
      - vector_store_ids
      title: Body_rag_tool_query_v1_tool_runtime_rag_tool_query_post
    Body_rerank_v1alpha_inference_rerank_post:
      properties:
        model:
          type: string
          title: Model
          description: The identifier of the reranking model to use.
        query:
          anyOf:
          - type: string
          - $ref: '#/components/schemas/OpenAIChatCompletionContentPartTextParam'
          - $ref: '#/components/schemas/OpenAIChatCompletionContentPartImageParam'
          title: Query
          description: The search query to rank items against.
        items:
          items:
            anyOf:
            - type: string
            - $ref: '#/components/schemas/OpenAIChatCompletionContentPartTextParam'
            - $ref: '#/components/schemas/OpenAIChatCompletionContentPartImageParam'
          type: array
          title: Items
          description: List of items to rerank.
        max_num_results:
          anyOf:
          - type: integer
          - type: 'null'
          title: Max Num Results
          description: 'Maximum number of results to return. Default: returns all.'
      type: object
      required:
      - model
      - query
      - items
      title: Body_rerank_v1alpha_inference_rerank_post
    BooleanType:
      properties:
        type:
          type: string
          const: boolean
          title: Type
          default: boolean
      type: object
      title: BooleanType
      description: "Parameter type for boolean values.\n\n:param type: Discriminator type. Always \"boolean\""
    BuiltinTool:
      type: string
      enum:
      - brave_search
      - wolfram_alpha
      - photogen
      - code_interpreter
      title: BuiltinTool
    ChatCompletionInputType:
      properties:
        type:
          type: string
          const: chat_completion_input
          title: Type
          default: chat_completion_input
      type: object
      title: ChatCompletionInputType
      description: "Parameter type for chat completion input.\n\n:param type: Discriminator type. Always \"chat_completion_input\""
    Checkpoint:
      properties:
        identifier:
          type: string
          title: Identifier
          description: Unique identifier for the checkpoint.
        created_at:
          type: string
          format: date-time
          title: Created At
          description: Timestamp when the checkpoint was created.
        epoch:
          type: integer
          title: Epoch
          description: Training epoch when the checkpoint was saved.
        post_training_job_id:
          type: string
          title: Post Training Job Id
          description: Identifier of the training job that created this checkpoint.
        path:
          type: string
          title: Path
          description: File system path where the checkpoint is stored.
        training_metrics:
          anyOf:
          - $ref: '#/components/schemas/PostTrainingMetric'
          - type: 'null'
          description: Training metrics associated with this checkpoint.
      type: object
      required:
      - identifier
      - created_at
      - epoch
      - post_training_job_id
      - path
      - training_metrics
      title: Checkpoint
      description: Checkpoint created during training runs.
    Chunk-Input:
      properties:
        content:
          anyOf:
          - type: string
          - oneOf:
            - $ref: '#/components/schemas/ImageContentItem-Input'
            - $ref: '#/components/schemas/TextContentItem'
            discriminator:
              propertyName: type
              mapping:
                image: '#/components/schemas/ImageContentItem-Input'
                text: '#/components/schemas/TextContentItem'
          - items:
              oneOf:
              - $ref: '#/components/schemas/ImageContentItem-Input'
              - $ref: '#/components/schemas/TextContentItem'
              discriminator:
                propertyName: type
                mapping:
                  image: '#/components/schemas/ImageContentItem-Input'
                  text: '#/components/schemas/TextContentItem'
            type: array
          title: Content
        chunk_id:
          type: string
          title: Chunk Id
        metadata:
          additionalProperties: true
          type: object
          title: Metadata
        embedding:
          anyOf:
          - items:
              type: number
            type: array
          - type: 'null'
          title: Embedding
        chunk_metadata:
          anyOf:
          - $ref: '#/components/schemas/ChunkMetadata'
          - type: 'null'
      type: object
      required:
      - content
      - chunk_id
      title: Chunk
      description: A chunk of content that can be inserted into a vector database.
    Chunk-Output:
      properties:
        content:
          anyOf:
          - type: string
          - oneOf:
            - $ref: '#/components/schemas/ImageContentItem-Output'
            - $ref: '#/components/schemas/TextContentItem'
            discriminator:
              propertyName: type
              mapping:
                image: '#/components/schemas/ImageContentItem-Output'
                text: '#/components/schemas/TextContentItem'
          - items:
              oneOf:
              - $ref: '#/components/schemas/ImageContentItem-Output'
              - $ref: '#/components/schemas/TextContentItem'
              discriminator:
                propertyName: type
                mapping:
                  image: '#/components/schemas/ImageContentItem-Output'
                  text: '#/components/schemas/TextContentItem'
            type: array
          title: Content
        chunk_id:
          type: string
          title: Chunk Id
        metadata:
          additionalProperties: true
          type: object
          title: Metadata
        embedding:
          anyOf:
          - items:
              type: number
            type: array
          - type: 'null'
          title: Embedding
        chunk_metadata:
          anyOf:
          - $ref: '#/components/schemas/ChunkMetadata'
          - type: 'null'
      type: object
      required:
      - content
      - chunk_id
      title: Chunk
      description: A chunk of content that can be inserted into a vector database.
    ChunkMetadata:
      properties:
        chunk_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Chunk Id
        document_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Document Id
        source:
          anyOf:
          - type: string
          - type: 'null'
          title: Source
        created_timestamp:
          anyOf:
          - type: integer
          - type: 'null'
          title: Created Timestamp
        updated_timestamp:
          anyOf:
          - type: integer
          - type: 'null'
          title: Updated Timestamp
        chunk_window:
          anyOf:
          - type: string
          - type: 'null'
          title: Chunk Window
        chunk_tokenizer:
          anyOf:
          - type: string
          - type: 'null'
          title: Chunk Tokenizer
        chunk_embedding_model:
          anyOf:
          - type: string
          - type: 'null'
          title: Chunk Embedding Model
        chunk_embedding_dimension:
          anyOf:
          - type: integer
          - type: 'null'
          title: Chunk Embedding Dimension
        content_token_count:
          anyOf:
          - type: integer
          - type: 'null'
          title: Content Token Count
        metadata_token_count:
          anyOf:
          - type: integer
          - type: 'null'
          title: Metadata Token Count
      type: object
      title: ChunkMetadata
      description: "`ChunkMetadata` is backend metadata for a `Chunk` that is used to store additional information about the chunk that\n    will not be used in the context during inference, but is required for backend functionality. The `ChunkMetadata`\n    is set during chunk creation in `MemoryToolRuntimeImpl().insert()`and is not expected to change after.\n    Use `Chunk.metadata` for metadata that will be used in the context during inference."
    CompletionInputType:
      properties:
        type:
          type: string
          const: completion_input
          title: Type
          default: completion_input
      type: object
      title: CompletionInputType
      description: "Parameter type for completion input.\n\n:param type: Discriminator type. Always \"completion_input\""
    CompletionMessage-Input:
      properties:
        role:
          type: string
          const: assistant
          title: Role
          default: assistant
        content:
          anyOf:
          - type: string
          - oneOf:
            - $ref: '#/components/schemas/ImageContentItem-Input'
            - $ref: '#/components/schemas/TextContentItem'
            discriminator:
              propertyName: type
              mapping:
                image: '#/components/schemas/ImageContentItem-Input'
                text: '#/components/schemas/TextContentItem'
          - items:
              oneOf:
              - $ref: '#/components/schemas/ImageContentItem-Input'
              - $ref: '#/components/schemas/TextContentItem'
              discriminator:
                propertyName: type
                mapping:
                  image: '#/components/schemas/ImageContentItem-Input'
                  text: '#/components/schemas/TextContentItem'
            type: array
          title: Content
        stop_reason:
          $ref: '#/components/schemas/StopReason'
        tool_calls:
          anyOf:
          - items:
              $ref: '#/components/schemas/ToolCall'
            type: array
          - type: 'null'
          title: Tool Calls
      type: object
      required:
      - content
      - stop_reason
      title: CompletionMessage
      description: "A message containing the model's (assistant) response in a chat conversation.\n\n- `StopReason.end_of_turn`: The model finished generating the entire response.\n- `StopReason.end_of_message`: The model finished generating but generated a partial response -- usually, a tool call. The user may call the tool and continue the conversation with the tool's response.\n- `StopReason.out_of_tokens`: The model ran out of token budget."
    CompletionMessage-Output:
      properties:
        role:
          type: string
          const: assistant
          title: Role
          default: assistant
        content:
          anyOf:
          - type: string
          - oneOf:
            - $ref: '#/components/schemas/ImageContentItem-Output'
            - $ref: '#/components/schemas/TextContentItem'
            discriminator:
              propertyName: type
              mapping:
                image: '#/components/schemas/ImageContentItem-Output'
                text: '#/components/schemas/TextContentItem'
          - items:
              oneOf:
              - $ref: '#/components/schemas/ImageContentItem-Output'
              - $ref: '#/components/schemas/TextContentItem'
              discriminator:
                propertyName: type
                mapping:
                  image: '#/components/schemas/ImageContentItem-Output'
                  text: '#/components/schemas/TextContentItem'
            type: array
          title: Content
        stop_reason:
          $ref: '#/components/schemas/StopReason'
        tool_calls:
          anyOf:
          - items:
              $ref: '#/components/schemas/ToolCall'
            type: array
          - type: 'null'
          title: Tool Calls
      type: object
      required:
      - content
      - stop_reason
      title: CompletionMessage
      description: "A message containing the model's (assistant) response in a chat conversation.\n\n- `StopReason.end_of_turn`: The model finished generating the entire response.\n- `StopReason.end_of_message`: The model finished generating but generated a partial response -- usually, a tool call. The user may call the tool and continue the conversation with the tool's response.\n- `StopReason.out_of_tokens`: The model ran out of token budget."
    Conversation:
      properties:
        id:
          type: string
          title: Id
          description: The unique ID of the conversation.
        object:
          type: string
          const: conversation
          title: Object
          description: The object type, which is always conversation.
          default: conversation
        created_at:
          type: integer
          title: Created At
          description: The time at which the conversation was created, measured in seconds since the Unix epoch.
        metadata:
          anyOf:
          - additionalProperties:
              type: string
            type: object
          - type: 'null'
          title: Metadata
          description: Set of 16 key-value pairs that can be attached to an object. This can be useful for storing additional information about the object in a structured format, and querying for objects via API or the dashboard.
        items:
          anyOf:
          - items:
              additionalProperties: true
              type: object
            type: array
          - type: 'null'
          title: Items
          description: Initial items to include in the conversation context. You may add up to 20 items at a time.
      type: object
      required:
      - id
      - created_at
      title: Conversation
      description: OpenAI-compatible conversation object.
    ConversationCreateRequest:
      properties:
        items:
          anyOf:
          - items:
              oneOf:
              - $ref: '#/components/schemas/OpenAIResponseMessage-Input'
              - $ref: '#/components/schemas/OpenAIResponseOutputMessageWebSearchToolCall'
              - $ref: '#/components/schemas/OpenAIResponseOutputMessageFileSearchToolCall'
              - $ref: '#/components/schemas/OpenAIResponseOutputMessageFunctionToolCall'
              - $ref: '#/components/schemas/OpenAIResponseInputFunctionToolCallOutput'
              - $ref: '#/components/schemas/OpenAIResponseMCPApprovalRequest'
              - $ref: '#/components/schemas/OpenAIResponseMCPApprovalResponse'
              - $ref: '#/components/schemas/OpenAIResponseOutputMessageMCPCall'
              - $ref: '#/components/schemas/OpenAIResponseOutputMessageMCPListTools'
              discriminator:
                propertyName: type
                mapping:
                  file_search_call: '#/components/schemas/OpenAIResponseOutputMessageFileSearchToolCall'
                  function_call: '#/components/schemas/OpenAIResponseOutputMessageFunctionToolCall'
                  function_call_output: '#/components/schemas/OpenAIResponseInputFunctionToolCallOutput'
                  mcp_approval_request: '#/components/schemas/OpenAIResponseMCPApprovalRequest'
                  mcp_approval_response: '#/components/schemas/OpenAIResponseMCPApprovalResponse'
                  mcp_call: '#/components/schemas/OpenAIResponseOutputMessageMCPCall'
                  mcp_list_tools: '#/components/schemas/OpenAIResponseOutputMessageMCPListTools'
                  message: '#/components/schemas/OpenAIResponseMessage-Input'
                  web_search_call: '#/components/schemas/OpenAIResponseOutputMessageWebSearchToolCall'
            type: array
            maxItems: 20
          - type: 'null'
          title: Items
          description: Initial items to include in the conversation context. You may add up to 20 items at a time.
          default: []
        metadata:
          anyOf:
          - additionalProperties:
              type: string
            type: object
            maxProperties: 16
          - type: 'null'
          title: Metadata
          description: Set of 16 key-value pairs that can be attached to an object. Useful for storing additional information
          default: {}
      type: object
      title: ConversationCreateRequest
      description: Request body for creating a conversation.
    ConversationDeletedResource:
      properties:
        id:
          type: string
          title: Id
          description: The deleted conversation identifier
        object:
          type: string
          title: Object
          description: Object type
          default: conversation.deleted
        deleted:
          type: boolean
          title: Deleted
          description: Whether the object was deleted
          default: true
      type: object
      required:
      - id
      title: ConversationDeletedResource
      description: Response for deleted conversation.
    ConversationItemCreateRequest:
      properties:
        items:
          items:
            oneOf:
            - $ref: '#/components/schemas/OpenAIResponseMessage-Input'
            - $ref: '#/components/schemas/OpenAIResponseOutputMessageWebSearchToolCall'
            - $ref: '#/components/schemas/OpenAIResponseOutputMessageFileSearchToolCall'
            - $ref: '#/components/schemas/OpenAIResponseOutputMessageFunctionToolCall'
            - $ref: '#/components/schemas/OpenAIResponseInputFunctionToolCallOutput'
            - $ref: '#/components/schemas/OpenAIResponseMCPApprovalRequest'
            - $ref: '#/components/schemas/OpenAIResponseMCPApprovalResponse'
[...]
