openapi: 3.1.0
info:
  title: Llama Stack API
  description: A comprehensive API for building and deploying AI applications
  version: 1.0.0
servers:
- url: https://api.llamastack.com
  description: Production server
- url: https://staging-api.llamastack.com
  description: Staging server
paths:
  /v1/agents:
    get:
      tags:
      - V1
      summary: List Agents
      description: Query endpoint for proper schema generation.
      operationId: list_agents_v1_agents_get
      deprecated: true
      parameters:
      - name: start_index
        in: query
        required: false
        schema:
          type: integer
          title: Start Index
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          title: Limit
      responses:
        '200':
          description: A PaginatedResponse.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
    post:
      tags:
      - V1
      summary: Create Agent
      description: Typed endpoint for proper schema generation.
      operationId: create_agent_v1_agents_post
      deprecated: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentConfig'
      responses:
        '200':
          description: An AgentCreateResponse with the agent ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentCreateResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
  /v1/agents/{agent_id}:
    delete:
      tags:
      - V1
      summary: Delete Agent
      description: Generic endpoint - this would be replaced with actual implementation.
      operationId: delete_agent_v1_agents__agent_id__delete
      deprecated: true
      parameters:
      - name: args
        in: query
        required: true
        schema:
          title: Args
      - name: kwargs
        in: query
        required: true
        schema:
          title: Kwargs
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
    get:
      tags:
      - V1
      summary: Get Agent
      description: Query endpoint for proper schema generation.
      operationId: get_agent_v1_agents__agent_id__get
      deprecated: true
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          title: Agent Id
      responses:
        '200':
          description: An Agent of the agent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
  /v1/agents/{agent_id}/session:
    post:
      tags:
      - V1
      summary: Create Agent Session
      description: Query endpoint for proper schema generation.
      operationId: create_agent_session_v1_agents__agent_id__session_post
      deprecated: true
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          title: Agent Id
      - name: session_name
        in: query
        required: false
        schema:
          type: string
          title: Session Name
      responses:
        '200':
          description: An AgentSessionCreateResponse.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentSessionCreateResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
  /v1/agents/{agent_id}/session/{session_id}:
    delete:
      tags:
      - V1
      summary: Delete Agents Session
      description: Generic endpoint - this would be replaced with actual implementation.
      operationId: delete_agents_session_v1_agents__agent_id__session__session_id__delete
      deprecated: true
      parameters:
      - name: args
        in: query
        required: true
        schema:
          title: Args
      - name: kwargs
        in: query
        required: true
        schema:
          title: Kwargs
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
    get:
      tags:
      - V1
      summary: Get Agents Session
      description: Query endpoint for proper schema generation.
      operationId: get_agents_session_v1_agents__agent_id__session__session_id__get
      deprecated: true
      parameters:
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          title: Session Id
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          title: Agent Id
      - name: turn_ids
        in: query
        required: false
        schema:
          type: string
          title: Turn Ids
      responses:
        '200':
          description: A Session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
  /v1/agents/{agent_id}/session/{session_id}/turn:
    post:
      tags:
      - V1
      summary: Create Agent Turn
      description: Query endpoint for proper schema generation.
      operationId: create_agent_turn_v1_agents__agent_id__session__session_id__turn_post
      deprecated: true
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          title: Agent Id
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          title: Session Id
      - name: stream
        in: query
        required: false
        schema:
          type: boolean
          default: false
          title: Stream
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_create_agent_turn_v1_agents__agent_id__session__session_id__turn_post'
      responses:
        '200':
          description: If stream=False, returns a Turn object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Turn'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
  /v1/agents/{agent_id}/session/{session_id}/turn/{turn_id}:
    get:
      tags:
      - V1
      summary: Get Agents Turn
      description: Query endpoint for proper schema generation.
      operationId: get_agents_turn_v1_agents__agent_id__session__session_id__turn__turn_id__get
      deprecated: true
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          title: Agent Id
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          title: Session Id
      - name: turn_id
        in: path
        required: true
        schema:
          type: string
          title: Turn Id
      responses:
        '200':
          description: A Turn.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Turn'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
  /v1/agents/{agent_id}/session/{session_id}/turn/{turn_id}/resume:
    post:
      tags:
      - V1
      summary: Resume Agent Turn
      description: Query endpoint for proper schema generation.
      operationId: resume_agent_turn_v1_agents__agent_id__session__session_id__turn__turn_id__resume_post
      deprecated: true
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          title: Agent Id
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          title: Session Id
      - name: turn_id
        in: path
        required: true
        schema:
          type: string
          title: Turn Id
      - name: stream
        in: query
        required: false
        schema:
          type: boolean
          default: false
          title: Stream
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ToolResponse'
      responses:
        '200':
          description: A Turn object if stream is False, otherwise an AsyncIterator
            of AgentTurnResponseStreamChunk objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Turn'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
  /v1/agents/{agent_id}/session/{session_id}/turn/{turn_id}/step/{step_id}:
    get:
      tags:
      - V1
      summary: Get Agents Step
      description: Query endpoint for proper schema generation.
      operationId: get_agents_step_v1_agents__agent_id__session__session_id__turn__turn_id__step__step_id__get
      deprecated: true
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          title: Agent Id
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          title: Session Id
      - name: turn_id
        in: path
        required: true
        schema:
          type: string
          title: Turn Id
      - name: step_id
        in: path
        required: true
        schema:
          type: string
          title: Step Id
      responses:
        '200':
          description: An AgentStepResponse.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentStepResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
  /v1/agents/{agent_id}/sessions:
    get:
      tags:
      - V1
      summary: List Agent Sessions
      description: Query endpoint for proper schema generation.
      operationId: list_agent_sessions_v1_agents__agent_id__sessions_get
      deprecated: true
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          title: Agent Id
      - name: start_index
        in: query
        required: false
        schema:
          type: integer
          title: Start Index
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          title: Limit
      responses:
        '200':
          description: A PaginatedResponse.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
  /v1/datasetio/append-rows/{dataset_id}:
    post:
      tags:
      - V1
      summary: Append Rows
      description: Generic endpoint - this would be replaced with actual implementation.
      operationId: append_rows_v1_datasetio_append_rows__dataset_id__post
      deprecated: true
      parameters:
      - name: args
        in: query
        required: true
        schema:
          title: Args
      - name: kwargs
        in: query
        required: true
        schema:
          title: Kwargs
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
  /v1/datasetio/iterrows/{dataset_id}:
    get:
      tags:
      - V1
      summary: Iterrows
      description: Query endpoint for proper schema generation.
      operationId: iterrows_v1_datasetio_iterrows__dataset_id__get
      deprecated: true
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          title: Dataset Id
      - name: start_index
        in: query
        required: false
        schema:
          type: integer
          title: Start Index
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          title: Limit
      responses:
        '200':
          description: A PaginatedResponse.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
  /v1/datasets:
    get:
      tags:
      - V1
      summary: List Datasets
      description: Response-only endpoint for proper schema generation.
      operationId: list_datasets_v1_datasets_get
      deprecated: true
      responses:
        '200':
          description: A ListDatasetsResponse.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDatasetsResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
    post:
      tags:
      - V1
      summary: Register Dataset
      description: Query endpoint for proper schema generation.
      operationId: register_dataset_v1_datasets_post
      deprecated: true
      parameters:
      - name: purpose
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/DatasetPurpose'
      - name: metadata
        in: query
        required: false
        schema:
          type: string
          title: Metadata
      - name: dataset_id
        in: query
        required: false
        schema:
          type: string
          title: Dataset Id
      responses:
        '200':
          description: A Dataset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dataset'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
  /v1/datasets/{dataset_id}:
    delete:
      tags:
      - V1
      summary: Unregister Dataset
      description: Generic endpoint - this would be replaced with actual implementation.
      operationId: unregister_dataset_v1_datasets__dataset_id__delete
      deprecated: true
      parameters:
      - name: args
        in: query
        required: true
        schema:
          title: Args
      - name: kwargs
        in: query
        required: true
        schema:
          title: Kwargs
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
    get:
      tags:
      - V1
      summary: Get Dataset
      description: Query endpoint for proper schema generation.
      operationId: get_dataset_v1_datasets__dataset_id__get
      deprecated: true
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          title: Dataset Id
      responses:
        '200':
          description: A Dataset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dataset'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
  /v1/eval/benchmarks:
    get:
      tags:
      - V1
      summary: List Benchmarks
      description: Response-only endpoint for proper schema generation.
      operationId: list_benchmarks_v1_eval_benchmarks_get
      deprecated: true
      responses:
        '200':
          description: A ListBenchmarksResponse.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBenchmarksResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
    post:
      tags:
      - V1
      summary: Register Benchmark
      description: Generic endpoint - this would be replaced with actual implementation.
      operationId: register_benchmark_v1_eval_benchmarks_post
      deprecated: true
      parameters:
      - name: args
        in: query
        required: true
        schema:
          title: Args
      - name: kwargs
        in: query
        required: true
        schema:
          title: Kwargs
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
  /v1/eval/benchmarks/{benchmark_id}:
    delete:
      tags:
      - V1
      summary: Unregister Benchmark
      description: Generic endpoint - this would be replaced with actual implementation.
      operationId: unregister_benchmark_v1_eval_benchmarks__benchmark_id__delete
      deprecated: true
      parameters:
      - name: args
        in: query
        required: true
        schema:
          title: Args
      - name: kwargs
        in: query
        required: true
        schema:
          title: Kwargs
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
    get:
      tags:
      - V1
      summary: Get Benchmark
      description: Query endpoint for proper schema generation.
      operationId: get_benchmark_v1_eval_benchmarks__benchmark_id__get
      deprecated: true
      parameters:
      - name: benchmark_id
        in: path
        required: true
        schema:
          type: string
          title: Benchmark Id
      responses:
        '200':
          description: A Benchmark.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Benchmark'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
  /v1/eval/benchmarks/{benchmark_id}/evaluations:
    post:
      tags:
      - V1
      summary: Evaluate Rows
      description: Typed endpoint for proper schema generation.
      operationId: evaluate_rows_v1_eval_benchmarks__benchmark_id__evaluations_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BenchmarkConfig'
        required: true
      responses:
        '200':
          description: EvaluateResponse object containing generations and scores.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvaluateResponse'
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
      deprecated: true
  /v1/eval/benchmarks/{benchmark_id}/jobs:
    post:
      tags:
      - V1
      summary: Run Eval
      description: Typed endpoint for proper schema generation.
      operationId: run_eval_v1_eval_benchmarks__benchmark_id__jobs_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BenchmarkConfig'
        required: true
      responses:
        '200':
          description: The job that was created to run the evaluation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
      deprecated: true
  /v1/eval/benchmarks/{benchmark_id}/jobs/{job_id}:
    delete:
      tags:
      - V1
      summary: Job Cancel
      description: Generic endpoint - this would be replaced with actual implementation.
      operationId: job_cancel_v1_eval_benchmarks__benchmark_id__jobs__job_id__delete
      deprecated: true
      parameters:
      - name: args
        in: query
        required: true
        schema:
          title: Args
      - name: kwargs
        in: query
        required: true
        schema:
          title: Kwargs
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
    get:
      tags:
      - V1
      summary: Job Status
      description: Query endpoint for proper schema generation.
      operationId: job_status_v1_eval_benchmarks__benchmark_id__jobs__job_id__get
      deprecated: true
      parameters:
      - name: benchmark_id
        in: path
        required: true
        schema:
          type: string
          title: Benchmark Id
      - name: job_id
        in: path
        required: true
        schema:
          type: string
          title: Job Id
      responses:
        '200':
          description: The status of the evaluation job.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
  /v1/eval/benchmarks/{benchmark_id}/jobs/{job_id}/result:
    get:
      tags:
      - V1
      summary: Job Result
      description: Query endpoint for proper schema generation.
      operationId: job_result_v1_eval_benchmarks__benchmark_id__jobs__job_id__result_get
      deprecated: true
      parameters:
      - name: benchmark_id
        in: path
        required: true
        schema:
          type: string
          title: Benchmark Id
      - name: job_id
        in: path
        required: true
        schema:
          type: string
          title: Job Id
      responses:
        '200':
          description: The result of the job.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvaluateResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
  /v1/openai/v1/batches:
    get:
      tags:
      - V1
      summary: List Batches
      description: Query endpoint for proper schema generation.
      operationId: list_batches_v1_openai_v1_batches_get
      deprecated: true
      parameters:
      - name: after
        in: query
        required: false
        schema:
          type: string
          title: After
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 20
          title: Limit
      responses:
        '200':
          description: A list of batch objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBatchesResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
    post:
      tags:
      - V1
      summary: Create Batch
      description: Query endpoint for proper schema generation.
      operationId: create_batch_v1_openai_v1_batches_post
      deprecated: true
      parameters:
      - name: input_file_id
        in: query
        required: false
        schema:
          type: string
          title: Input File Id
      - name: endpoint
        in: query
        required: false
        schema:
          type: string
          title: Endpoint
      - name: completion_window
        in: query
        required: false
        schema:
          type: string
          title: Completion Window
      - name: metadata
        in: query
        required: false
        schema:
          type: string
          title: Metadata
      - name: idempotency_key
        in: query
        required: false
        schema:
          type: string
          title: Idempotency Key
      responses:
        '200':
          description: The created batch object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Batch'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
  /v1/openai/v1/batches/{batch_id}:
    get:
      tags:
      - V1
      summary: Retrieve Batch
      description: Query endpoint for proper schema generation.
      operationId: retrieve_batch_v1_openai_v1_batches__batch_id__get
      deprecated: true
      parameters:
      - name: batch_id
        in: path
        required: true
        schema:
          type: string
          title: Batch Id
      responses:
        '200':
          description: The batch object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Batch'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
  /v1/openai/v1/batches/{batch_id}/cancel:
    post:
      tags:
      - V1
      summary: Cancel Batch
      description: Query endpoint for proper schema generation.
      operationId: cancel_batch_v1_openai_v1_batches__batch_id__cancel_post
      deprecated: true
      parameters:
      - name: batch_id
        in: path
        required: true
        schema:
          type: string
          title: Batch Id
      responses:
        '200':
          description: The updated batch object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Batch'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
  /v1/openai/v1/chat/completions:
    get:
      tags:
      - V1
      summary: List Chat Completions
      description: Query endpoint for proper schema generation.
      operationId: list_chat_completions_v1_openai_v1_chat_completions_get
      deprecated: true
      parameters:
      - name: after
        in: query
        required: false
        schema:
          type: string
          title: After
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 20
          title: Limit
      - name: model
        in: query
        required: false
        schema:
          type: string
          title: Model
      - name: order
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/Order'
          default: desc
      responses:
        '200':
          description: A ListOpenAIChatCompletionResponse.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOpenAIChatCompletionResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
    post:
      tags:
      - V1
      summary: Openai Chat Completion
      description: Typed endpoint for proper schema generation.
      operationId: openai_chat_completion_v1_openai_v1_chat_completions_post
      deprecated: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenAIChatCompletionRequestWithExtraBody'
      responses:
        '200':
          description: An OpenAIChatCompletion.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIChatCompletion'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
  /v1/openai/v1/chat/completions/{completion_id}:
    get:
      tags:
      - V1
      summary: Get Chat Completion
      description: Query endpoint for proper schema generation.
      operationId: get_chat_completion_v1_openai_v1_chat_completions__completion_id__get
      deprecated: true
      parameters:
      - name: completion_id
        in: path
        required: true
        schema:
          type: string
          title: Completion Id
      responses:
        '200':
          description: A OpenAICompletionWithInputMessages.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAICompletionWithInputMessages'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
  /v1/openai/v1/completions:
    post:
      tags:
      - V1
      summary: Openai Completion
      description: Typed endpoint for proper schema generation.
      operationId: openai_completion_v1_openai_v1_completions_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenAICompletionRequestWithExtraBody'
        required: true
      responses:
        '200':
          description: An OpenAICompletion.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAICompletion'
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
      deprecated: true
  /v1/openai/v1/embeddings:
    post:
      tags:
      - V1
      summary: Openai Embeddings
      description: Typed endpoint for proper schema generation.
      operationId: openai_embeddings_v1_openai_v1_embeddings_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenAIEmbeddingsRequestWithExtraBody'
        required: true
      responses:
        '200':
          description: An OpenAIEmbeddingsResponse containing the embeddings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIEmbeddingsResponse'
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
      deprecated: true
  /v1/openai/v1/files:
    get:
      tags:
      - V1
      summary: Openai List Files
      description: Query endpoint for proper schema generation.
      operationId: openai_list_files_v1_openai_v1_files_get
      deprecated: true
      parameters:
      - name: after
        in: query
        required: false
        schema:
          type: string
          title: After
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 10000
          title: Limit
      - name: order
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/Order'
          default: desc
      - name: purpose
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/OpenAIFilePurpose'
      responses:
        '200':
          description: An ListOpenAIFileResponse containing the list of files.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOpenAIFileResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
    post:
      tags:
      - V1
      summary: Openai Upload File
      description: Response-only endpoint for proper schema generation.
      operationId: openai_upload_file_v1_openai_v1_files_post
      deprecated: true
      responses:
        '200':
          description: An OpenAIFileObject representing the uploaded file.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIFileObject'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
  /v1/openai/v1/files/{file_id}:
    delete:
      tags:
      - V1
      summary: Openai Delete File
      description: Query endpoint for proper schema generation.
      operationId: openai_delete_file_v1_openai_v1_files__file_id__delete
      deprecated: true
      parameters:
      - name: file_id
        in: path
        required: true
        schema:
          type: string
          title: File Id
      responses:
        '200':
          description: An OpenAIFileDeleteResponse indicating successful deletion.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIFileDeleteResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
    get:
      tags:
      - V1
      summary: Openai Retrieve File
      description: Query endpoint for proper schema generation.
      operationId: openai_retrieve_file_v1_openai_v1_files__file_id__get
      deprecated: true
      parameters:
      - name: file_id
        in: path
        required: true
        schema:
          type: string
          title: File Id
      responses:
        '200':
          description: An OpenAIFileObject containing file information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIFileObject'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
  /v1/openai/v1/files/{file_id}/content:
    get:
      tags:
      - V1
      summary: Openai Retrieve File Content
      description: Generic endpoint - this would be replaced with actual implementation.
      operationId: openai_retrieve_file_content_v1_openai_v1_files__file_id__content_get
      deprecated: true
      parameters:
      - name: args
        in: query
        required: true
        schema:
          title: Args
      - name: kwargs
        in: query
        required: true
        schema:
          title: Kwargs
      responses:
        '200':
          description: The raw file content as a binary response.
          content:
            application/json:
              schema: {}
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
  /v1/openai/v1/models:
    get:
      tags:
      - V1
      summary: Openai List Models
      description: Response-only endpoint for proper schema generation.
      operationId: openai_list_models_v1_openai_v1_models_get
      responses:
        '200':
          description: A OpenAIListModelsResponse.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIListModelsResponse'
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
      deprecated: true
  /v1/openai/v1/moderations:
    post:
      tags:
      - V1
      summary: Run Moderation
      description: Query endpoint for proper schema generation.
      operationId: run_moderation_v1_openai_v1_moderations_post
      deprecated: true
      parameters:
      - name: input
        in: query
        required: false
        schema:
          type: string
          title: Input
      - name: model
        in: query
        required: false
        schema:
          type: string
          title: Model
      responses:
        '200':
          description: A moderation object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModerationObject'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
  /v1/openai/v1/responses:
    get:
      tags:
      - V1
      summary: List Openai Responses
      description: Query endpoint for proper schema generation.
      operationId: list_openai_responses_v1_openai_v1_responses_get
      deprecated: true
      parameters:
      - name: after
        in: query
        required: false
        schema:
          type: string
          title: After
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 50
          title: Limit
      - name: model
        in: query
        required: false
        schema:
          type: string
          title: Model
      - name: order
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/Order'
          default: desc
      responses:
        '200':
          description: A ListOpenAIResponseObject.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOpenAIResponseObject'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
    post:
      tags:
      - V1
      summary: Create Openai Response
      description: Query endpoint for proper schema generation.
      operationId: create_openai_response_v1_openai_v1_responses_post
      deprecated: true
      parameters:
      - name: input
        in: query
        required: false
        schema:
          type: string
          title: Input
      - name: model
        in: query
        required: false
        schema:
          type: string
          title: Model
      - name: instructions
        in: query
        required: false
        schema:
          type: string
          title: Instructions
      - name: previous_response_id
        in: query
        required: false
        schema:
          type: string
          title: Previous Response Id
      - name: conversation
        in: query
        required: false
        schema:
          type: string
          title: Conversation
      - name: store
        in: query
        required: false
        schema:
          type: boolean
          default: true
          title: Store
      - name: stream
        in: query
        required: false
        schema:
          type: boolean
          default: false
          title: Stream
      - name: temperature
        in: query
        required: false
        schema:
          type: number
          title: Temperature
      - name: include
        in: query
        required: false
        schema:
          type: string
          title: Include
      - name: max_infer_iters
        in: query
        required: false
        schema:
          type: integer
          default: 10
          title: Max Infer Iters
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_create_openai_response_v1_openai_v1_responses_post'
      responses:
        '200':
          description: An OpenAIResponseObject.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIResponseObject'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
  /v1/openai/v1/responses/{response_id}:
    delete:
      tags:
      - V1
      summary: Delete Openai Response
      description: Query endpoint for proper schema generation.
      operationId: delete_openai_response_v1_openai_v1_responses__response_id__delete
      deprecated: true
      parameters:
      - name: response_id
        in: path
        required: true
        schema:
          type: string
          title: Response Id
      responses:
        '200':
          description: An OpenAIDeleteResponseObject
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIDeleteResponseObject'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
    get:
      tags:
      - V1
      summary: Get Openai Response
      description: Query endpoint for proper schema generation.
      operationId: get_openai_response_v1_openai_v1_responses__response_id__get
      deprecated: true
      parameters:
      - name: response_id
        in: path
        required: true
        schema:
          type: string
          title: Response Id
      responses:
        '200':
          description: An OpenAIResponseObject.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIResponseObject'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
  /v1/openai/v1/responses/{response_id}/input_items:
    get:
      tags:
      - V1
      summary: List Openai Response Input Items
      description: Query endpoint for proper schema generation.
      operationId: list_openai_response_input_items_v1_openai_v1_responses__response_id__input_items_get
      deprecated: true
      parameters:
      - name: response_id
        in: path
        required: true
        schema:
          type: string
          title: Response Id
      - name: after
        in: query
        required: false
        schema:
          type: string
          title: After
      - name: before
        in: query
        required: false
        schema:
          type: string
          title: Before
      - name: include
        in: query
        required: false
        schema:
          type: string
          title: Include
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 20
          title: Limit
      - name: order
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/Order'
          default: desc
      responses:
        '200':
          description: An ListOpenAIResponseInputItem.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOpenAIResponseInputItem'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
  /v1/openai/v1/vector_stores:
    get:
      tags:
      - V1
      summary: Openai List Vector Stores
      description: Query endpoint for proper schema generation.
      operationId: openai_list_vector_stores_v1_openai_v1_vector_stores_get
      deprecated: true
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 20
          title: Limit
      - name: order
        in: query
        required: false
        schema:
          type: string
          default: desc
          title: Order
      - name: after
        in: query
        required: false
        schema:
          type: string
          title: After
      - name: before
        in: query
        required: false
        schema:
          type: string
          title: Before
      responses:
        '200':
          description: A VectorStoreListResponse containing the list of vector stores.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreListResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
    post:
      tags:
      - V1
      summary: Openai Create Vector Store
      description: Typed endpoint for proper schema generation.
      operationId: openai_create_vector_store_v1_openai_v1_vector_stores_post
      deprecated: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenAICreateVectorStoreRequestWithExtraBody'
      responses:
        '200':
          description: A VectorStoreObject representing the created vector store.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreObject'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
  /v1/openai/v1/vector_stores/{vector_store_id}:
    delete:
      tags:
      - V1
      summary: Openai Delete Vector Store
      description: Query endpoint for proper schema generation.
      operationId: openai_delete_vector_store_v1_openai_v1_vector_stores__vector_store_id__delete
      deprecated: true
      parameters:
      - name: vector_store_id
        in: path
        required: true
        schema:
          type: string
          title: Vector Store Id
      responses:
        '200':
          description: A VectorStoreDeleteResponse indicating the deletion status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreDeleteResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
    get:
      tags:
      - V1
      summary: Openai Retrieve Vector Store
      description: Query endpoint for proper schema generation.
      operationId: openai_retrieve_vector_store_v1_openai_v1_vector_stores__vector_store_id__get
      deprecated: true
      parameters:
      - name: vector_store_id
        in: path
        required: true
        schema:
          type: string
          title: Vector Store Id
      responses:
        '200':
          description: A VectorStoreObject representing the vector store.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreObject'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
    post:
      tags:
      - V1
      summary: Openai Update Vector Store
      description: Query endpoint for proper schema generation.
      operationId: openai_update_vector_store_v1_openai_v1_vector_stores__vector_store_id__post
      deprecated: true
      parameters:
      - name: vector_store_id
        in: path
        required: true
        schema:
          type: string
          title: Vector Store Id
      - name: name
        in: query
        required: false
        schema:
          type: string
          title: Name
      - name: expires_after
        in: query
        required: false
        schema:
          type: string
          title: Expires After
      - name: metadata
        in: query
        required: false
        schema:
          type: string
          title: Metadata
      responses:
        '200':
          description: A VectorStoreObject representing the updated vector store.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreObject'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
  /v1/openai/v1/vector_stores/{vector_store_id}/file_batches:
    post:
      tags:
      - V1
      summary: Openai Create Vector Store File Batch
      description: Typed endpoint for proper schema generation.
      operationId: openai_create_vector_store_file_batch_v1_openai_v1_vector_stores__vector_store_id__file_batches_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenAICreateVectorStoreFileBatchRequestWithExtraBody'
        required: true
      responses:
        '200':
          description: A VectorStoreFileBatchObject representing the created file
            batch.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreFileBatchObject'
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
      deprecated: true
  /v1/openai/v1/vector_stores/{vector_store_id}/file_batches/{batch_id}:
    get:
      tags:
      - V1
      summary: Openai Retrieve Vector Store File Batch
      description: Query endpoint for proper schema generation.
      operationId: openai_retrieve_vector_store_file_batch_v1_openai_v1_vector_stores__vector_store_id__file_batches__batch_id__get
      deprecated: true
      parameters:
      - name: batch_id
        in: path
        required: true
        schema:
          type: string
          title: Batch Id
      - name: vector_store_id
        in: path
        required: true
        schema:
          type: string
          title: Vector Store Id
      responses:
        '200':
          description: A VectorStoreFileBatchObject representing the file batch.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreFileBatchObject'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
  /v1/openai/v1/vector_stores/{vector_store_id}/file_batches/{batch_id}/cancel:
    post:
      tags:
      - V1
      summary: Openai Cancel Vector Store File Batch
      description: Query endpoint for proper schema generation.
      operationId: openai_cancel_vector_store_file_batch_v1_openai_v1_vector_stores__vector_store_id__file_batches__batch_id__cancel_post
      deprecated: true
      parameters:
      - name: batch_id
        in: path
        required: true
        schema:
          type: string
          title: Batch Id
      - name: vector_store_id
        in: path
        required: true
        schema:
          type: string
          title: Vector Store Id
      responses:
        '200':
          description: A VectorStoreFileBatchObject representing the cancelled file
            batch.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreFileBatchObject'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
  /v1/openai/v1/vector_stores/{vector_store_id}/file_batches/{batch_id}/files:
    get:
      tags:
      - V1
      summary: Openai List Files In Vector Store File Batch
      description: Query endpoint for proper schema generation.
      operationId: openai_list_files_in_vector_store_file_batch_v1_openai_v1_vector_stores__vector_store_id__file_batches__batch_id__files_get
      deprecated: true
      parameters:
      - name: batch_id
        in: path
        required: true
        schema:
          type: string
          title: Batch Id
      - name: vector_store_id
        in: path
        required: true
        schema:
          type: string
          title: Vector Store Id
      - name: after
        in: query
        required: false
        schema:
          type: string
          title: After
      - name: before
        in: query
        required: false
        schema:
          type: string
          title: Before
      - name: filter
        in: query
        required: false
        schema:
          type: string
          title: Filter
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 20
          title: Limit
      - name: order
        in: query
        required: false
        schema:
          type: string
          default: desc
          title: Order
      responses:
        '200':
          description: A VectorStoreFilesListInBatchResponse containing the list of
            files in the batch.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreFilesListInBatchResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
  /v1/openai/v1/vector_stores/{vector_store_id}/files:
    get:
      tags:
      - V1
      summary: Openai List Files In Vector Store
      description: Query endpoint for proper schema generation.
      operationId: openai_list_files_in_vector_store_v1_openai_v1_vector_stores__vector_store_id__files_get
      deprecated: true
      parameters:
      - name: vector_store_id
        in: path
        required: true
        schema:
          type: string
          title: Vector Store Id
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 20
          title: Limit
      - name: order
        in: query
        required: false
        schema:
          type: string
          default: desc
          title: Order
      - name: after
        in: query
        required: false
        schema:
          type: string
          title: After
      - name: before
        in: query
        required: false
        schema:
          type: string
          title: Before
      - name: filter
        in: query
        required: false
        schema:
          type: string
          title: Filter
      responses:
        '200':
          description: A VectorStoreListFilesResponse containing the list of files.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreListFilesResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
    post:
      tags:
      - V1
      summary: Openai Attach File To Vector Store
      description: Query endpoint for proper schema generation.
      operationId: openai_attach_file_to_vector_store_v1_openai_v1_vector_stores__vector_store_id__files_post
      deprecated: true
      parameters:
      - name: vector_store_id
        in: path
        required: true
        schema:
          type: string
          title: Vector Store Id
      - name: file_id
        in: query
        required: false
        schema:
          type: string
          title: File Id
      - name: attributes
        in: query
        required: false
        schema:
          type: string
          title: Attributes
      requestBody:
        content:
          application/json:
            schema:
              anyOf:
              - $ref: '#/components/schemas/VectorStoreChunkingStrategyAuto'
              - $ref: '#/components/schemas/VectorStoreChunkingStrategyStatic'
              title: Chunking Strategy
      responses:
        '200':
          description: A VectorStoreFileObject representing the attached file.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreFileObject'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
  /v1/openai/v1/vector_stores/{vector_store_id}/files/{file_id}:
    delete:
      tags:
      - V1
      summary: Openai Delete Vector Store File
      description: Query endpoint for proper schema generation.
      operationId: openai_delete_vector_store_file_v1_openai_v1_vector_stores__vector_store_id__files__file_id__delete
      deprecated: true
      parameters:
      - name: vector_store_id
        in: path
        required: true
        schema:
          type: string
          title: Vector Store Id
      - name: file_id
        in: path
        required: true
        schema:
          type: string
          title: File Id
      responses:
        '200':
          description: A VectorStoreFileDeleteResponse indicating the deletion status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreFileDeleteResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
    get:
      tags:
      - V1
      summary: Openai Retrieve Vector Store File
      description: Query endpoint for proper schema generation.
      operationId: openai_retrieve_vector_store_file_v1_openai_v1_vector_stores__vector_store_id__files__file_id__get
      deprecated: true
      parameters:
      - name: vector_store_id
        in: path
        required: true
        schema:
          type: string
          title: Vector Store Id
      - name: file_id
        in: path
        required: true
        schema:
          type: string
          title: File Id
      responses:
        '200':
          description: A VectorStoreFileObject representing the file.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreFileObject'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
    post:
      tags:
      - V1
      summary: Openai Update Vector Store File
      description: Query endpoint for proper schema generation.
      operationId: openai_update_vector_store_file_v1_openai_v1_vector_stores__vector_store_id__files__file_id__post
      deprecated: true
      parameters:
      - name: vector_store_id
        in: path
        required: true
        schema:
          type: string
          title: Vector Store Id
      - name: file_id
        in: path
        required: true
        schema:
          type: string
          title: File Id
      - name: attributes
        in: query
        required: false
        schema:
          type: string
          title: Attributes
      responses:
        '200':
          description: A VectorStoreFileObject representing the updated file.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreFileObject'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
  /v1/openai/v1/vector_stores/{vector_store_id}/files/{file_id}/content:
    get:
      tags:
      - V1
      summary: Openai Retrieve Vector Store File Contents
      description: Query endpoint for proper schema generation.
      operationId: openai_retrieve_vector_store_file_contents_v1_openai_v1_vector_stores__vector_store_id__files__file_id__content_get
      deprecated: true
      parameters:
      - name: vector_store_id
        in: path
        required: true
        schema:
          type: string
          title: Vector Store Id
      - name: file_id
        in: path
        required: true
        schema:
          type: string
          title: File Id
      responses:
        '200':
          description: A list of InterleavedContent representing the file contents.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreFileContentsResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
  /v1/openai/v1/vector_stores/{vector_store_id}/search:
    post:
      tags:
      - V1
      summary: Openai Search Vector Store
      description: Query endpoint for proper schema generation.
      operationId: openai_search_vector_store_v1_openai_v1_vector_stores__vector_store_id__search_post
      deprecated: true
      parameters:
      - name: vector_store_id
        in: path
        required: true
        schema:
          type: string
          title: Vector Store Id
      - name: query
        in: query
        required: false
        schema:
          type: string
          title: Query
      - name: filters
        in: query
        required: false
        schema:
          type: string
          title: Filters
      - name: max_num_results
        in: query
        required: false
        schema:
          type: integer
          default: 10
          title: Max Num Results
      - name: rewrite_query
        in: query
        required: false
        schema:
          type: boolean
          default: false
          title: Rewrite Query
      - name: search_mode
        in: query
        required: false
        schema:
          type: string
          default: vector
          title: Search Mode
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRankingOptions'
      responses:
        '200':
          description: A VectorStoreSearchResponse containing the search results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreSearchResponsePage'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
  /v1/post-training/job/artifacts:
    get:
      tags:
      - V1
      summary: Get Training Job Artifacts
      description: Query endpoint for proper schema generation.
      operationId: get_training_job_artifacts_v1_post_training_job_artifacts_get
      deprecated: true
      parameters:
      - name: job_uuid
        in: query
        required: false
        schema:
          type: string
          title: Job Uuid
      responses:
        '200':
          description: A PostTrainingJobArtifactsResponse.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostTrainingJobArtifactsResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
  /v1/post-training/job/cancel:
    post:
      tags:
      - V1
      summary: Cancel Training Job
      description: Generic endpoint - this would be replaced with actual implementation.
      operationId: cancel_training_job_v1_post_training_job_cancel_post
      deprecated: true
      parameters:
      - name: args
        in: query
        required: true
        schema:
          title: Args
      - name: kwargs
        in: query
        required: true
        schema:
          title: Kwargs
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
  /v1/post-training/job/status:
    get:
      tags:
      - V1
      summary: Get Training Job Status
      description: Query endpoint for proper schema generation.
      operationId: get_training_job_status_v1_post_training_job_status_get
      deprecated: true
      parameters:
      - name: job_uuid
        in: query
        required: false
        schema:
          type: string
          title: Job Uuid
      responses:
        '200':
          description: A PostTrainingJobStatusResponse.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostTrainingJobStatusResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
  /v1/post-training/jobs:
    get:
      tags:
      - V1
      summary: Get Training Jobs
      description: Response-only endpoint for proper schema generation.
      operationId: get_training_jobs_v1_post_training_jobs_get
      responses:
        '200':
          description: A ListPostTrainingJobsResponse.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPostTrainingJobsResponse'
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
      deprecated: true
  /v1/post-training/preference-optimize:
    post:
      tags:
      - V1
      summary: Preference Optimize
      description: Typed endpoint for proper schema generation.
      operationId: preference_optimize_v1_post_training_preference_optimize_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DPOAlignmentConfig'
        required: true
      responses:
        '200':
          description: A PostTrainingJob.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostTrainingJob'
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
      deprecated: true
  /v1/post-training/supervised-fine-tune:
    post:
      tags:
      - V1
      summary: Supervised Fine Tune
      description: Typed endpoint for proper schema generation.
      operationId: supervised_fine_tune_v1_post_training_supervised_fine_tune_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrainingConfig'
        required: true
      responses:
        '200':
          description: A PostTrainingJob.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostTrainingJob'
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
      deprecated: true
components:
  schemas:
    AgentCandidate:
      properties:
        type:
          type: string
          const: agent
          title: Type
          default: agent
        config:
          $ref: '#/components/schemas/AgentConfig'
      type: object
      required:
      - config
      title: AgentCandidate
      description: 'An agent candidate for evaluation.


        :param config: The configuration for the agent candidate.'
    AgentConfig:
      properties:
        sampling_params:
          anyOf:
          - $ref: '#/components/schemas/SamplingParams'
          - type: 'null'
        input_shields:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Input Shields
        output_shields:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Output Shields
        toolgroups:
          anyOf:
          - items:
              anyOf:
              - type: string
              - $ref: '#/components/schemas/AgentToolGroupWithArgs'
            type: array
          - type: 'null'
          title: Toolgroups
        client_tools:
          anyOf:
          - items:
              $ref: '#/components/schemas/ToolDef'
            type: array
          - type: 'null'
          title: Client Tools
        tool_choice:
          anyOf:
          - $ref: '#/components/schemas/ToolChoice'
          - type: 'null'
          deprecated: true
        tool_prompt_format:
          anyOf:
          - $ref: '#/components/schemas/ToolPromptFormat'
          - type: 'null'
          deprecated: true
        tool_config:
          anyOf:
          - $ref: '#/components/schemas/ToolConfig'
          - type: 'null'
        max_infer_iters:
          anyOf:
          - type: integer
          - type: 'null'
          title: Max Infer Iters
          default: 10
        model:
          type: string
          title: Model
        instructions:
          type: string
          title: Instructions
        name:
          anyOf:
          - type: string
          - type: 'null'
          title: Name
        enable_session_persistence:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Enable Session Persistence
          default: false
        response_format:
          anyOf:
          - oneOf:
            - $ref: '#/components/schemas/JsonSchemaResponseFormat'
            - $ref: '#/components/schemas/GrammarResponseFormat'
            discriminator:
              propertyName: type
              mapping:
                grammar: '#/components/schemas/GrammarResponseFormat'
                json_schema: '#/components/schemas/JsonSchemaResponseFormat'
          - type: 'null'
          title: Response Format
      type: object
      required:
      - model
      - instructions
      title: AgentConfig
      description: 'Configuration for an agent.


        :param model: The model identifier to use for the agent

        :param instructions: The system instructions for the agent

        :param name: Optional name for the agent, used in telemetry and identification

        :param enable_session_persistence: Optional flag indicating whether session
        data has to be persisted

        :param response_format: Optional response format configuration'
    AgentCreateResponse:
      properties:
        agent_id:
          type: string
          title: Agent Id
      type: object
      required:
      - agent_id
      title: AgentCreateResponse
      description: 'Response returned when creating a new agent.


        :param agent_id: Unique identifier for the created agent'
    AgentToolGroupWithArgs:
      properties:
        name:
          type: string
          title: Name
        args:
          additionalProperties: true
          type: object
          title: Args
      type: object
      required:
      - name
      - args
      title: AgentToolGroupWithArgs
    AgentTurnInputType:
      properties:
        type:
          type: string
          const: agent_turn_input
          title: Type
          default: agent_turn_input
      type: object
      title: AgentTurnInputType
      description: 'Parameter type for agent turn input.


        :param type: Discriminator type. Always "agent_turn_input"'
    AggregationFunctionType:
      type: string
      enum:
      - average
      - weighted_average
      - median
      - categorical_count
      - accuracy
      title: AggregationFunctionType
      description: 'Types of aggregation functions for scoring results.

        :cvar average: Calculate the arithmetic mean of scores

        :cvar weighted_average: Calculate a weighted average of scores

        :cvar median: Calculate the median value of scores

        :cvar categorical_count: Count occurrences of categorical values

        :cvar accuracy: Calculate accuracy as the proportion of correct answers'
    AllowedToolsFilter:
      properties:
        tool_names:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Tool Names
      type: object
      title: AllowedToolsFilter
      description: 'Filter configuration for restricting which MCP tools can be used.


        :param tool_names: (Optional) List of specific tool names that are allowed'
    ApprovalFilter:
      properties:
        always:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Always
        never:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Never
      type: object
      title: ApprovalFilter
      description: 'Filter configuration for MCP tool approval requirements.


        :param always: (Optional) List of tool names that always require approval

        :param never: (Optional) List of tool names that never require approval'
    ArrayType:
      properties:
        type:
          type: string
          const: array
          title: Type
          default: array
      type: object
      title: ArrayType
      description: 'Parameter type for array values.


        :param type: Discriminator type. Always "array"'
    BasicScoringFnParams:
      properties:
        type:
          type: string
          const: basic
          title: Type
          default: basic
        aggregation_functions:
          items:
            $ref: '#/components/schemas/AggregationFunctionType'
          type: array
          title: Aggregation Functions
          description: Aggregation functions to apply to the scores of each row
      type: object
      title: BasicScoringFnParams
      description: 'Parameters for basic scoring function configuration.

        :param type: The type of scoring function parameters, always basic

        :param aggregation_functions: Aggregation functions to apply to the scores
        of each row'
    Benchmark:
      properties:
        identifier:
          type: string
          title: Identifier
          description: Unique identifier for this resource in llama stack
        provider_resource_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Provider Resource Id
          description: Unique identifier for this resource in the provider
        provider_id:
          type: string
          title: Provider Id
          description: ID of the provider that owns this resource
        type:
          type: string
          const: benchmark
          title: Type
          default: benchmark
        dataset_id:
          type: string
          title: Dataset Id
        scoring_functions:
          items:
            type: string
          type: array
          title: Scoring Functions
        metadata:
          additionalProperties: true
          type: object
          title: Metadata
          description: Metadata for this evaluation task
      type: object
      required:
      - identifier
      - provider_id
      - dataset_id
      - scoring_functions
      title: Benchmark
      description: 'A benchmark resource for evaluating model performance.


        :param dataset_id: Identifier of the dataset to use for the benchmark evaluation

        :param scoring_functions: List of scoring function identifiers to apply during
        evaluation

        :param metadata: Metadata for this evaluation task

        :param type: The resource type, always benchmark'
    BenchmarkConfig:
      properties:
        eval_candidate:
          oneOf:
          - $ref: '#/components/schemas/ModelCandidate'
          - $ref: '#/components/schemas/AgentCandidate'
          title: Eval Candidate
          discriminator:
            propertyName: type
            mapping:
              agent: '#/components/schemas/AgentCandidate'
              model: '#/components/schemas/ModelCandidate'
        scoring_params:
          additionalProperties:
            oneOf:
            - $ref: '#/components/schemas/LLMAsJudgeScoringFnParams'
            - $ref: '#/components/schemas/RegexParserScoringFnParams'
            - $ref: '#/components/schemas/BasicScoringFnParams'
            discriminator:
              propertyName: type
              mapping:
                basic: '#/components/schemas/BasicScoringFnParams'
                llm_as_judge: '#/components/schemas/LLMAsJudgeScoringFnParams'
                regex_parser: '#/components/schemas/RegexParserScoringFnParams'
          type: object
          title: Scoring Params
          description: Map between scoring function id and parameters for each scoring
            function you want to run
        num_examples:
          anyOf:
          - type: integer
          - type: 'null'
          title: Num Examples
          description: Number of examples to evaluate (useful for testing), if not
            provided, all examples in the dataset will be evaluated
      type: object
      required:
      - eval_candidate
      title: BenchmarkConfig
      description: 'A benchmark configuration for evaluation.


        :param eval_candidate: The candidate to evaluate.

        :param scoring_params: Map between scoring function id and parameters for
        each scoring function you want to run

        :param num_examples: (Optional) The number of examples to evaluate. If not
[...]
