{
  "openapi": "3.1.0",
  "info": {
    "title": "Llama Stack API",
    "description": "A comprehensive API for building and deploying AI applications",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.llamastack.com",
      "description": "Production server"
    },
    {
      "url": "https://staging-api.llamastack.com",
      "description": "Staging server"
    }
  ],
  "paths": {
    "/v1/agents": {
      "get": {
        "tags": [
          "V1"
        ],
        "summary": "List all agents.",
        "description": "Query endpoint for proper schema generation.",
        "operationId": "list_agents_v1_agents_get",
        "deprecated": true,
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Limit"
            }
          },
          {
            "name": "start_index",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Start Index"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A PaginatedResponse.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      },
      "post": {
        "tags": [
          "V1"
        ],
        "summary": "Create an agent with the given configuration.",
        "description": "Typed endpoint for proper schema generation.",
        "operationId": "create_agent_v1_agents_post",
        "deprecated": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentConfig"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "An AgentCreateResponse with the agent ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentCreateResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      }
    },
    "/v1/agents/{agent_id}": {
      "delete": {
        "tags": [
          "V1"
        ],
        "summary": "Delete an agent by its ID and its associated sessions and turns.",
        "description": "Generic endpoint - this would be replaced with actual implementation.",
        "operationId": "delete_agent_v1_agents__agent_id__delete",
        "deprecated": true,
        "parameters": [
          {
            "name": "args",
            "in": "query",
            "required": true,
            "schema": {
              "title": "Args"
            }
          },
          {
            "name": "kwargs",
            "in": "query",
            "required": true,
            "schema": {
              "title": "Kwargs"
            }
          },
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the agent to delete."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      },
      "get": {
        "tags": [
          "V1"
        ],
        "summary": "Describe an agent by its ID.",
        "description": "Query endpoint for proper schema generation.",
        "operationId": "get_agent_v1_agents__agent_id__get",
        "deprecated": true,
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Agent Id"
            },
            "description": "ID of the agent."
          }
        ],
        "responses": {
          "200": {
            "description": "An Agent of the agent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      }
    },
    "/v1/agents/{agent_id}/session": {
      "post": {
        "tags": [
          "V1"
        ],
        "summary": "Create a new session for an agent.",
        "description": "Typed endpoint for proper schema generation.",
        "operationId": "create_agent_session_v1_agents__agent_id__session_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/__main_____agents_agent_id_session_Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "An AgentSessionCreateResponse.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSessionCreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "$ref": "#/components/responses/BadRequest400"
          },
          "429": {
            "description": "Too Many Requests",
            "$ref": "#/components/responses/TooManyRequests429"
          },
          "500": {
            "description": "Internal Server Error",
            "$ref": "#/components/responses/InternalServerError500"
          },
          "default": {
            "description": "Default Response",
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "deprecated": true,
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the agent to create the session for."
          }
        ]
      }
    },
    "/v1/agents/{agent_id}/session/{session_id}": {
      "delete": {
        "tags": [
          "V1"
        ],
        "summary": "Delete an agent session by its ID and its associated turns.",
        "description": "Generic endpoint - this would be replaced with actual implementation.",
        "operationId": "delete_agents_session_v1_agents__agent_id__session__session_id__delete",
        "deprecated": true,
        "parameters": [
          {
            "name": "args",
            "in": "query",
            "required": true,
            "schema": {
              "title": "Args"
            }
          },
          {
            "name": "kwargs",
            "in": "query",
            "required": true,
            "schema": {
              "title": "Kwargs"
            }
          },
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the session to delete."
          },
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the agent to delete the session for."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      },
      "get": {
        "tags": [
          "V1"
        ],
        "summary": "Retrieve an agent session by its ID.",
        "description": "Query endpoint for proper schema generation.",
        "operationId": "get_agents_session_v1_agents__agent_id__session__session_id__get",
        "deprecated": true,
        "parameters": [
          {
            "name": "turn_ids",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Turn Ids"
            }
          },
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Session Id"
            },
            "description": "The ID of the session to get."
          },
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Agent Id"
            },
            "description": "The ID of the agent to get the session for."
          }
        ],
        "responses": {
          "200": {
            "description": "A Session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Session"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      }
    },
    "/v1/agents/{agent_id}/session/{session_id}/turn": {
      "post": {
        "tags": [
          "V1"
        ],
        "summary": "Create a new turn for an agent.",
        "description": "Typed endpoint for proper schema generation.",
        "operationId": "create_agent_turn_v1_agents__agent_id__session__session_id__turn_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/__main_____agents_agent_id_session_session_id_turn_Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "If stream=False, returns a Turn object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Turn"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "$ref": "#/components/responses/BadRequest400"
          },
          "429": {
            "description": "Too Many Requests",
            "$ref": "#/components/responses/TooManyRequests429"
          },
          "500": {
            "description": "Internal Server Error",
            "$ref": "#/components/responses/InternalServerError500"
          },
          "default": {
            "description": "Default Response",
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "deprecated": true,
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the agent to create the turn for."
          },
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the session to create the turn for."
          }
        ]
      }
    },
    "/v1/agents/{agent_id}/session/{session_id}/turn/{turn_id}": {
      "get": {
        "tags": [
          "V1"
        ],
        "summary": "Retrieve an agent turn by its ID.",
        "description": "Query endpoint for proper schema generation.",
        "operationId": "get_agents_turn_v1_agents__agent_id__session__session_id__turn__turn_id__get",
        "deprecated": true,
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Agent Id"
            },
            "description": "The ID of the agent to get the turn for."
          },
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Session Id"
            },
            "description": "The ID of the session to get the turn for."
          },
          {
            "name": "turn_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Turn Id"
            },
            "description": "The ID of the turn to get."
          }
        ],
        "responses": {
          "200": {
            "description": "A Turn.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Turn"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      }
    },
    "/v1/agents/{agent_id}/session/{session_id}/turn/{turn_id}/resume": {
      "post": {
        "tags": [
          "V1"
        ],
        "summary": "Resume an agent turn with executed tool call responses.",
        "description": "Typed endpoint for proper schema generation.",
        "operationId": "resume_agent_turn_v1_agents__agent_id__session__session_id__turn__turn_id__resume_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/__main_____agents_agent_id_session_session_id_turn_turn_id_resume_Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A Turn object if stream is False, otherwise an AsyncIterator of AgentTurnResponseStreamChunk objects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Turn"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "$ref": "#/components/responses/BadRequest400"
          },
          "429": {
            "description": "Too Many Requests",
            "$ref": "#/components/responses/TooManyRequests429"
          },
          "500": {
            "description": "Internal Server Error",
            "$ref": "#/components/responses/InternalServerError500"
          },
          "default": {
            "description": "Default Response",
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "deprecated": true,
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the agent to resume."
          },
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the session to resume."
          },
          {
            "name": "turn_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the turn to resume."
          }
        ]
      }
    },
    "/v1/agents/{agent_id}/session/{session_id}/turn/{turn_id}/step/{step_id}": {
      "get": {
        "tags": [
          "V1"
        ],
        "summary": "Retrieve an agent step by its ID.",
        "description": "Query endpoint for proper schema generation.",
        "operationId": "get_agents_step_v1_agents__agent_id__session__session_id__turn__turn_id__step__step_id__get",
        "deprecated": true,
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Agent Id"
            },
            "description": "The ID of the agent to get the step for."
          },
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Session Id"
            },
            "description": "The ID of the session to get the step for."
          },
          {
            "name": "turn_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Turn Id"
            },
            "description": "The ID of the turn to get the step for."
          },
          {
            "name": "step_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Step Id"
            },
            "description": "The ID of the step to get."
          }
        ],
        "responses": {
          "200": {
            "description": "An AgentStepResponse.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentStepResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      }
    },
    "/v1/agents/{agent_id}/sessions": {
      "get": {
        "tags": [
          "V1"
        ],
        "summary": "List all session(s) of a given agent.",
        "description": "Query endpoint for proper schema generation.",
        "operationId": "list_agent_sessions_v1_agents__agent_id__sessions_get",
        "deprecated": true,
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Limit"
            }
          },
          {
            "name": "start_index",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Start Index"
            }
          },
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Agent Id"
            },
            "description": "The ID of the agent to list sessions for."
          }
        ],
        "responses": {
          "200": {
            "description": "A PaginatedResponse.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      }
    },
    "/v1/datasetio/append-rows/{dataset_id}": {
      "post": {
        "tags": [
          "V1"
        ],
        "summary": "Append rows to a dataset.",
        "description": "Generic endpoint - this would be replaced with actual implementation.",
        "operationId": "append_rows_v1_datasetio_append_rows__dataset_id__post",
        "deprecated": true,
        "parameters": [
          {
            "name": "args",
            "in": "query",
            "required": true,
            "schema": {
              "title": "Args"
            }
          },
          {
            "name": "kwargs",
            "in": "query",
            "required": true,
            "schema": {
              "title": "Kwargs"
            }
          },
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path parameter: dataset_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      }
    },
    "/v1/datasetio/iterrows/{dataset_id}": {
      "get": {
        "tags": [
          "V1"
        ],
        "summary": "Get a paginated list of rows from a dataset.",
        "description": "Query endpoint for proper schema generation.",
        "operationId": "iterrows_v1_datasetio_iterrows__dataset_id__get",
        "deprecated": true,
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Limit"
            }
          },
          {
            "name": "start_index",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Start Index"
            }
          },
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Dataset Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A PaginatedResponse.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      }
    },
    "/v1/datasets": {
      "get": {
        "tags": [
          "V1"
        ],
        "summary": "List all datasets.",
        "description": "Response-only endpoint for proper schema generation.",
        "operationId": "list_datasets_v1_datasets_get",
        "responses": {
          "200": {
            "description": "A ListDatasetsResponse.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDatasetsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "$ref": "#/components/responses/BadRequest400"
          },
          "429": {
            "description": "Too Many Requests",
            "$ref": "#/components/responses/TooManyRequests429"
          },
          "500": {
            "description": "Internal Server Error",
            "$ref": "#/components/responses/InternalServerError500"
          },
          "default": {
            "description": "Default Response",
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "deprecated": true
      },
      "post": {
        "tags": [
          "V1"
        ],
        "summary": "Register a new dataset.",
        "description": "Typed endpoint for proper schema generation.",
        "operationId": "register_dataset_v1_datasets_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/__main_____datasets_Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A Dataset.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dataset"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "$ref": "#/components/responses/BadRequest400"
          },
          "429": {
            "description": "Too Many Requests",
            "$ref": "#/components/responses/TooManyRequests429"
          },
          "500": {
            "description": "Internal Server Error",
            "$ref": "#/components/responses/InternalServerError500"
          },
          "default": {
            "description": "Default Response",
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "deprecated": true
      }
    },
    "/v1/datasets/{dataset_id}": {
      "delete": {
        "tags": [
          "V1"
        ],
        "summary": "Unregister a dataset by its ID.",
        "description": "Generic endpoint - this would be replaced with actual implementation.",
        "operationId": "unregister_dataset_v1_datasets__dataset_id__delete",
        "deprecated": true,
        "parameters": [
          {
            "name": "args",
            "in": "query",
            "required": true,
            "schema": {
              "title": "Args"
            }
          },
          {
            "name": "kwargs",
            "in": "query",
            "required": true,
            "schema": {
              "title": "Kwargs"
            }
          },
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path parameter: dataset_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      },
      "get": {
        "tags": [
          "V1"
        ],
        "summary": "Get a dataset by its ID.",
        "description": "Query endpoint for proper schema generation.",
        "operationId": "get_dataset_v1_datasets__dataset_id__get",
        "deprecated": true,
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Dataset Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A Dataset.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dataset"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      }
    },
    "/v1/eval/benchmarks": {
      "get": {
        "tags": [
          "V1"
        ],
        "summary": "List all benchmarks.",
        "description": "Response-only endpoint for proper schema generation.",
        "operationId": "list_benchmarks_v1_eval_benchmarks_get",
        "deprecated": true,
        "responses": {
          "200": {
            "description": "A ListBenchmarksResponse.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBenchmarksResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      },
      "post": {
        "tags": [
          "V1"
        ],
        "summary": "Register a benchmark.",
        "description": "Generic endpoint - this would be replaced with actual implementation.",
        "operationId": "register_benchmark_v1_eval_benchmarks_post",
        "deprecated": true,
        "parameters": [
          {
            "name": "args",
            "in": "query",
            "required": true,
            "schema": {
              "title": "Args"
            }
          },
          {
            "name": "kwargs",
            "in": "query",
            "required": true,
            "schema": {
              "title": "Kwargs"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      }
    },
    "/v1/eval/benchmarks/{benchmark_id}": {
      "delete": {
        "tags": [
          "V1"
        ],
        "summary": "Unregister a benchmark.",
        "description": "Generic endpoint - this would be replaced with actual implementation.",
        "operationId": "unregister_benchmark_v1_eval_benchmarks__benchmark_id__delete",
        "deprecated": true,
        "parameters": [
          {
            "name": "args",
            "in": "query",
            "required": true,
            "schema": {
              "title": "Args"
            }
          },
          {
            "name": "kwargs",
            "in": "query",
            "required": true,
            "schema": {
              "title": "Kwargs"
            }
          },
          {
            "name": "benchmark_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the benchmark to unregister."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      },
      "get": {
        "tags": [
          "V1"
        ],
        "summary": "Get a benchmark by its ID.",
        "description": "Query endpoint for proper schema generation.",
        "operationId": "get_benchmark_v1_eval_benchmarks__benchmark_id__get",
        "deprecated": true,
        "parameters": [
          {
            "name": "benchmark_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Benchmark Id"
            },
            "description": "The ID of the benchmark to get."
          }
        ],
        "responses": {
          "200": {
            "description": "A Benchmark.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Benchmark"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      }
    },
    "/v1/eval/benchmarks/{benchmark_id}/evaluations": {
      "post": {
        "tags": [
          "V1"
        ],
        "summary": "Evaluate a list of rows on a benchmark.",
        "description": "Typed endpoint for proper schema generation.",
        "operationId": "evaluate_rows_v1_eval_benchmarks__benchmark_id__evaluations_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BenchmarkConfig"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "EvaluateResponse object containing generations and scores.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvaluateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "$ref": "#/components/responses/BadRequest400"
          },
          "429": {
            "description": "Too Many Requests",
            "$ref": "#/components/responses/TooManyRequests429"
          },
          "500": {
            "description": "Internal Server Error",
            "$ref": "#/components/responses/InternalServerError500"
          },
          "default": {
            "description": "Default Response",
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "deprecated": true,
        "parameters": [
          {
            "name": "benchmark_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the benchmark to run the evaluation on."
          }
        ]
      }
    },
    "/v1/eval/benchmarks/{benchmark_id}/jobs": {
      "post": {
        "tags": [
          "V1"
        ],
        "summary": "Run an evaluation on a benchmark.",
        "description": "Typed endpoint for proper schema generation.",
        "operationId": "run_eval_v1_eval_benchmarks__benchmark_id__jobs_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BenchmarkConfig"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The job that was created to run the evaluation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "$ref": "#/components/responses/BadRequest400"
          },
          "429": {
            "description": "Too Many Requests",
            "$ref": "#/components/responses/TooManyRequests429"
          },
          "500": {
            "description": "Internal Server Error",
            "$ref": "#/components/responses/InternalServerError500"
          },
          "default": {
            "description": "Default Response",
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "deprecated": true,
        "parameters": [
          {
            "name": "benchmark_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the benchmark to run the evaluation on."
          }
        ]
      }
    },
    "/v1/eval/benchmarks/{benchmark_id}/jobs/{job_id}": {
      "delete": {
        "tags": [
          "V1"
        ],
        "summary": "Cancel a job.",
        "description": "Generic endpoint - this would be replaced with actual implementation.",
        "operationId": "job_cancel_v1_eval_benchmarks__benchmark_id__jobs__job_id__delete",
        "deprecated": true,
        "parameters": [
          {
            "name": "args",
            "in": "query",
            "required": true,
            "schema": {
              "title": "Args"
            }
          },
          {
            "name": "kwargs",
            "in": "query",
            "required": true,
            "schema": {
              "title": "Kwargs"
            }
          },
          {
            "name": "benchmark_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the benchmark to run the evaluation on."
          },
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the job to cancel."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      },
      "get": {
        "tags": [
          "V1"
        ],
        "summary": "Get the status of a job.",
        "description": "Query endpoint for proper schema generation.",
        "operationId": "job_status_v1_eval_benchmarks__benchmark_id__jobs__job_id__get",
        "deprecated": true,
        "parameters": [
          {
            "name": "benchmark_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Benchmark Id"
            },
            "description": "The ID of the benchmark to run the evaluation on."
          },
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Job Id"
            },
            "description": "The ID of the job to get the status of."
          }
        ],
        "responses": {
          "200": {
            "description": "The status of the evaluation job.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      }
    },
    "/v1/eval/benchmarks/{benchmark_id}/jobs/{job_id}/result": {
      "get": {
        "tags": [
          "V1"
        ],
        "summary": "Get the result of a job.",
        "description": "Query endpoint for proper schema generation.",
        "operationId": "job_result_v1_eval_benchmarks__benchmark_id__jobs__job_id__result_get",
        "deprecated": true,
        "parameters": [
          {
            "name": "benchmark_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Benchmark Id"
            },
            "description": "The ID of the benchmark to run the evaluation on."
          },
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Job Id"
            },
            "description": "The ID of the job to get the result of."
          }
        ],
        "responses": {
          "200": {
            "description": "The result of the job.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvaluateResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      }
    },
    "/v1/openai/v1/batches": {
      "get": {
        "tags": [
          "V1"
        ],
        "summary": "List all batches for the current user.",
        "description": "Query endpoint for proper schema generation.",
        "operationId": "list_batches_v1_openai_v1_batches_get",
        "deprecated": true,
        "parameters": [
          {
            "name": "after",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "title": "After"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of batch objects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBatchesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      },
      "post": {
        "tags": [
          "V1"
        ],
        "summary": "Create a new batch for processing multiple API requests.",
        "description": "Typed endpoint for proper schema generation.",
        "operationId": "create_batch_v1_openai_v1_batches_post",
        "deprecated": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/_openai_v1_batches_Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created batch object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Batch"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      }
    },
    "/v1/openai/v1/batches/{batch_id}": {
      "get": {
        "tags": [
          "V1"
        ],
        "summary": "Retrieve information about a specific batch.",
        "description": "Query endpoint for proper schema generation.",
        "operationId": "retrieve_batch_v1_openai_v1_batches__batch_id__get",
        "deprecated": true,
        "parameters": [
          {
            "name": "batch_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Batch Id"
            },
            "description": "The ID of the batch to retrieve."
          }
        ],
        "responses": {
          "200": {
            "description": "The batch object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Batch"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      }
    },
    "/v1/openai/v1/batches/{batch_id}/cancel": {
      "post": {
        "tags": [
          "V1"
        ],
        "summary": "Cancel a batch that is in progress.",
        "description": "Typed endpoint for proper schema generation.",
        "operationId": "cancel_batch_v1_openai_v1_batches__batch_id__cancel_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/_openai_v1_batches_batch_id_cancel_Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The updated batch object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Batch"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "$ref": "#/components/responses/BadRequest400"
          },
          "429": {
            "description": "Too Many Requests",
            "$ref": "#/components/responses/TooManyRequests429"
          },
          "500": {
            "description": "Internal Server Error",
            "$ref": "#/components/responses/InternalServerError500"
          },
          "default": {
            "description": "Default Response",
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "deprecated": true,
        "parameters": [
          {
            "name": "batch_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the batch to cancel."
          }
        ]
      }
    },
    "/v1/openai/v1/chat/completions": {
      "get": {
        "tags": [
          "V1"
        ],
        "summary": "List chat completions.",
        "description": "Query endpoint for proper schema generation.",
        "operationId": "list_chat_completions_v1_openai_v1_chat_completions_get",
        "deprecated": true,
        "parameters": [
          {
            "name": "after",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "title": "After"
            }
          },
          {
            "name": "model",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Model"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "title": "Limit"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Order",
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A ListOpenAIChatCompletionResponse.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOpenAIChatCompletionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      },
      "post": {
        "tags": [
          "V1"
        ],
        "summary": "Create chat completions.",
        "description": "Typed endpoint for proper schema generation.",
        "operationId": "openai_chat_completion_v1_openai_v1_chat_completions_post",
        "deprecated": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenAIChatCompletionRequestWithExtraBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "An OpenAIChatCompletion.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIChatCompletion"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      }
    },
    "/v1/openai/v1/chat/completions/{completion_id}": {
      "get": {
        "tags": [
          "V1"
        ],
        "summary": "Get chat completion.",
        "description": "Query endpoint for proper schema generation.",
        "operationId": "get_chat_completion_v1_openai_v1_chat_completions__completion_id__get",
        "deprecated": true,
        "parameters": [
          {
            "name": "completion_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Completion Id"
            },
            "description": "ID of the chat completion."
          }
        ],
        "responses": {
          "200": {
            "description": "A OpenAICompletionWithInputMessages.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAICompletionWithInputMessages"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      }
    },
    "/v1/openai/v1/completions": {
      "post": {
        "tags": [
          "V1"
        ],
        "summary": "Create completion.",
        "description": "Typed endpoint for proper schema generation.",
        "operationId": "openai_completion_v1_openai_v1_completions_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenAICompletionRequestWithExtraBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "An OpenAICompletion.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAICompletion"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "$ref": "#/components/responses/BadRequest400"
          },
          "429": {
            "description": "Too Many Requests",
            "$ref": "#/components/responses/TooManyRequests429"
          },
          "500": {
            "description": "Internal Server Error",
            "$ref": "#/components/responses/InternalServerError500"
          },
          "default": {
            "description": "Default Response",
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "deprecated": true
      }
    },
    "/v1/openai/v1/embeddings": {
      "post": {
        "tags": [
          "V1"
        ],
        "summary": "Create embeddings.",
        "description": "Typed endpoint for proper schema generation.",
        "operationId": "openai_embeddings_v1_openai_v1_embeddings_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenAIEmbeddingsRequestWithExtraBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "An OpenAIEmbeddingsResponse containing the embeddings.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIEmbeddingsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "$ref": "#/components/responses/BadRequest400"
          },
          "429": {
            "description": "Too Many Requests",
            "$ref": "#/components/responses/TooManyRequests429"
          },
          "500": {
            "description": "Internal Server Error",
            "$ref": "#/components/responses/InternalServerError500"
          },
          "default": {
            "description": "Default Response",
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "deprecated": true
      }
    },
    "/v1/openai/v1/files": {
      "get": {
        "tags": [
          "V1"
        ],
        "summary": "List files.",
        "description": "Query endpoint for proper schema generation.",
        "operationId": "openai_list_files_v1_openai_v1_files_get",
        "deprecated": true,
        "parameters": [
          {
            "name": "after",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "title": "After"
            }
          },
          {
            "name": "purpose",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OpenAIFilePurpose"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10000,
              "title": "Limit"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Order",
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An ListOpenAIFileResponse containing the list of files.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOpenAIFileResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      },
      "post": {
        "tags": [
          "V1"
        ],
        "summary": "Upload file.",
        "description": "Response-only endpoint for proper schema generation.",
        "operationId": "openai_upload_file_v1_openai_v1_files_post",
        "deprecated": true,
        "responses": {
          "200": {
            "description": "An OpenAIFileObject representing the uploaded file.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIFileObject"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      }
    },
    "/v1/openai/v1/files/{file_id}": {
      "delete": {
        "tags": [
          "V1"
        ],
        "summary": "Delete file.",
        "description": "Query endpoint for proper schema generation.",
        "operationId": "openai_delete_file_v1_openai_v1_files__file_id__delete",
        "deprecated": true,
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "File Id"
            },
            "description": "The ID of the file to use for this request."
          }
        ],
        "responses": {
          "200": {
            "description": "An OpenAIFileDeleteResponse indicating successful deletion.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIFileDeleteResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      },
      "get": {
        "tags": [
          "V1"
        ],
        "summary": "Retrieve file.",
        "description": "Query endpoint for proper schema generation.",
        "operationId": "openai_retrieve_file_v1_openai_v1_files__file_id__get",
        "deprecated": true,
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "File Id"
            },
            "description": "The ID of the file to use for this request."
          }
        ],
        "responses": {
          "200": {
            "description": "An OpenAIFileObject containing file information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIFileObject"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      }
    },
    "/v1/openai/v1/files/{file_id}/content": {
      "get": {
        "tags": [
          "V1"
        ],
        "summary": "Retrieve file content.",
        "description": "Generic endpoint - this would be replaced with actual implementation.",
        "operationId": "openai_retrieve_file_content_v1_openai_v1_files__file_id__content_get",
        "deprecated": true,
        "parameters": [
          {
            "name": "args",
            "in": "query",
            "required": true,
            "schema": {
              "title": "Args"
            }
          },
          {
            "name": "kwargs",
            "in": "query",
            "required": true,
            "schema": {
              "title": "Kwargs"
            }
          },
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the file to use for this request."
          }
        ],
        "responses": {
          "200": {
            "description": "The raw file content as a binary response.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      }
    },
    "/v1/openai/v1/models": {
      "get": {
        "tags": [
          "V1"
        ],
        "summary": "List models using the OpenAI API.",
        "description": "Response-only endpoint for proper schema generation.",
        "operationId": "openai_list_models_v1_openai_v1_models_get",
        "responses": {
          "200": {
            "description": "A OpenAIListModelsResponse.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIListModelsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "$ref": "#/components/responses/BadRequest400"
          },
          "429": {
            "description": "Too Many Requests",
            "$ref": "#/components/responses/TooManyRequests429"
          },
          "500": {
            "description": "Internal Server Error",
            "$ref": "#/components/responses/InternalServerError500"
          },
          "default": {
            "description": "Default Response",
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "deprecated": true
      }
    },
    "/v1/openai/v1/moderations": {
      "post": {
        "tags": [
          "V1"
        ],
        "summary": "Create moderation.",
        "description": "Typed endpoint for proper schema generation.",
        "operationId": "run_moderation_v1_openai_v1_moderations_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/_openai_v1_moderations_Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A moderation object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModerationObject"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "$ref": "#/components/responses/BadRequest400"
          },
          "429": {
            "description": "Too Many Requests",
            "$ref": "#/components/responses/TooManyRequests429"
          },
          "500": {
            "description": "Internal Server Error",
            "$ref": "#/components/responses/InternalServerError500"
          },
          "default": {
            "description": "Default Response",
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "deprecated": true
      }
    },
    "/v1/openai/v1/responses": {
      "get": {
        "tags": [
          "V1"
        ],
        "summary": "List all responses.",
        "description": "Query endpoint for proper schema generation.",
        "operationId": "list_openai_responses_v1_openai_v1_responses_get",
        "deprecated": true,
        "parameters": [
          {
            "name": "after",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "title": "After"
            }
          },
          {
            "name": "model",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Model"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50,
              "title": "Limit"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Order",
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A ListOpenAIResponseObject.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOpenAIResponseObject"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      },
      "post": {
        "tags": [
          "V1"
        ],
        "summary": "Create a model response.",
        "description": "Typed endpoint for proper schema generation.",
        "operationId": "create_openai_response_v1_openai_v1_responses_post",
        "deprecated": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/_openai_v1_responses_Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "An OpenAIResponseObject.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIResponseObject"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      }
    },
    "/v1/openai/v1/responses/{response_id}": {
      "delete": {
        "tags": [
          "V1"
        ],
        "summary": "Delete a response.",
        "description": "Query endpoint for proper schema generation.",
        "operationId": "delete_openai_response_v1_openai_v1_responses__response_id__delete",
        "deprecated": true,
        "parameters": [
          {
            "name": "response_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Response Id"
            },
            "description": "The ID of the OpenAI response to delete."
          }
        ],
        "responses": {
          "200": {
            "description": "An OpenAIDeleteResponseObject",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIDeleteResponseObject"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      },
      "get": {
        "tags": [
          "V1"
        ],
        "summary": "Get a model response.",
        "description": "Query endpoint for proper schema generation.",
        "operationId": "get_openai_response_v1_openai_v1_responses__response_id__get",
        "deprecated": true,
        "parameters": [
          {
            "name": "response_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Response Id"
            },
            "description": "The ID of the OpenAI response to retrieve."
          }
        ],
        "responses": {
          "200": {
            "description": "An OpenAIResponseObject.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIResponseObject"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      }
    },
    "/v1/openai/v1/responses/{response_id}/input_items": {
      "get": {
        "tags": [
          "V1"
        ],
        "summary": "List input items.",
        "description": "Query endpoint for proper schema generation.",
        "operationId": "list_openai_response_input_items_v1_openai_v1_responses__response_id__input_items_get",
        "deprecated": true,
        "parameters": [
          {
            "name": "after",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "title": "After"
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Before"
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Include"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "title": "Limit"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Order",
              "default": "desc"
            }
          },
          {
            "name": "response_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Response Id"
            },
            "description": "The ID of the response to retrieve input items for."
          }
        ],
        "responses": {
          "200": {
            "description": "An ListOpenAIResponseInputItem.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOpenAIResponseInputItem"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      }
    },
    "/v1/openai/v1/vector_stores": {
      "get": {
        "tags": [
          "V1"
        ],
        "summary": "Returns a list of vector stores.",
        "description": "Query endpoint for proper schema generation.",
        "operationId": "openai_list_vector_stores_v1_openai_v1_vector_stores_get",
        "deprecated": true,
        "parameters": [
          {
            "name": "after",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "title": "After"
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Before"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "title": "Limit"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "desc",
              "title": "Order"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A VectorStoreListResponse containing the list of vector stores.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VectorStoreListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      },
      "post": {
        "tags": [
          "V1"
        ],
        "summary": "Creates a vector store.",
        "description": "Typed endpoint for proper schema generation.",
        "operationId": "openai_create_vector_store_v1_openai_v1_vector_stores_post",
        "deprecated": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenAICreateVectorStoreRequestWithExtraBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A VectorStoreObject representing the created vector store.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VectorStoreObject"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      }
    },
    "/v1/openai/v1/vector_stores/{vector_store_id}": {
      "delete": {
        "tags": [
          "V1"
        ],
        "summary": "Delete a vector store.",
        "description": "Query endpoint for proper schema generation.",
        "operationId": "openai_delete_vector_store_v1_openai_v1_vector_stores__vector_store_id__delete",
        "deprecated": true,
        "parameters": [
          {
            "name": "vector_store_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Vector Store Id"
            },
            "description": "The ID of the vector store to delete."
          }
        ],
        "responses": {
          "200": {
            "description": "A VectorStoreDeleteResponse indicating the deletion status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VectorStoreDeleteResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      },
      "get": {
        "tags": [
          "V1"
        ],
        "summary": "Retrieves a vector store.",
        "description": "Query endpoint for proper schema generation.",
        "operationId": "openai_retrieve_vector_store_v1_openai_v1_vector_stores__vector_store_id__get",
        "deprecated": true,
        "parameters": [
          {
            "name": "vector_store_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Vector Store Id"
            },
            "description": "The ID of the vector store to retrieve."
          }
        ],
        "responses": {
          "200": {
            "description": "A VectorStoreObject representing the vector store.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VectorStoreObject"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      },
      "post": {
        "tags": [
          "V1"
        ],
        "summary": "Updates a vector store.",
        "description": "Typed endpoint for proper schema generation.",
        "operationId": "openai_update_vector_store_v1_openai_v1_vector_stores__vector_store_id__post",
        "deprecated": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/_openai_v1_vector_stores_vector_store_id_Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A VectorStoreObject representing the updated vector store.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VectorStoreObject"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        },
        "parameters": [
          {
            "name": "vector_store_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the vector store to update."
          }
        ]
      }
    },
    "/v1/openai/v1/vector_stores/{vector_store_id}/file_batches": {
      "post": {
        "tags": [
          "V1"
        ],
        "summary": "Create a vector store file batch.",
        "description": "Typed endpoint for proper schema generation.",
        "operationId": "openai_create_vector_store_file_batch_v1_openai_v1_vector_stores__vector_store_id__file_batches_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenAICreateVectorStoreFileBatchRequestWithExtraBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A VectorStoreFileBatchObject representing the created file batch.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VectorStoreFileBatchObject"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "$ref": "#/components/responses/BadRequest400"
          },
          "429": {
            "description": "Too Many Requests",
            "$ref": "#/components/responses/TooManyRequests429"
          },
          "500": {
            "description": "Internal Server Error",
            "$ref": "#/components/responses/InternalServerError500"
          },
          "default": {
            "description": "Default Response",
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "deprecated": true,
        "parameters": [
          {
            "name": "vector_store_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the vector store to create the file batch for."
          }
        ]
      }
    },
    "/v1/openai/v1/vector_stores/{vector_store_id}/file_batches/{batch_id}": {
      "get": {
        "tags": [
          "V1"
        ],
        "summary": "Retrieve a vector store file batch.",
        "description": "Query endpoint for proper schema generation.",
        "operationId": "openai_retrieve_vector_store_file_batch_v1_openai_v1_vector_stores__vector_store_id__file_batches__batch_id__get",
        "deprecated": true,
        "parameters": [
          {
            "name": "batch_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Batch Id"
            },
            "description": "The ID of the file batch to retrieve."
          },
          {
            "name": "vector_store_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Vector Store Id"
            },
            "description": "The ID of the vector store containing the file batch."
          }
        ],
        "responses": {
          "200": {
            "description": "A VectorStoreFileBatchObject representing the file batch.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VectorStoreFileBatchObject"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      }
    },
    "/v1/openai/v1/vector_stores/{vector_store_id}/file_batches/{batch_id}/cancel": {
      "post": {
        "tags": [
          "V1"
        ],
        "summary": "Cancels a vector store file batch.",
        "description": "Typed endpoint for proper schema generation.",
        "operationId": "openai_cancel_vector_store_file_batch_v1_openai_v1_vector_stores__vector_store_id__file_batches__batch_id__cancel_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/_openai_v1_vector_stores_vector_store_id_file_batches_batch_id_cancel_Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A VectorStoreFileBatchObject representing the cancelled file batch.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VectorStoreFileBatchObject"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "$ref": "#/components/responses/BadRequest400"
          },
          "429": {
            "description": "Too Many Requests",
            "$ref": "#/components/responses/TooManyRequests429"
          },
          "500": {
            "description": "Internal Server Error",
            "$ref": "#/components/responses/InternalServerError500"
          },
          "default": {
            "description": "Default Response",
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "deprecated": true,
        "parameters": [
          {
            "name": "batch_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the file batch to cancel."
          },
          {
            "name": "vector_store_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the vector store containing the file batch."
          }
        ]
      }
    },
    "/v1/openai/v1/vector_stores/{vector_store_id}/file_batches/{batch_id}/files": {
      "get": {
        "tags": [
          "V1"
        ],
        "summary": "Returns a list of vector store files in a batch.",
        "description": "Query endpoint for proper schema generation.",
        "operationId": "openai_list_files_in_vector_store_file_batch_v1_openai_v1_vector_stores__vector_store_id__file_batches__batch_id__files_get",
        "deprecated": true,
        "parameters": [
          {
[...]
