openapi: 3.1.0
info:
  title: Llama Stack Specification - Experimental APIs
  description: |-
    This is the specification of the Llama Stack that provides
                        a set of endpoints and their corresponding interfaces that are
        tailored to
                        best leverage Llama Models.

        **🧪 EXPERIMENTAL**: Pre-release APIs (v1alpha, v1beta) that may change before
        becoming stable.
  version: v1
servers:
- url: http://any-hosted-llama-stack.com
paths:
  /v1alpha/inference/rerank:
    post:
      tags:
      - Inference
      summary: Rerank
      operationId: rerank_v1alpha_inference_rerank_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
  /v1beta/datasetio/append-rows/{dataset_id}:
    post:
      tags:
      - Datasetio
      summary: Append Rows
      operationId: append_rows_v1beta_datasetio_append_rows__dataset_id__post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
        description: 'Path parameter: dataset_id'
  /v1beta/datasetio/iterrows/{dataset_id}:
    get:
      tags:
      - Datasetio
      summary: Iterrows
      operationId: iterrows_v1beta_datasetio_iterrows__dataset_id__get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
        description: 'Path parameter: dataset_id'
  /v1beta/datasets/{dataset_id}:
    get:
      tags:
      - Datasets
      summary: Get Dataset
      operationId: get_dataset_v1beta_datasets__dataset_id__get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
        description: 'Path parameter: dataset_id'
  /v1beta/datasets:
    get:
      tags:
      - Datasets
      summary: List Datasets
      operationId: list_datasets_v1beta_datasets_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
  /v1alpha/eval/benchmarks/{benchmark_id}/evaluations:
    post:
      tags:
      - Eval
      summary: Evaluate Rows
      operationId: evaluate_rows_v1alpha_eval_benchmarks__benchmark_id__evaluations_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
      parameters:
      - name: benchmark_id
        in: path
        required: true
        schema:
          type: string
        description: 'Path parameter: benchmark_id'
  /v1alpha/eval/benchmarks/{benchmark_id}/jobs/{job_id}:
    get:
      tags:
      - Eval
      summary: Job Status
      operationId: job_status_v1alpha_eval_benchmarks__benchmark_id__jobs__job_id__get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
      parameters:
      - name: benchmark_id
        in: path
        required: true
        schema:
          type: string
        description: 'Path parameter: benchmark_id'
      - name: job_id
        in: path
        required: true
        schema:
          type: string
        description: 'Path parameter: job_id'
    delete:
      tags:
      - Eval
      summary: Job Cancel
      operationId: job_cancel_v1alpha_eval_benchmarks__benchmark_id__jobs__job_id__delete
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
      parameters:
      - name: benchmark_id
        in: path
        required: true
        schema:
          type: string
        description: 'Path parameter: benchmark_id'
      - name: job_id
        in: path
        required: true
        schema:
          type: string
        description: 'Path parameter: job_id'
  /v1alpha/eval/benchmarks/{benchmark_id}/jobs/{job_id}/result:
    get:
      tags:
      - Eval
      summary: Job Result
      operationId: job_result_v1alpha_eval_benchmarks__benchmark_id__jobs__job_id__result_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
      parameters:
      - name: benchmark_id
        in: path
        required: true
        schema:
          type: string
        description: 'Path parameter: benchmark_id'
      - name: job_id
        in: path
        required: true
        schema:
          type: string
        description: 'Path parameter: job_id'
  /v1alpha/eval/benchmarks/{benchmark_id}/jobs:
    post:
      tags:
      - Eval
      summary: Run Eval
      operationId: run_eval_v1alpha_eval_benchmarks__benchmark_id__jobs_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
      parameters:
      - name: benchmark_id
        in: path
        required: true
        schema:
          type: string
        description: 'Path parameter: benchmark_id'
  /v1alpha/eval/benchmarks/{benchmark_id}:
    get:
      tags:
      - Benchmarks
      summary: Get Benchmark
      operationId: get_benchmark_v1alpha_eval_benchmarks__benchmark_id__get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
      parameters:
      - name: benchmark_id
        in: path
        required: true
        schema:
          type: string
        description: 'Path parameter: benchmark_id'
  /v1alpha/eval/benchmarks:
    get:
      tags:
      - Benchmarks
      summary: List Benchmarks
      operationId: list_benchmarks_v1alpha_eval_benchmarks_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
  /v1alpha/post-training/job/cancel:
    post:
      tags:
      - Post Training
      summary: Cancel Training Job
      operationId: cancel_training_job_v1alpha_post_training_job_cancel_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
  /v1alpha/post-training/job/artifacts:
    get:
      tags:
      - Post Training
      summary: Get Training Job Artifacts
      operationId: get_training_job_artifacts_v1alpha_post_training_job_artifacts_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
  /v1alpha/post-training/job/status:
    get:
      tags:
      - Post Training
      summary: Get Training Job Status
      operationId: get_training_job_status_v1alpha_post_training_job_status_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
  /v1alpha/post-training/jobs:
    get:
      tags:
      - Post Training
      summary: Get Training Jobs
      operationId: get_training_jobs_v1alpha_post_training_jobs_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
  /v1alpha/post-training/preference-optimize:
    post:
      tags:
      - Post Training
      summary: Preference Optimize
      operationId: preference_optimize_v1alpha_post_training_preference_optimize_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
  /v1alpha/post-training/supervised-fine-tune:
    post:
      tags:
      - Post Training
      summary: Supervised Fine Tune
      operationId: supervised_fine_tune_v1alpha_post_training_supervised_fine_tune_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
components:
  responses:
    BadRequest400:
      description: The request was invalid or malformed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            status: 400
            title: Bad Request
            detail: The request was invalid or malformed
    TooManyRequests429:
      description: The client has sent too many requests in a given amount of time
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            status: 429
            title: Too Many Requests
            detail: You have exceeded the rate limit. Please try again later.
    InternalServerError500:
      description: The server encountered an unexpected error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            status: 500
            title: Internal Server Error
            detail: An unexpected error occurred
    DefaultError:
      description: An error occurred
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    ImageContentItem:
      description: A image content item
      properties:
        type:
          const: image
          default: image
          title: Type
          type: string
        image:
          $ref: '#/components/schemas/_URLOrData'
      required:
      - image
      title: ImageContentItem
      type: object
    TextContentItem:
      description: A text content item
      properties:
        type:
          const: text
          default: text
          title: Type
          type: string
        text:
          title: Text
          type: string
      required:
      - text
      title: TextContentItem
      type: object
    URL:
      description: A URL reference to external content.
      properties:
        uri:
          title: Uri
          type: string
      required:
      - uri
      title: URL
      type: object
    _URLOrData:
      description: A URL or a base64 encoded string
      properties:
        url:
          anyOf:
          - $ref: '#/components/schemas/URL'
            title: URL
          - type: 'null'
          nullable: true
          title: URL
        data:
          anyOf:
          - type: string
          - type: 'null'
          contentEncoding: base64
          nullable: true
      title: _URLOrData
      type: object
    InterleavedContentItem:
      discriminator:
        mapping:
          image: '#/components/schemas/ImageContentItem'
          text: '#/components/schemas/TextContentItem'
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/ImageContentItem'
        title: ImageContentItem
      - $ref: '#/components/schemas/TextContentItem'
        title: TextContentItem
      title: ImageContentItem | TextContentItem
    InterleavedContent:
      anyOf:
      - type: string
      - discriminator:
          mapping:
            image: '#/components/schemas/ImageContentItem'
            text: '#/components/schemas/TextContentItem'
          propertyName: type
        oneOf:
        - $ref: '#/components/schemas/ImageContentItem'
          title: ImageContentItem
        - $ref: '#/components/schemas/TextContentItem'
          title: TextContentItem
        title: ImageContentItem | TextContentItem
      - items:
          discriminator:
            mapping:
              image: '#/components/schemas/ImageContentItem'
              text: '#/components/schemas/TextContentItem'
            propertyName: type
          oneOf:
          - $ref: '#/components/schemas/ImageContentItem'
            title: ImageContentItem
          - $ref: '#/components/schemas/TextContentItem'
            title: TextContentItem
          title: ImageContentItem | TextContentItem
        type: array
        title: list[ImageContentItem | TextContentItem]
      title: string | list[ImageContentItem | TextContentItem]
    GreedySamplingStrategy:
      description: Greedy sampling strategy that selects the highest probability token at each step.
      properties:
        type:
          const: greedy
          default: greedy
          title: Type
          type: string
      title: GreedySamplingStrategy
      type: object
    TopKSamplingStrategy:
      description: Top-k sampling strategy that restricts sampling to the k most likely tokens.
      properties:
        type:
          const: top_k
          default: top_k
          title: Type
          type: string
        top_k:
          minimum: 1
          title: Top K
          type: integer
      required:
      - top_k
      title: TopKSamplingStrategy
      type: object
    TopPSamplingStrategy:
      description: Top-p (nucleus) sampling strategy that samples from the smallest set of tokens with cumulative probability >= p.
      properties:
        type:
          const: top_p
          default: top_p
          title: Type
          type: string
        temperature:
          anyOf:
          - type: number
            minimum: 0.0
          - type: 'null'
        top_p:
          anyOf:
          - type: number
          - type: 'null'
          default: 0.95
      required:
      - temperature
      title: TopPSamplingStrategy
      type: object
    SamplingStrategy:
      discriminator:
        mapping:
          greedy: '#/components/schemas/GreedySamplingStrategy'
          top_k: '#/components/schemas/TopKSamplingStrategy'
          top_p: '#/components/schemas/TopPSamplingStrategy'
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/GreedySamplingStrategy'
        title: GreedySamplingStrategy
      - $ref: '#/components/schemas/TopPSamplingStrategy'
        title: TopPSamplingStrategy
      - $ref: '#/components/schemas/TopKSamplingStrategy'
        title: TopKSamplingStrategy
      title: GreedySamplingStrategy | TopPSamplingStrategy | TopKSamplingStrategy
    GrammarResponseFormat:
      description: Configuration for grammar-guided response generation.
      properties:
        type:
          const: grammar
          default: grammar
          title: Type
          type: string
        bnf:
          additionalProperties: true
          title: Bnf
          type: object
      required:
      - bnf
      title: GrammarResponseFormat
      type: object
    JsonSchemaResponseFormat:
      description: Configuration for JSON schema-guided response generation.
      properties:
        type:
          const: json_schema
          default: json_schema
          title: Type
          type: string
        json_schema:
          additionalProperties: true
          title: Json Schema
          type: object
      required:
      - json_schema
      title: JsonSchemaResponseFormat
      type: object
    ResponseFormat:
      discriminator:
        mapping:
          grammar: '#/components/schemas/GrammarResponseFormat'
          json_schema: '#/components/schemas/JsonSchemaResponseFormat'
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/JsonSchemaResponseFormat'
        title: JsonSchemaResponseFormat
      - $ref: '#/components/schemas/GrammarResponseFormat'
        title: GrammarResponseFormat
      title: JsonSchemaResponseFormat | GrammarResponseFormat
    OpenAIChatCompletionContentPartImageParam:
      description: Image content part for OpenAI-compatible chat completion messages.
      properties:
        type:
          const: image_url
          default: image_url
          title: Type
          type: string
        image_url:
          $ref: '#/components/schemas/OpenAIImageURL'
      required:
      - image_url
      title: OpenAIChatCompletionContentPartImageParam
      type: object
    OpenAIChatCompletionContentPartTextParam:
      description: Text content part for OpenAI-compatible chat completion messages.
      properties:
        type:
          const: text
          default: text
          title: Type
          type: string
        text:
          title: Text
          type: string
      required:
      - text
      title: OpenAIChatCompletionContentPartTextParam
      type: object
    OpenAIFile:
      properties:
        type:
          const: file
          default: file
          title: Type
          type: string
        file:
          $ref: '#/components/schemas/OpenAIFileFile'
      required:
      - file
      title: OpenAIFile
      type: object
    OpenAIFileFile:
      properties:
        file_data:
          anyOf:
          - type: string
          - type: 'null'
          nullable: true
        file_id:
          anyOf:
          - type: string
          - type: 'null'
          nullable: true
        filename:
          anyOf:
          - type: string
          - type: 'null'
          nullable: true
      title: OpenAIFileFile
      type: object
    OpenAIImageURL:
      description: Image URL specification for OpenAI-compatible chat completion messages.
      properties:
        url:
          title: Url
          type: string
        detail:
          anyOf:
          - type: string
          - type: 'null'
          nullable: true
      required:
      - url
      title: OpenAIImageURL
      type: object
    OpenAIChatCompletionContentPartParam:
      discriminator:
        mapping:
          file: '#/components/schemas/OpenAIFile'
          image_url: '#/components/schemas/OpenAIChatCompletionContentPartImageParam'
          text: '#/components/schemas/OpenAIChatCompletionContentPartTextParam'
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/OpenAIChatCompletionContentPartTextParam'
        title: OpenAIChatCompletionContentPartTextParam
      - $ref: '#/components/schemas/OpenAIChatCompletionContentPartImageParam'
        title: OpenAIChatCompletionContentPartImageParam
      - $ref: '#/components/schemas/OpenAIFile'
        title: OpenAIFile
      title: OpenAIChatCompletionContentPartTextParam | OpenAIChatCompletionContentPartImageParam | OpenAIFile
    OpenAIAssistantMessageParam:
      description: A message containing the model's (assistant) response in an OpenAI-compatible chat completion request.
      properties:
        role:
          const: assistant
          default: assistant
          title: Role
          type: string
        content:
          anyOf:
          - type: string
          - items:
              $ref: '#/components/schemas/OpenAIChatCompletionContentPartTextParam'
            type: array
            title: list[OpenAIChatCompletionContentPartTextParam]
          - type: 'null'
          title: string | list[OpenAIChatCompletionContentPartTextParam]
          nullable: true
        name:
          anyOf:
          - type: string
          - type: 'null'
          nullable: true
        tool_calls:
          anyOf:
          - items:
              $ref: '#/components/schemas/OpenAIChatCompletionToolCall'
            type: array
          - type: 'null'
          nullable: true
      title: OpenAIAssistantMessageParam
      type: object
    OpenAIChatCompletionToolCall:
      description: Tool call specification for OpenAI-compatible chat completion responses.
      properties:
        index:
          anyOf:
          - type: integer
          - type: 'null'
          nullable: true
        id:
          anyOf:
          - type: string
          - type: 'null'
          nullable: true
        type:
          const: function
          default: function
          title: Type
          type: string
        function:
          anyOf:
          - $ref: '#/components/schemas/OpenAIChatCompletionToolCallFunction'
            title: OpenAIChatCompletionToolCallFunction
          - type: 'null'
          nullable: true
          title: OpenAIChatCompletionToolCallFunction
      title: OpenAIChatCompletionToolCall
      type: object
    OpenAIChatCompletionToolCallFunction:
      description: Function call details for OpenAI-compatible tool calls.
      properties:
        name:
          anyOf:
          - type: string
          - type: 'null'
          nullable: true
        arguments:
          anyOf:
          - type: string
          - type: 'null'
          nullable: true
      title: OpenAIChatCompletionToolCallFunction
      type: object
    OpenAIDeveloperMessageParam:
      description: A message from the developer in an OpenAI-compatible chat completion request.
      properties:
        role:
          const: developer
          default: developer
          title: Role
          type: string
        content:
          anyOf:
          - type: string
          - items:
              $ref: '#/components/schemas/OpenAIChatCompletionContentPartTextParam'
            type: array
            title: list[OpenAIChatCompletionContentPartTextParam]
          title: string | list[OpenAIChatCompletionContentPartTextParam]
        name:
          anyOf:
          - type: string
          - type: 'null'
          nullable: true
      required:
      - content
      title: OpenAIDeveloperMessageParam
      type: object
    OpenAISystemMessageParam:
      description: A system message providing instructions or context to the model.
      properties:
        role:
          const: system
          default: system
          title: Role
          type: string
        content:
          anyOf:
          - type: string
          - items:
              $ref: '#/components/schemas/OpenAIChatCompletionContentPartTextParam'
            type: array
            title: list[OpenAIChatCompletionContentPartTextParam]
          title: string | list[OpenAIChatCompletionContentPartTextParam]
        name:
          anyOf:
          - type: string
          - type: 'null'
          nullable: true
      required:
      - content
      title: OpenAISystemMessageParam
      type: object
    OpenAIToolMessageParam:
      description: A message representing the result of a tool invocation in an OpenAI-compatible chat completion request.
      properties:
        role:
          const: tool
          default: tool
          title: Role
          type: string
        tool_call_id:
          title: Tool Call Id
          type: string
        content:
          anyOf:
          - type: string
          - items:
              $ref: '#/components/schemas/OpenAIChatCompletionContentPartTextParam'
            type: array
            title: list[OpenAIChatCompletionContentPartTextParam]
          title: string | list[OpenAIChatCompletionContentPartTextParam]
      required:
      - tool_call_id
      - content
      title: OpenAIToolMessageParam
      type: object
    OpenAIUserMessageParam:
      description: A message from the user in an OpenAI-compatible chat completion request.
      properties:
        role:
          const: user
          default: user
          title: Role
          type: string
        content:
          anyOf:
          - type: string
          - items:
              discriminator:
                mapping:
                  file: '#/components/schemas/OpenAIFile'
                  image_url: '#/components/schemas/OpenAIChatCompletionContentPartImageParam'
                  text: '#/components/schemas/OpenAIChatCompletionContentPartTextParam'
                propertyName: type
              oneOf:
              - $ref: '#/components/schemas/OpenAIChatCompletionContentPartTextParam'
                title: OpenAIChatCompletionContentPartTextParam
              - $ref: '#/components/schemas/OpenAIChatCompletionContentPartImageParam'
                title: OpenAIChatCompletionContentPartImageParam
              - $ref: '#/components/schemas/OpenAIFile'
                title: OpenAIFile
              title: OpenAIChatCompletionContentPartTextParam | OpenAIChatCompletionContentPartImageParam | OpenAIFile
            type: array
            title: list[OpenAIChatCompletionContentPartTextParam | OpenAIChatCompletionContentPartImageParam | OpenAIFile]
          title: string | list[OpenAIChatCompletionContentPartTextParam | OpenAIChatCompletionContentPartImageParam | OpenAIFile]
        name:
          anyOf:
          - type: string
          - type: 'null'
          nullable: true
      required:
      - content
      title: OpenAIUserMessageParam
      type: object
    OpenAIMessageParam:
      discriminator:
        mapping:
          assistant: '#/components/schemas/OpenAIAssistantMessageParam'
          developer: '#/components/schemas/OpenAIDeveloperMessageParam'
          system: '#/components/schemas/OpenAISystemMessageParam'
          tool: '#/components/schemas/OpenAIToolMessageParam'
          user: '#/components/schemas/OpenAIUserMessageParam'
        propertyName: role
      oneOf:
      - $ref: '#/components/schemas/OpenAIUserMessageParam'
        title: OpenAIUserMessageParam
      - $ref: '#/components/schemas/OpenAISystemMessageParam'
        title: OpenAISystemMessageParam
      - $ref: '#/components/schemas/OpenAIAssistantMessageParam'
        title: OpenAIAssistantMessageParam
      - $ref: '#/components/schemas/OpenAIToolMessageParam'
        title: OpenAIToolMessageParam
      - $ref: '#/components/schemas/OpenAIDeveloperMessageParam'
        title: OpenAIDeveloperMessageParam
      title: OpenAIUserMessageParam | ... (5 variants)
    OpenAIJSONSchema:
      description: JSON schema specification for OpenAI-compatible structured response format.
      properties:
        name:
          title: Name
          type: string
        description:
          anyOf:
          - type: string
          - type: 'null'
        strict:
          anyOf:
          - type: boolean
          - type: 'null'
        schema:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
      title: OpenAIJSONSchema
      type: object
    OpenAIResponseFormatJSONObject:
      description: JSON object response format for OpenAI-compatible chat completion requests.
      properties:
        type:
          const: json_object
          default: json_object
          title: Type
          type: string
      title: OpenAIResponseFormatJSONObject
      type: object
    OpenAIResponseFormatJSONSchema:
      description: JSON schema response format for OpenAI-compatible chat completion requests.
      properties:
        type:
          const: json_schema
          default: json_schema
          title: Type
          type: string
        json_schema:
          $ref: '#/components/schemas/OpenAIJSONSchema'
      required:
      - json_schema
      title: OpenAIResponseFormatJSONSchema
      type: object
    OpenAIResponseFormatText:
      description: Text response format for OpenAI-compatible chat completion requests.
      properties:
        type:
          const: text
          default: text
          title: Type
          type: string
      title: OpenAIResponseFormatText
      type: object
    OpenAIResponseFormatParam:
      discriminator:
        mapping:
          json_object: '#/components/schemas/OpenAIResponseFormatJSONObject'
          json_schema: '#/components/schemas/OpenAIResponseFormatJSONSchema'
          text: '#/components/schemas/OpenAIResponseFormatText'
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/OpenAIResponseFormatText'
        title: OpenAIResponseFormatText
      - $ref: '#/components/schemas/OpenAIResponseFormatJSONSchema'
        title: OpenAIResponseFormatJSONSchema
      - $ref: '#/components/schemas/OpenAIResponseFormatJSONObject'
        title: OpenAIResponseFormatJSONObject
      title: OpenAIResponseFormatText | OpenAIResponseFormatJSONSchema | OpenAIResponseFormatJSONObject
    VectorStoreChunkingStrategyAuto:
      description: Automatic chunking strategy for vector store files.
      properties:
        type:
          const: auto
          default: auto
          title: Type
          type: string
      title: VectorStoreChunkingStrategyAuto
      type: object
    VectorStoreChunkingStrategyStatic:
      description: Static chunking strategy with configurable parameters.
      properties:
        type:
          const: static
          default: static
          title: Type
          type: string
        static:
          $ref: '#/components/schemas/VectorStoreChunkingStrategyStaticConfig'
      required:
      - static
      title: VectorStoreChunkingStrategyStatic
      type: object
    VectorStoreChunkingStrategyStaticConfig:
      description: Configuration for static chunking strategy.
      properties:
        chunk_overlap_tokens:
          default: 400
          title: Chunk Overlap Tokens
          type: integer
        max_chunk_size_tokens:
          default: 800
          maximum: 4096
          minimum: 100
          title: Max Chunk Size Tokens
          type: integer
      title: VectorStoreChunkingStrategyStaticConfig
      type: object
    VectorStoreChunkingStrategy:
      discriminator:
        mapping:
          auto: '#/components/schemas/VectorStoreChunkingStrategyAuto'
          static: '#/components/schemas/VectorStoreChunkingStrategyStatic'
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/VectorStoreChunkingStrategyAuto'
        title: VectorStoreChunkingStrategyAuto
      - $ref: '#/components/schemas/VectorStoreChunkingStrategyStatic'
        title: VectorStoreChunkingStrategyStatic
      title: VectorStoreChunkingStrategyAuto | VectorStoreChunkingStrategyStatic
    VectorStoreFileStatus:
      type: string
      enum:
      - completed
      - in_progress
      - cancelled
      - failed
      default: completed
    OpenAIResponseInputMessageContentFile:
      description: File content for input messages in OpenAI response format.
      properties:
        type:
          const: input_file
          default: input_file
          title: Type
          type: string
        file_data:
          anyOf:
          - type: string
          - type: 'null'
          nullable: true
        file_id:
          anyOf:
          - type: string
          - type: 'null'
          nullable: true
        file_url:
          anyOf:
          - type: string
          - type: 'null'
          nullable: true
        filename:
          anyOf:
          - type: string
          - type: 'null'
          nullable: true
      title: OpenAIResponseInputMessageContentFile
      type: object
    OpenAIResponseInputMessageContentImage:
      description: Image content for input messages in OpenAI response format.
      properties:
        detail:
          default: auto
          title: Detail
          type: string
          enum:
          - low
          - high
          - auto
        type:
          const: input_image
          default: input_image
          title: Type
          type: string
        file_id:
          anyOf:
          - type: string
          - type: 'null'
          nullable: true
        image_url:
          anyOf:
          - type: string
          - type: 'null'
          nullable: true
      title: OpenAIResponseInputMessageContentImage
      type: object
    OpenAIResponseInputMessageContentText:
      description: Text content for input messages in OpenAI response format.
      properties:
        text:
          title: Text
          type: string
        type:
          const: input_text
          default: input_text
          title: Type
          type: string
      required:
      - text
      title: OpenAIResponseInputMessageContentText
      type: object
    OpenAIResponseInputMessageContent:
      discriminator:
        mapping:
          input_file: '#/components/schemas/OpenAIResponseInputMessageContentFile'
          input_image: '#/components/schemas/OpenAIResponseInputMessageContentImage'
          input_text: '#/components/schemas/OpenAIResponseInputMessageContentText'
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/OpenAIResponseInputMessageContentText'
        title: OpenAIResponseInputMessageContentText
      - $ref: '#/components/schemas/OpenAIResponseInputMessageContentImage'
        title: OpenAIResponseInputMessageContentImage
      - $ref: '#/components/schemas/OpenAIResponseInputMessageContentFile'
        title: OpenAIResponseInputMessageContentFile
      title: OpenAIResponseInputMessageContentText | OpenAIResponseInputMessageContentImage | OpenAIResponseInputMessageContentFile
    OpenAIResponseAnnotationCitation:
      description: URL citation annotation for referencing external web resources.
      properties:
        type:
          const: url_citation
          default: url_citation
          title: Type
          type: string
        end_index:
          title: End Index
          type: integer
        start_index:
          title: Start Index
          type: integer
        title:
          title: Title
          type: string
        url:
          title: Url
          type: string
      required:
      - end_index
      - start_index
      - title
      - url
      title: OpenAIResponseAnnotationCitation
      type: object
    OpenAIResponseAnnotationContainerFileCitation:
      properties:
        type:
          const: container_file_citation
          default: container_file_citation
          title: Type
          type: string
        container_id:
          title: Container Id
          type: string
        end_index:
          title: End Index
          type: integer
        file_id:
          title: File Id
          type: string
        filename:
          title: Filename
          type: string
        start_index:
          title: Start Index
          type: integer
      required:
      - container_id
      - end_index
      - file_id
      - filename
      - start_index
      title: OpenAIResponseAnnotationContainerFileCitation
      type: object
    OpenAIResponseAnnotationFileCitation:
      description: File citation annotation for referencing specific files in response content.
      properties:
        type:
          const: file_citation
          default: file_citation
          title: Type
          type: string
        file_id:
          title: File Id
          type: string
        filename:
          title: Filename
          type: string
        index:
          title: Index
          type: integer
      required:
      - file_id
      - filename
      - index
      title: OpenAIResponseAnnotationFileCitation
      type: object
    OpenAIResponseAnnotationFilePath:
      properties:
        type:
          const: file_path
          default: file_path
          title: Type
          type: string
        file_id:
          title: File Id
          type: string
        index:
          title: Index
          type: integer
      required:
      - file_id
      - index
      title: OpenAIResponseAnnotationFilePath
      type: object
    OpenAIResponseAnnotations:
      discriminator:
        mapping:
          container_file_citation: '#/components/schemas/OpenAIResponseAnnotationContainerFileCitation'
          file_citation: '#/components/schemas/OpenAIResponseAnnotationFileCitation'
          file_path: '#/components/schemas/OpenAIResponseAnnotationFilePath'
          url_citation: '#/components/schemas/OpenAIResponseAnnotationCitation'
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/OpenAIResponseAnnotationFileCitation'
        title: OpenAIResponseAnnotationFileCitation
      - $ref: '#/components/schemas/OpenAIResponseAnnotationCitation'
        title: OpenAIResponseAnnotationCitation
      - $ref: '#/components/schemas/OpenAIResponseAnnotationContainerFileCitation'
        title: OpenAIResponseAnnotationContainerFileCitation
      - $ref: '#/components/schemas/OpenAIResponseAnnotationFilePath'
        title: OpenAIResponseAnnotationFilePath
      title: OpenAIResponseAnnotationFileCitation | ... (4 variants)
    OpenAIResponseContentPartRefusal:
      description: Refusal content within a streamed response part.
      properties:
        type:
          const: refusal
          default: refusal
          title: Type
          type: string
        refusal:
          title: Refusal
          type: string
      required:
      - refusal
      title: OpenAIResponseContentPartRefusal
      type: object
    OpenAIResponseOutputMessageContentOutputText:
      properties:
        text:
          title: Text
          type: string
        type:
          const: output_text
          default: output_text
          title: Type
          type: string
        annotations:
          items:
            discriminator:
              mapping:
                container_file_citation: '#/components/schemas/OpenAIResponseAnnotationContainerFileCitation'
                file_citation: '#/components/schemas/OpenAIResponseAnnotationFileCitation'
                file_path: '#/components/schemas/OpenAIResponseAnnotationFilePath'
                url_citation: '#/components/schemas/OpenAIResponseAnnotationCitation'
              propertyName: type
            oneOf:
            - $ref: '#/components/schemas/OpenAIResponseAnnotationFileCitation'
              title: OpenAIResponseAnnotationFileCitation
            - $ref: '#/components/schemas/OpenAIResponseAnnotationCitation'
              title: OpenAIResponseAnnotationCitation
            - $ref: '#/components/schemas/OpenAIResponseAnnotationContainerFileCitation'
              title: OpenAIResponseAnnotationContainerFileCitation
            - $ref: '#/components/schemas/OpenAIResponseAnnotationFilePath'
              title: OpenAIResponseAnnotationFilePath
            title: OpenAIResponseAnnotationFileCitation | ... (4 variants)
          title: Annotations
          type: array
      required:
      - text
      title: OpenAIResponseOutputMessageContentOutputText
      type: object
    OpenAIResponseOutputMessageContent:
      discriminator:
        mapping:
          output_text: '#/components/schemas/OpenAIResponseOutputMessageContentOutputText'
          refusal: '#/components/schemas/OpenAIResponseContentPartRefusal'
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/OpenAIResponseOutputMessageContentOutputText'
        title: OpenAIResponseOutputMessageContentOutputText
      - $ref: '#/components/schemas/OpenAIResponseContentPartRefusal'
        title: OpenAIResponseContentPartRefusal
      title: OpenAIResponseOutputMessageContentOutputText | OpenAIResponseContentPartRefusal
    MCPListToolsTool:
      description: Tool definition returned by MCP list tools operation.
      properties:
        input_schema:
          additionalProperties: true
          title: Input Schema
          type: object
        name:
          title: Name
          type: string
        description:
          anyOf:
          - type: string
          - type: 'null'
          nullable: true
      required:
      - input_schema
      - name
      title: MCPListToolsTool
      type: object
    OpenAIResponseMCPApprovalRequest:
      description: A request for human approval of a tool invocation.
      properties:
        arguments:
          title: Arguments
          type: string
        id:
          title: Id
          type: string
        name:
          title: Name
          type: string
        server_label:
          title: Server Label
          type: string
        type:
          const: mcp_approval_request
          default: mcp_approval_request
          title: Type
          type: string
      required:
      - arguments
      - id
      - name
      - server_label
      title: OpenAIResponseMCPApprovalRequest
      type: object
    OpenAIResponseMessage:
      description: |-
        Corresponds to the various Message types in the Responses API.
        They are all under one type because the Responses API gives them all
        the same "type" value, and there is no way to tell them apart in certain
        scenarios.
      properties:
        content:
          anyOf:
          - type: string
          - items:
              discriminator:
                mapping:
                  input_file: '#/components/schemas/OpenAIResponseInputMessageContentFile'
                  input_image: '#/components/schemas/OpenAIResponseInputMessageContentImage'
                  input_text: '#/components/schemas/OpenAIResponseInputMessageContentText'
                propertyName: type
              oneOf:
              - $ref: '#/components/schemas/OpenAIResponseInputMessageContentText'
                title: OpenAIResponseInputMessageContentText
              - $ref: '#/components/schemas/OpenAIResponseInputMessageContentImage'
                title: OpenAIResponseInputMessageContentImage
              - $ref: '#/components/schemas/OpenAIResponseInputMessageContentFile'
                title: OpenAIResponseInputMessageContentFile
              title: OpenAIResponseInputMessageContentText | OpenAIResponseInputMessageContentImage | OpenAIResponseInputMessageContentFile
            type: array
            title: list[OpenAIResponseInputMessageContentText | OpenAIResponseInputMessageContentImage | OpenAIResponseInputMessageContentFile]
          - items:
              discriminator:
                mapping:
                  output_text: '#/components/schemas/OpenAIResponseOutputMessageContentOutputText'
                  refusal: '#/components/schemas/OpenAIResponseContentPartRefusal'
                propertyName: type
              oneOf:
              - $ref: '#/components/schemas/OpenAIResponseOutputMessageContentOutputText'
                title: OpenAIResponseOutputMessageContentOutputText
              - $ref: '#/components/schemas/OpenAIResponseContentPartRefusal'
                title: OpenAIResponseContentPartRefusal
              title: OpenAIResponseOutputMessageContentOutputText | OpenAIResponseContentPartRefusal
            type: array
            title: list[OpenAIResponseOutputMessageContentOutputText | OpenAIResponseContentPartRefusal]
          title: string | list[OpenAIResponseInputMessageContentText | OpenAIResponseInputMessageContentImage | OpenAIResponseInputMessageContentFile] | list[OpenAIResponseOutputMessageContentOutputText | OpenAIResponseContentPartRefusal]
        role:
          title: Role
          type: string
          enum:
          - system
          - developer
          - user
          - assistant
          default: system
        type:
          const: message
          default: message
          title: Type
          type: string
        id:
          anyOf:
          - type: string
          - type: 'null'
          nullable: true
        status:
          anyOf:
          - type: string
          - type: 'null'
          nullable: true
      required:
      - content
      - role
      title: OpenAIResponseMessage
      type: object
    OpenAIResponseOutputMessageFileSearchToolCall:
      description: File search tool call output message for OpenAI responses.
      properties:
        id:
          title: Id
          type: string
        queries:
          items:
            type: string
          title: Queries
          type: array
        status:
          title: Status
          type: string
        type:
          const: file_search_call
          default: file_search_call
          title: Type
          type: string
        results:
          anyOf:
          - items:
              $ref: '#/components/schemas/OpenAIResponseOutputMessageFileSearchToolCallResults'
            type: array
          - type: 'null'
          nullable: true
      required:
      - id
      - queries
      - status
      title: OpenAIResponseOutputMessageFileSearchToolCall
      type: object
    OpenAIResponseOutputMessageFileSearchToolCallResults:
      description: Search results returned by the file search operation.
      properties:
        attributes:
          additionalProperties: true
          title: Attributes
          type: object
        file_id:
          title: File Id
          type: string
        filename:
          title: Filename
          type: string
        score:
          title: Score
          type: number
        text:
          title: Text
          type: string
      required:
      - attributes
      - file_id
      - filename
      - score
      - text
      title: OpenAIResponseOutputMessageFileSearchToolCallResults
      type: object
    OpenAIResponseOutputMessageFunctionToolCall:
      description: Function tool call output message for OpenAI responses.
      properties:
        call_id:
          title: Call Id
          type: string
        name:
          title: Name
          type: string
        arguments:
          title: Arguments
          type: string
        type:
          const: function_call
          default: function_call
          title: Type
          type: string
        id:
          anyOf:
          - type: string
          - type: 'null'
          nullable: true
        status:
          anyOf:
          - type: string
          - type: 'null'
          nullable: true
      required:
      - call_id
      - name
      - arguments
      title: OpenAIResponseOutputMessageFunctionToolCall
      type: object
    OpenAIResponseOutputMessageMCPCall:
      description: Model Context Protocol (MCP) call output message for OpenAI responses.
      properties:
        id:
          title: Id
          type: string
        type:
          const: mcp_call
          default: mcp_call
          title: Type
          type: string
        arguments:
          title: Arguments
          type: string
        name:
          title: Name
          type: string
        server_label:
          title: Server Label
          type: string
        error:
          anyOf:
          - type: string
          - type: 'null'
          nullable: true
        output:
          anyOf:
          - type: string
          - type: 'null'
          nullable: true
      required:
      - id
      - arguments
      - name
      - server_label
      title: OpenAIResponseOutputMessageMCPCall
      type: object
    OpenAIResponseOutputMessageMCPListTools:
      description: MCP list tools output message containing available tools from an MCP server.
      properties:
        id:
          title: Id
          type: string
        type:
          const: mcp_list_tools
          default: mcp_list_tools
          title: Type
          type: string
        server_label:
          title: Server Label
          type: string
        tools:
          items:
            $ref: '#/components/schemas/MCPListToolsTool'
          title: Tools
          type: array
      required:
      - id
      - server_label
      - tools
      title: OpenAIResponseOutputMessageMCPListTools
      type: object
    OpenAIResponseOutputMessageWebSearchToolCall:
      description: Web search tool call output message for OpenAI responses.
      properties:
        id:
          title: Id
          type: string
        status:
          title: Status
          type: string
        type:
          const: web_search_call
          default: web_search_call
          title: Type
          type: string
      required:
      - id
      - status
      title: OpenAIResponseOutputMessageWebSearchToolCall
      type: object
    OpenAIResponseOutput:
      discriminator:
        mapping:
          file_search_call: '#/components/schemas/OpenAIResponseOutputMessageFileSearchToolCall'
          function_call: '#/components/schemas/OpenAIResponseOutputMessageFunctionToolCall'
          mcp_approval_request: '#/components/schemas/OpenAIResponseMCPApprovalRequest'
          mcp_call: '#/components/schemas/OpenAIResponseOutputMessageMCPCall'
          mcp_list_tools: '#/components/schemas/OpenAIResponseOutputMessageMCPListTools'
          message: '#/components/schemas/OpenAIResponseMessage'
          web_search_call: '#/components/schemas/OpenAIResponseOutputMessageWebSearchToolCall'
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/OpenAIResponseMessage'
        title: OpenAIResponseMessage
      - $ref: '#/components/schemas/OpenAIResponseOutputMessageWebSearchToolCall'
        title: OpenAIResponseOutputMessageWebSearchToolCall
      - $ref: '#/components/schemas/OpenAIResponseOutputMessageFileSearchToolCall'
        title: OpenAIResponseOutputMessageFileSearchToolCall
      - $ref: '#/components/schemas/OpenAIResponseOutputMessageFunctionToolCall'
        title: OpenAIResponseOutputMessageFunctionToolCall
      - $ref: '#/components/schemas/OpenAIResponseOutputMessageMCPCall'
        title: OpenAIResponseOutputMessageMCPCall
      - $ref: '#/components/schemas/OpenAIResponseOutputMessageMCPListTools'
        title: OpenAIResponseOutputMessageMCPListTools
      - $ref: '#/components/schemas/OpenAIResponseMCPApprovalRequest'
        title: OpenAIResponseMCPApprovalRequest
      title: OpenAIResponseMessage | ... (7 variants)
    AllowedToolsFilter:
      description: Filter configuration for restricting which MCP tools can be used.
      properties:
        tool_names:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          nullable: true
      title: AllowedToolsFilter
      type: object
    ApprovalFilter:
      description: Filter configuration for MCP tool approval requirements.
      properties:
        always:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          nullable: true
        never:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          nullable: true
      title: ApprovalFilter
      type: object
    OpenAIResponseInputToolFileSearch:
      description: File search tool configuration for OpenAI response inputs.
      properties:
        type:
          const: file_search
          default: file_search
          title: Type
          type: string
        vector_store_ids:
          items:
            type: string
          title: Vector Store Ids
          type: array
        filters:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          nullable: true
        max_num_results:
          anyOf:
          - maximum: 50
            minimum: 1
            type: integer
          - type: 'null'
          default: 10
        ranking_options:
          anyOf:
          - $ref: '#/components/schemas/SearchRankingOptions'
            title: SearchRankingOptions
          - type: 'null'
          nullable: true
          title: SearchRankingOptions
      required:
      - vector_store_ids
      title: OpenAIResponseInputToolFileSearch
      type: object
    OpenAIResponseInputToolFunction:
      description: Function tool configuration for OpenAI response inputs.
      properties:
        type:
          const: function
          default: function
          title: Type
          type: string
        name:
          title: Name
          type: string
        description:
          anyOf:
          - type: string
          - type: 'null'
          nullable: true
        parameters:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
        strict:
          anyOf:
          - type: boolean
          - type: 'null'
          nullable: true
      required:
      - name
      - parameters
      title: OpenAIResponseInputToolFunction
      type: object
    OpenAIResponseInputToolMCP:
      description: Model Context Protocol (MCP) tool configuration for OpenAI response inputs.
      properties:
        type:
          const: mcp
          default: mcp
          title: Type
          type: string
        server_label:
          title: Server Label
          type: string
        server_url:
          title: Server Url
          type: string
        headers:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          nullable: true
        authorization:
          anyOf:
          - type: string
          - type: 'null'
          nullable: true
        require_approval:
          anyOf:
          - const: always
            type: string
          - const: never
            type: string
          - $ref: '#/components/schemas/ApprovalFilter'
            title: ApprovalFilter
          default: never
          title: string | ApprovalFilter
        allowed_tools:
          anyOf:
          - items:
              type: string
            type: array
            title: list[string]
          - $ref: '#/components/schemas/AllowedToolsFilter'
            title: AllowedToolsFilter
          - type: 'null'
          title: list[string] | AllowedToolsFilter
          nullable: true
      required:
      - server_label
      - server_url
      title: OpenAIResponseInputToolMCP
      type: object
    OpenAIResponseInputToolWebSearch:
      description: Web search tool configuration for OpenAI response inputs.
      properties:
        type:
          default: web_search
          title: Type
          type: string
          enum:
          - web_search
          - web_search_preview
          - web_search_preview_2025_03_11
          - web_search_2025_08_26
        search_context_size:
          anyOf:
          - pattern: ^low|medium|high$
            type: string
          - type: 'null'
          default: medium
      title: OpenAIResponseInputToolWebSearch
      type: object
    SearchRankingOptions:
      description: Options for ranking and filtering search results.
      properties:
        ranker:
          anyOf:
          - type: string
          - type: 'null'
          nullable: true
        score_threshold:
          anyOf:
          - type: number
          - type: 'null'
          default: 0.0
      title: SearchRankingOptions
      type: object
    OpenAIResponseInputTool:
      discriminator:
        mapping:
          file_search: '#/components/schemas/OpenAIResponseInputToolFileSearch'
          function: '#/components/schemas/OpenAIResponseInputToolFunction'
          mcp: '#/components/schemas/OpenAIResponseInputToolMCP'
          web_search: '#/components/schemas/OpenAIResponseInputToolWebSearch'
          web_search_2025_08_26: '#/components/schemas/OpenAIResponseInputToolWebSearch'
          web_search_preview: '#/components/schemas/OpenAIResponseInputToolWebSearch'
          web_search_preview_2025_03_11: '#/components/schemas/OpenAIResponseInputToolWebSearch'
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/OpenAIResponseInputToolWebSearch'
        title: OpenAIResponseInputToolWebSearch
      - $ref: '#/components/schemas/OpenAIResponseInputToolFileSearch'
        title: OpenAIResponseInputToolFileSearch
      - $ref: '#/components/schemas/OpenAIResponseInputToolFunction'
        title: OpenAIResponseInputToolFunction
      - $ref: '#/components/schemas/OpenAIResponseInputToolMCP'
        title: OpenAIResponseInputToolMCP
      title: OpenAIResponseInputToolWebSearch | ... (4 variants)
    OpenAIResponseToolMCP:
      description: Model Context Protocol (MCP) tool configuration for OpenAI response object.
      properties:
        type:
          const: mcp
          default: mcp
          title: Type
          type: string
        server_label:
          title: Server Label
          type: string
        allowed_tools:
          anyOf:
          - items:
              type: string
            type: array
            title: list[string]
          - $ref: '#/components/schemas/AllowedToolsFilter'
            title: AllowedToolsFilter
          - type: 'null'
          title: list[string] | AllowedToolsFilter
          nullable: true
      required:
      - server_label
      title: OpenAIResponseToolMCP
      type: object
    OpenAIResponseTool:
      discriminator:
        mapping:
          file_search: '#/components/schemas/OpenAIResponseInputToolFileSearch'
          function: '#/components/schemas/OpenAIResponseInputToolFunction'
          mcp: '#/components/schemas/OpenAIResponseToolMCP'
          web_search: '#/components/schemas/OpenAIResponseInputToolWebSearch'
          web_search_2025_08_26: '#/components/schemas/OpenAIResponseInputToolWebSearch'
          web_search_preview: '#/components/schemas/OpenAIResponseInputToolWebSearch'
          web_search_preview_2025_03_11: '#/components/schemas/OpenAIResponseInputToolWebSearch'
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/OpenAIResponseInputToolWebSearch'
        title: OpenAIResponseInputToolWebSearch
      - $ref: '#/components/schemas/OpenAIResponseInputToolFileSearch'
        title: OpenAIResponseInputToolFileSearch
      - $ref: '#/components/schemas/OpenAIResponseInputToolFunction'
        title: OpenAIResponseInputToolFunction
      - $ref: '#/components/schemas/OpenAIResponseToolMCP'
        title: OpenAIResponseToolMCP
      title: OpenAIResponseInputToolWebSearch | ... (4 variants)
    OpenAIResponseContentPartOutputText:
      description: Text content within a streamed response part.
      properties:
        type:
          const: output_text
          default: output_text
          title: Type
          type: string
        text:
          title: Text
          type: string
        annotations:
          items:
            discriminator:
              mapping:
                container_file_citation: '#/components/schemas/OpenAIResponseAnnotationContainerFileCitation'
                file_citation: '#/components/schemas/OpenAIResponseAnnotationFileCitation'
                file_path: '#/components/schemas/OpenAIResponseAnnotationFilePath'
                url_citation: '#/components/schemas/OpenAIResponseAnnotationCitation'
              propertyName: type
            oneOf:
            - $ref: '#/components/schemas/OpenAIResponseAnnotationFileCitation'
              title: OpenAIResponseAnnotationFileCitation
            - $ref: '#/components/schemas/OpenAIResponseAnnotationCitation'
              title: OpenAIResponseAnnotationCitation
            - $ref: '#/components/schemas/OpenAIResponseAnnotationContainerFileCitation'
              title: OpenAIResponseAnnotationContainerFileCitation
            - $ref: '#/components/schemas/OpenAIResponseAnnotationFilePath'
              title: OpenAIResponseAnnotationFilePath
            title: OpenAIResponseAnnotationFileCitation | ... (4 variants)
          title: Annotations
          type: array
        logprobs:
          anyOf:
          - items:
              additionalProperties: true
              type: object
            type: array
          - type: 'null'
          nullable: true
      required:
      - text
      title: OpenAIResponseContentPartOutputText
      type: object
    OpenAIResponseContentPartReasoningText:
      description: Reasoning text emitted as part of a streamed response.
      properties:
        type:
          const: reasoning_text
          default: reasoning_text
          title: Type
          type: string
        text:
          title: Text
          type: string
      required:
      - text
      title: OpenAIResponseContentPartReasoningText
      type: object
    OpenAIResponseContentPart:
      discriminator:
        mapping:
          output_text: '#/components/schemas/OpenAIResponseContentPartOutputText'
          reasoning_text: '#/components/schemas/OpenAIResponseContentPartReasoningText'
          refusal: '#/components/schemas/OpenAIResponseContentPartRefusal'
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/OpenAIResponseContentPartOutputText'
        title: OpenAIResponseContentPartOutputText
      - $ref: '#/components/schemas/OpenAIResponseContentPartRefusal'
        title: OpenAIResponseContentPartRefusal
      - $ref: '#/components/schemas/OpenAIResponseContentPartReasoningText'
        title: OpenAIResponseContentPartReasoningText
      title: OpenAIResponseContentPartOutputText | OpenAIResponseContentPartRefusal | OpenAIResponseContentPartReasoningText
    OpenAIResponseContentPartReasoningSummary:
      description: Reasoning summary part in a streamed response.
      properties:
        type:
          const: summary_text
          default: summary_text
          title: Type
          type: string
        text:
          title: Text
          type: string
      required:
      - text
      title: OpenAIResponseContentPartReasoningSummary
      type: object
    OpenAIResponseError:
      description: Error details for failed OpenAI response requests.
      properties:
        code:
          title: Code
          type: string
        message:
          title: Message
          type: string
      required:
      - code
      - message
      title: OpenAIResponseError
      type: object
    OpenAIResponseObject:
      description: Complete OpenAI response object containing generation results and metadata.
      properties:
        created_at:
          title: Created At
          type: integer
        error:
          anyOf:
          - $ref: '#/components/schemas/OpenAIResponseError'
            title: OpenAIResponseError
          - type: 'null'
          nullable: true
          title: OpenAIResponseError
        id:
          title: Id
          type: string
        model:
          title: Model
          type: string
        object:
          const: response
          default: response
          title: Object
          type: string
        output:
          items:
            discriminator:
              mapping:
                file_search_call: '#/components/schemas/OpenAIResponseOutputMessageFileSearchToolCall'
                function_call: '#/components/schemas/OpenAIResponseOutputMessageFunctionToolCall'
                mcp_approval_request: '#/components/schemas/OpenAIResponseMCPApprovalRequest'
                mcp_call: '#/components/schemas/OpenAIResponseOutputMessageMCPCall'
                mcp_list_tools: '#/components/schemas/OpenAIResponseOutputMessageMCPListTools'
                message: '#/components/schemas/OpenAIResponseMessage'
                web_search_call: '#/components/schemas/OpenAIResponseOutputMessageWebSearchToolCall'
              propertyName: type
            oneOf:
            - $ref: '#/components/schemas/OpenAIResponseMessage'
              title: OpenAIResponseMessage
            - $ref: '#/components/schemas/OpenAIResponseOutputMessageWebSearchToolCall'
              title: OpenAIResponseOutputMessageWebSearchToolCall
            - $ref: '#/components/schemas/OpenAIResponseOutputMessageFileSearchToolCall'
              title: OpenAIResponseOutputMessageFileSearchToolCall
            - $ref: '#/components/schemas/OpenAIResponseOutputMessageFunctionToolCall'
              title: OpenAIResponseOutputMessageFunctionToolCall
            - $ref: '#/components/schemas/OpenAIResponseOutputMessageMCPCall'
              title: OpenAIResponseOutputMessageMCPCall
            - $ref: '#/components/schemas/OpenAIResponseOutputMessageMCPListTools'
              title: OpenAIResponseOutputMessageMCPListTools
            - $ref: '#/components/schemas/OpenAIResponseMCPApprovalRequest'
              title: OpenAIResponseMCPApprovalRequest
            title: OpenAIResponseMessage | ... (7 variants)
          title: Output
          type: array
        parallel_tool_calls:
          default: false
          title: Parallel Tool Calls
          type: boolean
        previous_response_id:
          anyOf:
          - type: string
          - type: 'null'
          nullable: true
        prompt:
          anyOf:
          - $ref: '#/components/schemas/OpenAIResponsePrompt'
            title: OpenAIResponsePrompt
          - type: 'null'
          nullable: true
          title: OpenAIResponsePrompt
        status:
          title: Status
          type: string
        temperature:
          anyOf:
          - type: number
          - type: 'null'
          nullable: true
        text:
          $ref: '#/components/schemas/OpenAIResponseText'
          default:
            format:
              type: text
        top_p:
          anyOf:
          - type: number
          - type: 'null'
          nullable: true
        tools:
          anyOf:
          - items:
              discriminator:
                mapping:
                  file_search: '#/components/schemas/OpenAIResponseInputToolFileSearch'
                  function: '#/components/schemas/OpenAIResponseInputToolFunction'
                  mcp: '#/components/schemas/OpenAIResponseToolMCP'
                  web_search: '#/components/schemas/OpenAIResponseInputToolWebSearch'
                  web_search_2025_08_26: '#/components/schemas/OpenAIResponseInputToolWebSearch'
                  web_search_preview: '#/components/schemas/OpenAIResponseInputToolWebSearch'
                  web_search_preview_2025_03_11: '#/components/schemas/OpenAIResponseInputToolWebSearch'
                propertyName: type
              oneOf:
              - $ref: '#/components/schemas/OpenAIResponseInputToolWebSearch'
                title: OpenAIResponseInputToolWebSearch
              - $ref: '#/components/schemas/OpenAIResponseInputToolFileSearch'
                title: OpenAIResponseInputToolFileSearch
              - $ref: '#/components/schemas/OpenAIResponseInputToolFunction'
                title: OpenAIResponseInputToolFunction
              - $ref: '#/components/schemas/OpenAIResponseToolMCP'
                title: OpenAIResponseToolMCP
              title: OpenAIResponseInputToolWebSearch | ... (4 variants)
            type: array
          - type: 'null'
          nullable: true
        truncation:
          anyOf:
          - type: string
          - type: 'null'
          nullable: true
        usage:
          anyOf:
          - $ref: '#/components/schemas/OpenAIResponseUsage'
            title: OpenAIResponseUsage
          - type: 'null'
          nullable: true
          title: OpenAIResponseUsage
        instructions:
          anyOf:
          - type: string
          - type: 'null'
          nullable: true
        max_tool_calls:
          anyOf:
          - type: integer
          - type: 'null'
          nullable: true
      required:
      - created_at
      - id
      - model
      - output
      - status
      title: OpenAIResponseObject
      type: object
    OpenAIResponseObjectStreamResponseCompleted:
      description: Streaming event indicating a response has been completed.
      properties:
        response:
          $ref: '#/components/schemas/OpenAIResponseObject'
        type:
          const: response.completed
          default: response.completed
          title: Type
          type: string
      required:
      - response
      title: OpenAIResponseObjectStreamResponseCompleted
      type: object
    OpenAIResponseObjectStreamResponseContentPartAdded:
      description: Streaming event for when a new content part is added to a response item.
      properties:
        content_index:
          title: Content Index
          type: integer
        response_id:
          title: Response Id
          type: string
        item_id:
          title: Item Id
          type: string
        output_index:
          title: Output Index
          type: integer
        part:
          discriminator:
            mapping:
              output_text: '#/components/schemas/OpenAIResponseContentPartOutputText'
              reasoning_text: '#/components/schemas/OpenAIResponseContentPartReasoningText'
              refusal: '#/components/schemas/OpenAIResponseContentPartRefusal'
            propertyName: type
          oneOf:
          - $ref: '#/components/schemas/OpenAIResponseContentPartOutputText'
            title: OpenAIResponseContentPartOutputText
          - $ref: '#/components/schemas/OpenAIResponseContentPartRefusal'
            title: OpenAIResponseContentPartRefusal
          - $ref: '#/components/schemas/OpenAIResponseContentPartReasoningText'
            title: OpenAIResponseContentPartReasoningText
          title: OpenAIResponseContentPartOutputText | OpenAIResponseContentPartRefusal | OpenAIResponseContentPartReasoningText
        sequence_number:
          title: Sequence Number
          type: integer
        type:
          const: response.content_part.added
          default: response.content_part.added
          title: Type
          type: string
      required:
      - content_index
      - response_id
      - item_id
      - output_index
      - part
      - sequence_number
      title: OpenAIResponseObjectStreamResponseContentPartAdded
      type: object
    OpenAIResponseObjectStreamResponseContentPartDone:
      description: Streaming event for when a content part is completed.
      properties:
        content_index:
          title: Content Index
          type: integer
        response_id:
          title: Response Id
          type: string
        item_id:
          title: Item Id
          type: string
        output_index:
          title: Output Index
          type: integer
        part:
          discriminator:
            mapping:
              output_text: '#/components/schemas/OpenAIResponseContentPartOutputText'
              reasoning_text: '#/components/schemas/OpenAIResponseContentPartReasoningText'
              refusal: '#/components/schemas/OpenAIResponseContentPartRefusal'
            propertyName: type
          oneOf:
          - $ref: '#/components/schemas/OpenAIResponseContentPartOutputText'
            title: OpenAIResponseContentPartOutputText
          - $ref: '#/components/schemas/OpenAIResponseContentPartRefusal'
            title: OpenAIResponseContentPartRefusal
          - $ref: '#/components/schemas/OpenAIResponseContentPartReasoningText'
            title: OpenAIResponseContentPartReasoningText
          title: OpenAIResponseContentPartOutputText | OpenAIResponseContentPartRefusal | OpenAIResponseContentPartReasoningText
        sequence_number:
          title: Sequence Number
          type: integer
        type:
          const: response.content_part.done
          default: response.content_part.done
          title: Type
          type: string
      required:
      - content_index
      - response_id
      - item_id
      - output_index
      - part
      - sequence_number
      title: OpenAIResponseObjectStreamResponseContentPartDone
      type: object
    OpenAIResponseObjectStreamResponseCreated:
      description: Streaming event indicating a new response has been created.
      properties:
        response:
          $ref: '#/components/schemas/OpenAIResponseObject'
        type:
          const: response.created
          default: response.created
          title: Type
          type: string
      required:
      - response
      title: OpenAIResponseObjectStreamResponseCreated
      type: object
    OpenAIResponseObjectStreamResponseFailed:
      description: Streaming event emitted when a response fails.
      properties:
        response:
          $ref: '#/components/schemas/OpenAIResponseObject'
        sequence_number:
          title: Sequence Number
          type: integer
        type:
          const: response.failed
          default: response.failed
          title: Type
          type: string
      required:
      - response
      - sequence_number
      title: OpenAIResponseObjectStreamResponseFailed
      type: object
    OpenAIResponseObjectStreamResponseFileSearchCallCompleted:
      description: Streaming event for completed file search calls.
      properties:
        item_id:
          title: Item Id
          type: string
        output_index:
          title: Output Index
          type: integer
        sequence_number:
          title: Sequence Number
          type: integer
        type:
          const: response.file_search_call.completed
          default: response.file_search_call.completed
          title: Type
          type: string
      required:
      - item_id
      - output_index
      - sequence_number
      title: OpenAIResponseObjectStreamResponseFileSearchCallCompleted
      type: object
    OpenAIResponseObjectStreamResponseFileSearchCallInProgress:
      description: Streaming event for file search calls in progress.
      properties:
        item_id:
          title: Item Id
          type: string
        output_index:
          title: Output Index
          type: integer
        sequence_number:
          title: Sequence Number
          type: integer
        type:
          const: response.file_search_call.in_progress
          default: response.file_search_call.in_progress
          title: Type
          type: string
      required:
      - item_id
      - output_index
      - sequence_number
      title: OpenAIResponseObjectStreamResponseFileSearchCallInProgress
      type: object
    OpenAIResponseObjectStreamResponseFileSearchCallSearching:
      description: Streaming event for file search currently searching.
      properties:
        item_id:
          title: Item Id
          type: string
        output_index:
          title: Output Index
          type: integer
        sequence_number:
          title: Sequence Number
          type: integer
        type:
          const: response.file_search_call.searching
          default: response.file_search_call.searching
          title: Type
          type: string
      required:
      - item_id
      - output_index
      - sequence_number
      title: OpenAIResponseObjectStreamResponseFileSearchCallSearching
      type: object
    OpenAIResponseObjectStreamResponseFunctionCallArgumentsDelta:
      description: Streaming event for incremental function call argument updates.
      properties:
        delta:
          title: Delta
          type: string
        item_id:
          title: Item Id
          type: string
        output_index:
          title: Output Index
          type: integer
        sequence_number:
          title: Sequence Number
          type: integer
        type:
          const: response.function_call_arguments.delta
          default: response.function_call_arguments.delta
          title: Type
          type: string
      required:
      - delta
      - item_id
      - output_index
      - sequence_number
      title: OpenAIResponseObjectStreamResponseFunctionCallArgumentsDelta
      type: object
    OpenAIResponseObjectStreamResponseFunctionCallArgumentsDone:
      description: Streaming event for when function call arguments are completed.
      properties:
        arguments:
          title: Arguments
          type: string
        item_id:
          title: Item Id
          type: string
        output_index:
          title: Output Index
          type: integer
        sequence_number:
          title: Sequence Number
          type: integer
        type:
          const: response.function_call_arguments.done
          default: response.function_call_arguments.done
          title: Type
          type: string
      required:
      - arguments
      - item_id
      - output_index
      - sequence_number
      title: OpenAIResponseObjectStreamResponseFunctionCallArgumentsDone
      type: object
    OpenAIResponseObjectStreamResponseInProgress:
      description: Streaming event indicating the response remains in progress.
      properties:
        response:
          $ref: '#/components/schemas/OpenAIResponseObject'
        sequence_number:
          title: Sequence Number
          type: integer
        type:
          const: response.in_progress
          default: response.in_progress
          title: Type
          type: string
      required:
      - response
      - sequence_number
      title: OpenAIResponseObjectStreamResponseInProgress
      type: object
    OpenAIResponseObjectStreamResponseIncomplete:
      description: Streaming event emitted when a response ends in an incomplete state.
      properties:
        response:
          $ref: '#/components/schemas/OpenAIResponseObject'
        sequence_number:
          title: Sequence Number
          type: integer
        type:
          const: response.incomplete
          default: response.incomplete
          title: Type
          type: string
      required:
      - response
      - sequence_number
      title: OpenAIResponseObjectStreamResponseIncomplete
      type: object
    OpenAIResponseObjectStreamResponseMcpCallArgumentsDelta:
      properties:
        delta:
          title: Delta
          type: string
        item_id:
          title: Item Id
          type: string
        output_index:
          title: Output Index
          type: integer
        sequence_number:
          title: Sequence Number
          type: integer
        type:
          const: response.mcp_call.arguments.delta
          default: response.mcp_call.arguments.delta
          title: Type
          type: string
      required:
      - delta
      - item_id
      - output_index
      - sequence_number
      title: OpenAIResponseObjectStreamResponseMcpCallArgumentsDelta
      type: object
    OpenAIResponseObjectStreamResponseMcpCallArgumentsDone:
      properties:
        arguments:
          title: Arguments
          type: string
        item_id:
          title: Item Id
          type: string
        output_index:
          title: Output Index
          type: integer
        sequence_number:
          title: Sequence Number
          type: integer
        type:
          const: response.mcp_call.arguments.done
          default: response.mcp_call.arguments.done
          title: Type
          type: string
      required:
      - arguments
      - item_id
      - output_index
      - sequence_number
      title: OpenAIResponseObjectStreamResponseMcpCallArgumentsDone
      type: object
    OpenAIResponseObjectStreamResponseMcpCallCompleted:
      description: Streaming event for completed MCP calls.
      properties:
        sequence_number:
          title: Sequence Number
          type: integer
        type:
          const: response.mcp_call.completed
          default: response.mcp_call.completed
          title: Type
          type: string
      required:
      - sequence_number
      title: OpenAIResponseObjectStreamResponseMcpCallCompleted
      type: object
    OpenAIResponseObjectStreamResponseMcpCallFailed:
      description: Streaming event for failed MCP calls.
      properties:
        sequence_number:
          title: Sequence Number
          type: integer
        type:
          const: response.mcp_call.failed
          default: response.mcp_call.failed
          title: Type
          type: string
      required:
      - sequence_number
      title: OpenAIResponseObjectStreamResponseMcpCallFailed
      type: object
    OpenAIResponseObjectStreamResponseMcpCallInProgress:
      description: Streaming event for MCP calls in progress.
      properties:
        item_id:
          title: Item Id
          type: string
        output_index:
          title: Output Index
          type: integer
        sequence_number:
          title: Sequence Number
          type: integer
        type:
          const: response.mcp_call.in_progress
          default: response.mcp_call.in_progress
          title: Type
          type: string
      required:
      - item_id
      - output_index
      - sequence_number
      title: OpenAIResponseObjectStreamResponseMcpCallInProgress
      type: object
    OpenAIResponseObjectStreamResponseMcpListToolsCompleted:
      properties:
        sequence_number:
          title: Sequence Number
          type: integer
        type:
          const: response.mcp_list_tools.completed
          default: response.mcp_list_tools.completed
          title: Type
          type: string
      required:
      - sequence_number
      title: OpenAIResponseObjectStreamResponseMcpListToolsCompleted
      type: object
    OpenAIResponseObjectStreamResponseMcpListToolsFailed:
      properties:
        sequence_number:
          title: Sequence Number
          type: integer
        type:
          const: response.mcp_list_tools.failed
          default: response.mcp_list_tools.failed
          title: Type
          type: string
      required:
      - sequence_number
      title: OpenAIResponseObjectStreamResponseMcpListToolsFailed
      type: object
    OpenAIResponseObjectStreamResponseMcpListToolsInProgress:
      properties:
        sequence_number:
          title: Sequence Number
          type: integer
        type:
          const: response.mcp_list_tools.in_progress
          default: response.mcp_list_tools.in_progress
          title: Type
          type: string
      required:
      - sequence_number
      title: OpenAIResponseObjectStreamResponseMcpListToolsInProgress
      type: object
    OpenAIResponseObjectStreamResponseOutputItemAdded:
      description: Streaming event for when a new output item is added to the response.
      properties:
        response_id:
          title: Response Id
          type: string
        item:
          discriminator:
            mapping:
              file_search_call: '#/components/schemas/OpenAIResponseOutputMessageFileSearchToolCall'
              function_call: '#/components/schemas/OpenAIResponseOutputMessageFunctionToolCall'
              mcp_approval_request: '#/components/schemas/OpenAIResponseMCPApprovalRequest'
              mcp_call: '#/components/schemas/OpenAIResponseOutputMessageMCPCall'
              mcp_list_tools: '#/components/schemas/OpenAIResponseOutputMessageMCPListTools'
              message: '#/components/schemas/OpenAIResponseMessage'
              web_search_call: '#/components/schemas/OpenAIResponseOutputMessageWebSearchToolCall'
            propertyName: type
          oneOf:
          - $ref: '#/components/schemas/OpenAIResponseMessage'
            title: OpenAIResponseMessage
          - $ref: '#/components/schemas/OpenAIResponseOutputMessageWebSearchToolCall'
            title: OpenAIResponseOutputMessageWebSearchToolCall
          - $ref: '#/components/schemas/OpenAIResponseOutputMessageFileSearchToolCall'
            title: OpenAIResponseOutputMessageFileSearchToolCall
          - $ref: '#/components/schemas/OpenAIResponseOutputMessageFunctionToolCall'
            title: OpenAIResponseOutputMessageFunctionToolCall
          - $ref: '#/components/schemas/OpenAIResponseOutputMessageMCPCall'
            title: OpenAIResponseOutputMessageMCPCall
          - $ref: '#/components/schemas/OpenAIResponseOutputMessageMCPListTools'
            title: OpenAIResponseOutputMessageMCPListTools
          - $ref: '#/components/schemas/OpenAIResponseMCPApprovalRequest'
            title: OpenAIResponseMCPApprovalRequest
          title: OpenAIResponseMessage | ... (7 variants)
        output_index:
          title: Output Index
          type: integer
        sequence_number:
          title: Sequence Number
          type: integer
        type:
          const: response.output_item.added
          default: response.output_item.added
          title: Type
          type: string
      required:
      - response_id
      - item
      - output_index
      - sequence_number
      title: OpenAIResponseObjectStreamResponseOutputItemAdded
      type: object
    OpenAIResponseObjectStreamResponseOutputItemDone:
      description: Streaming event for when an output item is completed.
      properties:
        response_id:
          title: Response Id
          type: string
        item:
          discriminator:
            mapping:
              file_search_call: '#/components/schemas/OpenAIResponseOutputMessageFileSearchToolCall'
              function_call: '#/components/schemas/OpenAIResponseOutputMessageFunctionToolCall'
              mcp_approval_request: '#/components/schemas/OpenAIResponseMCPApprovalRequest'
              mcp_call: '#/components/schemas/OpenAIResponseOutputMessageMCPCall'
              mcp_list_tools: '#/components/schemas/OpenAIResponseOutputMessageMCPListTools'
              message: '#/components/schemas/OpenAIResponseMessage'
              web_search_call: '#/components/schemas/OpenAIResponseOutputMessageWebSearchToolCall'
            propertyName: type
          oneOf:
          - $ref: '#/components/schemas/OpenAIResponseMessage'
            title: OpenAIResponseMessage
          - $ref: '#/components/schemas/OpenAIResponseOutputMessageWebSearchToolCall'
            title: OpenAIResponseOutputMessageWebSearchToolCall
          - $ref: '#/components/schemas/OpenAIResponseOutputMessageFileSearchToolCall'
            title: OpenAIResponseOutputMessageFileSearchToolCall
          - $ref: '#/components/schemas/OpenAIResponseOutputMessageFunctionToolCall'
            title: OpenAIResponseOutputMessageFunctionToolCall
          - $ref: '#/components/schemas/OpenAIResponseOutputMessageMCPCall'
            title: OpenAIResponseOutputMessageMCPCall
          - $ref: '#/components/schemas/OpenAIResponseOutputMessageMCPListTools'
            title: OpenAIResponseOutputMessageMCPListTools
          - $ref: '#/components/schemas/OpenAIResponseMCPApprovalRequest'
            title: OpenAIResponseMCPApprovalRequest
          title: OpenAIResponseMessage | ... (7 variants)
        output_index:
          title: Output Index
          type: integer
        sequence_number:
          title: Sequence Number
          type: integer
        type:
          const: response.output_item.done
          default: response.output_item.done
          title: Type
          type: string
      required:
      - response_id
      - item
      - output_index
      - sequence_number
      title: OpenAIResponseObjectStreamResponseOutputItemDone
      type: object
    OpenAIResponseObjectStreamResponseOutputTextAnnotationAdded:
      description: Streaming event for when an annotation is added to output text.
      properties:
        item_id:
          title: Item Id
          type: string
        output_index:
          title: Output Index
          type: integer
        content_index:
          title: Content Index
          type: integer
        annotation_index:
          title: Annotation Index
          type: integer
        annotation:
          discriminator:
            mapping:
              container_file_citation: '#/components/schemas/OpenAIResponseAnnotationContainerFileCitation'
              file_citation: '#/components/schemas/OpenAIResponseAnnotationFileCitation'
              file_path: '#/components/schemas/OpenAIResponseAnnotationFilePath'
              url_citation: '#/components/schemas/OpenAIResponseAnnotationCitation'
            propertyName: type
          oneOf:
          - $ref: '#/components/schemas/OpenAIResponseAnnotationFileCitation'
            title: OpenAIResponseAnnotationFileCitation
          - $ref: '#/components/schemas/OpenAIResponseAnnotationCitation'
            title: OpenAIResponseAnnotationCitation
          - $ref: '#/components/schemas/OpenAIResponseAnnotationContainerFileCitation'
            title: OpenAIResponseAnnotationContainerFileCitation
          - $ref: '#/components/schemas/OpenAIResponseAnnotationFilePath'
            title: OpenAIResponseAnnotationFilePath
          title: OpenAIResponseAnnotationFileCitation | ... (4 variants)
        sequence_number:
          title: Sequence Number
          type: integer
        type:
          const: response.output_text.annotation.added
          default: response.output_text.annotation.added
          title: Type
          type: string
      required:
      - item_id
      - output_index
      - content_index
      - annotation_index
      - annotation
      - sequence_number
      title: OpenAIResponseObjectStreamResponseOutputTextAnnotationAdded
      type: object
    OpenAIResponseObjectStreamResponseOutputTextDelta:
      description: Streaming event for incremental text content updates.
      properties:
        content_index:
          title: Content Index
          type: integer
        delta:
          title: Delta
          type: string
        item_id:
          title: Item Id
          type: string
        output_index:
          title: Output Index
          type: integer
        sequence_number:
          title: Sequence Number
          type: integer
        type:
          const: response.output_text.delta
          default: response.output_text.delta
          title: Type
          type: string
      required:
      - content_index
      - delta
      - item_id
      - output_index
      - sequence_number
      title: OpenAIResponseObjectStreamResponseOutputTextDelta
      type: object
    OpenAIResponseObjectStreamResponseOutputTextDone:
      description: Streaming event for when text output is completed.
      properties:
        content_index:
          title: Content Index
          type: integer
        text:
          title: Text
          type: string
        item_id:
          title: Item Id
          type: string
        output_index:
          title: Output Index
          type: integer
        sequence_number:
          title: Sequence Number
          type: integer
        type:
          const: response.output_text.done
          default: response.output_text.done
          title: Type
          type: string
      required:
      - content_index
      - text
      - item_id
      - output_index
      - sequence_number
      title: OpenAIResponseObjectStreamResponseOutputTextDone
      type: object
    OpenAIResponseObjectStreamResponseReasoningSummaryPartAdded:
      description: Streaming event for when a new reasoning summary part is added.
      properties:
        item_id:
          title: Item Id
          type: string
        output_index:
          title: Output Index
          type: integer
        part:
          $ref: '#/components/schemas/OpenAIResponseContentPartReasoningSummary'
        sequence_number:
          title: Sequence Number
          type: integer
        summary_index:
          title: Summary Index
          type: integer
        type:
          const: response.reasoning_summary_part.added
          default: response.reasoning_summary_part.added
          title: Type
          type: string
      required:
      - item_id
      - output_index
      - part
      - sequence_number
      - summary_index
      title: OpenAIResponseObjectStreamResponseReasoningSummaryPartAdded
      type: object
    OpenAIResponseObjectStreamResponseReasoningSummaryPartDone:
      description: Streaming event for when a reasoning summary part is completed.
      properties:
        item_id:
          title: Item Id
          type: string
        output_index:
          title: Output Index
          type: integer
        part:
          $ref: '#/components/schemas/OpenAIResponseContentPartReasoningSummary'
        sequence_number:
          title: Sequence Number
          type: integer
        summary_index:
          title: Summary Index
          type: integer
        type:
          const: response.reasoning_summary_part.done
          default: response.reasoning_summary_part.done
          title: Type
          type: string
      required:
      - item_id
      - output_index
      - part
      - sequence_number
      - summary_index
      title: OpenAIResponseObjectStreamResponseReasoningSummaryPartDone
      type: object
[...]
