openapi: 3.1.0
info:
  title: Llama Stack API
  description: A comprehensive API for building and deploying AI applications
  version: 1.0.0
servers:
- url: https://api.llamastack.com
  description: Production server
- url: https://staging-api.llamastack.com
  description: Staging server
paths:
  /v1beta/datasetio/append-rows/{dataset_id}:
    post:
      tags:
      - V1Beta
      summary: Append rows to a dataset.
      description: Generic endpoint - this would be replaced with actual implementation.
      operationId: append_rows_v1beta_datasetio_append_rows__dataset_id__post
      parameters:
      - name: args
        in: query
        required: true
        schema:
          title: Args
      - name: kwargs
        in: query
        required: true
        schema:
          title: Kwargs
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
        description: 'Path parameter: dataset_id'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
  /v1beta/datasetio/iterrows/{dataset_id}:
    get:
      tags:
      - V1Beta
      summary: Get a paginated list of rows from a dataset.
      description: Query endpoint for proper schema generation.
      operationId: iterrows_v1beta_datasetio_iterrows__dataset_id__get
      parameters:
      - name: limit
        in: query
        required: true
        schema:
          type: integer
          title: Limit
      - name: start_index
        in: query
        required: true
        schema:
          type: integer
          title: Start Index
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          title: Dataset Id
      responses:
        '200':
          description: A PaginatedResponse.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
  /v1beta/datasets:
    get:
      tags:
      - V1Beta
      summary: List all datasets.
      description: Response-only endpoint for proper schema generation.
      operationId: list_datasets_v1beta_datasets_get
      responses:
        '200':
          description: A ListDatasetsResponse.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDatasetsResponse'
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
    post:
      tags:
      - V1Beta
      summary: Register a new dataset.
      description: Typed endpoint for proper schema generation.
      operationId: register_dataset_v1beta_datasets_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/__main_____datasets_Request'
        required: true
      responses:
        '200':
          description: A Dataset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dataset'
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
  /v1beta/datasets/{dataset_id}:
    delete:
      tags:
      - V1Beta
      summary: Unregister a dataset by its ID.
      description: Generic endpoint - this would be replaced with actual implementation.
      operationId: unregister_dataset_v1beta_datasets__dataset_id__delete
      parameters:
      - name: args
        in: query
        required: true
        schema:
          title: Args
      - name: kwargs
        in: query
        required: true
        schema:
          title: Kwargs
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
        description: 'Path parameter: dataset_id'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
    get:
      tags:
      - V1Beta
      summary: Get a dataset by its ID.
      description: Query endpoint for proper schema generation.
      operationId: get_dataset_v1beta_datasets__dataset_id__get
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          title: Dataset Id
      responses:
        '200':
          description: A Dataset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dataset'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
  /v1alpha/agents:
    get:
      tags:
      - V1Alpha
      summary: List all agents.
      description: Query endpoint for proper schema generation.
      operationId: list_agents_v1alpha_agents_get
      parameters:
      - name: limit
        in: query
        required: true
        schema:
          type: integer
          title: Limit
      - name: start_index
        in: query
        required: true
        schema:
          type: integer
          title: Start Index
      responses:
        '200':
          description: A PaginatedResponse.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
    post:
      tags:
      - V1Alpha
      summary: Create an agent with the given configuration.
      description: Typed endpoint for proper schema generation.
      operationId: create_agent_v1alpha_agents_post
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentConfig'
      responses:
        '200':
          description: An AgentCreateResponse with the agent ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentCreateResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
  /v1alpha/agents/{agent_id}:
    delete:
      tags:
      - V1Alpha
      summary: Delete an agent by its ID and its associated sessions and turns.
      description: Generic endpoint - this would be replaced with actual implementation.
      operationId: delete_agent_v1alpha_agents__agent_id__delete
      parameters:
      - name: args
        in: query
        required: true
        schema:
          title: Args
      - name: kwargs
        in: query
        required: true
        schema:
          title: Kwargs
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
        description: The ID of the agent to delete.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
    get:
      tags:
      - V1Alpha
      summary: Describe an agent by its ID.
      description: Query endpoint for proper schema generation.
      operationId: get_agent_v1alpha_agents__agent_id__get
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          title: Agent Id
        description: ID of the agent.
      responses:
        '200':
          description: An Agent of the agent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
  /v1alpha/agents/{agent_id}/session:
    post:
      tags:
      - V1Alpha
      summary: Create a new session for an agent.
      description: Typed endpoint for proper schema generation.
      operationId: create_agent_session_v1alpha_agents__agent_id__session_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/__main_____agents_agent_id_session_Request'
        required: true
      responses:
        '200':
          description: An AgentSessionCreateResponse.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentSessionCreateResponse'
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
        description: The ID of the agent to create the session for.
  /v1alpha/agents/{agent_id}/session/{session_id}:
    delete:
      tags:
      - V1Alpha
      summary: Delete an agent session by its ID and its associated turns.
      description: Generic endpoint - this would be replaced with actual implementation.
      operationId: delete_agents_session_v1alpha_agents__agent_id__session__session_id__delete
      parameters:
      - name: args
        in: query
        required: true
        schema:
          title: Args
      - name: kwargs
        in: query
        required: true
        schema:
          title: Kwargs
      - name: session_id
        in: path
        required: true
        schema:
          type: string
        description: The ID of the session to delete.
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
        description: The ID of the agent to delete the session for.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
    get:
      tags:
      - V1Alpha
      summary: Retrieve an agent session by its ID.
      description: Query endpoint for proper schema generation.
      operationId: get_agents_session_v1alpha_agents__agent_id__session__session_id__get
      parameters:
      - name: turn_ids
        in: query
        required: true
        schema:
          type: string
          title: Turn Ids
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          title: Session Id
        description: The ID of the session to get.
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          title: Agent Id
        description: The ID of the agent to get the session for.
      responses:
        '200':
          description: A Session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
  /v1alpha/agents/{agent_id}/session/{session_id}/turn:
    post:
      tags:
      - V1Alpha
      summary: Create a new turn for an agent.
      description: Typed endpoint for proper schema generation.
      operationId: create_agent_turn_v1alpha_agents__agent_id__session__session_id__turn_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/__main_____agents_agent_id_session_session_id_turn_Request'
        required: true
      responses:
        '200':
          description: If stream=False, returns a Turn object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Turn'
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
        description: The ID of the agent to create the turn for.
      - name: session_id
        in: path
        required: true
        schema:
          type: string
        description: The ID of the session to create the turn for.
  /v1alpha/agents/{agent_id}/session/{session_id}/turn/{turn_id}:
    get:
      tags:
      - V1Alpha
      summary: Retrieve an agent turn by its ID.
      description: Query endpoint for proper schema generation.
      operationId: get_agents_turn_v1alpha_agents__agent_id__session__session_id__turn__turn_id__get
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          title: Agent Id
        description: The ID of the agent to get the turn for.
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          title: Session Id
        description: The ID of the session to get the turn for.
      - name: turn_id
        in: path
        required: true
        schema:
          type: string
          title: Turn Id
        description: The ID of the turn to get.
      responses:
        '200':
          description: A Turn.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Turn'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
  /v1alpha/agents/{agent_id}/session/{session_id}/turn/{turn_id}/resume:
    post:
      tags:
      - V1Alpha
      summary: Resume an agent turn with executed tool call responses.
      description: Typed endpoint for proper schema generation.
      operationId: resume_agent_turn_v1alpha_agents__agent_id__session__session_id__turn__turn_id__resume_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/__main_____agents_agent_id_session_session_id_turn_turn_id_resume_Request'
        required: true
      responses:
        '200':
          description: A Turn object if stream is False, otherwise an AsyncIterator
            of AgentTurnResponseStreamChunk objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Turn'
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
        description: The ID of the agent to resume.
      - name: session_id
        in: path
        required: true
        schema:
          type: string
        description: The ID of the session to resume.
      - name: turn_id
        in: path
        required: true
        schema:
          type: string
        description: The ID of the turn to resume.
  /v1alpha/agents/{agent_id}/session/{session_id}/turn/{turn_id}/step/{step_id}:
    get:
      tags:
      - V1Alpha
      summary: Retrieve an agent step by its ID.
      description: Query endpoint for proper schema generation.
      operationId: get_agents_step_v1alpha_agents__agent_id__session__session_id__turn__turn_id__step__step_id__get
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          title: Agent Id
        description: The ID of the agent to get the step for.
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          title: Session Id
        description: The ID of the session to get the step for.
      - name: turn_id
        in: path
        required: true
        schema:
          type: string
          title: Turn Id
        description: The ID of the turn to get the step for.
      - name: step_id
        in: path
        required: true
        schema:
          type: string
          title: Step Id
        description: The ID of the step to get.
      responses:
        '200':
          description: An AgentStepResponse.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentStepResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
  /v1alpha/agents/{agent_id}/sessions:
    get:
      tags:
      - V1Alpha
      summary: List all session(s) of a given agent.
      description: Query endpoint for proper schema generation.
      operationId: list_agent_sessions_v1alpha_agents__agent_id__sessions_get
      parameters:
      - name: limit
        in: query
        required: true
        schema:
          type: integer
          title: Limit
      - name: start_index
        in: query
        required: true
        schema:
          type: integer
          title: Start Index
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          title: Agent Id
        description: The ID of the agent to list sessions for.
      responses:
        '200':
          description: A PaginatedResponse.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
  /v1alpha/eval/benchmarks:
    get:
      tags:
      - V1Alpha
      summary: List all benchmarks.
      description: Response-only endpoint for proper schema generation.
      operationId: list_benchmarks_v1alpha_eval_benchmarks_get
      responses:
        '200':
          description: A ListBenchmarksResponse.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBenchmarksResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
    post:
      tags:
      - V1Alpha
      summary: Register a benchmark.
      description: Generic endpoint - this would be replaced with actual implementation.
      operationId: register_benchmark_v1alpha_eval_benchmarks_post
      parameters:
      - name: args
        in: query
        required: true
        schema:
          title: Args
      - name: kwargs
        in: query
        required: true
        schema:
          title: Kwargs
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
  /v1alpha/eval/benchmarks/{benchmark_id}:
    delete:
      tags:
      - V1Alpha
      summary: Unregister a benchmark.
      description: Generic endpoint - this would be replaced with actual implementation.
      operationId: unregister_benchmark_v1alpha_eval_benchmarks__benchmark_id__delete
      parameters:
      - name: args
        in: query
        required: true
        schema:
          title: Args
      - name: kwargs
        in: query
        required: true
        schema:
          title: Kwargs
      - name: benchmark_id
        in: path
        required: true
        schema:
          type: string
        description: The ID of the benchmark to unregister.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
    get:
      tags:
      - V1Alpha
      summary: Get a benchmark by its ID.
      description: Query endpoint for proper schema generation.
      operationId: get_benchmark_v1alpha_eval_benchmarks__benchmark_id__get
      parameters:
      - name: benchmark_id
        in: path
        required: true
        schema:
          type: string
          title: Benchmark Id
        description: The ID of the benchmark to get.
      responses:
        '200':
          description: A Benchmark.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Benchmark'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
  /v1alpha/eval/benchmarks/{benchmark_id}/evaluations:
    post:
      tags:
      - V1Alpha
      summary: Evaluate a list of rows on a benchmark.
      description: Typed endpoint for proper schema generation.
      operationId: evaluate_rows_v1alpha_eval_benchmarks__benchmark_id__evaluations_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BenchmarkConfig'
        required: true
      responses:
        '200':
          description: EvaluateResponse object containing generations and scores.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvaluateResponse'
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
      parameters:
      - name: benchmark_id
        in: path
        required: true
        schema:
          type: string
        description: The ID of the benchmark to run the evaluation on.
  /v1alpha/eval/benchmarks/{benchmark_id}/jobs:
    post:
      tags:
      - V1Alpha
      summary: Run an evaluation on a benchmark.
      description: Typed endpoint for proper schema generation.
      operationId: run_eval_v1alpha_eval_benchmarks__benchmark_id__jobs_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BenchmarkConfig'
        required: true
      responses:
        '200':
          description: The job that was created to run the evaluation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
      parameters:
      - name: benchmark_id
        in: path
        required: true
        schema:
          type: string
        description: The ID of the benchmark to run the evaluation on.
  /v1alpha/eval/benchmarks/{benchmark_id}/jobs/{job_id}:
    delete:
      tags:
      - V1Alpha
      summary: Cancel a job.
      description: Generic endpoint - this would be replaced with actual implementation.
      operationId: job_cancel_v1alpha_eval_benchmarks__benchmark_id__jobs__job_id__delete
      parameters:
      - name: args
        in: query
        required: true
        schema:
          title: Args
      - name: kwargs
        in: query
        required: true
        schema:
          title: Kwargs
      - name: benchmark_id
        in: path
        required: true
        schema:
          type: string
        description: The ID of the benchmark to run the evaluation on.
      - name: job_id
        in: path
        required: true
        schema:
          type: string
        description: The ID of the job to cancel.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
    get:
      tags:
      - V1Alpha
      summary: Get the status of a job.
      description: Query endpoint for proper schema generation.
      operationId: job_status_v1alpha_eval_benchmarks__benchmark_id__jobs__job_id__get
      parameters:
      - name: benchmark_id
        in: path
        required: true
        schema:
          type: string
          title: Benchmark Id
        description: The ID of the benchmark to run the evaluation on.
      - name: job_id
        in: path
        required: true
        schema:
          type: string
          title: Job Id
        description: The ID of the job to get the status of.
      responses:
        '200':
          description: The status of the evaluation job.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
  /v1alpha/eval/benchmarks/{benchmark_id}/jobs/{job_id}/result:
    get:
      tags:
      - V1Alpha
      summary: Get the result of a job.
      description: Query endpoint for proper schema generation.
      operationId: job_result_v1alpha_eval_benchmarks__benchmark_id__jobs__job_id__result_get
      parameters:
      - name: benchmark_id
        in: path
        required: true
        schema:
          type: string
          title: Benchmark Id
        description: The ID of the benchmark to run the evaluation on.
      - name: job_id
        in: path
        required: true
        schema:
          type: string
          title: Job Id
        description: The ID of the job to get the result of.
      responses:
        '200':
          description: The result of the job.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvaluateResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
  /v1alpha/inference/rerank:
    post:
      tags:
      - V1Alpha
      summary: Rerank a list of documents based on their relevance to a query.
      description: Typed endpoint for proper schema generation.
      operationId: rerank_v1alpha_inference_rerank_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_inference_rerank_Request'
        required: true
      responses:
        '200':
          description: RerankResponse with indices sorted by relevance score (descending).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RerankResponse'
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
  /v1alpha/post-training/job/artifacts:
    get:
      tags:
      - V1Alpha
      summary: Get the artifacts of a training job.
      description: Query endpoint for proper schema generation.
      operationId: get_training_job_artifacts_v1alpha_post_training_job_artifacts_get
      parameters:
      - name: job_uuid
        in: query
        required: true
        schema:
          type: string
          title: Job Uuid
      responses:
        '200':
          description: A PostTrainingJobArtifactsResponse.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostTrainingJobArtifactsResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
  /v1alpha/post-training/job/cancel:
    post:
      tags:
      - V1Alpha
      summary: Cancel a training job.
      description: Generic endpoint - this would be replaced with actual implementation.
      operationId: cancel_training_job_v1alpha_post_training_job_cancel_post
      parameters:
      - name: args
        in: query
        required: true
        schema:
          title: Args
      - name: kwargs
        in: query
        required: true
        schema:
          title: Kwargs
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
  /v1alpha/post-training/job/status:
    get:
      tags:
      - V1Alpha
      summary: Get the status of a training job.
      description: Query endpoint for proper schema generation.
      operationId: get_training_job_status_v1alpha_post_training_job_status_get
      parameters:
      - name: job_uuid
        in: query
        required: true
        schema:
          type: string
          title: Job Uuid
      responses:
        '200':
          description: A PostTrainingJobStatusResponse.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostTrainingJobStatusResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
  /v1alpha/post-training/jobs:
    get:
      tags:
      - V1Alpha
      summary: Get all training jobs.
      description: Response-only endpoint for proper schema generation.
      operationId: get_training_jobs_v1alpha_post_training_jobs_get
      responses:
        '200':
          description: A ListPostTrainingJobsResponse.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPostTrainingJobsResponse'
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
  /v1alpha/post-training/preference-optimize:
    post:
      tags:
      - V1Alpha
      summary: Run preference optimization of a model.
      description: Typed endpoint for proper schema generation.
      operationId: preference_optimize_v1alpha_post_training_preference_optimize_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DPOAlignmentConfig'
        required: true
      responses:
        '200':
          description: A PostTrainingJob.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostTrainingJob'
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
  /v1alpha/post-training/supervised-fine-tune:
    post:
      tags:
      - V1Alpha
      summary: Run supervised fine-tuning of a model.
      description: Typed endpoint for proper schema generation.
      operationId: supervised_fine_tune_v1alpha_post_training_supervised_fine_tune_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrainingConfig'
        required: true
      responses:
        '200':
          description: A PostTrainingJob.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostTrainingJob'
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
components:
  schemas:
    AgentCandidate:
      properties:
        type:
          type: string
          const: agent
          title: Type
          default: agent
        config:
          $ref: '#/components/schemas/AgentConfig'
      type: object
      required:
      - config
      title: AgentCandidate
      description: An agent candidate for evaluation.
    AgentConfig:
      properties:
        sampling_params:
          $ref: '#/components/schemas/SamplingParams'
        input_shields:
          title: Input Shields
          items:
            type: string
          type: array
        output_shields:
          title: Output Shields
          items:
            type: string
          type: array
        toolgroups:
          title: Toolgroups
          items:
            anyOf:
            - type: string
            - $ref: '#/components/schemas/AgentToolGroupWithArgs'
          type: array
        client_tools:
          title: Client Tools
          items:
            $ref: '#/components/schemas/ToolDef'
          type: array
        tool_choice:
          deprecated: true
          $ref: '#/components/schemas/ToolChoice'
        tool_prompt_format:
          deprecated: true
          $ref: '#/components/schemas/ToolPromptFormat'
        tool_config:
          $ref: '#/components/schemas/ToolConfig'
        max_infer_iters:
          title: Max Infer Iters
          default: 10
          type: integer
        model:
          type: string
          title: Model
        instructions:
          type: string
          title: Instructions
        name:
          title: Name
          type: string
        enable_session_persistence:
          title: Enable Session Persistence
          default: false
          type: boolean
        response_format:
          title: Response Format
          oneOf:
          - $ref: '#/components/schemas/JsonSchemaResponseFormat'
          - $ref: '#/components/schemas/GrammarResponseFormat'
          discriminator:
            propertyName: type
            mapping:
              grammar: '#/components/schemas/GrammarResponseFormat'
              json_schema: '#/components/schemas/JsonSchemaResponseFormat'
      type: object
      required:
      - model
      - instructions
      title: AgentConfig
      description: Configuration for an agent.
    AgentCreateResponse:
      properties:
        agent_id:
          type: string
          title: Agent Id
      type: object
      required:
      - agent_id
      title: AgentCreateResponse
      description: Response returned when creating a new agent.
    AgentSessionCreateResponse:
      properties:
        session_id:
          type: string
          title: Session Id
      type: object
      required:
      - session_id
      title: AgentSessionCreateResponse
      description: Response returned when creating a new agent session.
    AgentToolGroupWithArgs:
      properties:
        name:
          type: string
          title: Name
        args:
          additionalProperties: true
          type: object
          title: Args
      type: object
      required:
      - name
      - args
      title: AgentToolGroupWithArgs
    AggregationFunctionType:
      type: string
      enum:
      - average
      - weighted_average
      - median
      - categorical_count
      - accuracy
      title: AggregationFunctionType
      description: Types of aggregation functions for scoring results.
    Attachment-Output:
      properties:
        content:
          anyOf:
          - type: string
          - oneOf:
            - $ref: '#/components/schemas/ImageContentItem-Output'
            - $ref: '#/components/schemas/TextContentItem'
            discriminator:
              propertyName: type
              mapping:
                image: '#/components/schemas/ImageContentItem-Output'
                text: '#/components/schemas/TextContentItem'
          - items:
              oneOf:
              - $ref: '#/components/schemas/ImageContentItem-Output'
              - $ref: '#/components/schemas/TextContentItem'
              discriminator:
                propertyName: type
                mapping:
                  image: '#/components/schemas/ImageContentItem-Output'
                  text: '#/components/schemas/TextContentItem'
            type: array
          - $ref: '#/components/schemas/URL'
          title: Content
        mime_type:
          type: string
          title: Mime Type
      type: object
      required:
      - content
      - mime_type
      title: Attachment
      description: An attachment to an agent turn.
    BasicScoringFnParams:
      properties:
        type:
          type: string
          const: basic
          title: Type
          default: basic
        aggregation_functions:
          items:
            $ref: '#/components/schemas/AggregationFunctionType'
          type: array
          title: Aggregation Functions
          description: Aggregation functions to apply to the scores of each row
      type: object
      title: BasicScoringFnParams
      description: Parameters for basic scoring function configuration.
    Benchmark:
      properties:
        identifier:
          type: string
          title: Identifier
          description: Unique identifier for this resource in llama stack
        provider_resource_id:
          title: Provider Resource Id
          description: Unique identifier for this resource in the provider
          type: string
        provider_id:
          type: string
          title: Provider Id
          description: ID of the provider that owns this resource
        type:
          type: string
          const: benchmark
          title: Type
          default: benchmark
        dataset_id:
          type: string
          title: Dataset Id
        scoring_functions:
          items:
            type: string
          type: array
          title: Scoring Functions
        metadata:
          additionalProperties: true
          type: object
          title: Metadata
          description: Metadata for this evaluation task
      type: object
      required:
      - identifier
      - provider_id
      - dataset_id
      - scoring_functions
      title: Benchmark
      description: A benchmark resource for evaluating model performance.
    BenchmarkConfig:
      properties:
        eval_candidate:
          oneOf:
          - $ref: '#/components/schemas/ModelCandidate'
          - $ref: '#/components/schemas/AgentCandidate'
          title: Eval Candidate
          discriminator:
            propertyName: type
            mapping:
              agent: '#/components/schemas/AgentCandidate'
              model: '#/components/schemas/ModelCandidate'
        scoring_params:
          additionalProperties:
            oneOf:
            - $ref: '#/components/schemas/LLMAsJudgeScoringFnParams'
            - $ref: '#/components/schemas/RegexParserScoringFnParams'
            - $ref: '#/components/schemas/BasicScoringFnParams'
            discriminator:
              propertyName: type
              mapping:
                basic: '#/components/schemas/BasicScoringFnParams'
                llm_as_judge: '#/components/schemas/LLMAsJudgeScoringFnParams'
                regex_parser: '#/components/schemas/RegexParserScoringFnParams'
          type: object
          title: Scoring Params
          description: Map between scoring function id and parameters for each scoring
            function you want to run
        num_examples:
          title: Num Examples
          description: Number of examples to evaluate (useful for testing), if not
            provided, all examples in the dataset will be evaluated
          type: integer
      type: object
      required:
      - eval_candidate
      title: BenchmarkConfig
      description: A benchmark configuration for evaluation.
    BuiltinTool:
      type: string
      enum:
      - brave_search
      - wolfram_alpha
      - photogen
      - code_interpreter
      title: BuiltinTool
    CompletionMessage-Output:
      properties:
        role:
          type: string
          const: assistant
          title: Role
          default: assistant
        content:
          anyOf:
          - type: string
          - oneOf:
            - $ref: '#/components/schemas/ImageContentItem-Output'
            - $ref: '#/components/schemas/TextContentItem'
            discriminator:
              propertyName: type
              mapping:
                image: '#/components/schemas/ImageContentItem-Output'
                text: '#/components/schemas/TextContentItem'
          - items:
              oneOf:
              - $ref: '#/components/schemas/ImageContentItem-Output'
              - $ref: '#/components/schemas/TextContentItem'
              discriminator:
                propertyName: type
                mapping:
                  image: '#/components/schemas/ImageContentItem-Output'
                  text: '#/components/schemas/TextContentItem'
            type: array
          title: Content
        stop_reason:
          $ref: '#/components/schemas/StopReason'
        tool_calls:
          title: Tool Calls
          items:
            $ref: '#/components/schemas/ToolCall'
          type: array
      type: object
      required:
      - content
      - stop_reason
      title: CompletionMessage
      description: A message containing the model's (assistant) response in a chat
        conversation.
    DPOAlignmentConfig:
      properties:
        beta:
          type: number
          title: Beta
        loss_type:
          $ref: '#/components/schemas/DPOLossType'
          default: sigmoid
      type: object
      required:
      - beta
      title: DPOAlignmentConfig
      description: Configuration for Direct Preference Optimization (DPO) alignment.
    DPOLossType:
      type: string
      enum:
      - sigmoid
      - hinge
      - ipo
      - kto_pair
      title: DPOLossType
    DataConfig:
      properties:
        dataset_id:
          type: string
          title: Dataset Id
        batch_size:
          type: integer
          title: Batch Size
        shuffle:
          type: boolean
          title: Shuffle
        data_format:
          $ref: '#/components/schemas/DatasetFormat'
        validation_dataset_id:
          title: Validation Dataset Id
          type: string
        packed:
          title: Packed
          default: false
          type: boolean
        train_on_input:
          title: Train On Input
          default: false
          type: boolean
      type: object
      required:
      - dataset_id
      - batch_size
      - shuffle
      - data_format
      title: DataConfig
      description: Configuration for training data and data loading.
    Dataset:
      properties:
        identifier:
          type: string
          title: Identifier
          description: Unique identifier for this resource in llama stack
        provider_resource_id:
          title: Provider Resource Id
          description: Unique identifier for this resource in the provider
          type: string
        provider_id:
          type: string
          title: Provider Id
          description: ID of the provider that owns this resource
        type:
          type: string
          const: dataset
          title: Type
          default: dataset
        purpose:
          $ref: '#/components/schemas/DatasetPurpose'
        source:
          oneOf:
          - $ref: '#/components/schemas/URIDataSource'
          - $ref: '#/components/schemas/RowsDataSource'
          title: Source
          discriminator:
            propertyName: type
            mapping:
              rows: '#/components/schemas/RowsDataSource'
              uri: '#/components/schemas/URIDataSource'
        metadata:
          additionalProperties: true
          type: object
          title: Metadata
          description: Any additional metadata for this dataset
      type: object
      required:
      - identifier
      - provider_id
      - purpose
      - source
      title: Dataset
      description: Dataset resource for storing and accessing training or evaluation
        data.
    DatasetFormat:
      type: string
      enum:
      - instruct
      - dialog
      title: DatasetFormat
      description: Format of the training dataset.
    DatasetPurpose:
      type: string
      enum:
      - post-training/messages
      - eval/question-answer
      - eval/messages-answer
      title: DatasetPurpose
      description: Purpose of the dataset. Each purpose has a required input data
        schema.
    Document:
      properties:
        content:
          anyOf:
          - type: string
          - oneOf:
            - $ref: '#/components/schemas/ImageContentItem-Input'
            - $ref: '#/components/schemas/TextContentItem'
            discriminator:
              propertyName: type
              mapping:
                image: '#/components/schemas/ImageContentItem-Input'
                text: '#/components/schemas/TextContentItem'
          - items:
              oneOf:
              - $ref: '#/components/schemas/ImageContentItem-Input'
              - $ref: '#/components/schemas/TextContentItem'
              discriminator:
                propertyName: type
                mapping:
                  image: '#/components/schemas/ImageContentItem-Input'
                  text: '#/components/schemas/TextContentItem'
            type: array
          - $ref: '#/components/schemas/URL'
          title: Content
        mime_type:
          type: string
          title: Mime Type
      type: object
      required:
      - content
      - mime_type
      title: Document
      description: A document to be used by an agent.
    EfficiencyConfig:
      properties:
        enable_activation_checkpointing:
          title: Enable Activation Checkpointing
          default: false
          type: boolean
        enable_activation_offloading:
          title: Enable Activation Offloading
          default: false
          type: boolean
        memory_efficient_fsdp_wrap:
          title: Memory Efficient Fsdp Wrap
          default: false
          type: boolean
        fsdp_cpu_offload:
          title: Fsdp Cpu Offload
          default: false
          type: boolean
      type: object
      title: EfficiencyConfig
      description: Configuration for memory and compute efficiency optimizations.
    EvaluateResponse:
      properties:
        generations:
          items:
            additionalProperties: true
            type: object
          type: array
          title: Generations
        scores:
          additionalProperties:
            $ref: '#/components/schemas/ScoringResult'
          type: object
          title: Scores
      type: object
      required:
      - generations
      - scores
      title: EvaluateResponse
      description: The response from an evaluation.
    GrammarResponseFormat:
      properties:
        type:
          type: string
          const: grammar
          title: Type
          default: grammar
        bnf:
          additionalProperties: true
          type: object
          title: Bnf
      type: object
      required:
      - bnf
      title: GrammarResponseFormat
      description: Configuration for grammar-guided response generation.
    GreedySamplingStrategy:
      properties:
        type:
          type: string
          const: greedy
          title: Type
          default: greedy
      type: object
      title: GreedySamplingStrategy
      description: Greedy sampling strategy that selects the highest probability token
        at each step.
    ImageContentItem-Input:
      properties:
        type:
          type: string
          const: image
          title: Type
          default: image
        image:
          $ref: '#/components/schemas/_URLOrData'
      type: object
      required:
      - image
      title: ImageContentItem
      description: A image content item
    ImageContentItem-Output:
      properties:
        type:
          type: string
          const: image
          title: Type
          default: image
        image:
          $ref: '#/components/schemas/_URLOrData'
      type: object
      required:
      - image
      title: ImageContentItem
      description: A image content item
    InferenceStep-Output:
      properties:
        turn_id:
          type: string
          title: Turn Id
        step_id:
          type: string
          title: Step Id
        started_at:
          title: Started At
          type: string
          format: date-time
        completed_at:
          title: Completed At
          type: string
          format: date-time
        step_type:
          type: string
          const: inference
          title: Step Type
          default: inference
        model_response:
          $ref: '#/components/schemas/CompletionMessage-Output'
      type: object
      required:
      - turn_id
      - step_id
      - model_response
      title: InferenceStep
      description: An inference step in an agent turn.
    Job:
      properties:
        job_id:
          type: string
          title: Job Id
        status:
          $ref: '#/components/schemas/JobStatus'
      type: object
      required:
      - job_id
      - status
      title: Job
      description: A job execution instance with status tracking.
    JobStatus:
      type: string
      enum:
      - completed
      - in_progress
      - failed
      - scheduled
      - cancelled
      title: JobStatus
      description: Status of a job execution.
    JsonSchemaResponseFormat:
      properties:
        type:
          type: string
          const: json_schema
          title: Type
          default: json_schema
        json_schema:
          additionalProperties: true
          type: object
          title: Json Schema
      type: object
      required:
      - json_schema
      title: JsonSchemaResponseFormat
      description: Configuration for JSON schema-guided response generation.
    LLMAsJudgeScoringFnParams:
      properties:
        type:
          type: string
          const: llm_as_judge
          title: Type
          default: llm_as_judge
        judge_model:
          type: string
          title: Judge Model
        prompt_template:
          title: Prompt Template
          type: string
        judge_score_regexes:
          items:
            type: string
          type: array
          title: Judge Score Regexes
          description: Regexes to extract the answer from generated response
        aggregation_functions:
          items:
            $ref: '#/components/schemas/AggregationFunctionType'
          type: array
          title: Aggregation Functions
          description: Aggregation functions to apply to the scores of each row
      type: object
      required:
      - judge_model
      title: LLMAsJudgeScoringFnParams
      description: Parameters for LLM-as-judge scoring function configuration.
    ListBenchmarksResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/Benchmark'
          type: array
          title: Data
      type: object
      required:
      - data
      title: ListBenchmarksResponse
    ListDatasetsResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/Dataset'
          type: array
          title: Data
      type: object
      required:
      - data
      title: ListDatasetsResponse
      description: Response from listing datasets.
    ListPostTrainingJobsResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/PostTrainingJob'
          type: array
          title: Data
      type: object
      required:
      - data
      title: ListPostTrainingJobsResponse
    MemoryRetrievalStep-Output:
      properties:
        turn_id:
          type: string
          title: Turn Id
        step_id:
          type: string
          title: Step Id
        started_at:
          title: Started At
          type: string
          format: date-time
        completed_at:
          title: Completed At
          type: string
          format: date-time
        step_type:
          type: string
          const: memory_retrieval
          title: Step Type
          default: memory_retrieval
        vector_store_ids:
          type: string
          title: Vector Store Ids
        inserted_context:
          anyOf:
          - type: string
          - oneOf:
            - $ref: '#/components/schemas/ImageContentItem-Output'
            - $ref: '#/components/schemas/TextContentItem'
            discriminator:
              propertyName: type
              mapping:
                image: '#/components/schemas/ImageContentItem-Output'
                text: '#/components/schemas/TextContentItem'
          - items:
              oneOf:
              - $ref: '#/components/schemas/ImageContentItem-Output'
              - $ref: '#/components/schemas/TextContentItem'
              discriminator:
                propertyName: type
                mapping:
                  image: '#/components/schemas/ImageContentItem-Output'
                  text: '#/components/schemas/TextContentItem'
            type: array
          title: Inserted Context
      type: object
      required:
      - turn_id
      - step_id
      - vector_store_ids
      - inserted_context
      title: MemoryRetrievalStep
      description: A memory retrieval step in an agent turn.
    ModelCandidate:
      properties:
        type:
          type: string
          const: model
          title: Type
          default: model
        model:
          type: string
          title: Model
        sampling_params:
          $ref: '#/components/schemas/SamplingParams'
        system_message:
          $ref: '#/components/schemas/SystemMessage'
      type: object
      required:
      - model
      - sampling_params
      title: ModelCandidate
      description: A model candidate for evaluation.
    OptimizerConfig:
      properties:
        optimizer_type:
          $ref: '#/components/schemas/OptimizerType'
        lr:
          type: number
          title: Lr
        weight_decay:
          type: number
          title: Weight Decay
        num_warmup_steps:
          type: integer
          title: Num Warmup Steps
      type: object
      required:
      - optimizer_type
      - lr
      - weight_decay
      - num_warmup_steps
      title: OptimizerConfig
      description: Configuration parameters for the optimization algorithm.
    OptimizerType:
      type: string
      enum:
      - adam
      - adamw
      - sgd
      title: OptimizerType
      description: Available optimizer algorithms for training.
    PostTrainingJob:
      properties:
        job_uuid:
          type: string
          title: Job Uuid
      type: object
      required:
      - job_uuid
      title: PostTrainingJob
    RegexParserScoringFnParams:
      properties:
        type:
          type: string
          const: regex_parser
          title: Type
          default: regex_parser
        parsing_regexes:
          items:
            type: string
          type: array
          title: Parsing Regexes
          description: Regex to extract the answer from generated response
        aggregation_functions:
          items:
            $ref: '#/components/schemas/AggregationFunctionType'
          type: array
          title: Aggregation Functions
          description: Aggregation functions to apply to the scores of each row
      type: object
      title: RegexParserScoringFnParams
      description: Parameters for regex parser scoring function configuration.
    RerankData:
      properties:
        index:
          type: integer
          title: Index
        relevance_score:
          type: number
          title: Relevance Score
      type: object
      required:
      - index
      - relevance_score
      title: RerankData
      description: A single rerank result from a reranking response.
    RerankResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/RerankData'
          type: array
          title: Data
      type: object
      required:
      - data
      title: RerankResponse
      description: Response from a reranking request.
    RowsDataSource:
      properties:
        type:
          type: string
          const: rows
          title: Type
          default: rows
        rows:
          items:
            additionalProperties: true
            type: object
          type: array
          title: Rows
      type: object
      required:
      - rows
      title: RowsDataSource
      description: A dataset stored in rows.
    SafetyViolation:
      properties:
        violation_level:
          $ref: '#/components/schemas/ViolationLevel'
        user_message:
          title: User Message
          type: string
        metadata:
          additionalProperties: true
          type: object
          title: Metadata
      type: object
      required:
      - violation_level
      title: SafetyViolation
      description: Details of a safety violation detected by content moderation.
    SamplingParams:
      properties:
        strategy:
          oneOf:
          - $ref: '#/components/schemas/GreedySamplingStrategy'
          - $ref: '#/components/schemas/TopPSamplingStrategy'
          - $ref: '#/components/schemas/TopKSamplingStrategy'
          title: Strategy
          discriminator:
            propertyName: type
            mapping:
              greedy: '#/components/schemas/GreedySamplingStrategy'
              top_k: '#/components/schemas/TopKSamplingStrategy'
              top_p: '#/components/schemas/TopPSamplingStrategy'
        max_tokens:
          title: Max Tokens
          type: integer
        repetition_penalty:
          title: Repetition Penalty
          default: 1.0
          type: number
        stop:
          title: Stop
          items:
            type: string
          type: array
      type: object
      title: SamplingParams
      description: Sampling parameters.
    ScoringResult:
      properties:
        score_rows:
          items:
            additionalProperties: true
            type: object
          type: array
          title: Score Rows
        aggregated_results:
          additionalProperties: true
          type: object
          title: Aggregated Results
      type: object
      required:
      - score_rows
      - aggregated_results
      title: ScoringResult
      description: A scoring result for a single row.
    ShieldCallStep-Output:
      properties:
        turn_id:
          type: string
          title: Turn Id
        step_id:
          type: string
          title: Step Id
        started_at:
          title: Started At
          type: string
          format: date-time
        completed_at:
          title: Completed At
          type: string
          format: date-time
        step_type:
          type: string
          const: shield_call
          title: Step Type
          default: shield_call
        violation:
          $ref: '#/components/schemas/SafetyViolation'
      type: object
      required:
      - turn_id
      - step_id
      - violation
      title: ShieldCallStep
      description: A shield call step in an agent turn.
    StopReason:
      type: string
      enum:
      - end_of_turn
      - end_of_message
      - out_of_tokens
      title: StopReason
    SystemMessage:
      properties:
        role:
          type: string
          const: system
          title: Role
          default: system
        content:
          anyOf:
          - type: string
          - oneOf:
            - $ref: '#/components/schemas/ImageContentItem-Input'
            - $ref: '#/components/schemas/TextContentItem'
            discriminator:
              propertyName: type
              mapping:
                image: '#/components/schemas/ImageContentItem-Input'
                text: '#/components/schemas/TextContentItem'
          - items:
              oneOf:
              - $ref: '#/components/schemas/ImageContentItem-Input'
              - $ref: '#/components/schemas/TextContentItem'
              discriminator:
                propertyName: type
                mapping:
                  image: '#/components/schemas/ImageContentItem-Input'
                  text: '#/components/schemas/TextContentItem'
            type: array
          title: Content
      type: object
      required:
      - content
      title: SystemMessage
      description: A system message providing instructions or context to the model.
    SystemMessageBehavior:
      type: string
      enum:
      - append
      - replace
      title: SystemMessageBehavior
      description: Config for how to override the default system prompt.
    TextContentItem:
      properties:
        type:
          type: string
          const: text
          title: Type
          default: text
        text:
          type: string
          title: Text
      type: object
      required:
      - text
      title: TextContentItem
      description: A text content item
    ToolCall:
      properties:
        call_id:
          type: string
          title: Call Id
        tool_name:
          anyOf:
          - $ref: '#/components/schemas/BuiltinTool'
          - type: string
          title: Tool Name
        arguments:
          type: string
          title: Arguments
      type: object
      required:
      - call_id
      - tool_name
      - arguments
      title: ToolCall
    ToolChoice:
      type: string
      enum:
      - auto
      - required
      - none
      title: ToolChoice
      description: Whether tool use is required or automatic. This is a hint to the
        model which may not be followed. It depends on the Instruction Following capabilities
        of the model.
    ToolConfig:
      properties:
        tool_choice:
          anyOf:
          - $ref: '#/components/schemas/ToolChoice'
          - type: string
          title: Tool Choice
          default: auto
        tool_prompt_format:
          $ref: '#/components/schemas/ToolPromptFormat'
        system_message_behavior:
          default: append
          $ref: '#/components/schemas/SystemMessageBehavior'
      type: object
      title: ToolConfig
      description: Configuration for tool use.
    ToolDef:
      properties:
        toolgroup_id:
          title: Toolgroup Id
          type: string
        name:
          type: string
          title: Name
        description:
          title: Description
          type: string
        input_schema:
          title: Input Schema
          additionalProperties: true
          type: object
        output_schema:
          title: Output Schema
          additionalProperties: true
          type: object
        metadata:
          title: Metadata
          additionalProperties: true
          type: object
      type: object
      required:
      - name
      title: ToolDef
      description: Tool definition used in runtime contexts.
    ToolExecutionStep-Output:
      properties:
        turn_id:
          type: string
          title: Turn Id
        step_id:
          type: string
          title: Step Id
        started_at:
          title: Started At
          type: string
          format: date-time
        completed_at:
          title: Completed At
          type: string
          format: date-time
        step_type:
          type: string
          const: tool_execution
          title: Step Type
          default: tool_execution
        tool_calls:
          items:
            $ref: '#/components/schemas/ToolCall'
          type: array
          title: Tool Calls
        tool_responses:
          items:
            $ref: '#/components/schemas/ToolResponse-Output'
          type: array
          title: Tool Responses
      type: object
      required:
      - turn_id
      - step_id
      - tool_calls
      - tool_responses
      title: ToolExecutionStep
      description: A tool execution step in an agent turn.
    ToolPromptFormat:
      type: string
      enum:
      - json
      - function_tag
      - python_list
      title: ToolPromptFormat
      description: Prompt format for calling custom / zero shot tools.
    ToolResponse-Input:
      properties:
        call_id:
          type: string
          title: Call Id
        tool_name:
          anyOf:
          - $ref: '#/components/schemas/BuiltinTool'
          - type: string
          title: Tool Name
        content:
          anyOf:
          - type: string
          - oneOf:
            - $ref: '#/components/schemas/ImageContentItem-Input'
            - $ref: '#/components/schemas/TextContentItem'
            discriminator:
              propertyName: type
              mapping:
                image: '#/components/schemas/ImageContentItem-Input'
                text: '#/components/schemas/TextContentItem'
          - items:
              oneOf:
              - $ref: '#/components/schemas/ImageContentItem-Input'
              - $ref: '#/components/schemas/TextContentItem'
              discriminator:
                propertyName: type
                mapping:
                  image: '#/components/schemas/ImageContentItem-Input'
                  text: '#/components/schemas/TextContentItem'
            type: array
          title: Content
        metadata:
          title: Metadata
          additionalProperties: true
          type: object
      type: object
      required:
      - call_id
      - tool_name
      - content
      title: ToolResponse
      description: Response from a tool invocation.
    ToolResponse-Output:
      properties:
        call_id:
          type: string
          title: Call Id
        tool_name:
          anyOf:
          - $ref: '#/components/schemas/BuiltinTool'
          - type: string
          title: Tool Name
        content:
          anyOf:
          - type: string
          - oneOf:
            - $ref: '#/components/schemas/ImageContentItem-Output'
            - $ref: '#/components/schemas/TextContentItem'
            discriminator:
              propertyName: type
              mapping:
                image: '#/components/schemas/ImageContentItem-Output'
                text: '#/components/schemas/TextContentItem'
          - items:
              oneOf:
              - $ref: '#/components/schemas/ImageContentItem-Output'
              - $ref: '#/components/schemas/TextContentItem'
              discriminator:
                propertyName: type
                mapping:
                  image: '#/components/schemas/ImageContentItem-Output'
                  text: '#/components/schemas/TextContentItem'
            type: array
          title: Content
        metadata:
          title: Metadata
          additionalProperties: true
          type: object
      type: object
      required:
      - call_id
      - tool_name
      - content
      title: ToolResponse
      description: Response from a tool invocation.
    ToolResponseMessage-Output:
      properties:
        role:
          type: string
          const: tool
          title: Role
          default: tool
        call_id:
          type: string
          title: Call Id
        content:
          anyOf:
          - type: string
          - oneOf:
            - $ref: '#/components/schemas/ImageContentItem-Output'
            - $ref: '#/components/schemas/TextContentItem'
            discriminator:
              propertyName: type
              mapping:
                image: '#/components/schemas/ImageContentItem-Output'
                text: '#/components/schemas/TextContentItem'
          - items:
              oneOf:
              - $ref: '#/components/schemas/ImageContentItem-Output'
              - $ref: '#/components/schemas/TextContentItem'
              discriminator:
                propertyName: type
                mapping:
                  image: '#/components/schemas/ImageContentItem-Output'
                  text: '#/components/schemas/TextContentItem'
            type: array
          title: Content
      type: object
      required:
      - call_id
      - content
      title: ToolResponseMessage
      description: A message representing the result of a tool invocation.
    TopKSamplingStrategy:
      properties:
        type:
          type: string
          const: top_k
          title: Type
          default: top_k
        top_k:
          type: integer
          minimum: 1.0
          title: Top K
      type: object
      required:
      - top_k
      title: TopKSamplingStrategy
      description: Top-k sampling strategy that restricts sampling to the k most likely
        tokens.
    TopPSamplingStrategy:
      properties:
        type:
          type: string
          const: top_p
          title: Type
          default: top_p
        temperature:
          title: Temperature
          type: number
          minimum: 0.0
        top_p:
          title: Top P
          default: 0.95
          type: number
      type: object
      required:
      - temperature
      title: TopPSamplingStrategy
      description: Top-p (nucleus) sampling strategy that samples from the smallest
        set of tokens with cumulative probability >= p.
    TrainingConfig:
      properties:
        n_epochs:
          type: integer
          title: N Epochs
        max_steps_per_epoch:
          type: integer
          title: Max Steps Per Epoch
          default: 1
        gradient_accumulation_steps:
          type: integer
          title: Gradient Accumulation Steps
          default: 1
        max_validation_steps:
          title: Max Validation Steps
          default: 1
          type: integer
        data_config:
          $ref: '#/components/schemas/DataConfig'
        optimizer_config:
          $ref: '#/components/schemas/OptimizerConfig'
        efficiency_config:
          $ref: '#/components/schemas/EfficiencyConfig'
        dtype:
          title: Dtype
          default: bf16
          type: string
      type: object
      required:
      - n_epochs
      title: TrainingConfig
      description: Comprehensive configuration for the training process.
    Turn:
      properties:
        turn_id:
          type: string
          title: Turn Id
        session_id:
          type: string
          title: Session Id
        input_messages:
          items:
            anyOf:
            - $ref: '#/components/schemas/UserMessage-Output'
            - $ref: '#/components/schemas/ToolResponseMessage-Output'
          type: array
          title: Input Messages
        steps:
          items:
            oneOf:
            - $ref: '#/components/schemas/InferenceStep-Output'
            - $ref: '#/components/schemas/ToolExecutionStep-Output'
            - $ref: '#/components/schemas/ShieldCallStep-Output'
            - $ref: '#/components/schemas/MemoryRetrievalStep-Output'
            discriminator:
              propertyName: step_type
              mapping:
                inference: '#/components/schemas/InferenceStep-Output'
                memory_retrieval: '#/components/schemas/MemoryRetrievalStep-Output'
                shield_call: '#/components/schemas/ShieldCallStep-Output'
                tool_execution: '#/components/schemas/ToolExecutionStep-Output'
          type: array
          title: Steps
        output_message:
          $ref: '#/components/schemas/CompletionMessage-Output'
        output_attachments:
          title: Output Attachments
          items:
            $ref: '#/components/schemas/Attachment-Output'
          type: array
        started_at:
          type: string
          format: date-time
          title: Started At
        completed_at:
          title: Completed At
          type: string
          format: date-time
      type: object
      required:
      - turn_id
      - session_id
      - input_messages
      - steps
      - output_message
      - started_at
      title: Turn
      description: A single turn in an interaction with an Agentic System.
    URIDataSource:
      properties:
        type:
          type: string
          const: uri
          title: Type
          default: uri
        uri:
          type: string
          title: Uri
      type: object
      required:
      - uri
      title: URIDataSource
      description: A dataset that can be obtained from a URI.
    URL:
      properties:
        uri:
          type: string
          title: Uri
      type: object
      required:
      - uri
      title: URL
      description: A URL reference to external content.
    UserMessage-Input:
      properties:
        role:
          type: string
          const: user
          title: Role
          default: user
        content:
          anyOf:
          - type: string
          - oneOf:
            - $ref: '#/components/schemas/ImageContentItem-Input'
            - $ref: '#/components/schemas/TextContentItem'
            discriminator:
              propertyName: type
              mapping:
                image: '#/components/schemas/ImageContentItem-Input'
                text: '#/components/schemas/TextContentItem'
          - items:
              oneOf:
              - $ref: '#/components/schemas/ImageContentItem-Input'
              - $ref: '#/components/schemas/TextContentItem'
              discriminator:
                propertyName: type
                mapping:
                  image: '#/components/schemas/ImageContentItem-Input'
                  text: '#/components/schemas/TextContentItem'
            type: array
          title: Content
        context:
          anyOf:
          - type: string
          - oneOf:
            - $ref: '#/components/schemas/ImageContentItem-Input'
            - $ref: '#/components/schemas/TextContentItem'
            discriminator:
              propertyName: type
              mapping:
                image: '#/components/schemas/ImageContentItem-Input'
                text: '#/components/schemas/TextContentItem'
          - items:
              oneOf:
              - $ref: '#/components/schemas/ImageContentItem-Input'
              - $ref: '#/components/schemas/TextContentItem'
              discriminator:
                propertyName: type
                mapping:
                  image: '#/components/schemas/ImageContentItem-Input'
                  text: '#/components/schemas/TextContentItem'
            type: array
          title: Context
      type: object
      required:
      - content
      title: UserMessage
      description: A message from the user in a chat conversation.
    UserMessage-Output:
      properties:
        role:
          type: string
          const: user
          title: Role
          default: user
        content:
          anyOf:
          - type: string
          - oneOf:
            - $ref: '#/components/schemas/ImageContentItem-Output'
            - $ref: '#/components/schemas/TextContentItem'
            discriminator:
              propertyName: type
              mapping:
                image: '#/components/schemas/ImageContentItem-Output'
                text: '#/components/schemas/TextContentItem'
          - items:
              oneOf:
              - $ref: '#/components/schemas/ImageContentItem-Output'
              - $ref: '#/components/schemas/TextContentItem'
              discriminator:
                propertyName: type
                mapping:
                  image: '#/components/schemas/ImageContentItem-Output'
                  text: '#/components/schemas/TextContentItem'
            type: array
          title: Content
        context:
          anyOf:
          - type: string
          - oneOf:
            - $ref: '#/components/schemas/ImageContentItem-Output'
            - $ref: '#/components/schemas/TextContentItem'
            discriminator:
              propertyName: type
              mapping:
                image: '#/components/schemas/ImageContentItem-Output'
                text: '#/components/schemas/TextContentItem'
          - items:
              oneOf:
              - $ref: '#/components/schemas/ImageContentItem-Output'
              - $ref: '#/components/schemas/TextContentItem'
              discriminator:
                propertyName: type
                mapping:
                  image: '#/components/schemas/ImageContentItem-Output'
                  text: '#/components/schemas/TextContentItem'
            type: array
          title: Context
      type: object
      required:
      - content
      title: UserMessage
      description: A message from the user in a chat conversation.
    ViolationLevel:
      type: string
      enum:
      - info
      - warn
      - error
      title: ViolationLevel
      description: Severity level of a safety violation.
    _URLOrData:
      properties:
        url:
          $ref: '#/components/schemas/URL'
        data:
          contentEncoding: base64
          title: Data
          type: string
      type: object
      title: _URLOrData
      description: A URL or a base64 encoded string
    __main_____agents_agent_id_session_Request:
      properties:
        agent_id:
          type: string
          title: Agent Id
        session_name:
          type: string
          title: Session Name
      type: object
      required:
      - agent_id
      - session_name
      title: _agents_agent_id_session_Request
    __main_____agents_agent_id_session_session_id_turn_Request:
      properties:
        agent_id:
          type: string
          title: Agent Id
        session_id:
          type: string
          title: Session Id
        messages:
          $ref: '#/components/schemas/UserMessage-Input'
        stream:
          type: boolean
          title: Stream
          default: false
        documents:
          $ref: '#/components/schemas/Document'
        toolgroups:
          anyOf:
          - type: string
          - $ref: '#/components/schemas/AgentToolGroupWithArgs'
          title: Toolgroups
        tool_config:
          $ref: '#/components/schemas/ToolConfig'
      type: object
      required:
      - agent_id
      - session_id
      - messages
      - documents
      - toolgroups
      - tool_config
      title: _agents_agent_id_session_session_id_turn_Request
    __main_____agents_agent_id_session_session_id_turn_turn_id_resume_Request:
      properties:
        agent_id:
          type: string
          title: Agent Id
        session_id:
          type: string
          title: Session Id
        turn_id:
          type: string
          title: Turn Id
        tool_responses:
          $ref: '#/components/schemas/ToolResponse-Input'
        stream:
          type: boolean
          title: Stream
          default: false
      type: object
      required:
      - agent_id
      - session_id
      - turn_id
      - tool_responses
      title: _agents_agent_id_session_session_id_turn_turn_id_resume_Request
    __main_____datasets_Request:
      properties:
        purpose:
          $ref: '#/components/schemas/DatasetPurpose'
        metadata:
          type: string
          title: Metadata
        dataset_id:
          type: string
          title: Dataset Id
      type: object
      required:
      - purpose
      - metadata
      - dataset_id
      title: _datasets_Request
    _inference_rerank_Request:
      properties:
        model:
          type: string
          title: Model
        query:
          type: string
          title: Query
        items:
          type: string
          title: Items
        max_num_results:
          type: integer
          title: Max Num Results
      type: object
      required:
      - model
      - query
      - items
      - max_num_results
      title: _inference_rerank_Request
    Error:
      description: Error response from the API. Roughly follows RFC 7807.
      properties:
        status:
          title: Status
          type: integer
        title:
          title: Title
          type: string
        detail:
          title: Detail
          type: string
        instance:
          title: Instance
          type: string
          nullable: true
      required:
      - status
      - title
      - detail
      title: Error
      type: object
    Agent:
      description: An agent instance with configuration and metadata.
      properties:
        agent_id:
          title: Agent Id
          type: string
        agent_config:
          $ref: '#/components/schemas/AgentConfig'
        created_at:
          format: date-time
          title: Created At
          type: string
      required:
      - agent_id
      - agent_config
      - created_at
      title: Agent
      type: object
    AgentStepResponse:
      description: Response containing details of a specific agent step.
      properties:
        step:
          discriminator:
            mapping:
              inference: '#/$defs/InferenceStep'
              memory_retrieval: '#/$defs/MemoryRetrievalStep'
              shield_call: '#/$defs/ShieldCallStep'
              tool_execution: '#/$defs/ToolExecutionStep'
            propertyName: step_type
          oneOf:
          - $ref: '#/components/schemas/InferenceStep'
          - $ref: '#/components/schemas/ToolExecutionStep'
          - $ref: '#/components/schemas/ShieldCallStep'
          - $ref: '#/components/schemas/MemoryRetrievalStep'
          title: Step
      required:
      - step
      title: AgentStepResponse
      type: object
    CompletionMessage:
      description: A message containing the model's (assistant) response in a chat
        conversation.
      properties:
        role:
          const: assistant
          default: assistant
          title: Role
          type: string
        content:
          anyOf:
          - type: string
          - discriminator:
              mapping:
                image: '#/$defs/ImageContentItem'
                text: '#/$defs/TextContentItem'
              propertyName: type
            oneOf:
            - $ref: '#/components/schemas/ImageContentItem'
            - $ref: '#/components/schemas/TextContentItem'
          - items:
              discriminator:
                mapping:
                  image: '#/$defs/ImageContentItem'
                  text: '#/$defs/TextContentItem'
                propertyName: type
              oneOf:
              - $ref: '#/components/schemas/ImageContentItem'
              - $ref: '#/components/schemas/TextContentItem'
            type: array
          title: Content
        stop_reason:
          $ref: '#/components/schemas/StopReason'
        tool_calls:
          title: Tool Calls
          items:
            $ref: '#/components/schemas/ToolCall'
          type: array
      required:
      - content
      - stop_reason
      title: CompletionMessage
      type: object
    InferenceStep:
      description: An inference step in an agent turn.
      properties:
        turn_id:
          title: Turn Id
          type: string
        step_id:
          title: Step Id
          type: string
        started_at:
          title: Started At
          format: date-time
          type: string
          nullable: true
        completed_at:
          title: Completed At
          format: date-time
          type: string
          nullable: true
        step_type:
          const: inference
          default: inference
          title: Step Type
          type: string
        model_response:
          $ref: '#/components/schemas/CompletionMessage'
      required:
      - turn_id
      - step_id
      - model_response
      title: InferenceStep
      type: object
    MemoryRetrievalStep:
      description: A memory retrieval step in an agent turn.
      properties:
        turn_id:
          title: Turn Id
          type: string
        step_id:
          title: Step Id
          type: string
        started_at:
          title: Started At
          format: date-time
          type: string
          nullable: true
        completed_at:
          title: Completed At
          format: date-time
          type: string
          nullable: true
        step_type:
          const: memory_retrieval
          default: memory_retrieval
          title: Step Type
          type: string
        vector_store_ids:
          title: Vector Store Ids
          type: string
        inserted_context:
          anyOf:
          - type: string
          - discriminator:
              mapping:
                image: '#/$defs/ImageContentItem'
                text: '#/$defs/TextContentItem'
              propertyName: type
            oneOf:
            - $ref: '#/components/schemas/ImageContentItem'
            - $ref: '#/components/schemas/TextContentItem'
          - items:
              discriminator:
                mapping:
                  image: '#/$defs/ImageContentItem'
                  text: '#/$defs/TextContentItem'
                propertyName: type
              oneOf:
              - $ref: '#/components/schemas/ImageContentItem'
              - $ref: '#/components/schemas/TextContentItem'
            type: array
          title: Inserted Context
      required:
      - turn_id
      - step_id
      - vector_store_ids
      - inserted_context
      title: MemoryRetrievalStep
      type: object
    PaginatedResponse:
      description: A generic paginated response that follows a simple format.
      properties:
        data:
          items:
            additionalProperties: true
            type: object
          title: Data
          type: array
        has_more:
          title: Has More
          type: boolean
        url:
          title: Url
          type: string
          nullable: true
      required:
      - data
      - has_more
      title: PaginatedResponse
      type: object
    Session:
      description: A single session of an interaction with an Agentic System.
      properties:
        session_id:
          title: Session Id
          type: string
        session_name:
          title: Session Name
          type: string
        turns:
          items:
            $ref: '#/components/schemas/Turn'
          title: Turns
          type: array
        started_at:
          format: date-time
          title: Started At
          type: string
      required:
      - session_id
      - session_name
      - turns
      - started_at
      title: Session
      type: object
    ShieldCallStep:
      description: A shield call step in an agent turn.
      properties:
        turn_id:
          title: Turn Id
          type: string
        step_id:
          title: Step Id
          type: string
        started_at:
          title: Started At
          format: date-time
          type: string
          nullable: true
        completed_at:
          title: Completed At
          format: date-time
          type: string
          nullable: true
        step_type:
          const: shield_call
          default: shield_call
          title: Step Type
          type: string
        violation:
          $ref: '#/components/schemas/SafetyViolation'
      required:
      - turn_id
      - step_id
      - violation
      title: ShieldCallStep
      type: object
    ToolExecutionStep:
      description: A tool execution step in an agent turn.
      properties:
        turn_id:
          title: Turn Id
          type: string
        step_id:
          title: Step Id
          type: string
        started_at:
          title: Started At
          format: date-time
          type: string
          nullable: true
        completed_at:
          title: Completed At
          format: date-time
          type: string
          nullable: true
        step_type:
          const: tool_execution
          default: tool_execution
          title: Step Type
          type: string
        tool_calls:
          items:
            $ref: '#/components/schemas/ToolCall'
          title: Tool Calls
          type: array
        tool_responses:
          items:
            $ref: '#/components/schemas/ToolResponse'
          title: Tool Responses
          type: array
      required:
      - turn_id
      - step_id
      - tool_calls
      - tool_responses
      title: ToolExecutionStep
      type: object
    ToolResponse:
      description: Response from a tool invocation.
      properties:
        call_id:
          title: Call Id
          type: string
        tool_name:
          anyOf:
          - $ref: '#/components/schemas/BuiltinTool'
          - type: string
          title: Tool Name
        content:
          anyOf:
          - type: string
          - discriminator:
              mapping:
                image: '#/$defs/ImageContentItem'
                text: '#/$defs/TextContentItem'
              propertyName: type
            oneOf:
            - $ref: '#/components/schemas/ImageContentItem'
            - $ref: '#/components/schemas/TextContentItem'
          - items:
              discriminator:
                mapping:
                  image: '#/$defs/ImageContentItem'
                  text: '#/$defs/TextContentItem'
                propertyName: type
              oneOf:
              - $ref: '#/components/schemas/ImageContentItem'
[...]
