openapi: 3.1.0
info:
  title: Llama Stack API
  description: A comprehensive API for building and deploying AI applications
  version: 1.0.0
servers:
- url: https://api.llamastack.com
  description: Production server
- url: https://staging-api.llamastack.com
  description: Staging server
paths:
  /v1beta/datasetio/append-rows/{dataset_id}:
    post:
      tags:
      - DatasetIO
      summary: Append rows to a dataset.
      description: Append rows to a dataset.
      operationId: append_rows_v1beta_datasetio_append_rows__dataset_id__post
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the dataset to append the rows to
          title: Dataset Id
        description: The ID of the dataset to append the rows to
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: true
              description: The rows to append to the dataset.
              title: Body
      responses:
        '204':
          description: Successful Response
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1beta/datasetio/iterrows/{dataset_id}:
    get:
      tags:
      - DatasetIO
      summary: Get a paginated list of rows from a dataset.
      description: Get a paginated list of rows from a dataset using offset-based pagination.
      operationId: iterrows_v1beta_datasetio_iterrows__dataset_id__get
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the dataset to get the rows from
          title: Dataset Id
        description: The ID of the dataset to get the rows from
      - name: start_index
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          description: Index into dataset for the first row to get. Get all rows if None.
          title: Start Index
        description: Index into dataset for the first row to get. Get all rows if None.
      - name: limit
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          description: The number of rows to get.
          title: Limit
        description: The number of rows to get.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1beta/datasets:
    get:
      tags:
      - Datasets
      summary: List all datasets
      description: List all datasets
      operationId: list_datasets_v1beta_datasets_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDatasetsResponse'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - Datasets
      summary: Register a new dataset
      description: Register a new dataset
      operationId: register_dataset_v1beta_datasets_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterDatasetRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dataset'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1beta/datasets/{{dataset_id}}:
    delete:
      tags:
      - Datasets
      summary: Unregister a dataset by its ID
      description: Unregister a dataset by its ID
      operationId: unregister_dataset_v1beta_datasets___dataset_id___delete
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the dataset to unregister
          title: Dataset Id
        description: The ID of the dataset to unregister
      responses:
        '204':
          description: Successful Response
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      tags:
      - Datasets
      summary: Get a dataset by its ID
      description: Get a dataset by its ID
      operationId: get_dataset_v1beta_datasets___dataset_id___get
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the dataset to get
          title: Dataset Id
        description: The ID of the dataset to get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dataset'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1alpha/agents:
    get:
      tags:
      - Agents
      summary: List all agents.
      description: List all agents.
      operationId: list_agents_v1alpha_agents_get
      parameters:
      - name: start_index
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          description: The index to start the pagination from.
          title: Start Index
        description: The index to start the pagination from.
      - name: limit
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          description: The number of agents to return.
          title: Limit
        description: The number of agents to return.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - Agents
      summary: Create an agent.
      description: Create an agent with the given configuration.
      operationId: create_agent_v1alpha_agents_post
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentConfig-Input'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentCreateResponse'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1alpha/agents/{{agent_id}}:
    delete:
      tags:
      - Agents
      summary: Delete an agent.
      description: Delete an agent by its ID.
      operationId: delete_agent_v1alpha_agents___agent_id___delete
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the agent to delete.
          title: Agent Id
        description: The ID of the agent to delete.
      responses:
        '204':
          description: Successful Response
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      tags:
      - Agents
      summary: Describe an agent.
      description: Describe an agent by its ID.
      operationId: get_agent_v1alpha_agents___agent_id___get
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          description: ID of the agent.
          title: Agent Id
        description: ID of the agent.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1alpha/agents/{{agent_id}}/session:
    post:
      tags:
      - Agents
      summary: Create a new session for an agent.
      description: Create a new session for an agent.
      operationId: create_agent_session_v1alpha_agents___agent_id___session_post
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the agent to create the session for.
          title: Agent Id
        description: The ID of the agent to create the session for.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAgentSessionRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentSessionCreateResponse'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1alpha/agents/{{agent_id}}/session/{{session_id}}:
    delete:
      tags:
      - Agents
      summary: Delete an agent session.
      description: Delete an agent session by its ID.
      operationId: delete_agents_session_v1alpha_agents___agent_id___session___session_id___delete
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the agent to delete the session for.
          title: Agent Id
        description: The ID of the agent to delete the session for.
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the session to delete.
          title: Session Id
        description: The ID of the session to delete.
      responses:
        '204':
          description: Successful Response
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      tags:
      - Agents
      summary: Retrieve an agent session.
      description: Retrieve an agent session by its ID.
      operationId: get_agents_session_v1alpha_agents___agent_id___session___session_id___get
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the agent to get the session for.
          title: Agent Id
        description: The ID of the agent to get the session for.
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the session to get.
          title: Session Id
        description: The ID of the session to get.
      - name: turn_ids
        in: query
        required: false
        schema:
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: List of turn IDs to filter the session by.
          title: Turn Ids
        description: List of turn IDs to filter the session by.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1alpha/agents/{{agent_id}}/session/{{session_id}}/turn:
    post:
      tags:
      - Agents
      summary: Create a new turn for an agent.
      description: Create a new turn for an agent.
      operationId: create_agent_turn_v1alpha_agents___agent_id___session___session_id___turn_post
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the agent to create the turn for.
          title: Agent Id
        description: The ID of the agent to create the turn for.
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the session to create the turn for.
          title: Session Id
        description: The ID of the session to create the turn for.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentTurnCreateRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1alpha/agents/{{agent_id}}/session/{{session_id}}/turn/{{turn_id}}:
    get:
      tags:
      - Agents
      summary: Retrieve an agent turn.
      description: Retrieve an agent turn by its ID.
      operationId: get_agents_turn_v1alpha_agents___agent_id___session___session_id___turn___turn_id___get
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the agent to get the turn for.
          title: Agent Id
        description: The ID of the agent to get the turn for.
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the session to get the turn for.
          title: Session Id
        description: The ID of the session to get the turn for.
      - name: turn_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the turn to get.
          title: Turn Id
        description: The ID of the turn to get.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Turn'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1alpha/agents/{{agent_id}}/session/{{session_id}}/turn/{{turn_id}}/resume:
    post:
      tags:
      - Agents
      summary: Resume an agent turn.
      description: Resume an agent turn with executed tool call responses.
      operationId: resume_agent_turn_v1alpha_agents___agent_id___session___session_id___turn___turn_id___resume_post
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the agent to resume.
          title: Agent Id
        description: The ID of the agent to resume.
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the session to resume.
          title: Session Id
        description: The ID of the session to resume.
      - name: turn_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the turn to resume.
          title: Turn Id
        description: The ID of the turn to resume.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentTurnResumeRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1alpha/agents/{{agent_id}}/session/{{session_id}}/turn/{{turn_id}}/step/{{step_id}}:
    get:
      tags:
      - Agents
      summary: Retrieve an agent step.
      description: Retrieve an agent step by its ID.
      operationId: get_agents_step_v1alpha_agents___agent_id___session___session_id___turn___turn_id___step___step_id___get
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the agent to get the step for.
          title: Agent Id
        description: The ID of the agent to get the step for.
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the session to get the step for.
          title: Session Id
        description: The ID of the session to get the step for.
      - name: turn_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the turn to get the step for.
          title: Turn Id
        description: The ID of the turn to get the step for.
      - name: step_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the step to get.
          title: Step Id
        description: The ID of the step to get.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentStepResponse'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1alpha/agents/{{agent_id}}/sessions:
    get:
      tags:
      - Agents
      summary: List all sessions of an agent.
      description: List all session(s) of a given agent.
      operationId: list_agent_sessions_v1alpha_agents___agent_id___sessions_get
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the agent to list sessions for.
          title: Agent Id
        description: The ID of the agent to list sessions for.
      - name: start_index
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          description: The index to start the pagination from.
          title: Start Index
        description: The index to start the pagination from.
      - name: limit
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          description: The number of sessions to return.
          title: Limit
        description: The number of sessions to return.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1alpha/eval/benchmarks:
    get:
      tags:
      - Benchmarks
      summary: List all benchmarks
      description: List all benchmarks
      operationId: list_benchmarks_v1alpha_eval_benchmarks_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBenchmarksResponse'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - Benchmarks
      summary: Register a benchmark
      description: Register a benchmark
      operationId: register_benchmark_v1alpha_eval_benchmarks_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterBenchmarkRequest'
        required: true
      responses:
        '204':
          description: Successful Response
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1alpha/eval/benchmarks/{{benchmark_id}}:
    delete:
      tags:
      - Benchmarks
      summary: Unregister a benchmark
      description: Unregister a benchmark
      operationId: unregister_benchmark_v1alpha_eval_benchmarks___benchmark_id___delete
      parameters:
      - name: benchmark_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the benchmark to unregister
          title: Benchmark Id
        description: The ID of the benchmark to unregister
      responses:
        '204':
          description: Successful Response
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      tags:
      - Benchmarks
      summary: Get a benchmark by its ID
      description: Get a benchmark by its ID
      operationId: get_benchmark_v1alpha_eval_benchmarks___benchmark_id___get
      parameters:
      - name: benchmark_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the benchmark to get
          title: Benchmark Id
        description: The ID of the benchmark to get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Benchmark'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1alpha/eval/benchmarks/{{benchmark_id}}/evaluations:
    post:
      tags:
      - Eval
      summary: Evaluate a list of rows on a benchmark
      description: Evaluate a list of rows on a benchmark
      operationId: evaluate_rows_v1alpha_eval_benchmarks___benchmark_id___evaluations_post
      parameters:
      - name: benchmark_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the benchmark to run the evaluation on
          title: Benchmark Id
        description: The ID of the benchmark to run the evaluation on
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EvaluateRowsRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvaluateResponse'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1alpha/eval/benchmarks/{{benchmark_id}}/jobs:
    post:
      tags:
      - Eval
      summary: Run an evaluation on a benchmark
      description: Run an evaluation on a benchmark
      operationId: run_eval_v1alpha_eval_benchmarks___benchmark_id___jobs_post
      parameters:
      - name: benchmark_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the benchmark to run the evaluation on
          title: Benchmark Id
        description: The ID of the benchmark to run the evaluation on
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BenchmarkConfig'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1alpha/eval/benchmarks/{{benchmark_id}}/jobs/{{job_id}}:
    delete:
      tags:
      - Eval
      summary: Cancel a job
      description: Cancel a job
      operationId: job_cancel_v1alpha_eval_benchmarks___benchmark_id___jobs___job_id___delete
      parameters:
      - name: benchmark_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the benchmark to run the evaluation on
          title: Benchmark Id
        description: The ID of the benchmark to run the evaluation on
      - name: job_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the job to cancel
          title: Job Id
        description: The ID of the job to cancel
      responses:
        '204':
          description: Successful Response
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      tags:
      - Eval
      summary: Get the status of a job
      description: Get the status of a job
      operationId: job_status_v1alpha_eval_benchmarks___benchmark_id___jobs___job_id___get
      parameters:
      - name: benchmark_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the benchmark to run the evaluation on
          title: Benchmark Id
        description: The ID of the benchmark to run the evaluation on
      - name: job_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the job to get the status of
          title: Job Id
        description: The ID of the job to get the status of
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1alpha/eval/benchmarks/{{benchmark_id}}/jobs/{{job_id}}/result:
    get:
      tags:
      - Eval
      summary: Get the result of a job
      description: Get the result of a job
      operationId: job_result_v1alpha_eval_benchmarks___benchmark_id___jobs___job_id___result_get
      parameters:
      - name: benchmark_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the benchmark to run the evaluation on
          title: Benchmark Id
        description: The ID of the benchmark to run the evaluation on
      - name: job_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the job to get the result of
          title: Job Id
        description: The ID of the job to get the result of
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvaluateResponse'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1alpha/inference/rerank:
    post:
      tags:
      - Inference
      summary: Rerank a list of documents.
      description: Rerank a list of documents based on their relevance to a query.
      operationId: rerank_v1alpha_inference_rerank_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_rerank_v1alpha_inference_rerank_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RerankResponse'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1alpha/post-training/job/artifacts:
    get:
      tags:
      - Post Training
      summary: Get the artifacts of a training job
      description: Get the artifacts of a training job
      operationId: get_training_job_artifacts_v1alpha_post_training_job_artifacts_get
      parameters:
      - name: job_uuid
        in: query
        required: true
        schema:
          type: string
          description: The UUID of the job to get the artifacts of
          title: Job Uuid
        description: The UUID of the job to get the artifacts of
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostTrainingJobArtifactsResponse'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1alpha/post-training/job/cancel:
    post:
      tags:
      - Post Training
      summary: Cancel a training job
      description: Cancel a training job
      operationId: cancel_training_job_v1alpha_post_training_job_cancel_post
      parameters:
      - name: job_uuid
        in: query
        required: true
        schema:
          type: string
          description: The UUID of the job to cancel
          title: Job Uuid
        description: The UUID of the job to cancel
      responses:
        '204':
          description: Successful Response
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1alpha/post-training/job/status:
    get:
      tags:
      - Post Training
      summary: Get the status of a training job
      description: Get the status of a training job
      operationId: get_training_job_status_v1alpha_post_training_job_status_get
      parameters:
      - name: job_uuid
        in: query
        required: true
        schema:
          type: string
          description: The UUID of the job to get the status of
          title: Job Uuid
        description: The UUID of the job to get the status of
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostTrainingJobStatusResponse'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1alpha/post-training/jobs:
    get:
      tags:
      - Post Training
      summary: Get all training jobs
      description: Get all training jobs
      operationId: get_training_jobs_v1alpha_post_training_jobs_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPostTrainingJobsResponse'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1alpha/post-training/preference-optimize:
    post:
      tags:
      - Post Training
      summary: Run preference optimization of a model
      description: Run preference optimization of a model
      operationId: preference_optimize_v1alpha_post_training_preference_optimize_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreferenceOptimizeRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostTrainingJob'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1alpha/post-training/supervised-fine-tune:
    post:
      tags:
      - Post Training
      summary: Run supervised fine-tuning of a model
      description: Run supervised fine-tuning of a model
      operationId: supervised_fine_tune_v1alpha_post_training_supervised_fine_tune_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SupervisedFineTuneRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostTrainingJob'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Agent:
      properties:
        agent_id:
          type: string
          title: Agent Id
          description: Unique identifier for the agent
        agent_config:
          $ref: '#/components/schemas/AgentConfig-Output'
          description: Configuration settings for the agent
        created_at:
          type: string
          format: date-time
          title: Created At
          description: Timestamp when the agent was created
      type: object
      required:
      - agent_id
      - agent_config
      - created_at
      title: Agent
      description: An agent instance with configuration and metadata.
    AgentCandidate:
      properties:
        type:
          type: string
          const: agent
          title: Type
          description: The type of candidate.
          default: agent
        config:
          $ref: '#/components/schemas/AgentConfig-Input'
          description: The configuration for the agent candidate.
      type: object
      required:
      - config
      title: AgentCandidate
      description: An agent candidate for evaluation.
    AgentConfig-Input:
      properties:
        sampling_params:
          anyOf:
          - $ref: '#/components/schemas/SamplingParams'
          - type: 'null'
        input_shields:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Input Shields
        output_shields:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Output Shields
        toolgroups:
          anyOf:
          - items:
              anyOf:
              - type: string
              - $ref: '#/components/schemas/AgentToolGroupWithArgs'
            type: array
          - type: 'null'
          title: Toolgroups
        client_tools:
          anyOf:
          - items:
              $ref: '#/components/schemas/ToolDef'
            type: array
          - type: 'null'
          title: Client Tools
        tool_choice:
          anyOf:
          - $ref: '#/components/schemas/ToolChoice'
          - type: 'null'
          deprecated: true
        tool_prompt_format:
          anyOf:
          - $ref: '#/components/schemas/ToolPromptFormat'
          - type: 'null'
          deprecated: true
        tool_config:
          anyOf:
          - $ref: '#/components/schemas/ToolConfig'
          - type: 'null'
        max_infer_iters:
          anyOf:
          - type: integer
          - type: 'null'
          title: Max Infer Iters
          default: 10
        model:
          type: string
          title: Model
          description: The model identifier to use for the agent
        instructions:
          type: string
          title: Instructions
          description: The system instructions for the agent
        name:
          anyOf:
          - type: string
          - type: 'null'
          title: Name
          description: Optional name for the agent, used in telemetry and identification
        enable_session_persistence:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Enable Session Persistence
          description: Optional flag indicating whether session data has to be persisted
          default: false
        response_format:
          anyOf:
          - oneOf:
            - $ref: '#/components/schemas/JsonSchemaResponseFormat'
            - $ref: '#/components/schemas/GrammarResponseFormat'
            discriminator:
              propertyName: type
              mapping:
                grammar: '#/components/schemas/GrammarResponseFormat'
                json_schema: '#/components/schemas/JsonSchemaResponseFormat'
          - type: 'null'
          title: Response Format
          description: Optional response format configuration
      type: object
      required:
      - model
      - instructions
      title: AgentConfig
      description: Configuration for an agent.
    AgentConfig-Output:
      properties:
        sampling_params:
          anyOf:
          - $ref: '#/components/schemas/SamplingParams'
          - type: 'null'
        input_shields:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Input Shields
        output_shields:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Output Shields
        toolgroups:
          anyOf:
          - items:
              anyOf:
              - type: string
              - $ref: '#/components/schemas/AgentToolGroupWithArgs'
            type: array
          - type: 'null'
          title: Toolgroups
        client_tools:
          anyOf:
          - items:
              $ref: '#/components/schemas/ToolDef'
            type: array
          - type: 'null'
          title: Client Tools
        tool_choice:
          anyOf:
          - $ref: '#/components/schemas/ToolChoice'
          - type: 'null'
          deprecated: true
        tool_prompt_format:
          anyOf:
          - $ref: '#/components/schemas/ToolPromptFormat'
          - type: 'null'
          deprecated: true
        tool_config:
          anyOf:
          - $ref: '#/components/schemas/ToolConfig'
          - type: 'null'
        max_infer_iters:
          anyOf:
          - type: integer
          - type: 'null'
          title: Max Infer Iters
          default: 10
        model:
          type: string
          title: Model
          description: The model identifier to use for the agent
        instructions:
          type: string
          title: Instructions
          description: The system instructions for the agent
        name:
          anyOf:
          - type: string
          - type: 'null'
          title: Name
          description: Optional name for the agent, used in telemetry and identification
        enable_session_persistence:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Enable Session Persistence
          description: Optional flag indicating whether session data has to be persisted
          default: false
        response_format:
          anyOf:
          - oneOf:
            - $ref: '#/components/schemas/JsonSchemaResponseFormat'
            - $ref: '#/components/schemas/GrammarResponseFormat'
            discriminator:
              propertyName: type
              mapping:
                grammar: '#/components/schemas/GrammarResponseFormat'
                json_schema: '#/components/schemas/JsonSchemaResponseFormat'
          - type: 'null'
          title: Response Format
          description: Optional response format configuration
      type: object
      required:
      - model
      - instructions
      title: AgentConfig
      description: Configuration for an agent.
    AgentCreateResponse:
      properties:
        agent_id:
          type: string
          title: Agent Id
          description: Unique identifier for the created agent
      type: object
      required:
      - agent_id
      title: AgentCreateResponse
      description: Response returned when creating a new agent.
    AgentSessionCreateResponse:
      properties:
        session_id:
          type: string
          title: Session Id
          description: Unique identifier for the created session
      type: object
      required:
      - session_id
      title: AgentSessionCreateResponse
      description: Response returned when creating a new agent session.
    AgentStepResponse:
      properties:
        step:
          oneOf:
          - $ref: '#/components/schemas/InferenceStep-Output'
          - $ref: '#/components/schemas/ToolExecutionStep-Output'
          - $ref: '#/components/schemas/ShieldCallStep-Output'
          - $ref: '#/components/schemas/MemoryRetrievalStep-Output'
          title: Step
          description: The complete step data and execution details
          discriminator:
            propertyName: step_type
            mapping:
              inference: '#/components/schemas/InferenceStep-Output'
              memory_retrieval: '#/components/schemas/MemoryRetrievalStep-Output'
              shield_call: '#/components/schemas/ShieldCallStep-Output'
              tool_execution: '#/components/schemas/ToolExecutionStep-Output'
      type: object
      required:
      - step
      title: AgentStepResponse
      description: Response containing details of a specific agent step.
    AgentToolGroupWithArgs:
      properties:
        name:
          type: string
          title: Name
        args:
          additionalProperties: true
          type: object
          title: Args
      type: object
      required:
      - name
      - args
      title: AgentToolGroupWithArgs
    AgentTurnCreateRequest:
      properties:
        sampling_params:
          anyOf:
          - $ref: '#/components/schemas/SamplingParams'
          - type: 'null'
        input_shields:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Input Shields
        output_shields:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Output Shields
        toolgroups:
          anyOf:
          - items:
              anyOf:
              - type: string
              - $ref: '#/components/schemas/AgentToolGroupWithArgs'
            type: array
          - type: 'null'
          title: Toolgroups
          description: List of tool groups to make available for this turn
        client_tools:
          anyOf:
          - items:
              $ref: '#/components/schemas/ToolDef'
            type: array
          - type: 'null'
          title: Client Tools
        tool_choice:
          anyOf:
          - $ref: '#/components/schemas/ToolChoice'
          - type: 'null'
          deprecated: true
        tool_prompt_format:
          anyOf:
          - $ref: '#/components/schemas/ToolPromptFormat'
          - type: 'null'
          deprecated: true
        tool_config:
          anyOf:
          - $ref: '#/components/schemas/ToolConfig'
          - type: 'null'
          description: Tool configuration to override agent defaults
        max_infer_iters:
          anyOf:
          - type: integer
          - type: 'null'
          title: Max Infer Iters
          default: 10
        instructions:
          anyOf:
          - type: string
          - type: 'null'
          title: Instructions
        agent_id:
          type: string
          title: Agent Id
          description: Unique identifier for the agent
        session_id:
          type: string
          title: Session Id
          description: Unique identifier for the conversation session
        messages:
          items:
            anyOf:
            - $ref: '#/components/schemas/UserMessage-Input'
            - $ref: '#/components/schemas/ToolResponseMessage-Input'
          type: array
          title: Messages
          description: List of messages to start the turn with
        documents:
          anyOf:
          - items:
              $ref: '#/components/schemas/Document'
            type: array
          - type: 'null'
          title: Documents
          description: List of documents to provide to the agent
        stream:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Stream
          description: Whether to stream the response
          default: false
      type: object
      required:
      - agent_id
      - session_id
      - messages
      title: AgentTurnCreateRequest
      description: Request to create a new turn for an agent.
    AgentTurnResumeRequest:
      properties:
        agent_id:
          type: string
          title: Agent Id
          description: Unique identifier for the agent
        session_id:
          type: string
          title: Session Id
          description: Unique identifier for the conversation session
        turn_id:
          type: string
          title: Turn Id
          description: Unique identifier for the turn within a session
        tool_responses:
          items:
            $ref: '#/components/schemas/ToolResponse-Input'
          type: array
          title: Tool Responses
          description: List of tool responses to submit to continue the turn
        stream:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Stream
          description: Whether to stream the response
          default: false
      type: object
      required:
      - agent_id
      - session_id
      - turn_id
      - tool_responses
      title: AgentTurnResumeRequest
      description: Request to resume an agent turn with tool responses.
    AggregationFunctionType:
      type: string
      enum:
      - average
      - weighted_average
      - median
      - categorical_count
      - accuracy
      title: AggregationFunctionType
      description: Types of aggregation functions for scoring results.
    Attachment-Output:
      properties:
        content:
          anyOf:
          - type: string
          - oneOf:
            - $ref: '#/components/schemas/ImageContentItem-Output'
            - $ref: '#/components/schemas/TextContentItem'
            discriminator:
              propertyName: type
              mapping:
                image: '#/components/schemas/ImageContentItem-Output'
                text: '#/components/schemas/TextContentItem'
          - items:
              oneOf:
              - $ref: '#/components/schemas/ImageContentItem-Output'
              - $ref: '#/components/schemas/TextContentItem'
              discriminator:
                propertyName: type
                mapping:
                  image: '#/components/schemas/ImageContentItem-Output'
                  text: '#/components/schemas/TextContentItem'
            type: array
          - $ref: '#/components/schemas/URL'
          title: Content
          description: The content of the attachment.
        mime_type:
          type: string
          title: Mime Type
          description: The MIME type of the attachment.
      type: object
      required:
      - content
      - mime_type
      title: Attachment
      description: An attachment to an agent turn.
    BasicScoringFnParams:
      properties:
        type:
          type: string
          const: basic
          title: Type
          default: basic
        aggregation_functions:
          items:
            $ref: '#/components/schemas/AggregationFunctionType'
          type: array
          title: Aggregation Functions
          description: Aggregation functions to apply to the scores of each row
      type: object
      title: BasicScoringFnParams
      description: Parameters for basic scoring function configuration.
    Benchmark:
      properties:
        identifier:
          type: string
          title: Identifier
          description: Unique identifier for this resource in llama stack
        provider_resource_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Provider Resource Id
          description: Unique identifier for this resource in the provider
        provider_id:
          type: string
          title: Provider Id
          description: ID of the provider that owns this resource
        type:
          type: string
          const: benchmark
          title: Type
          description: The resource type, always benchmark
          default: benchmark
        dataset_id:
          type: string
          title: Dataset Id
          description: The ID of the dataset to use for the benchmark
        scoring_functions:
          items:
            type: string
          type: array
          title: Scoring Functions
          description: The scoring functions to use for the benchmark
        metadata:
          additionalProperties: true
          type: object
          title: Metadata
          description: Metadata for this evaluation task
      type: object
      required:
      - identifier
      - provider_id
      - dataset_id
      - scoring_functions
      title: Benchmark
      description: A benchmark resource for evaluating model performance.
    BenchmarkConfig:
      properties:
        eval_candidate:
          oneOf:
          - $ref: '#/components/schemas/ModelCandidate'
          - $ref: '#/components/schemas/AgentCandidate'
          title: Eval Candidate
          description: The candidate to evaluate.
          discriminator:
            propertyName: type
            mapping:
              agent: '#/components/schemas/AgentCandidate'
              model: '#/components/schemas/ModelCandidate'
        scoring_params:
          additionalProperties:
            oneOf:
            - $ref: '#/components/schemas/LLMAsJudgeScoringFnParams'
            - $ref: '#/components/schemas/RegexParserScoringFnParams'
            - $ref: '#/components/schemas/BasicScoringFnParams'
            discriminator:
              propertyName: type
              mapping:
                basic: '#/components/schemas/BasicScoringFnParams'
                llm_as_judge: '#/components/schemas/LLMAsJudgeScoringFnParams'
                regex_parser: '#/components/schemas/RegexParserScoringFnParams'
          type: object
          title: Scoring Params
          description: Map between scoring function id and parameters for each scoring function you want to run.
        num_examples:
          anyOf:
          - type: integer
          - type: 'null'
          title: Num Examples
          description: The number of examples to evaluate. If not provided, all examples in the dataset will be evaluated.
      type: object
      required:
      - eval_candidate
      title: BenchmarkConfig
      description: A benchmark configuration for evaluation.
    Body_rerank_v1alpha_inference_rerank_post:
      properties:
        model:
          type: string
          title: Model
          description: The identifier of the reranking model to use.
        query:
          anyOf:
          - type: string
          - $ref: '#/components/schemas/OpenAIChatCompletionContentPartTextParam'
          - $ref: '#/components/schemas/OpenAIChatCompletionContentPartImageParam'
          title: Query
          description: The search query to rank items against.
        items:
          items:
            anyOf:
            - type: string
            - $ref: '#/components/schemas/OpenAIChatCompletionContentPartTextParam'
            - $ref: '#/components/schemas/OpenAIChatCompletionContentPartImageParam'
          type: array
          title: Items
          description: List of items to rerank.
        max_num_results:
          anyOf:
          - type: integer
          - type: 'null'
          title: Max Num Results
          description: 'Maximum number of results to return. Default: returns all.'
      type: object
      required:
      - model
      - query
      - items
      title: Body_rerank_v1alpha_inference_rerank_post
    BuiltinTool:
      type: string
      enum:
      - brave_search
      - wolfram_alpha
      - photogen
      - code_interpreter
      title: BuiltinTool
    Checkpoint:
      properties:
        identifier:
          type: string
          title: Identifier
          description: Unique identifier for the checkpoint.
        created_at:
          type: string
          format: date-time
          title: Created At
          description: Timestamp when the checkpoint was created.
        epoch:
          type: integer
          title: Epoch
          description: Training epoch when the checkpoint was saved.
        post_training_job_id:
          type: string
          title: Post Training Job Id
          description: Identifier of the training job that created this checkpoint.
        path:
          type: string
          title: Path
          description: File system path where the checkpoint is stored.
        training_metrics:
          anyOf:
          - $ref: '#/components/schemas/PostTrainingMetric'
          - type: 'null'
          description: Training metrics associated with this checkpoint.
      type: object
      required:
      - identifier
      - created_at
      - epoch
      - post_training_job_id
      - path
      - training_metrics
      title: Checkpoint
      description: Checkpoint created during training runs.
    CompletionMessage-Output:
      properties:
        role:
          type: string
          const: assistant
          title: Role
          default: assistant
        content:
          anyOf:
          - type: string
          - oneOf:
            - $ref: '#/components/schemas/ImageContentItem-Output'
            - $ref: '#/components/schemas/TextContentItem'
            discriminator:
              propertyName: type
              mapping:
                image: '#/components/schemas/ImageContentItem-Output'
                text: '#/components/schemas/TextContentItem'
          - items:
              oneOf:
              - $ref: '#/components/schemas/ImageContentItem-Output'
              - $ref: '#/components/schemas/TextContentItem'
              discriminator:
                propertyName: type
                mapping:
                  image: '#/components/schemas/ImageContentItem-Output'
                  text: '#/components/schemas/TextContentItem'
            type: array
          title: Content
        stop_reason:
          $ref: '#/components/schemas/StopReason'
        tool_calls:
          anyOf:
          - items:
              $ref: '#/components/schemas/ToolCall'
            type: array
          - type: 'null'
          title: Tool Calls
      type: object
      required:
      - content
      - stop_reason
      title: CompletionMessage
      description: "A message containing the model's (assistant) response in a chat conversation.\n\n- `StopReason.end_of_turn`: The model finished generating the entire response.\n- `StopReason.end_of_message`: The model finished generating but generated a partial response -- usually, a tool call. The user may call the tool and continue the conversation with the tool's response.\n- `StopReason.out_of_tokens`: The model ran out of token budget."
    CreateAgentSessionRequest:
      properties:
        agent_id:
          type: string
          title: Agent Id
          description: The ID of the agent to create the session for
        session_name:
          type: string
          title: Session Name
          description: The name of the session to create
      type: object
      required:
      - agent_id
      - session_name
      title: CreateAgentSessionRequest
      description: Request to create a new session for an agent.
    DPOAlignmentConfig:
      properties:
        beta:
          type: number
          title: Beta
        loss_type:
          $ref: '#/components/schemas/DPOLossType'
          default: sigmoid
      type: object
      required:
      - beta
      title: DPOAlignmentConfig
      description: Configuration for Direct Preference Optimization (DPO) alignment.
    DPOLossType:
      type: string
      enum:
      - sigmoid
      - hinge
      - ipo
      - kto_pair
      title: DPOLossType
    DataConfig:
      properties:
        dataset_id:
          type: string
          title: Dataset Id
        batch_size:
          type: integer
          title: Batch Size
        shuffle:
          type: boolean
          title: Shuffle
        data_format:
          $ref: '#/components/schemas/DatasetFormat'
        validation_dataset_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Validation Dataset Id
        packed:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Packed
          default: false
        train_on_input:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Train On Input
          default: false
      type: object
      required:
      - dataset_id
      - batch_size
      - shuffle
      - data_format
      title: DataConfig
      description: Configuration for training data and data loading.
    Dataset:
      properties:
        identifier:
          type: string
          title: Identifier
          description: Unique identifier for this resource in llama stack
        provider_resource_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Provider Resource Id
          description: Unique identifier for this resource in the provider
        provider_id:
          type: string
          title: Provider Id
          description: ID of the provider that owns this resource
        type:
          type: string
          const: dataset
          title: Type
          description: Type of resource, always 'dataset' for datasets
          default: dataset
        purpose:
          $ref: '#/components/schemas/DatasetPurpose'
        source:
          oneOf:
          - $ref: '#/components/schemas/URIDataSource'
          - $ref: '#/components/schemas/RowsDataSource'
          title: Source
          discriminator:
            propertyName: type
            mapping:
              rows: '#/components/schemas/RowsDataSource'
              uri: '#/components/schemas/URIDataSource'
        metadata:
          additionalProperties: true
          type: object
          title: Metadata
          description: Any additional metadata for this dataset
      type: object
      required:
      - identifier
      - provider_id
      - purpose
      - source
      title: Dataset
      description: Dataset resource for storing and accessing training or evaluation data.
    DatasetFormat:
      type: string
      enum:
      - instruct
      - dialog
      title: DatasetFormat
      description: Format of the training dataset.
    DatasetPurpose:
      type: string
      enum:
      - post-training/messages
      - eval/question-answer
      - eval/messages-answer
      title: DatasetPurpose
      description: "Purpose of the dataset. Each purpose has a required input data schema.\n\n    {\n        \"messages\": [\n            {\"role\": \"user\", \"content\": \"Hello, world!\"},\n            {\"role\": \"assistant\", \"content\": \"Hello, world!\"},\n        ]\n    }\n    {\n        \"question\": \"What is the capital of France?\",\n        \"answer\": \"Paris\"\n    }\n    {\n        \"messages\": [\n            {\"role\": \"user\", \"content\": \"Hello, my name is John Doe.\"},\n            {\"role\": \"assistant\", \"content\": \"Hello, John Doe. How can I help you today?\"},\n            {\"role\": \"user\", \"content\": \"What's my name?\"},\n        ],\n        \"answer\": \"John Doe\"\n    }"
    Document:
      properties:
        content:
          anyOf:
          - type: string
          - oneOf:
            - $ref: '#/components/schemas/ImageContentItem-Input'
            - $ref: '#/components/schemas/TextContentItem'
            discriminator:
              propertyName: type
              mapping:
                image: '#/components/schemas/ImageContentItem-Input'
                text: '#/components/schemas/TextContentItem'
          - items:
              oneOf:
              - $ref: '#/components/schemas/ImageContentItem-Input'
              - $ref: '#/components/schemas/TextContentItem'
              discriminator:
                propertyName: type
                mapping:
                  image: '#/components/schemas/ImageContentItem-Input'
                  text: '#/components/schemas/TextContentItem'
            type: array
          - $ref: '#/components/schemas/URL'
          title: Content
          description: The content of the document.
        mime_type:
          type: string
          title: Mime Type
          description: The MIME type of the document.
      type: object
      required:
      - content
      - mime_type
      title: Document
      description: A document to be used by an agent.
    EfficiencyConfig:
      properties:
        enable_activation_checkpointing:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Enable Activation Checkpointing
          default: false
        enable_activation_offloading:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Enable Activation Offloading
          default: false
        memory_efficient_fsdp_wrap:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Memory Efficient Fsdp Wrap
          default: false
        fsdp_cpu_offload:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Fsdp Cpu Offload
          default: false
      type: object
      title: EfficiencyConfig
      description: Configuration for memory and compute efficiency optimizations.
    Error:
      properties:
        status:
          type: integer
          title: Status
          description: HTTP status code
        title:
          type: string
          title: Title
          description: Error title, a short summary of the error which is invariant for an error type
        detail:
          type: string
          title: Detail
          description: Error detail, a longer human-readable description of the error
        instance:
          anyOf:
          - type: string
          - type: 'null'
          title: Instance
          description: (Optional) A URL which can be used to retrieve more information about the specific occurrence of the error
      type: object
      required:
      - status
      - title
      - detail
      title: Error
      description: Error response from the API. Roughly follows RFC 7807.
    EvaluateResponse:
      properties:
        generations:
          items:
            additionalProperties: true
            type: object
          type: array
          title: Generations
          description: The generations from the evaluation.
        scores:
          additionalProperties:
            $ref: '#/components/schemas/ScoringResult'
          type: object
          title: Scores
          description: The scores from the evaluation. Each key in the dict is a scoring function name.
      type: object
      required:
      - generations
      - scores
      title: EvaluateResponse
      description: The response from an evaluation.
    EvaluateRowsRequest:
      properties:
        input_rows:
          items:
            additionalProperties: true
            type: object
          type: array
          title: Input Rows
          description: The rows to evaluate.
        scoring_functions:
          items:
            type: string
          type: array
          title: Scoring Functions
          description: The scoring functions to use for the evaluation.
        benchmark_config:
          $ref: '#/components/schemas/BenchmarkConfig'
          description: The configuration for the benchmark.
      type: object
      required:
      - input_rows
      - scoring_functions
      - benchmark_config
      title: EvaluateRowsRequest
      description: Request model for evaluating rows.
    GrammarResponseFormat:
      properties:
        type:
          type: string
          const: grammar
          title: Type
          default: grammar
        bnf:
          additionalProperties: true
          type: object
          title: Bnf
      type: object
      required:
      - bnf
      title: GrammarResponseFormat
      description: Configuration for grammar-guided response generation.
    GreedySamplingStrategy:
      properties:
        type:
          type: string
          const: greedy
          title: Type
          default: greedy
      type: object
      title: GreedySamplingStrategy
      description: Greedy sampling strategy that selects the highest probability token at each step.
    ImageContentItem-Input:
      properties:
        type:
          type: string
          const: image
          title: Type
          default: image
        image:
          $ref: '#/components/schemas/_URLOrData'
      type: object
      required:
      - image
      title: ImageContentItem
      description: A image content item.
    ImageContentItem-Output:
      properties:
        type:
          type: string
          const: image
          title: Type
          default: image
        image:
          $ref: '#/components/schemas/_URLOrData'
      type: object
      required:
      - image
      title: ImageContentItem
      description: A image content item.
    InferenceStep-Output:
      properties:
        turn_id:
          type: string
          title: Turn Id
          description: The ID of the turn.
        step_id:
          type: string
          title: Step Id
          description: The ID of the step.
        started_at:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Started At
          description: The time the step started.
        completed_at:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Completed At
          description: The time the step completed.
        step_type:
          type: string
          const: inference
          title: Step Type
          default: inference
        model_response:
          $ref: '#/components/schemas/CompletionMessage-Output'
          description: The response from the LLM.
      type: object
      required:
      - turn_id
      - step_id
      - model_response
      title: InferenceStep
      description: An inference step in an agent turn.
    Job:
      properties:
        job_id:
          type: string
          title: Job Id
        status:
          $ref: '#/components/schemas/JobStatus'
      type: object
      required:
      - job_id
      - status
      title: Job
      description: A job execution instance with status tracking.
    JobStatus:
      type: string
      enum:
      - completed
      - in_progress
      - failed
      - scheduled
      - cancelled
      title: JobStatus
      description: "Status of a job execution.\n:cvar completed: Job has finished successfully\n:cvar in_progress: Job is currently running\n:cvar failed: Job has failed during execution\n:cvar scheduled: Job is scheduled but not yet started\n:cvar cancelled: Job was cancelled before completion"
    JsonSchemaResponseFormat:
      properties:
        type:
          type: string
          const: json_schema
          title: Type
          default: json_schema
        json_schema:
          additionalProperties: true
          type: object
          title: Json Schema
      type: object
      required:
      - json_schema
      title: JsonSchemaResponseFormat
      description: Configuration for JSON schema-guided response generation.
    LLMAsJudgeScoringFnParams:
      properties:
        type:
          type: string
          const: llm_as_judge
          title: Type
          default: llm_as_judge
        judge_model:
          type: string
          title: Judge Model
        prompt_template:
          anyOf:
          - type: string
          - type: 'null'
          title: Prompt Template
        judge_score_regexes:
          items:
            type: string
          type: array
          title: Judge Score Regexes
          description: Regexes to extract the answer from generated response
        aggregation_functions:
          items:
            $ref: '#/components/schemas/AggregationFunctionType'
          type: array
          title: Aggregation Functions
          description: Aggregation functions to apply to the scores of each row
      type: object
      required:
      - judge_model
      title: LLMAsJudgeScoringFnParams
      description: Parameters for LLM-as-judge scoring function configuration.
    ListBenchmarksResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/Benchmark'
          type: array
          title: Data
          description: List of benchmark resources
      type: object
      required:
      - data
      title: ListBenchmarksResponse
      description: Response model for listing benchmarks.
    ListDatasetsResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/Dataset'
          type: array
          title: Data
          description: List of datasets
      type: object
      required:
      - data
      title: ListDatasetsResponse
      description: Response from listing datasets.
    ListPostTrainingJobsResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/PostTrainingJob'
          type: array
          title: Data
          description: The list of training jobs
      type: object
      required:
      - data
      title: ListPostTrainingJobsResponse
    LoraFinetuningConfig:
      properties:
        type:
          type: string
          const: LoRA
          title: Type
          default: LoRA
        lora_attn_modules:
          items:
            type: string
          type: array
          title: Lora Attn Modules
        apply_lora_to_mlp:
          type: boolean
          title: Apply Lora To Mlp
        apply_lora_to_output:
          type: boolean
          title: Apply Lora To Output
        rank:
          type: integer
          title: Rank
        alpha:
          type: integer
          title: Alpha
        use_dora:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Use Dora
          default: false
        quantize_base:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Quantize Base
          default: false
      type: object
      required:
      - lora_attn_modules
      - apply_lora_to_mlp
      - apply_lora_to_output
      - rank
      - alpha
      title: LoraFinetuningConfig
      description: Configuration for Low-Rank Adaptation (LoRA) fine-tuning.
    MemoryRetrievalStep-Output:
      properties:
        turn_id:
          type: string
          title: Turn Id
          description: The ID of the turn.
        step_id:
          type: string
          title: Step Id
          description: The ID of the step.
        started_at:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Started At
          description: The time the step started.
        completed_at:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Completed At
          description: The time the step completed.
        step_type:
          type: string
          const: memory_retrieval
          title: Step Type
          default: memory_retrieval
        vector_store_ids:
          type: string
          title: Vector Store Ids
          description: The IDs of the vector databases to retrieve context from.
        inserted_context:
          anyOf:
          - type: string
          - oneOf:
            - $ref: '#/components/schemas/ImageContentItem-Output'
            - $ref: '#/components/schemas/TextContentItem'
            discriminator:
              propertyName: type
              mapping:
                image: '#/components/schemas/ImageContentItem-Output'
                text: '#/components/schemas/TextContentItem'
          - items:
              oneOf:
              - $ref: '#/components/schemas/ImageContentItem-Output'
              - $ref: '#/components/schemas/TextContentItem'
              discriminator:
                propertyName: type
                mapping:
                  image: '#/components/schemas/ImageContentItem-Output'
                  text: '#/components/schemas/TextContentItem'
            type: array
          title: Inserted Context
          description: The context retrieved from the vector databases.
      type: object
      required:
      - turn_id
      - step_id
      - vector_store_ids
      - inserted_context
      title: MemoryRetrievalStep
      description: A memory retrieval step in an agent turn.
    ModelCandidate:
      properties:
        type:
          type: string
          const: model
          title: Type
          description: The type of candidate.
          default: model
        model:
          type: string
          title: Model
          description: The model ID to evaluate.
        sampling_params:
          $ref: '#/components/schemas/SamplingParams'
          description: The sampling parameters for the model.
        system_message:
          anyOf:
          - $ref: '#/components/schemas/SystemMessage'
          - type: 'null'
          description: The system message providing instructions or context to the model.
      type: object
      required:
      - model
      - sampling_params
      title: ModelCandidate
      description: A model candidate for evaluation.
    OpenAIChatCompletionContentPartImageParam:
      properties:
        type:
          type: string
          const: image_url
          title: Type
          default: image_url
        image_url:
          $ref: '#/components/schemas/OpenAIImageURL'
      type: object
      required:
      - image_url
      title: OpenAIChatCompletionContentPartImageParam
      description: Image content part for OpenAI-compatible chat completion messages.
    OpenAIChatCompletionContentPartTextParam:
      properties:
        type:
          type: string
          const: text
          title: Type
          default: text
        text:
          type: string
          title: Text
      type: object
      required:
      - text
      title: OpenAIChatCompletionContentPartTextParam
      description: Text content part for OpenAI-compatible chat completion messages.
    OpenAIImageURL:
      properties:
        url:
          type: string
          title: Url
        detail:
          anyOf:
          - type: string
          - type: 'null'
          title: Detail
      type: object
      required:
      - url
      title: OpenAIImageURL
      description: Image URL specification for OpenAI-compatible chat completion messages.
    OptimizerConfig:
      properties:
        optimizer_type:
          $ref: '#/components/schemas/OptimizerType'
        lr:
          type: number
          title: Lr
        weight_decay:
          type: number
          title: Weight Decay
        num_warmup_steps:
          type: integer
          title: Num Warmup Steps
      type: object
      required:
      - optimizer_type
      - lr
      - weight_decay
      - num_warmup_steps
      title: OptimizerConfig
      description: Configuration parameters for the optimization algorithm.
    OptimizerType:
      type: string
      enum:
      - adam
      - adamw
      - sgd
      title: OptimizerType
      description: Available optimizer algorithms for training.
    PaginatedResponse:
      properties:
        data:
          items:
            additionalProperties: true
            type: object
          type: array
          title: Data
          description: The list of items for the current page.
        has_more:
          type: boolean
          title: Has More
          description: Whether there are more items available after this set.
        url:
          anyOf:
          - type: string
          - type: 'null'
          title: Url
          description: The URL for accessing this list.
      type: object
      required:
      - data
      - has_more
      - url
[...]
