openapi: 3.1.0
info:
  title: Llama Stack API
  description: A comprehensive API for building and deploying AI applications
  version: 1.0.0
servers:
- url: https://api.llamastack.com
  description: Production server
- url: https://staging-api.llamastack.com
  description: Staging server
paths:
  /v1/batches:
    get:
      tags:
      - Batches
      summary: List all batches for the current user.
      description: List all batches for the current user.
      operationId: list_batches_v1_batches_get
      parameters:
      - name: after
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: A cursor for pagination; returns batches after this batch ID.
          title: After
        description: A cursor for pagination; returns batches after this batch ID.
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
          description: Number of batches to return (default 20, max 100).
          default: 20
          title: Limit
        description: Number of batches to return (default 20, max 100).
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBatchesResponse'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - Batches
      summary: Create a new batch for processing multiple API requests.
      description: Create a new batch for processing multiple API requests.
      operationId: create_batch_v1_batches_post
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBatchRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Batch'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/batches/{batch_id}:
    get:
      tags:
      - Batches
      summary: Retrieve information about a specific batch.
      description: Retrieve information about a specific batch.
      operationId: retrieve_batch_v1_batches__batch_id__get
      parameters:
      - name: batch_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the batch to retrieve.
          title: Batch Id
        description: The ID of the batch to retrieve.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Batch'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/batches/{batch_id}/cancel:
    post:
      tags:
      - Batches
      summary: Cancel a batch that is in progress.
      description: Cancel a batch that is in progress.
      operationId: cancel_batch_v1_batches__batch_id__cancel_post
      parameters:
      - name: batch_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the batch to cancel.
          title: Batch Id
        description: The ID of the batch to cancel.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Batch'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/chat/completions:
    get:
      tags:
      - Inference
      summary: List chat completions.
      description: List chat completions.
      operationId: list_chat_completions_v1_chat_completions_get
      parameters:
      - name: after
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The ID of the last chat completion to return.
          title: After
        description: The ID of the last chat completion to return.
      - name: limit
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          description: The maximum number of chat completions to return.
          default: 20
          title: Limit
        description: The maximum number of chat completions to return.
      - name: model
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The model to filter by.
          title: Model
        description: The model to filter by.
      - name: order
        in: query
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/Order'
          - type: 'null'
          description: "The order to sort the chat completions by: 'asc' or 'desc'. Defaults to 'desc'."
          default: desc
          title: Order
        description: "The order to sort the chat completions by: 'asc' or 'desc'. Defaults to 'desc'."
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOpenAIChatCompletionResponse'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - Inference
      summary: Create chat completions.
      description: Create chat completions.
      operationId: openai_chat_completion_v1_chat_completions_post
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenAIChatCompletionRequestWithExtraBody'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/chat/completions/{completion_id}:
    get:
      tags:
      - Inference
      summary: Get chat completion.
      description: Get chat completion.
      operationId: get_chat_completion_v1_chat_completions__completion_id__get
      parameters:
      - name: completion_id
        in: path
        required: true
        schema:
          type: string
          description: ID of the chat completion.
          title: Completion Id
        description: ID of the chat completion.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAICompletionWithInputMessages'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/completions:
    post:
      tags:
      - Inference
      summary: Create completion.
      description: Create completion.
      operationId: openai_completion_v1_completions_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenAICompletionRequestWithExtraBody'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAICompletion'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/conversations:
    post:
      tags:
      - Conversations
      summary: Create a conversation
      description: Create a conversation
      operationId: create_conversation_v1_conversations_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConversationCreateRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversation'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/conversations/{conversation_id}:
    delete:
      tags:
      - Conversations
      summary: Delete a conversation
      description: Delete a conversation with the given ID
      operationId: openai_delete_conversation_v1_conversations__conversation_id__delete
      parameters:
      - name: conversation_id
        in: path
        required: true
        schema:
          type: string
          description: The conversation identifier
          title: Conversation Id
        description: The conversation identifier
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationDeletedResource'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      tags:
      - Conversations
      summary: Retrieve a conversation
      description: Get a conversation with the given ID
      operationId: get_conversation_v1_conversations__conversation_id__get
      parameters:
      - name: conversation_id
        in: path
        required: true
        schema:
          type: string
          description: The conversation identifier
          title: Conversation Id
        description: The conversation identifier
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversation'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - Conversations
      summary: Update a conversation
      description: Update a conversation's metadata with the given ID
      operationId: update_conversation_v1_conversations__conversation_id__post
      parameters:
      - name: conversation_id
        in: path
        required: true
        schema:
          type: string
          description: The conversation identifier
          title: Conversation Id
        description: The conversation identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConversationUpdateRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversation'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/conversations/{conversation_id}/items:
    get:
      tags:
      - Conversations
      summary: List items
      description: List items in the conversation
      operationId: list_items_v1_conversations__conversation_id__items_get
      parameters:
      - name: conversation_id
        in: path
        required: true
        schema:
          type: string
          description: The conversation identifier
          title: Conversation Id
        description: The conversation identifier
      - name: after
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: An item ID to list items after, used in pagination
          title: After
        description: An item ID to list items after, used in pagination
      - name: include
        in: query
        required: false
        schema:
          anyOf:
          - type: array
            items:
              $ref: '#/components/schemas/ConversationItemInclude'
          - type: 'null'
          description: Specify additional output data to include in the response
          title: Include
        description: Specify additional output data to include in the response
      - name: limit
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          description: A limit on the number of objects to be returned (1-100, default 20)
          title: Limit
        description: A limit on the number of objects to be returned (1-100, default 20)
      - name: order
        in: query
        required: false
        schema:
          anyOf:
          - enum:
            - asc
            - desc
            type: string
          - type: 'null'
          description: The order to return items in (asc or desc, default desc)
          title: Order
        description: The order to return items in (asc or desc, default desc)
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationItemList'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - Conversations
      summary: Create items
      description: Create items in the conversation
      operationId: add_items_v1_conversations__conversation_id__items_post
      parameters:
      - name: conversation_id
        in: path
        required: true
        schema:
          type: string
          description: The conversation identifier
          title: Conversation Id
        description: The conversation identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConversationItemCreateRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationItemList'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/conversations/{conversation_id}/items/{item_id}:
    delete:
      tags:
      - Conversations
      summary: Delete an item
      description: Delete a conversation item
      operationId: openai_delete_conversation_item_v1_conversations__conversation_id__items__item_id__delete
      parameters:
      - name: conversation_id
        in: path
        required: true
        schema:
          type: string
          description: The conversation identifier
          title: Conversation Id
        description: The conversation identifier
      - name: item_id
        in: path
        required: true
        schema:
          type: string
          description: The item identifier
          title: Item Id
        description: The item identifier
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationItemDeletedResource'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      tags:
      - Conversations
      summary: Retrieve an item
      description: Retrieve a conversation item
      operationId: retrieve_v1_conversations__conversation_id__items__item_id__get
      parameters:
      - name: conversation_id
        in: path
        required: true
        schema:
          type: string
          description: The conversation identifier
          title: Conversation Id
        description: The conversation identifier
      - name: item_id
        in: path
        required: true
        schema:
          type: string
          description: The item identifier
          title: Item Id
        description: The item identifier
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/OpenAIResponseMessage-Output'
                - $ref: '#/components/schemas/OpenAIResponseOutputMessageWebSearchToolCall'
                - $ref: '#/components/schemas/OpenAIResponseOutputMessageFileSearchToolCall'
                - $ref: '#/components/schemas/OpenAIResponseOutputMessageFunctionToolCall'
                - $ref: '#/components/schemas/OpenAIResponseInputFunctionToolCallOutput'
                - $ref: '#/components/schemas/OpenAIResponseMCPApprovalRequest'
                - $ref: '#/components/schemas/OpenAIResponseMCPApprovalResponse'
                - $ref: '#/components/schemas/OpenAIResponseOutputMessageMCPCall'
                - $ref: '#/components/schemas/OpenAIResponseOutputMessageMCPListTools'
                discriminator:
                  propertyName: type
                  mapping:
                    message: '#/components/schemas/OpenAIResponseMessage-Output'
                    web_search_call: '#/components/schemas/OpenAIResponseOutputMessageWebSearchToolCall'
                    file_search_call: '#/components/schemas/OpenAIResponseOutputMessageFileSearchToolCall'
                    function_call: '#/components/schemas/OpenAIResponseOutputMessageFunctionToolCall'
                    function_call_output: '#/components/schemas/OpenAIResponseInputFunctionToolCallOutput'
                    mcp_approval_request: '#/components/schemas/OpenAIResponseMCPApprovalRequest'
                    mcp_approval_response: '#/components/schemas/OpenAIResponseMCPApprovalResponse'
                    mcp_call: '#/components/schemas/OpenAIResponseOutputMessageMCPCall'
                    mcp_list_tools: '#/components/schemas/OpenAIResponseOutputMessageMCPListTools'
                title: Response Retrieve V1 Conversations  Conversation Id  Items  Item Id  Get
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/embeddings:
    post:
      tags:
      - Inference
      summary: Create embeddings.
      description: Create embeddings.
      operationId: openai_embeddings_v1_embeddings_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenAIEmbeddingsRequestWithExtraBody'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIEmbeddingsResponse'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/files:
    get:
      tags:
      - Files
      summary: List files.
      description: Returns a list of files that belong to the user's organization.
      operationId: openai_list_files_v1_files_get
      parameters:
      - name: after
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: A cursor for use in pagination. `after` is an object ID that defines your place in the list.
          title: After
        description: A cursor for use in pagination. `after` is an object ID that defines your place in the list.
      - name: limit
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          description: A limit on the number of objects to be returned. Limit can range between 1 and 10,000, and the default is 10,000.
          default: 10000
          title: Limit
        description: A limit on the number of objects to be returned. Limit can range between 1 and 10,000, and the default is 10,000.
      - name: order
        in: query
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/Order'
          - type: 'null'
          description: Sort order by the `created_at` timestamp of the objects. `asc` for ascending order and `desc` for descending order.
          default: desc
          title: Order
        description: Sort order by the `created_at` timestamp of the objects. `asc` for ascending order and `desc` for descending order.
      - name: purpose
        in: query
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/OpenAIFilePurpose'
          - type: 'null'
          description: Only return files with the given purpose.
          title: Purpose
        description: Only return files with the given purpose.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOpenAIFileResponse'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - Files
      summary: Upload file.
      description: Upload a file that can be used across various endpoints.
      operationId: openai_upload_file_v1_files_post
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_openai_upload_file_v1_files_post'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIFileObject'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/files/{file_id}:
    delete:
      tags:
      - Files
      summary: Delete file.
      description: Delete a file.
      operationId: openai_delete_file_v1_files__file_id__delete
      parameters:
      - name: file_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the file to use for this request.
          title: File Id
        description: The ID of the file to use for this request.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIFileDeleteResponse'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      tags:
      - Files
      summary: Retrieve file.
      description: Returns information about a specific file.
      operationId: openai_retrieve_file_v1_files__file_id__get
      parameters:
      - name: file_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the file to use for this request.
          title: File Id
        description: The ID of the file to use for this request.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIFileObject'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/files/{file_id}/content:
    get:
      tags:
      - Files
      summary: Retrieve file content.
      description: Returns the contents of the specified file.
      operationId: openai_retrieve_file_content_v1_files__file_id__content_get
      parameters:
      - name: file_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the file to use for this request.
          title: File Id
        description: The ID of the file to use for this request.
      responses:
        '200':
          description: Successful Response
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/health:
    get:
      tags:
      - Inspect
      summary: Get health status.
      description: Get the current health status of the service.
      operationId: health_v1_health_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthInfo'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/inspect/routes:
    get:
      tags:
      - Inspect
      summary: List routes.
      description: List all available API routes with their methods and implementing providers.
      operationId: list_routes_v1_inspect_routes_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRoutesResponse'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/models:
    get:
      tags:
      - Models
      summary: List all models.
      description: List all models registered in Llama Stack.
      operationId: list_models_v1_models_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListModelsResponse'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - Models
      summary: Register model.
      description: Register a new model in Llama Stack.
      operationId: register_model_v1_models_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterModelRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/models/{model_id}:
    delete:
      tags:
      - Models
      summary: Unregister model.
      description: Unregister a model from Llama Stack.
      operationId: unregister_model_v1_models__model_id__delete
      parameters:
      - name: model_id
        in: path
        required: true
        schema:
          type: string
          description: The identifier of the model to unregister.
          title: Model Id
        description: The identifier of the model to unregister.
      responses:
        '204':
          description: Successful Response
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      tags:
      - Models
      summary: Get model.
      description: Get a model by its identifier.
      operationId: get_model_v1_models__model_id__get
      parameters:
      - name: model_id
        in: path
        required: true
        schema:
          type: string
          description: The identifier of the model to get.
          title: Model Id
        description: The identifier of the model to get.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/moderations:
    post:
      tags:
      - Safety
      summary: Create moderation.
      description: Classifies if text and/or image inputs are potentially harmful.
      operationId: run_moderation_v1_moderations_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunModerationRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModerationObject'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/prompts:
    get:
      tags:
      - Prompts
      summary: List all prompts
      description: List all prompts registered in Llama Stack
      operationId: list_prompts_v1_prompts_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPromptsResponse'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - Prompts
      summary: Create prompt
      description: Create a new prompt
      operationId: create_prompt_v1_prompts_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePromptRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Prompt'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/prompts/{prompt_id}:
    delete:
      tags:
      - Prompts
      summary: Delete prompt
      description: Delete a prompt
      operationId: delete_prompt_v1_prompts__prompt_id__delete
      parameters:
      - name: prompt_id
        in: path
        required: true
        schema:
          type: string
          description: The identifier of the prompt to delete
          title: Prompt Id
        description: The identifier of the prompt to delete
      responses:
        '204':
          description: Successful Response
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      tags:
      - Prompts
      summary: Get prompt
      description: Get a prompt by its identifier and optional version
      operationId: get_prompt_v1_prompts__prompt_id__get
      parameters:
      - name: prompt_id
        in: path
        required: true
        schema:
          type: string
          description: The identifier of the prompt to get
          title: Prompt Id
        description: The identifier of the prompt to get
      - name: version
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          description: The version of the prompt to get (defaults to latest)
          title: Version
        description: The version of the prompt to get (defaults to latest)
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Prompt'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - Prompts
      summary: Update prompt
      description: Update an existing prompt (increments version)
      operationId: update_prompt_v1_prompts__prompt_id__post
      parameters:
      - name: prompt_id
        in: path
        required: true
        schema:
          type: string
          description: The identifier of the prompt to update
          title: Prompt Id
        description: The identifier of the prompt to update
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePromptRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Prompt'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/prompts/{prompt_id}/set-default-version:
    post:
      tags:
      - Prompts
      summary: Set prompt version
      description: Set which version of a prompt should be the default in get_prompt (latest)
      operationId: set_default_version_v1_prompts__prompt_id__set_default_version_post
      parameters:
      - name: prompt_id
        in: path
        required: true
        schema:
          type: string
          description: The identifier of the prompt
          title: Prompt Id
        description: The identifier of the prompt
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetDefaultVersionRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Prompt'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/prompts/{prompt_id}/versions:
    get:
      tags:
      - Prompts
      summary: List prompt versions
      description: List all versions of a specific prompt
      operationId: list_prompt_versions_v1_prompts__prompt_id__versions_get
      parameters:
      - name: prompt_id
        in: path
        required: true
        schema:
          type: string
          description: The identifier of the prompt to list versions for
          title: Prompt Id
        description: The identifier of the prompt to list versions for
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPromptsResponse'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/providers:
    get:
      tags:
      - Providers
      summary: List providers
      description: List all available providers
      operationId: list_providers_v1_providers_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListProvidersResponse'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/providers/{provider_id}:
    get:
      tags:
      - Providers
      summary: Get provider
      description: Get detailed information about a specific provider
      operationId: inspect_provider_v1_providers__provider_id__get
      parameters:
      - name: provider_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the provider to inspect
          title: Provider Id
        description: The ID of the provider to inspect
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderInfo'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/responses:
    get:
      tags:
      - Agents
      summary: List all responses.
      description: List all responses.
      operationId: list_openai_responses_v1_responses_get
      parameters:
      - name: after
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The ID of the last response to return.
          title: After
        description: The ID of the last response to return.
      - name: limit
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          description: The number of responses to return.
          default: 50
          title: Limit
        description: The number of responses to return.
      - name: model
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The model to filter responses by.
          title: Model
        description: The model to filter responses by.
      - name: order
        in: query
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/Order'
          - type: 'null'
          description: The order to sort responses by when sorted by created_at ('asc' or 'desc').
          default: desc
          title: Order
        description: The order to sort responses by when sorted by created_at ('asc' or 'desc').
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOpenAIResponseObject'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - Agents
      summary: Create a model response.
      description: Create a model response.
      operationId: create_openai_response_v1_responses_post
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOpenAIResponseRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/responses/{response_id}:
    delete:
      tags:
      - Agents
      summary: Delete a response.
      description: Delete a response.
      operationId: delete_openai_response_v1_responses__response_id__delete
      parameters:
      - name: response_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the OpenAI response to delete.
          title: Response Id
        description: The ID of the OpenAI response to delete.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIDeleteResponseObject'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      tags:
      - Agents
      summary: Get a model response.
      description: Get a model response.
      operationId: get_openai_response_v1_responses__response_id__get
      parameters:
      - name: response_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the OpenAI response to retrieve.
          title: Response Id
        description: The ID of the OpenAI response to retrieve.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIResponseObject'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/responses/{response_id}/input_items:
    get:
      tags:
      - Agents
      summary: List input items.
      description: List input items.
      operationId: list_openai_response_input_items_v1_responses__response_id__input_items_get
      parameters:
      - name: response_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the response to retrieve input items for.
          title: Response Id
        description: The ID of the response to retrieve input items for.
      - name: after
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: An item ID to list items after, used for pagination.
          title: After
        description: An item ID to list items after, used for pagination.
      - name: before
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: An item ID to list items before, used for pagination.
          title: Before
        description: An item ID to list items before, used for pagination.
      - name: include
        in: query
        required: false
        schema:
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Additional fields to include in the response.
          title: Include
        description: Additional fields to include in the response.
      - name: limit
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
            maximum: 100
            minimum: 1
          - type: 'null'
          description: A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.
          default: 20
          title: Limit
        description: A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.
      - name: order
        in: query
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/Order'
          - type: 'null'
          description: The order to return the input items in. Default is desc.
          default: desc
          title: Order
        description: The order to return the input items in. Default is desc.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOpenAIResponseInputItem'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/safety/run-shield:
    post:
      tags:
      - Safety
      summary: Run shield.
      description: Run a shield.
      operationId: run_shield_v1_safety_run_shield_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunShieldRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunShieldResponse'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/scoring-functions:
    get:
      tags:
      - Scoring Functions
      summary: List all scoring functions
      description: List all scoring functions
      operationId: list_scoring_functions_v1_scoring_functions_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListScoringFunctionsResponse'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - Scoring Functions
      summary: Register a scoring function
      description: Register a scoring function
      operationId: register_scoring_function_v1_scoring_functions_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterScoringFunctionRequest'
        required: true
      responses:
        '204':
          description: Successful Response
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/scoring-functions/{scoring_fn_id}:
    delete:
      tags:
      - Scoring Functions
      summary: Unregister a scoring function
      description: Unregister a scoring function
      operationId: unregister_scoring_function_v1_scoring_functions__scoring_fn_id__delete
      parameters:
      - name: scoring_fn_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the scoring function to unregister
          title: Scoring Fn Id
        description: The ID of the scoring function to unregister
      responses:
        '204':
          description: Successful Response
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      tags:
      - Scoring Functions
      summary: Get a scoring function by its ID
      description: Get a scoring function by its ID
      operationId: get_scoring_function_v1_scoring_functions__scoring_fn_id__get
      parameters:
      - name: scoring_fn_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the scoring function to get
          title: Scoring Fn Id
        description: The ID of the scoring function to get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScoringFn'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/scoring/score:
    post:
      tags:
      - Scoring
      summary: Score a list of rows
      description: Score a list of rows
      operationId: score_v1_scoring_score_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScoreRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScoreResponse'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/scoring/score-batch:
    post:
      tags:
      - Scoring
      summary: Score a batch of rows
      description: Score a batch of rows from a dataset
      operationId: score_batch_v1_scoring_score_batch_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScoreBatchRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScoreBatchResponse'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/shields:
    get:
      tags:
      - Shields
      summary: List all shields
      description: List all shields
      operationId: list_shields_v1_shields_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListShieldsResponse'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - Shields
      summary: Register a shield
      description: Register a shield
      operationId: register_shield_v1_shields_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterShieldRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shield'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/shields/{identifier}:
    delete:
      tags:
      - Shields
      summary: Unregister a shield
      description: Unregister a shield
      operationId: unregister_shield_v1_shields__identifier__delete
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
          description: The identifier of the shield to unregister
          title: Identifier
        description: The identifier of the shield to unregister
      responses:
        '204':
          description: Successful Response
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      tags:
      - Shields
      summary: Get a shield by its identifier
      description: Get a shield by its identifier
      operationId: get_shield_v1_shields__identifier__get
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
          description: The identifier of the shield to get
          title: Identifier
        description: The identifier of the shield to get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shield'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/tool-runtime/invoke:
    post:
      tags:
      - Tool Runtime
      summary: Run a tool with the given arguments
      description: Run a tool with the given arguments
      operationId: invoke_tool_v1_tool_runtime_invoke_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvokeToolRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToolInvocationResult'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/tool-runtime/list-tools:
    get:
      tags:
      - Tool Runtime
      summary: List all tools in the runtime
      description: List all tools in the runtime
      operationId: list_runtime_tools_v1_tool_runtime_list_tools_get
      parameters:
      - name: tool_group_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The ID of the tool group to list tools for
          title: Tool Group Id
        description: The ID of the tool group to list tools for
      - name: mcp_endpoint
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The MCP endpoint URL to use for the tool group
          title: Mcp Endpoint
        description: The MCP endpoint URL to use for the tool group
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListToolDefsResponse'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/tool-runtime/rag-tool/insert:
    post:
      tags:
      - Tool Runtime
      summary: Insert documents into the RAG system.
      description: Index documents so they can be used by the RAG system.
      operationId: rag_tool_insert_v1_tool_runtime_rag_tool_insert_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_rag_tool_insert_v1_tool_runtime_rag_tool_insert_post'
        required: true
      responses:
        '204':
          description: Successful Response
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/tool-runtime/rag-tool/query:
    post:
      tags:
      - Tool Runtime
      summary: Query the RAG system for context.
      description: Query the RAG system for context; typically invoked by the agent.
      operationId: rag_tool_query_v1_tool_runtime_rag_tool_query_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_rag_tool_query_v1_tool_runtime_rag_tool_query_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RAGQueryResult'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/toolgroups:
    get:
      tags:
      - Tool Groups
      summary: List tool groups
      description: List tool groups with optional provider
      operationId: list_tool_groups_v1_toolgroups_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListToolGroupsResponse'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - Tool Groups
      summary: Register a tool group
      description: Register a tool group
      operationId: register_tool_group_v1_toolgroups_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterToolGroupRequest'
        required: true
      responses:
        '204':
          description: Successful Response
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/toolgroups/{toolgroup_id}:
    delete:
      tags:
      - Tool Groups
      summary: Unregister a tool group
      description: Unregister a tool group
      operationId: unregister_toolgroup_v1_toolgroups__toolgroup_id__delete
      parameters:
      - name: toolgroup_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the tool group to unregister
          title: Toolgroup Id
        description: The ID of the tool group to unregister
      responses:
        '204':
          description: Successful Response
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      tags:
      - Tool Groups
      summary: Get a tool group by its ID
      description: Get a tool group by its ID
      operationId: get_tool_group_v1_toolgroups__toolgroup_id__get
      parameters:
      - name: toolgroup_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the tool group to get
          title: Toolgroup Id
        description: The ID of the tool group to get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToolGroup'
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: The client has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: The server encountered an unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/tools:
    get:
      tags:
      - Tool Groups
      summary: List tools
      description: List tools with optional tool group
      operationId: list_tools_v1_tools_get
      parameters:
      - name: toolgroup_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
[...]
