openapi: 3.1.0
info:
  title: Llama Stack Specification - Stable & Experimental APIs
  description: |-
    This is the specification of the Llama Stack that provides
                        a set of endpoints and their corresponding interfaces that are
        tailored to
                        best leverage Llama Models.


        **🔗 COMBINED**: This specification includes both stable production-ready APIs
        and experimental pre-release APIs. Use stable APIs for production deployments
        and experimental APIs for testing new features.
  version: v1
servers:
- url: http://any-hosted-llama-stack.com
paths:
  /v1/batches:
    get:
      responses:
        '200':
          description: A list of batch objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBatchesResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Batches
      summary: List all batches for the current user.
      description: List all batches for the current user.
      parameters:
        - name: after
          in: query
          description: >-
            A cursor for pagination; returns batches after this batch ID.
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: >-
            Number of batches to return (default 20, max 100).
          required: true
          schema:
            type: integer
      deprecated: false
    post:
      responses:
        '200':
          description: The created batch object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Batch'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Batches
      summary: >-
        Create a new batch for processing multiple API requests.
      description: >-
        Create a new batch for processing multiple API requests.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBatchRequest'
        required: true
      deprecated: false
  /v1/batches/{batch_id}:
    get:
      responses:
        '200':
          description: The batch object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Batch'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Batches
      summary: >-
        Retrieve information about a specific batch.
      description: >-
        Retrieve information about a specific batch.
      parameters:
        - name: batch_id
          in: path
          description: The ID of the batch to retrieve.
          required: true
          schema:
            type: string
      deprecated: false
  /v1/batches/{batch_id}/cancel:
    post:
      responses:
        '200':
          description: The updated batch object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Batch'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Batches
      summary: Cancel a batch that is in progress.
      description: Cancel a batch that is in progress.
      parameters:
        - name: batch_id
          in: path
          description: The ID of the batch to cancel.
          required: true
          schema:
            type: string
      deprecated: false
  /v1/chat/completions:
    get:
      responses:
        '200':
          description: A ListOpenAIChatCompletionResponse.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOpenAIChatCompletionResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Inference
      summary: List chat completions.
      description: List chat completions.
      parameters:
        - name: after
          in: query
          description: >-
            The ID of the last chat completion to return.
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: >-
            The maximum number of chat completions to return.
          required: false
          schema:
            type: integer
        - name: model
          in: query
          description: The model to filter by.
          required: false
          schema:
            type: string
        - name: order
          in: query
          description: >-
            The order to sort the chat completions by: "asc" or "desc". Defaults to
            "desc".
          required: false
          schema:
            $ref: '#/components/schemas/Order'
      deprecated: false
    post:
      responses:
        '200':
          description: An OpenAIChatCompletion.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/OpenAIChatCompletion'
                  - $ref: '#/components/schemas/OpenAIChatCompletionChunk'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Inference
      summary: Create chat completions.
      description: >-
        Create chat completions.

        Generate an OpenAI-compatible chat completion for the given messages using
        the specified model.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenAIChatCompletionRequestWithExtraBody'
        required: true
      deprecated: false
  /v1/chat/completions/{completion_id}:
    get:
      responses:
        '200':
          description: A OpenAICompletionWithInputMessages.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAICompletionWithInputMessages'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Inference
      summary: Get chat completion.
      description: >-
        Get chat completion.

        Describe a chat completion by its ID.
      parameters:
        - name: completion_id
          in: path
          description: ID of the chat completion.
          required: true
          schema:
            type: string
      deprecated: false
  /v1/completions:
    post:
      responses:
        '200':
          description: An OpenAICompletion.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAICompletion'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Inference
      summary: Create completion.
      description: >-
        Create completion.

        Generate an OpenAI-compatible completion for the given prompt using the specified
        model.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenAICompletionRequestWithExtraBody'
        required: true
      deprecated: false
  /v1/conversations:
    post:
      responses:
        '200':
          description: The created conversation object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversation'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Conversations
      summary: Create a conversation.
      description: >-
        Create a conversation.

        Create a conversation.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateConversationRequest'
        required: true
      deprecated: false
  /v1/conversations/{conversation_id}:
    get:
      responses:
        '200':
          description: The conversation object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversation'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Conversations
      summary: Retrieve a conversation.
      description: >-
        Retrieve a conversation.

        Get a conversation with the given ID.
      parameters:
        - name: conversation_id
          in: path
          description: The conversation identifier.
          required: true
          schema:
            type: string
      deprecated: false
    post:
      responses:
        '200':
          description: The updated conversation object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversation'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Conversations
      summary: Update a conversation.
      description: >-
        Update a conversation.

        Update a conversation's metadata with the given ID.
      parameters:
        - name: conversation_id
          in: path
          description: The conversation identifier.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateConversationRequest'
        required: true
      deprecated: false
    delete:
      responses:
        '200':
          description: The deleted conversation resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationDeletedResource'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Conversations
      summary: Delete a conversation.
      description: >-
        Delete a conversation.

        Delete a conversation with the given ID.
      parameters:
        - name: conversation_id
          in: path
          description: The conversation identifier.
          required: true
          schema:
            type: string
      deprecated: false
  /v1/conversations/{conversation_id}/items:
    get:
      responses:
        '200':
          description: List of conversation items.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationItemList'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Conversations
      summary: List items.
      description: >-
        List items.

        List items in the conversation.
      parameters:
        - name: conversation_id
          in: path
          description: The conversation identifier.
          required: true
          schema:
            type: string
        - name: after
          in: query
          description: >-
            An item ID to list items after, used in pagination.
          required: false
          schema:
            type: string
        - name: include
          in: query
          description: >-
            Specify additional output data to include in the response.
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - web_search_call.action.sources
                - code_interpreter_call.outputs
                - computer_call_output.output.image_url
                - file_search_call.results
                - message.input_image.image_url
                - message.output_text.logprobs
                - reasoning.encrypted_content
              title: ConversationItemInclude
              description: >-
                Specify additional output data to include in the model response.
        - name: limit
          in: query
          description: >-
            A limit on the number of objects to be returned (1-100, default 20).
          required: false
          schema:
            type: integer
        - name: order
          in: query
          description: >-
            The order to return items in (asc or desc, default desc).
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
      deprecated: false
    post:
      responses:
        '200':
          description: List of created items.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationItemList'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Conversations
      summary: Create items.
      description: >-
        Create items.

        Create items in the conversation.
      parameters:
        - name: conversation_id
          in: path
          description: The conversation identifier.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddItemsRequest'
        required: true
      deprecated: false
  /v1/conversations/{conversation_id}/items/{item_id}:
    get:
      responses:
        '200':
          description: The conversation item.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationItem'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Conversations
      summary: Retrieve an item.
      description: >-
        Retrieve an item.

        Retrieve a conversation item.
      parameters:
        - name: conversation_id
          in: path
          description: The conversation identifier.
          required: true
          schema:
            type: string
        - name: item_id
          in: path
          description: The item identifier.
          required: true
          schema:
            type: string
      deprecated: false
    delete:
      responses:
        '200':
          description: The deleted item resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationItemDeletedResource'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Conversations
      summary: Delete an item.
      description: >-
        Delete an item.

        Delete a conversation item.
      parameters:
        - name: conversation_id
          in: path
          description: The conversation identifier.
          required: true
          schema:
            type: string
        - name: item_id
          in: path
          description: The item identifier.
          required: true
          schema:
            type: string
      deprecated: false
  /v1/embeddings:
    post:
      responses:
        '200':
          description: >-
            An OpenAIEmbeddingsResponse containing the embeddings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIEmbeddingsResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Inference
      summary: Create embeddings.
      description: >-
        Create embeddings.

        Generate OpenAI-compatible embeddings for the given input using the specified
        model.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenAIEmbeddingsRequestWithExtraBody'
        required: true
      deprecated: false
  /v1/files:
    get:
      responses:
        '200':
          description: >-
            An ListOpenAIFileResponse containing the list of files.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOpenAIFileResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Files
      summary: List files.
      description: >-
        List files.

        Returns a list of files that belong to the user's organization.
      parameters:
        - name: after
          in: query
          description: >-
            A cursor for use in pagination. `after` is an object ID that defines your
            place in the list. For instance, if you make a list request and receive
            100 objects, ending with obj_foo, your subsequent call can include after=obj_foo
            in order to fetch the next page of the list.
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: >-
            A limit on the number of objects to be returned. Limit can range between
            1 and 10,000, and the default is 10,000.
          required: false
          schema:
            type: integer
        - name: order
          in: query
          description: >-
            Sort order by the `created_at` timestamp of the objects. `asc` for ascending
            order and `desc` for descending order.
          required: false
          schema:
            $ref: '#/components/schemas/Order'
        - name: purpose
          in: query
          description: >-
            Only return files with the given purpose.
          required: false
          schema:
            $ref: '#/components/schemas/OpenAIFilePurpose'
      deprecated: false
    post:
      responses:
        '200':
          description: >-
            An OpenAIFileObject representing the uploaded file.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIFileObject'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Files
      summary: Upload file.
      description: >-
        Upload file.

        Upload a file that can be used across various endpoints.


        The file upload should be a multipart form request with:

        - file: The File object (not file name) to be uploaded.

        - purpose: The intended purpose of the uploaded file.

        - expires_after: Optional form values describing expiration for the file.
      parameters: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                purpose:
                  $ref: '#/components/schemas/OpenAIFilePurpose'
                expires_after:
                  $ref: '#/components/schemas/ExpiresAfter'
              required:
                - file
                - purpose
        required: true
      deprecated: false
  /v1/files/{file_id}:
    get:
      responses:
        '200':
          description: >-
            An OpenAIFileObject containing file information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIFileObject'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Files
      summary: Retrieve file.
      description: >-
        Retrieve file.

        Returns information about a specific file.
      parameters:
        - name: file_id
          in: path
          description: >-
            The ID of the file to use for this request.
          required: true
          schema:
            type: string
      deprecated: false
    delete:
      responses:
        '200':
          description: >-
            An OpenAIFileDeleteResponse indicating successful deletion.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIFileDeleteResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Files
      summary: Delete file.
      description: Delete file.
      parameters:
        - name: file_id
          in: path
          description: >-
            The ID of the file to use for this request.
          required: true
          schema:
            type: string
      deprecated: false
  /v1/files/{file_id}/content:
    get:
      responses:
        '200':
          description: >-
            The raw file content as a binary response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Files
      summary: Retrieve file content.
      description: >-
        Retrieve file content.

        Returns the contents of the specified file.
      parameters:
        - name: file_id
          in: path
          description: >-
            The ID of the file to use for this request.
          required: true
          schema:
            type: string
      deprecated: false
  /v1/health:
    get:
      responses:
        '200':
          description: >-
            Health information indicating if the service is operational.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthInfo'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Inspect
      summary: Get health status.
      description: >-
        Get health status.

        Get the current health status of the service.
      parameters: []
      deprecated: false
  /v1/inspect/routes:
    get:
      responses:
        '200':
          description: >-
            Response containing information about all available routes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRoutesResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Inspect
      summary: List routes.
      description: >-
        List routes.

        List all available API routes with their methods and implementing providers.
      parameters:
        - name: api_filter
          in: query
          description: >-
            Optional filter to control which routes are returned. Can be an API level
            ('v1', 'v1alpha', 'v1beta') to show non-deprecated routes at that level,
            or 'deprecated' to show deprecated routes across all levels. If not specified,
            returns all non-deprecated routes.
          required: false
          schema:
            type: string
            enum:
              - v1
              - v1alpha
              - v1beta
              - deprecated
      deprecated: false
  /v1/models:
    get:
      responses:
        '200':
          description: A OpenAIListModelsResponse.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIListModelsResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Models
      summary: List models using the OpenAI API.
      description: List models using the OpenAI API.
      parameters: []
      deprecated: false
    post:
      responses:
        '200':
          description: A Model.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Models
      summary: Register model.
      description: >-
        Register model.

        Register a model.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterModelRequest'
        required: true
      deprecated: true
  /v1/models/{model_id}:
    get:
      responses:
        '200':
          description: A Model.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Models
      summary: Get model.
      description: >-
        Get model.

        Get a model by its identifier.
      parameters:
        - name: model_id
          in: path
          description: The identifier of the model to get.
          required: true
          schema:
            type: string
      deprecated: false
    delete:
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Models
      summary: Unregister model.
      description: >-
        Unregister model.

        Unregister a model.
      parameters:
        - name: model_id
          in: path
          description: >-
            The identifier of the model to unregister.
          required: true
          schema:
            type: string
      deprecated: true
  /v1/moderations:
    post:
      responses:
        '200':
          description: A moderation object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModerationObject'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Safety
      summary: Create moderation.
      description: >-
        Create moderation.

        Classifies if text and/or image inputs are potentially harmful.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunModerationRequest'
        required: true
      deprecated: false
  /v1/prompts:
    get:
      responses:
        '200':
          description: >-
            A ListPromptsResponse containing all prompts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPromptsResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Prompts
      summary: List all prompts.
      description: List all prompts.
      parameters: []
      deprecated: false
    post:
      responses:
        '200':
          description: The created Prompt resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Prompt'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Prompts
      summary: Create prompt.
      description: >-
        Create prompt.

        Create a new prompt.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePromptRequest'
        required: true
      deprecated: false
  /v1/prompts/{prompt_id}:
    get:
      responses:
        '200':
          description: A Prompt resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Prompt'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Prompts
      summary: Get prompt.
      description: >-
        Get prompt.

        Get a prompt by its identifier and optional version.
      parameters:
        - name: prompt_id
          in: path
          description: The identifier of the prompt to get.
          required: true
          schema:
            type: string
        - name: version
          in: query
          description: >-
            The version of the prompt to get (defaults to latest).
          required: false
          schema:
            type: integer
      deprecated: false
    post:
      responses:
        '200':
          description: >-
            The updated Prompt resource with incremented version.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Prompt'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Prompts
      summary: Update prompt.
      description: >-
        Update prompt.

        Update an existing prompt (increments version).
      parameters:
        - name: prompt_id
          in: path
          description: The identifier of the prompt to update.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePromptRequest'
        required: true
      deprecated: false
    delete:
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Prompts
      summary: Delete prompt.
      description: >-
        Delete prompt.

        Delete a prompt.
      parameters:
        - name: prompt_id
          in: path
          description: The identifier of the prompt to delete.
          required: true
          schema:
            type: string
      deprecated: false
  /v1/prompts/{prompt_id}/set-default-version:
    post:
      responses:
        '200':
          description: >-
            The prompt with the specified version now set as default.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Prompt'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Prompts
      summary: Set prompt version.
      description: >-
        Set prompt version.

        Set which version of a prompt should be the default in get_prompt (latest).
      parameters:
        - name: prompt_id
          in: path
          description: The identifier of the prompt.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetDefaultVersionRequest'
        required: true
      deprecated: false
  /v1/prompts/{prompt_id}/versions:
    get:
      responses:
        '200':
          description: >-
            A ListPromptsResponse containing all versions of the prompt.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPromptsResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Prompts
      summary: List prompt versions.
      description: >-
        List prompt versions.

        List all versions of a specific prompt.
      parameters:
        - name: prompt_id
          in: path
          description: >-
            The identifier of the prompt to list versions for.
          required: true
          schema:
            type: string
      deprecated: false
  /v1/providers:
    get:
      responses:
        '200':
          description: >-
            A ListProvidersResponse containing information about all providers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListProvidersResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Providers
      summary: List providers.
      description: >-
        List providers.

        List all available providers.
      parameters: []
      deprecated: false
  /v1/providers/{provider_id}:
    get:
      tags:
      - Providers
      summary: Inspect Provider
      description: |-
        Get provider.

        Get detailed information about a specific provider.
      operationId: inspect_provider_v1_providers__provider_id__get
      responses:
        '200':
          description: A ProviderInfo object containing the provider's details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderInfo'
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
      parameters:
      - name: provider_id
        in: path
        required: true
        schema:
          type: string
        description: 'Path parameter: provider_id'
  /v1/providers:
    get:
      tags:
      - Providers
      summary: List Providers
      description: |-
        List providers.

        List all available providers.
      operationId: list_providers_v1_providers_get
      responses:
        '200':
          description: A ListProvidersResponse containing information about all providers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListProvidersResponse'
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
  /v1/responses:
    post:
      tags:
      - Agents
      summary: Create Openai Response
      description: Create a model response.
      operationId: create_openai_response_v1_responses_post
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_responses_Request'
        x-llama-stack-extra-body-params:
          guardrails:
            $defs:
              ResponseGuardrailSpec:
                description: |-
                  Specification for a guardrail to apply during response generation.

                  :param type: The type/identifier of the guardrail.
                properties:
                  type:
                    title: Type
                    type: string
                required:
                - type
                title: ResponseGuardrailSpec
                type: object
            anyOf:
            - items:
                anyOf:
                - type: string
                - $ref: '#/components/schemas/ResponseGuardrailSpec'
              type: array
            - type: 'null'
            description: List of guardrails to apply during response generation. Guardrails provide safety and content moderation.
      responses:
        '200':
          description: An OpenAIResponseObject.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIResponseObject'
            text/event-stream:
              schema:
                $ref: '#/components/schemas/OpenAIResponseObjectStream'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
    get:
      tags:
      - Agents
      summary: List Openai Responses
      description: List all responses.
      operationId: list_openai_responses_v1_responses_get
      parameters:
      - name: after
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: After
      - name: limit
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 50
          title: Limit
      - name: model
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Model
      - name: order
        in: query
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/Order'
          - type: 'null'
          default: desc
          title: Order
      responses:
        '200':
          description: A ListOpenAIResponseObject.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOpenAIResponseObject'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
  /v1/responses/{response_id}:
    get:
      tags:
      - Agents
      summary: Get Openai Response
      description: Get a model response.
      operationId: get_openai_response_v1_responses__response_id__get
      responses:
        '200':
          description: An OpenAIResponseObject.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIResponseObject'
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
      parameters:
      - name: response_id
        in: path
        required: true
        schema:
          type: string
        description: 'Path parameter: response_id'
    delete:
      tags:
      - Agents
      summary: Delete Openai Response
      description: Delete a response.
      operationId: delete_openai_response_v1_responses__response_id__delete
      responses:
        '200':
          description: An OpenAIDeleteResponseObject
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIDeleteResponseObject'
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
      parameters:
      - name: response_id
        in: path
        required: true
        schema:
          type: string
        description: 'Path parameter: response_id'
  /v1/responses/{response_id}/input_items:
    get:
      tags:
      - Agents
      summary: List Openai Response Input Items
      description: List input items.
      operationId: list_openai_response_input_items_v1_responses__response_id__input_items_get
      parameters:
      - name: after
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: After
      - name: before
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Before
      - name: limit
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 20
          title: Limit
      - name: order
        in: query
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/Order'
          - type: 'null'
          default: desc
          title: Order
      - name: response_id
        in: path
        required: true
        schema:
          type: string
        description: 'Path parameter: response_id'
      - name: include
        in: query
        required: false
        schema:
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          title: Include
      responses:
        '200':
          description: An ListOpenAIResponseInputItem.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOpenAIResponseInputItem'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
  /v1/chat/completions/{completion_id}:
    get:
      tags:
      - Inference
      summary: Get Chat Completion
      description: |-
        Get chat completion.

        Describe a chat completion by its ID.
      operationId: get_chat_completion_v1_chat_completions__completion_id__get
      responses:
        '200':
          description: A OpenAICompletionWithInputMessages.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAICompletionWithInputMessages'
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
      parameters:
      - name: completion_id
        in: path
        required: true
        schema:
          type: string
        description: 'Path parameter: completion_id'
  /v1/chat/completions:
    get:
      tags:
      - Inference
      summary: List Chat Completions
      description: List chat completions.
      operationId: list_chat_completions_v1_chat_completions_get
      parameters:
      - name: after
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: After
      - name: limit
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 20
          title: Limit
      - name: model
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Model
      - name: order
        in: query
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/Order'
          - type: 'null'
          default: desc
          title: Order
      responses:
        '200':
          description: A ListOpenAIChatCompletionResponse.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOpenAIChatCompletionResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - ScoringFunctions
      summary: List all scoring functions.
      description: List all scoring functions.
      parameters: []
      deprecated: false
    post:
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - ScoringFunctions
      summary: Register a scoring function.
      description: Register a scoring function.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterScoringFunctionRequest'
        required: true
      deprecated: true
  /v1/scoring-functions/{scoring_fn_id}:
    get:
      responses:
        '200':
          description: An OpenAIChatCompletion.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIChatCompletion'
            text/event-stream:
              schema:
                $ref: '#/components/schemas/OpenAIChatCompletionChunk'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - ScoringFunctions
      summary: Get a scoring function by its ID.
      description: Get a scoring function by its ID.
      parameters:
        - name: scoring_fn_id
          in: path
          description: The ID of the scoring function to get.
          required: true
          schema:
            type: string
      deprecated: false
    delete:
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - ScoringFunctions
      summary: Unregister a scoring function.
      description: Unregister a scoring function.
      parameters:
        - name: scoring_fn_id
          in: path
          description: >-
            The ID of the scoring function to unregister.
          required: true
          schema:
            type: string
      deprecated: true
  /v1/scoring/score:
    post:
      tags:
      - Inference
      summary: Openai Completion
      description: |-
        Create completion.

        Generate an OpenAI-compatible completion for the given prompt using the specified model.
      operationId: openai_completion_v1_completions_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenAICompletionRequestWithExtraBody'
        required: true
      responses:
        '200':
          description: An OpenAICompletion.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAICompletion'
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
  /v1/embeddings:
    post:
      tags:
      - Inference
      summary: Openai Embeddings
      description: |-
        Create embeddings.

        Generate OpenAI-compatible embeddings for the given input using the specified model.
      operationId: openai_embeddings_v1_embeddings_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenAIEmbeddingsRequestWithExtraBody'
        required: true
      responses:
        '200':
          description: An OpenAIEmbeddingsResponse containing the embeddings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIEmbeddingsResponse'
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
      tags:
        - Shields
      summary: List all shields.
      description: List all shields.
      parameters: []
      deprecated: false
    post:
      responses:
        '200':
          description: A Shield.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shield'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Shields
      summary: Register a shield.
      description: Register a shield.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterShieldRequest'
        required: true
      deprecated: true
  /v1/shields/{identifier}:
    get:
      responses:
        '200':
          description: RerankResponse with indices sorted by relevance score (descending).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RerankResponse'
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
  /v1/health:
    get:
      tags:
        - Shields
      summary: Get a shield by its identifier.
      description: Get a shield by its identifier.
      parameters:
        - name: identifier
          in: path
          description: The identifier of the shield to get.
          required: true
          schema:
            type: string
      deprecated: false
    delete:
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Shields
      summary: Unregister a shield.
      description: Unregister a shield.
      parameters:
        - name: identifier
          in: path
          description: >-
            The identifier of the shield to unregister.
          required: true
          schema:
            type: string
      deprecated: true
  /v1/tool-runtime/invoke:
    post:
      tags:
      - Batches
      summary: Cancel Batch
      description: Cancel a batch that is in progress.
      operationId: cancel_batch_v1_batches__batch_id__cancel_post
      responses:
        '200':
          description: The updated batch object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Batch'
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
      parameters:
        - name: tool_group_id
          in: query
          description: >-
            The ID of the tool group to list tools for.
          required: false
          schema:
            type: string
        - name: mcp_endpoint
          in: query
          description: >-
            The MCP endpoint to use for the tool group.
          required: false
          schema:
            $ref: '#/components/schemas/URL'
      deprecated: false
  /v1/toolgroups:
    get:
      responses:
        '200':
          description: A ListToolGroupsResponse.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListToolGroupsResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - ToolGroups
      summary: List tool groups with optional provider.
      description: List tool groups with optional provider.
      parameters: []
      deprecated: false
    post:
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - ToolGroups
      summary: Register a tool group.
      description: Register a tool group.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterToolGroupRequest'
        required: true
      deprecated: true
  /v1/toolgroups/{toolgroup_id}:
    get:
      responses:
        '200':
          description: A ToolGroup.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToolGroup'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - ToolGroups
      summary: Get a tool group by its ID.
      description: Get a tool group by its ID.
      parameters:
        - name: toolgroup_id
          in: path
          description: The ID of the tool group to get.
          required: true
          schema:
            type: string
      deprecated: false
    delete:
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - ToolGroups
      summary: Unregister a tool group.
      description: Unregister a tool group.
      parameters:
        - name: toolgroup_id
          in: path
          description: The ID of the tool group to unregister.
          required: true
          schema:
            type: string
      deprecated: true
  /v1/tools:
    get:
      responses:
        '200':
          description: A ListToolDefsResponse.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListToolDefsResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - ToolGroups
      summary: List tools with optional tool group.
      description: List tools with optional tool group.
      parameters:
        - name: toolgroup_id
          in: query
          description: >-
            The ID of the tool group to list tools for.
          required: false
          schema:
            type: string
      deprecated: false
  /v1/tools/{tool_name}:
    get:
      responses:
        '200':
          description: A ToolDef.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToolDef'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - ToolGroups
      summary: Get a tool by its name.
      description: Get a tool by its name.
      parameters:
        - name: tool_name
          in: path
          description: The name of the tool to get.
          required: true
          schema:
            type: string
      deprecated: false
  /v1/vector-io/insert:
    post:
      tags:
      - Vector Io
      summary: Insert Chunks
      description: Insert chunks into a vector database.
      operationId: insert_chunks_v1_vector_io_insert_post
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Chunk-Input'
              title: Chunks
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
  /v1/vector_stores/{vector_store_id}/files:
    post:
      tags:
      - Vector Io
      summary: Openai Attach File To Vector Store
      description: Attach a file to a vector store.
      operationId: openai_attach_file_to_vector_store_v1_vector_stores__vector_store_id__files_post
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_vector_stores_vector_store_id_files_Request'
      responses:
        '200':
          description: A VectorStoreFileObject representing the attached file.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreFileObject'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
      parameters:
      - name: vector_store_id
        in: path
        required: true
        schema:
          type: string
        description: 'Path parameter: vector_store_id'
    get:
      tags:
      - Vector Io
      summary: Openai List Files In Vector Store
      description: List files in a vector store.
      operationId: openai_list_files_in_vector_store_v1_vector_stores__vector_store_id__files_get
      parameters:
      - name: after
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: After
      - name: before
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Before
      - name: filter
        in: query
        required: false
        schema:
          anyOf:
          - const: completed
            type: string
          - const: in_progress
            type: string
          - const: cancelled
            type: string
          - const: failed
            type: string
          - type: 'null'
          title: Filter
      - name: limit
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 20
          title: Limit
      - name: order
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          default: desc
          title: Order
      - name: vector_store_id
        in: path
        required: true
        schema:
          type: string
        description: 'Path parameter: vector_store_id'
      responses:
        '200':
          description: A VectorStoreListFilesResponse containing the list of files.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreListFilesResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
  /v1/vector_stores/{vector_store_id}/file_batches/{batch_id}/cancel:
    post:
      tags:
      - Vector Io
      summary: Openai Cancel Vector Store File Batch
      description: Cancels a vector store file batch.
      operationId: openai_cancel_vector_store_file_batch_v1_vector_stores__vector_store_id__file_batches__batch_id__cancel_post
      responses:
        '200':
          description: A VectorStoreFileBatchObject representing the cancelled file batch.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreFileBatchObject'
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
      parameters:
      - name: vector_store_id
        in: path
        required: true
        schema:
          type: string
        description: 'Path parameter: vector_store_id'
      - name: batch_id
        in: path
        required: true
        schema:
          type: string
        description: 'Path parameter: batch_id'
  /v1/vector_stores:
    post:
      tags:
      - Vector Io
      summary: Openai Create Vector Store
      description: |-
        Creates a vector store.

        Generate an OpenAI-compatible vector store with the given parameters.
      operationId: openai_create_vector_store_v1_vector_stores_post
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenAICreateVectorStoreRequestWithExtraBody'
      responses:
        '200':
          description: A VectorStoreObject representing the created vector store.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreObject'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
    get:
      tags:
      - Vector Io
      summary: Openai List Vector Stores
      description: Returns a list of vector stores.
      operationId: openai_list_vector_stores_v1_vector_stores_get
      parameters:
      - name: after
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: After
      - name: before
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Before
      - name: limit
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 20
          title: Limit
      - name: order
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          default: desc
          title: Order
      responses:
        '200':
          description: A VectorStoreListResponse containing the list of vector stores.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreListResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
  /v1/vector_stores/{vector_store_id}/file_batches:
    post:
      tags:
      - Vector Io
      summary: Openai Create Vector Store File Batch
      description: |-
        Create a vector store file batch.

        Generate an OpenAI-compatible vector store file batch for the given vector store.
      operationId: openai_create_vector_store_file_batch_v1_vector_stores__vector_store_id__file_batches_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenAICreateVectorStoreFileBatchRequestWithExtraBody'
        required: true
      responses:
        '200':
          description: A VectorStoreFileBatchObject representing the created file batch.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreFileBatchObject'
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
      parameters:
      - name: vector_store_id
        in: path
        required: true
        schema:
          type: string
        description: 'Path parameter: vector_store_id'
  /v1/vector_stores/{vector_store_id}:
    get:
      tags:
      - Vector Io
      summary: Openai Retrieve Vector Store
      description: Retrieves a vector store.
      operationId: openai_retrieve_vector_store_v1_vector_stores__vector_store_id__get
      responses:
        '200':
          description: A VectorStoreObject representing the vector store.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreObject'
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
      parameters:
      - name: vector_store_id
        in: path
        required: true
        schema:
          type: string
        description: 'Path parameter: vector_store_id'
    post:
      tags:
      - Vector Io
      summary: Openai Update Vector Store
      description: Updates a vector store.
      operationId: openai_update_vector_store_v1_vector_stores__vector_store_id__post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_vector_stores_vector_store_id_Request'
        required: true
      responses:
        '200':
          description: A VectorStoreObject representing the updated vector store.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreObject'
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
      parameters:
      - name: vector_store_id
        in: path
        required: true
        schema:
          type: string
        description: 'Path parameter: vector_store_id'
    delete:
      tags:
      - Vector Io
      summary: Openai Delete Vector Store
      description: Delete a vector store.
      operationId: openai_delete_vector_store_v1_vector_stores__vector_store_id__delete
      responses:
        '200':
          description: A VectorStoreDeleteResponse indicating the deletion status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreDeleteResponse'
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
      parameters:
      - name: vector_store_id
        in: path
        required: true
        schema:
          type: string
        description: 'Path parameter: vector_store_id'
  /v1/vector_stores/{vector_store_id}/files/{file_id}:
    get:
      tags:
      - Vector Io
      summary: Openai Retrieve Vector Store File
      description: Retrieves a vector store file.
      operationId: openai_retrieve_vector_store_file_v1_vector_stores__vector_store_id__files__file_id__get
      responses:
        '200':
          description: A VectorStoreFileObject representing the file.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreFileObject'
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
      parameters:
      - name: vector_store_id
        in: path
        required: true
        schema:
          type: string
        description: 'Path parameter: vector_store_id'
      - name: file_id
        in: path
        required: true
        schema:
          type: string
        description: 'Path parameter: file_id'
    post:
      tags:
      - Vector Io
      summary: Openai Update Vector Store File
      description: Updates a vector store file.
      operationId: openai_update_vector_store_file_v1_vector_stores__vector_store_id__files__file_id__post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_vector_stores_vector_store_id_files_file_id_Request'
        required: true
      responses:
        '200':
          description: A VectorStoreFileObject representing the updated file.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreFileObject'
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
      parameters:
      - name: vector_store_id
        in: path
        required: true
        schema:
          type: string
        description: 'Path parameter: vector_store_id'
      - name: file_id
        in: path
        required: true
        schema:
          type: string
        description: 'Path parameter: file_id'
    delete:
      tags:
      - Vector Io
      summary: Openai Delete Vector Store File
      description: Delete a vector store file.
      operationId: openai_delete_vector_store_file_v1_vector_stores__vector_store_id__files__file_id__delete
      responses:
        '200':
          description: A VectorStoreFileDeleteResponse indicating the deletion status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreFileDeleteResponse'
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
      parameters:
      - name: vector_store_id
        in: path
        required: true
        schema:
          type: string
        description: 'Path parameter: vector_store_id'
      - name: file_id
        in: path
        required: true
        schema:
          type: string
        description: 'Path parameter: file_id'
  /v1/vector_stores/{vector_store_id}/file_batches/{batch_id}/files:
    get:
      tags:
      - Vector Io
      summary: Openai List Files In Vector Store File Batch
      description: Returns a list of vector store files in a batch.
      operationId: openai_list_files_in_vector_store_file_batch_v1_vector_stores__vector_store_id__file_batches__batch_id__files_get
      parameters:
      - name: after
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: After
      - name: before
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Before
      - name: filter
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Filter
      - name: limit
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 20
          title: Limit
      - name: order
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          default: desc
          title: Order
      - name: vector_store_id
        in: path
        required: true
        schema:
          type: string
        description: 'Path parameter: vector_store_id'
      - name: batch_id
        in: path
        required: true
        schema:
          type: string
        description: 'Path parameter: batch_id'
      responses:
        '200':
          description: A VectorStoreFilesListInBatchResponse containing the list of files in the batch.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreFilesListInBatchResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
          description: Bad Request
        '429':
          $ref: '#/components/responses/TooManyRequests429'
          description: Too Many Requests
        '500':
          $ref: '#/components/responses/InternalServerError500'
          description: Internal Server Error
        default:
          $ref: '#/components/responses/DefaultError'
          description: Default Response
  /v1/vector_stores/{vector_store_id}/file_batches/{batch_id}:
    get:
      tags:
      - Vector Io
      summary: Openai Retrieve Vector Store File Batch
      description: Retrieve a vector store file batch.
      operationId: openai_retrieve_vector_store_file_batch_v1_vector_stores__vector_store_id__file_batches__batch_id__get
      responses:
        '200':
          description: A VectorStoreFileBatchObject representing the file batch.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreFileBatchObject'
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
      parameters:
      - name: vector_store_id
        in: path
        required: true
        schema:
          type: string
        description: 'Path parameter: vector_store_id'
      - name: batch_id
        in: path
        required: true
        schema:
          type: string
        description: 'Path parameter: batch_id'
  /v1/vector_stores/{vector_store_id}/files/{file_id}/content:
    get:
      tags:
      - Vector Io
      summary: Openai Retrieve Vector Store File Contents
      description: Retrieves the contents of a vector store file.
      operationId: openai_retrieve_vector_store_file_contents_v1_vector_stores__vector_store_id__files__file_id__content_get
      responses:
        '200':
          description: A list of InterleavedContent representing the file contents.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreFileContentsResponse'
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
      parameters:
      - name: vector_store_id
        in: path
        required: true
        schema:
          type: string
        description: 'Path parameter: vector_store_id'
      - name: file_id
        in: path
        required: true
        schema:
          type: string
        description: 'Path parameter: file_id'
  /v1/vector_stores/{vector_store_id}/search:
    post:
      tags:
      - Vector Io
      summary: Openai Search Vector Store
      description: |-
        Search for chunks in a vector store.

        Searches a vector store for relevant chunks based on a query and optional file attribute filters.
      operationId: openai_search_vector_store_v1_vector_stores__vector_store_id__search_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_vector_stores_vector_store_id_search_Request'
        required: true
      responses:
        '200':
          description: A VectorStoreSearchResponse containing the search results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreSearchResponsePage'
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
      parameters:
      - name: vector_store_id
        in: path
        required: true
        schema:
          type: string
        description: 'Path parameter: vector_store_id'
  /v1/vector-io/query:
    post:
      tags:
      - Vector Io
      summary: Query Chunks
      description: Query chunks from a vector database.
      operationId: query_chunks_v1_vector_io_query_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_vector_io_query_Request'
        required: true
      responses:
        '200':
          description: A QueryChunksResponse.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryChunksResponse'
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
  /v1/models/{model_id}:
    get:
      tags:
      - Models
      summary: Get Model
      description: |-
        Get model.

        Get a model by its identifier.
      operationId: get_model_v1_models__model_id__get
      responses:
        '200':
          description: A Model.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model'
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
      parameters:
      - name: model_id
        in: path
        required: true
        schema:
          type: string
        description: 'Path parameter: model_id'
    delete:
      tags:
      - Models
      summary: Unregister Model
      description: |-
        Unregister model.

        Unregister a model.
      operationId: unregister_model_v1_models__model_id__delete
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
      parameters:
      - name: model_id
        in: path
        required: true
        schema:
          type: string
        description: 'Path parameter: model_id'
  /v1/models:
    get:
      tags:
      - Models
      summary: Openai List Models
      description: List models using the OpenAI API.
      operationId: openai_list_models_v1_models_get
      responses:
        '200':
          description: A OpenAIListModelsResponse.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIListModelsResponse'
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
    post:
      tags:
      - Models
      summary: Register Model
      description: |-
        Register model.

        Register a model.
      operationId: register_model_v1_models_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_models_Request'
        required: true
      responses:
        '200':
          description: A Model.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model'
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
  /v1/moderations:
    post:
      tags:
      - Safety
      summary: Run Moderation
      description: |-
        Create moderation.

        Classifies if text and/or image inputs are potentially harmful.
      operationId: run_moderation_v1_moderations_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_moderations_Request'
        required: true
      responses:
        '200':
          description: A moderation object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModerationObject'
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
  /v1/safety/run-shield:
    post:
      tags:
      - Safety
      summary: Run Shield
      description: |-
        Run shield.

        Run a shield.
      operationId: run_shield_v1_safety_run_shield_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_safety_run_shield_Request'
        required: true
      responses:
        '200':
          description: A RunShieldResponse.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunShieldResponse'
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
          description: Too Many Requests
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/InternalServerError500'
        default:
          description: Default Response
          $ref: '#/components/responses/DefaultError'
  /v1/shields/{identifier}:
    get:
      tags:
      - Shields
      summary: Get Shield
      description: Get a shield by its identifier.
      operationId: get_shield_v1_shields__identifier__get
      responses:
        '200':
          description: A Shield.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shield'
        '400':
          description: Bad Request
          $ref: '#/components/responses/BadRequest400'
        '429':
[...]
