openapi: 3.1.0
info:
  title: >-
    Llama Stack Specification - Stable & Experimental APIs
  version: v1
  description: >-
    This is the specification of the Llama Stack that provides
                    a set of endpoints and their corresponding interfaces that are
    tailored to
                    best leverage Llama Models.

    **🔗 COMBINED**: This specification includes both stable production-ready APIs
    and experimental pre-release APIs. Use stable APIs for production deployments
    and experimental APIs for testing new features.
servers:
  - url: http://any-hosted-llama-stack.com
paths:
  /v1/batches:
    get:
      responses:
        '200':
          description: A list of batch objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBatchesResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Batches
      summary: List all batches for the current user.
      description: List all batches for the current user.
      parameters:
        - name: after
          in: query
          description: >-
            A cursor for pagination; returns batches after this batch ID.
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: >-
            Number of batches to return (default 20, max 100).
          required: true
          schema:
            type: integer
      deprecated: false
    post:
      responses:
        '200':
          description: The created batch object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Batch'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Batches
      summary: >-
        Create a new batch for processing multiple API requests.
      description: >-
        Create a new batch for processing multiple API requests.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBatchRequest'
        required: true
      deprecated: false
  /v1/batches/{batch_id}:
    get:
      responses:
        '200':
          description: The batch object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Batch'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Batches
      summary: >-
        Retrieve information about a specific batch.
      description: >-
        Retrieve information about a specific batch.
      parameters:
        - name: batch_id
          in: path
          description: The ID of the batch to retrieve.
          required: true
          schema:
            type: string
      deprecated: false
  /v1/batches/{batch_id}/cancel:
    post:
      responses:
        '200':
          description: The updated batch object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Batch'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Batches
      summary: Cancel a batch that is in progress.
      description: Cancel a batch that is in progress.
      parameters:
        - name: batch_id
          in: path
          description: The ID of the batch to cancel.
          required: true
          schema:
            type: string
      deprecated: false
  /v1/chat/completions:
    get:
      responses:
        '200':
          description: A ListOpenAIChatCompletionResponse.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOpenAIChatCompletionResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Inference
      summary: List chat completions.
      description: >-
        List chat completions.

        :param after: The ID of the last chat completion to return.
                :param limit: The maximum number of chat completions to return.
                :param model: The model to filter by.
                :param order: The order to sort the chat completions by: "asc" or
        "desc". Defaults to "desc".
                :returns: A ListOpenAIChatCompletionResponse.
      parameters:
        - name: after
          description: >-
            The ID of the last chat completion to return.
          required: false
          schema:
            type: string
          in: query
        - name: limit
          description: >-
            The maximum number of chat completions to return.
          required: false
          schema:
            type: integer
          in: query
        - name: model
          description: The model to filter by.
          required: false
          schema:
            type: string
          in: query
        - name: order
          description: >-
            The order to sort the chat completions by: "asc" or "desc". Defaults to
            "desc".
          required: false
          schema:
            $ref: '#/components/schemas/Order'
          in: query
      deprecated: false
    post:
      responses:
        '200':
          description: An OpenAIChatCompletion.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/llama_stack.apis.inference.inference.OpenAIChatCompletion
                  | collections.abc.AsyncIterator[llama_stack.apis.inference.inference.OpenAIChatCompletionChunk]'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Inference
      summary: Create chat completions.
      description: >-
        Create chat completions.

        Generate an OpenAI-compatible chat completion for the given messages using
        the specified model.
                :returns: An OpenAIChatCompletion.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              id: Annotated
        required: true
      deprecated: false
  /v1/chat/completions/{completion_id}:
    get:
      responses:
        '200':
          description: A OpenAICompletionWithInputMessages.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAICompletionWithInputMessages'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Inference
      summary: Get chat completion.
      description: >-
        Get chat completion.

        Describe a chat completion by its ID.

                :param completion_id: ID of the chat completion.
                :returns: A OpenAICompletionWithInputMessages.
      parameters:
        - name: completion_id
          description: ID of the chat completion.
          required: true
          schema:
            type: string
          in: path
      deprecated: false
  /v1/completions:
    post:
      responses:
        '200':
          description: An OpenAICompletion.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAICompletion'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Inference
      summary: Create completion.
      description: >-
        Create completion.

        Generate an OpenAI-compatible completion for the given prompt using the specified
        model.
                :returns: An OpenAICompletion.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              id: Annotated
        required: true
      deprecated: false
  /v1/conversations:
    post:
      responses:
        '200':
          description: The created conversation object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversation'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Conversations
      summary: Create a conversation.
      description: >-
        Create a conversation.

        Create a conversation.

                :param items: Initial items to include in the conversation context.
                :param metadata: Set of key-value pairs that can be attached to an
        object.
                :returns: The created conversation object.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateConversationRequest'
        required: true
      deprecated: false
  /v1/conversations/{conversation_id}:
    get:
      responses:
        '200':
          description: The conversation object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversation'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Conversations
      summary: Retrieve a conversation.
      description: >-
        Retrieve a conversation.

        Get a conversation with the given ID.

                :param conversation_id: The conversation identifier.
                :returns: The conversation object.
      parameters:
        - name: conversation_id
          description: The conversation identifier.
          required: true
          schema:
            type: string
          in: path
      deprecated: false
    post:
      responses:
        '200':
          description: The updated conversation object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversation'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Conversations
      summary: Update a conversation.
      description: >-
        Update a conversation.

        Update a conversation's metadata with the given ID.

                :param conversation_id: The conversation identifier.
                :param metadata: Set of key-value pairs that can be attached to an
        object.
                :returns: The updated conversation object.
      parameters:
        - name: conversation_id
          description: The conversation identifier.
          required: true
          schema:
            type: string
          in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateConversationRequest'
        required: true
      deprecated: false
    delete:
      responses:
        '200':
          description: The deleted conversation resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationDeletedResource'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Conversations
      summary: Delete a conversation.
      description: >-
        Delete a conversation.

        Delete a conversation with the given ID.

                :param conversation_id: The conversation identifier.
                :returns: The deleted conversation resource.
      parameters:
        - name: conversation_id
          description: The conversation identifier.
          required: true
          schema:
            type: string
          in: path
      deprecated: false
  /v1/conversations/{conversation_id}/items:
    get:
      responses:
        '200':
          description: List of conversation items.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationItemList'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Conversations
      summary: List items.
      description: >-
        List items.

        List items in the conversation.

                :param conversation_id: The conversation identifier.
                :param after: An item ID to list items after, used in pagination.
                :param include: Specify additional output data to include in the response.
                :param limit: A limit on the number of objects to be returned (1-100,
        default 20).
                :param order: The order to return items in (asc or desc, default desc).
                :returns: List of conversation items.
      parameters:
        - name: conversation_id
          description: The conversation identifier.
          required: true
          schema:
            type: string
          in: path
        - name: after
          description: >-
            An item ID to list items after, used in pagination.
          required: false
          schema:
            type: string
          in: query
        - name: include
          description: >-
            Specify additional output data to include in the response.
          required: false
          schema:
            $ref: '#/components/schemas/list'
          in: query
        - name: limit
          description: >-
            A limit on the number of objects to be returned (1-100, default 20).
          required: false
          schema:
            type: integer
          in: query
        - name: order
          description: >-
            The order to return items in (asc or desc, default desc).
          required: false
          schema:
            $ref: '#/components/schemas/Literal'
          in: query
      deprecated: false
    post:
      responses:
        '200':
          description: List of created items.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationItemList'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Conversations
      summary: Create items.
      description: >-
        Create items.

        Create items in the conversation.

                :param conversation_id: The conversation identifier.
                :param items: Items to include in the conversation context.
                :returns: List of created items.
      parameters:
        - name: conversation_id
          description: The conversation identifier.
          required: true
          schema:
            type: string
          in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddItemsRequest'
        required: true
      deprecated: false
  /v1/conversations/{conversation_id}/items/{item_id}:
    get:
      responses:
        '200':
          description: The conversation item.
          content:
            application/json:
              schema:
                id: Annotated
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Conversations
      summary: Retrieve an item.
      description: >-
        Retrieve an item.

        Retrieve a conversation item.

                :param conversation_id: The conversation identifier.
                :param item_id: The item identifier.
                :returns: The conversation item.
      parameters:
        - name: conversation_id
          description: The conversation identifier.
          required: true
          schema:
            type: string
          in: path
        - name: item_id
          description: The item identifier.
          required: true
          schema:
            type: string
          in: path
      deprecated: false
    delete:
      responses:
        '200':
          description: The deleted item resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationItemDeletedResource'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Conversations
      summary: Delete an item.
      description: >-
        Delete an item.

        Delete a conversation item.

                :param conversation_id: The conversation identifier.
                :param item_id: The item identifier.
                :returns: The deleted item resource.
      parameters:
        - name: conversation_id
          description: The conversation identifier.
          required: true
          schema:
            type: string
          in: path
        - name: item_id
          description: The item identifier.
          required: true
          schema:
            type: string
          in: path
      deprecated: false
  /v1/embeddings:
    post:
      responses:
        '200':
          description: >-
            An OpenAIEmbeddingsResponse containing the embeddings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIEmbeddingsResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Inference
      summary: Create embeddings.
      description: >-
        Create embeddings.

        Generate OpenAI-compatible embeddings for the given input using the specified
        model.
                :returns: An OpenAIEmbeddingsResponse containing the embeddings.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              id: Annotated
        required: true
      deprecated: false
  /v1/files:
    get:
      responses:
        '200':
          description: >-
            An ListOpenAIFileResponse containing the list of files.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOpenAIFileResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Files
      summary: List files.
      description: >-
        List files.

        Returns a list of files that belong to the user's organization.

                :param after: A cursor for use in pagination. `after` is an object
        ID that defines your place in the list. For instance, if you make a list request
        and receive 100 objects, ending with obj_foo, your subsequent call can include
        after=obj_foo in order to fetch the next page of the list.
                :param limit: A limit on the number of objects to be returned. Limit
        can range between 1 and 10,000, and the default is 10,000.
                :param order: Sort order by the `created_at` timestamp of the objects.
        `asc` for ascending order and `desc` for descending order.
                :param purpose: Only return files with the given purpose.
                :returns: An ListOpenAIFileResponse containing the list of files.
      parameters:
        - name: after
          description: >-
            A cursor for use in pagination. `after` is an object ID that defines your
            place in the list. For instance, if you make a list request and receive
            100 objects, ending with obj_foo, your subsequent call can include after=obj_foo
            in order to fetch the next page of the list.
          required: false
          schema:
            type: string
          in: query
        - name: limit
          description: >-
            A limit on the number of objects to be returned. Limit can range between
            1 and 10,000, and the default is 10,000.
          required: false
          schema:
            type: integer
          in: query
        - name: order
          description: >-
            Sort order by the `created_at` timestamp of the objects. `asc` for ascending
            order and `desc` for descending order.
          required: false
          schema:
            $ref: '#/components/schemas/Order'
          in: query
        - name: purpose
          description: >-
            Only return files with the given purpose.
          required: false
          schema:
            $ref: '#/components/schemas/OpenAIFilePurpose'
          in: query
      deprecated: false
    post:
      responses:
        '200':
          description: >-
            An OpenAIFileObject representing the uploaded file.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIFileObject'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Files
      summary: Upload file.
      description: >-
        Upload file.

        Upload a file that can be used across various endpoints.

                The file upload should be a multipart form request with:
                - file: The File object (not file name) to be uploaded.
                - purpose: The intended purpose of the uploaded file.
                - expires_after: Optional form values describing expiration for the
        file.

                :param file: The uploaded file object containing content and metadata
        (filename, content_type, etc.).
                :param purpose: The intended purpose of the uploaded file (e.g., "assistants",
        "fine-tune").
                :param expires_after: Optional form values describing expiration for
        the file.
                :returns: An OpenAIFileObject representing the uploaded file.
      parameters: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                purpose:
                  $ref: '#/components/schemas/OpenAIFilePurpose'
                expires_after:
                  $ref: '#/components/schemas/ExpiresAfter'
              required:
                - file
                - purpose
        required: true
      deprecated: false
  /v1/files/{file_id}:
    get:
      responses:
        '200':
          description: >-
            An OpenAIFileObject containing file information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIFileObject'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Files
      summary: Retrieve file.
      description: >-
        Retrieve file.

        Returns information about a specific file.

                :param file_id: The ID of the file to use for this request.
                :returns: An OpenAIFileObject containing file information.
      parameters:
        - name: file_id
          description: >-
            The ID of the file to use for this request.
          required: true
          schema:
            type: string
          in: path
      deprecated: false
    delete:
      responses:
        '200':
          description: >-
            An OpenAIFileDeleteResponse indicating successful deletion.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIFileDeleteResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Files
      summary: Delete file.
      description: >-
        Delete file.

        :param file_id: The ID of the file to use for this request.
                :returns: An OpenAIFileDeleteResponse indicating successful deletion.
      parameters:
        - name: file_id
          description: >-
            The ID of the file to use for this request.
          required: true
          schema:
            type: string
          in: path
      deprecated: false
  /v1/files/{file_id}/content:
    get:
      responses:
        '200':
          description: >-
            The raw file content as a binary response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Files
      summary: Retrieve file content.
      description: >-
        Retrieve file content.

        Returns the contents of the specified file.

                :param file_id: The ID of the file to use for this request.
                :returns: The raw file content as a binary response.
      parameters:
        - name: file_id
          description: >-
            The ID of the file to use for this request.
          required: true
          schema:
            type: string
          in: path
      deprecated: false
  /v1/health:
    get:
      responses:
        '200':
          description: >-
            Health information indicating if the service is operational.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthInfo'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Inspect
      summary: Get health status.
      description: >-
        Get health status.

        Get the current health status of the service.

                :returns: Health information indicating if the service is operational.
      parameters: []
      deprecated: false
  /v1/inspect/routes:
    get:
      responses:
        '200':
          description: >-
            Response containing information about all available routes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRoutesResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Inspect
      summary: List routes.
      description: >-
        List routes.

        List all available API routes with their methods and implementing providers.
      parameters:
        - name: api_filter
          in: query
          description: >-
            Optional filter to control which routes are returned. Can be an API level
            ('v1', 'v1alpha', 'v1beta') to show non-deprecated routes at that level,
            or 'deprecated' to show deprecated routes across all levels. If not specified,
            returns only non-deprecated v1 routes.
          required: false
          schema:
            type: string
            enum:
              - v1
              - v1alpha
              - v1beta
              - deprecated
      deprecated: false
  /v1/models:
    get:
      responses:
        '200':
          description: A OpenAIListModelsResponse.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIListModelsResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Models
      summary: List models using the OpenAI API.
      description: List models using the OpenAI API.
      parameters: []
      deprecated: false
    post:
      responses:
        '200':
          description: A Model.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Models
      summary: Register model.
      description: >-
        Register model.

        Register a model.

                :param model_id: The identifier of the model to register.
                :param provider_model_id: The identifier of the model in the provider.
                :param provider_id: The identifier of the provider.
                :param metadata: Any additional metadata for this model.
                :param model_type: The type of model to register.
                :returns: A Model.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterModelRequest'
        required: true
      deprecated: false
  /v1/models/{model_id}:
    get:
      responses:
        '200':
          description: A Model.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Models
      summary: Get model.
      description: >-
        Get model.

        Get a model by its identifier.

                :param model_id: The identifier of the model to get.
                :returns: A Model.
      parameters:
        - name: model_id
          description: The identifier of the model to get.
          required: true
          schema:
            type: string
          in: path
      deprecated: false
    delete:
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Models
      summary: Unregister model.
      description: >-
        Unregister model.

        Unregister a model.

                :param model_id: The identifier of the model to unregister.
      parameters:
        - name: model_id
          description: >-
            The identifier of the model to unregister.
          required: true
          schema:
            type: string
          in: path
      deprecated: false
  /v1/moderations:
    post:
      responses:
        '200':
          description: A moderation object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModerationObject'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Safety
      summary: Create moderation.
      description: >-
        Create moderation.

        Classifies if text and/or image inputs are potentially harmful.
                :param input: Input (or inputs) to classify.
                Can be a single string, an array of strings, or an array of multi-modal
        input objects similar to other models.
                :param model: (Optional) The content moderation model you would like
        to use.
                :returns: A moderation object.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunModerationRequest'
        required: true
      deprecated: false
  /v1/prompts:
    get:
      responses:
        '200':
          description: >-
            A ListPromptsResponse containing all prompts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPromptsResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Prompts
      summary: List all prompts.
      description: >-
        List all prompts.

        :returns: A ListPromptsResponse containing all prompts.
      parameters: []
      deprecated: false
    post:
      responses:
        '200':
          description: The created Prompt resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Prompt'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Prompts
      summary: Create prompt.
      description: >-
        Create prompt.

        Create a new prompt.

                :param prompt: The prompt text content with variable placeholders.
                :param variables: List of variable names that can be used in the prompt
        template.
                :returns: The created Prompt resource.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePromptRequest'
        required: true
      deprecated: false
  /v1/prompts/{prompt_id}:
    get:
      responses:
        '200':
          description: A Prompt resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Prompt'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Prompts
      summary: Get prompt.
      description: >-
        Get prompt.

        Get a prompt by its identifier and optional version.

                :param prompt_id: The identifier of the prompt to get.
                :param version: The version of the prompt to get (defaults to latest).
                :returns: A Prompt resource.
      parameters:
        - name: prompt_id
          description: The identifier of the prompt to get.
          required: true
          schema:
            type: string
          in: path
        - name: version
          description: >-
            The version of the prompt to get (defaults to latest).
          required: false
          schema:
            type: integer
          in: query
      deprecated: false
    post:
      responses:
        '200':
          description: >-
            The updated Prompt resource with incremented version.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Prompt'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Prompts
      summary: Update prompt.
      description: >-
        Update prompt.

        Update an existing prompt (increments version).

                :param prompt_id: The identifier of the prompt to update.
                :param prompt: The updated prompt text content.
                :param version: The current version of the prompt being updated.
                :param variables: Updated list of variable names that can be used
        in the prompt template.
                :param set_as_default: Set the new version as the default (default=True).
                :returns: The updated Prompt resource with incremented version.
      parameters:
        - name: prompt_id
          description: The identifier of the prompt to update.
          required: true
          schema:
            type: string
          in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePromptRequest'
        required: true
      deprecated: false
    delete:
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Prompts
      summary: Delete prompt.
      description: >-
        Delete prompt.

        Delete a prompt.

                :param prompt_id: The identifier of the prompt to delete.
      parameters:
        - name: prompt_id
          description: The identifier of the prompt to delete.
          required: true
          schema:
            type: string
          in: path
      deprecated: false
  /v1/prompts/{prompt_id}/set-default-version:
    post:
      responses:
        '200':
          description: >-
            The prompt with the specified version now set as default.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Prompt'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Prompts
      summary: Set prompt version.
      description: >-
        Set prompt version.

        Set which version of a prompt should be the default in get_prompt (latest).

                :param prompt_id: The identifier of the prompt.
                :param version: The version to set as default.
                :returns: The prompt with the specified version now set as default.
      parameters:
        - name: prompt_id
          description: The identifier of the prompt.
          required: true
          schema:
            type: string
          in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetDefaultVersionRequest'
        required: true
      deprecated: false
  /v1/prompts/{prompt_id}/versions:
    get:
      responses:
        '200':
          description: >-
            A ListPromptsResponse containing all versions of the prompt.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPromptsResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Prompts
      summary: List prompt versions.
      description: >-
        List prompt versions.

        List all versions of a specific prompt.

                :param prompt_id: The identifier of the prompt to list versions for.
                :returns: A ListPromptsResponse containing all versions of the prompt.
      parameters:
        - name: prompt_id
          description: >-
            The identifier of the prompt to list versions for.
          required: true
          schema:
            type: string
          in: path
      deprecated: false
  /v1/providers:
    get:
      responses:
        '200':
          description: >-
            A ListProvidersResponse containing information about all providers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListProvidersResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Providers
      summary: List providers.
      description: >-
        List providers.

        List all available providers.

                :returns: A ListProvidersResponse containing information about all
        providers.
      parameters: []
      deprecated: false
  /v1/providers/{provider_id}:
    get:
      responses:
        '200':
          description: >-
            A ProviderInfo object containing the provider's details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderInfo'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Providers
      summary: Get provider.
      description: >-
        Get provider.

        Get detailed information about a specific provider.

                :param provider_id: The ID of the provider to inspect.
                :returns: A ProviderInfo object containing the provider's details.
      parameters:
        - name: provider_id
          description: The ID of the provider to inspect.
          required: true
          schema:
            type: string
          in: path
      deprecated: false
  /v1/responses:
    get:
      responses:
        '200':
          description: A ListOpenAIResponseObject.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOpenAIResponseObject'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Agents
      summary: List all responses.
      description: >-
        List all responses.

        :param after: The ID of the last response to return.
                :param limit: The number of responses to return.
                :param model: The model to filter responses by.
                :param order: The order to sort responses by when sorted by created_at
        ('asc' or 'desc').
                :returns: A ListOpenAIResponseObject.
      parameters:
        - name: after
          description: The ID of the last response to return.
          required: false
          schema:
            type: string
          in: query
        - name: limit
          description: The number of responses to return.
          required: false
          schema:
            type: integer
          in: query
        - name: model
          description: The model to filter responses by.
          required: false
          schema:
            type: string
          in: query
        - name: order
          description: >-
            The order to sort responses by when sorted by created_at ('asc' or 'desc').
          required: false
          schema:
            $ref: '#/components/schemas/Order'
          in: query
      deprecated: false
    post:
      responses:
        '200':
          description: An OpenAIResponseObject.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIResponseObject'
            text/event-stream:
              schema:
                $ref: '#/components/schemas/AsyncIterator'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Agents
      summary: Create a model response.
      description: >-
        Create a model response.

        :param input: Input message(s) to create the response.
                :param model: The underlying LLM used for completions.
                :param previous_response_id: (Optional) if specified, the new response
        will be a continuation of the previous response. This can be used to easily
        fork-off new responses from existing responses.
                :param conversation: (Optional) The ID of a conversation to add the
        response to. Must begin with 'conv_'. Input and output messages will be automatically
        added to the conversation.
                :param include: (Optional) Additional fields to include in the response.
                :param guardrails: (Optional) List of guardrails to apply during response
        generation. Can be guardrail IDs (strings) or guardrail specifications.
                :returns: An OpenAIResponseObject.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOpenaiResponseRequest'
        required: true
      deprecated: false
      x-llama-stack-extra-body-params:
        - name: guardrails
          schema:
            id: Annotated
          description: >-
            List of guardrails to apply during response generation. Guardrails provide
            safety and content moderation.
          required: true
  /v1/responses/{response_id}:
    get:
      responses:
        '200':
          description: An OpenAIResponseObject.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIResponseObject'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Agents
      summary: Get a model response.
      description: >-
        Get a model response.

        :param response_id: The ID of the OpenAI response to retrieve.
                :returns: An OpenAIResponseObject.
      parameters:
        - name: response_id
          description: >-
            The ID of the OpenAI response to retrieve.
          required: true
          schema:
            type: string
          in: path
      deprecated: false
    delete:
      responses:
        '200':
          description: An OpenAIDeleteResponseObject
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIDeleteResponseObject'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Agents
      summary: Delete a response.
      description: >-
        Delete a response.

        :param response_id: The ID of the OpenAI response to delete.
                :returns: An OpenAIDeleteResponseObject
      parameters:
        - name: response_id
          description: The ID of the OpenAI response to delete.
          required: true
          schema:
            type: string
          in: path
      deprecated: false
  /v1/responses/{response_id}/input_items:
    get:
      responses:
        '200':
          description: An ListOpenAIResponseInputItem.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOpenAIResponseInputItem'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Agents
      summary: List input items.
      description: >-
        List input items.

        :param response_id: The ID of the response to retrieve input items for.
                :param after: An item ID to list items after, used for pagination.
                :param before: An item ID to list items before, used for pagination.
                :param include: Additional fields to include in the response.
                :param limit: A limit on the number of objects to be returned. Limit
        can range between 1 and 100, and the default is 20.
                :param order: The order to return the input items in. Default is desc.
                :returns: An ListOpenAIResponseInputItem.
      parameters:
        - name: response_id
          description: >-
            The ID of the response to retrieve input items for.
          required: true
          schema:
            type: string
          in: path
        - name: after
          description: >-
            An item ID to list items after, used for pagination.
          required: false
          schema:
            type: string
          in: query
        - name: before
          description: >-
            An item ID to list items before, used for pagination.
          required: false
          schema:
            type: string
          in: query
        - name: include
          description: >-
            Additional fields to include in the response.
          required: false
          schema:
            $ref: '#/components/schemas/list'
          in: query
        - name: limit
          description: >-
            A limit on the number of objects to be returned. Limit can range between
            1 and 100, and the default is 20.
          required: false
          schema:
            type: integer
          in: query
        - name: order
          description: >-
            The order to return the input items in. Default is desc.
          required: false
          schema:
            $ref: '#/components/schemas/Order'
          in: query
      deprecated: false
  /v1/safety/run-shield:
    post:
      responses:
        '200':
          description: A RunShieldResponse.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunShieldResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Safety
      summary: Run shield.
      description: >-
        Run shield.

        Run a shield.

                :param shield_id: The identifier of the shield to run.
                :param messages: The messages to run the shield on.
                :param params: The parameters of the shield.
                :returns: A RunShieldResponse.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunShieldRequest'
        required: true
      deprecated: false
  /v1/scoring-functions:
    get:
      responses:
        '200':
          description: A ListScoringFunctionsResponse.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListScoringFunctionsResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - ScoringFunctions
      summary: List all scoring functions.
      description: >-
        List all scoring functions.

        :returns: A ListScoringFunctionsResponse.
      parameters: []
      deprecated: false
    post:
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - ScoringFunctions
      summary: Register a scoring function.
      description: >-
        Register a scoring function.

        :param scoring_fn_id: The ID of the scoring function to register.
                :param description: The description of the scoring function.
                :param return_type: The return type of the scoring function.
                :param provider_scoring_fn_id: The ID of the provider scoring function
        to use for the scoring function.
                :param provider_id: The ID of the provider to use for the scoring
        function.
                :param params: The parameters for the scoring function for benchmark
        eval, these can be overridden for app eval.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterScoringFunctionRequest'
        required: true
      deprecated: false
  /v1/scoring-functions/{scoring_fn_id}:
    get:
      responses:
        '200':
          description: A ScoringFn.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScoringFn'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - ScoringFunctions
      summary: Get a scoring function by its ID.
      description: >-
        Get a scoring function by its ID.

        :param scoring_fn_id: The ID of the scoring function to get.
                :returns: A ScoringFn.
      parameters:
        - name: scoring_fn_id
          description: The ID of the scoring function to get.
          required: true
          schema:
            type: string
          in: path
      deprecated: false
    delete:
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - ScoringFunctions
      summary: Unregister a scoring function.
      description: >-
        Unregister a scoring function.

        :param scoring_fn_id: The ID of the scoring function to unregister.
      parameters:
        - name: scoring_fn_id
          description: >-
            The ID of the scoring function to unregister.
          required: true
          schema:
            type: string
          in: path
      deprecated: false
  /v1/scoring/score:
    post:
      responses:
        '200':
          description: >-
            A ScoreResponse object containing rows and aggregated results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScoreResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Scoring
      summary: Score a list of rows.
      description: >-
        Score a list of rows.

        :param input_rows: The rows to score.
                :param scoring_functions: The scoring functions to use for the scoring.
                :returns: A ScoreResponse object containing rows and aggregated results.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScoreRequest'
        required: true
      deprecated: false
  /v1/scoring/score-batch:
    post:
      responses:
        '200':
          description: A ScoreBatchResponse.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScoreBatchResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Scoring
      summary: Score a batch of rows.
      description: >-
        Score a batch of rows.

        :param dataset_id: The ID of the dataset to score.
                :param scoring_functions: The scoring functions to use for the scoring.
                :param save_results_dataset: Whether to save the results to a dataset.
                :returns: A ScoreBatchResponse.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScoreBatchRequest'
        required: true
      deprecated: false
  /v1/shields:
    get:
      responses:
        '200':
          description: A ListShieldsResponse.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListShieldsResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Shields
      summary: List all shields.
      description: >-
        List all shields.

        :returns: A ListShieldsResponse.
      parameters: []
      deprecated: false
    post:
      responses:
        '200':
          description: A Shield.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shield'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Shields
      summary: Register a shield.
      description: >-
        Register a shield.

        :param shield_id: The identifier of the shield to register.
                :param provider_shield_id: The identifier of the shield in the provider.
                :param provider_id: The identifier of the provider.
                :param params: The parameters of the shield.
                :returns: A Shield.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterShieldRequest'
        required: true
      deprecated: false
  /v1/shields/{identifier}:
    get:
      responses:
        '200':
          description: A Shield.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shield'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Shields
      summary: Get a shield by its identifier.
      description: >-
        Get a shield by its identifier.

        :param identifier: The identifier of the shield to get.
                :returns: A Shield.
      parameters:
        - name: identifier
          description: The identifier of the shield to get.
          required: true
          schema:
            type: string
          in: path
      deprecated: false
    delete:
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - Shields
      summary: Unregister a shield.
      description: >-
        Unregister a shield.

        :param identifier: The identifier of the shield to unregister.
      parameters:
        - name: identifier
          description: >-
            The identifier of the shield to unregister.
          required: true
          schema:
            type: string
          in: path
      deprecated: false
  /v1/tool-runtime/invoke:
    post:
      responses:
        '200':
          description: A ToolInvocationResult.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToolInvocationResult'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - ToolRuntime
      summary: Run a tool with the given arguments.
      description: >-
        Run a tool with the given arguments.

        :param tool_name: The name of the tool to invoke.
                :param kwargs: A dictionary of arguments to pass to the tool.
                :returns: A ToolInvocationResult.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvokeToolRequest'
        required: true
      deprecated: false
  /v1/tool-runtime/list-tools:
    get:
      responses:
        '200':
          description: A ListToolDefsResponse.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListToolDefsResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - ToolRuntime
      summary: List all tools in the runtime.
      description: >-
        List all tools in the runtime.

        :param tool_group_id: The ID of the tool group to list tools for.
                :param mcp_endpoint: The MCP endpoint to use for the tool group.
                :returns: A ListToolDefsResponse.
      parameters:
        - name: tool_group_id
          description: >-
            The ID of the tool group to list tools for.
          required: false
          schema:
            type: string
          in: query
        - name: mcp_endpoint
          description: >-
            The MCP endpoint to use for the tool group.
          required: false
          schema:
            $ref: '#/components/schemas/URL'
          in: query
      deprecated: false
  /v1/tool-runtime/rag-tool/insert:
    post:
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - ToolRuntime
      summary: >-
        Index documents so they can be used by the RAG system.
      description: >-
        Index documents so they can be used by the RAG system.

        :param documents: List of documents to index in the RAG system
                :param vector_store_id: ID of the vector database to store the document
        embeddings
                :param chunk_size_in_tokens: (Optional) Size in tokens for document
        chunking during indexing
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InsertRequest'
        required: true
      deprecated: false
  /v1/tool-runtime/rag-tool/query:
    post:
      responses:
        '200':
          description: >-
            RAGQueryResult containing the retrieved content and metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RAGQueryResult'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - ToolRuntime
      summary: >-
        Query the RAG system for context; typically invoked by the agent.
      description: >-
        Query the RAG system for context; typically invoked by the agent.

        :param content: The query content to search for in the indexed documents
                :param vector_store_ids: List of vector database IDs to search within
                :param query_config: (Optional) Configuration parameters for the query
        operation
                :returns: RAGQueryResult containing the retrieved content and metadata
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryRequest'
        required: true
      deprecated: false
  /v1/toolgroups:
    get:
      responses:
        '200':
          description: A ListToolGroupsResponse.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListToolGroupsResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - ToolGroups
      summary: List tool groups with optional provider.
      description: >-
        List tool groups with optional provider.

        :returns: A ListToolGroupsResponse.
      parameters: []
      deprecated: false
    post:
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - ToolGroups
      summary: Register a tool group.
      description: >-
        Register a tool group.

        :param toolgroup_id: The ID of the tool group to register.
                :param provider_id: The ID of the provider to use for the tool group.
                :param mcp_endpoint: The MCP endpoint to use for the tool group.
                :param args: A dictionary of arguments to pass to the tool group.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterToolGroupRequest'
        required: true
      deprecated: false
  /v1/toolgroups/{toolgroup_id}:
    get:
      responses:
        '200':
          description: A ToolGroup.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToolGroup'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - ToolGroups
      summary: Get a tool group by its ID.
      description: >-
        Get a tool group by its ID.

        :param toolgroup_id: The ID of the tool group to get.
                :returns: A ToolGroup.
      parameters:
        - name: toolgroup_id
          description: The ID of the tool group to get.
          required: true
          schema:
            type: string
          in: path
      deprecated: false
    delete:
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - ToolGroups
      summary: Unregister a tool group.
      description: >-
        Unregister a tool group.

        :param toolgroup_id: The ID of the tool group to unregister.
      parameters:
        - name: toolgroup_id
          description: The ID of the tool group to unregister.
          required: true
          schema:
            type: string
          in: path
      deprecated: false
  /v1/tools:
    get:
      responses:
        '200':
          description: A ListToolDefsResponse.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListToolDefsResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - ToolGroups
      summary: List tools with optional tool group.
      description: >-
        List tools with optional tool group.

        :param toolgroup_id: The ID of the tool group to list tools for.
                :returns: A ListToolDefsResponse.
      parameters:
        - name: toolgroup_id
          description: >-
            The ID of the tool group to list tools for.
          required: false
          schema:
            type: string
          in: query
      deprecated: false
  /v1/tools/{tool_name}:
    get:
      responses:
        '200':
          description: A ToolDef.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToolDef'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - ToolGroups
      summary: Get a tool by its name.
      description: >-
        Get a tool by its name.

        :param tool_name: The name of the tool to get.
                :returns: A ToolDef.
      parameters:
        - name: tool_name
          description: The name of the tool to get.
          required: true
          schema:
            type: string
          in: path
      deprecated: false
  /v1/vector-io/insert:
    post:
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - VectorIO
      summary: Insert chunks into a vector database.
      description: >-
        Insert chunks into a vector database.

        :param vector_store_id: The identifier of the vector database to insert the
        chunks into.
                :param chunks: The chunks to insert. Each `Chunk` should contain content
        which can be interleaved text, images, or other types.
                    `metadata`: `dict[str, Any]` and `embedding`: `List[float]` are
        optional.
                    If `metadata` is provided, you configure how Llama Stack formats
        the chunk during generation.
                    If `embedding` is not provided, it will be computed later.
                :param ttl_seconds: The time to live of the chunks.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InsertChunksRequest'
        required: true
      deprecated: false
  /v1/vector-io/query:
    post:
      responses:
        '200':
          description: A QueryChunksResponse.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryChunksResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - VectorIO
      summary: Query chunks from a vector database.
      description: >-
        Query chunks from a vector database.

        :param vector_store_id: The identifier of the vector database to query.
                :param query: The query to search for.
                :param params: The parameters of the query.
                :returns: A QueryChunksResponse.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryChunksRequest'
        required: true
      deprecated: false
  /v1/vector_stores:
    get:
      responses:
        '200':
          description: >-
            A VectorStoreListResponse containing the list of vector stores.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreListResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - VectorIO
      summary: Returns a list of vector stores.
      description: >-
        Returns a list of vector stores.

        :param limit: A limit on the number of objects to be returned. Limit can range
        between 1 and 100, and the default is 20.
                :param order: Sort order by the `created_at` timestamp of the objects.
        `asc` for ascending order and `desc` for descending order.
                :param after: A cursor for use in pagination. `after` is an object
        ID that defines your place in the list.
                :param before: A cursor for use in pagination. `before` is an object
        ID that defines your place in the list.
                :returns: A VectorStoreListResponse containing the list of vector
        stores.
      parameters:
        - name: limit
          description: >-
            A limit on the number of objects to be returned. Limit can range between
            1 and 100, and the default is 20.
          required: false
          schema:
            type: integer
          in: query
        - name: order
          description: >-
            Sort order by the `created_at` timestamp of the objects. `asc` for ascending
            order and `desc` for descending order.
          required: false
          schema:
            type: string
          in: query
        - name: after
          description: >-
            A cursor for use in pagination. `after` is an object ID that defines your
            place in the list.
          required: false
          schema:
            type: string
          in: query
        - name: before
          description: >-
            A cursor for use in pagination. `before` is an object ID that defines
            your place in the list.
          required: false
          schema:
            type: string
          in: query
      deprecated: false
    post:
      responses:
        '200':
          description: >-
            A VectorStoreObject representing the created vector store.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreObject'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - VectorIO
      summary: Creates a vector store.
      description: >-
        Creates a vector store.

        Generate an OpenAI-compatible vector store with the given parameters.
                :returns: A VectorStoreObject representing the created vector store.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              id: Annotated
        required: true
      deprecated: false
  /v1/vector_stores/{vector_store_id}:
    get:
      responses:
        '200':
          description: >-
            A VectorStoreObject representing the vector store.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreObject'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - VectorIO
      summary: Retrieves a vector store.
      description: >-
        Retrieves a vector store.

        :param vector_store_id: The ID of the vector store to retrieve.
                :returns: A VectorStoreObject representing the vector store.
      parameters:
        - name: vector_store_id
          description: The ID of the vector store to retrieve.
          required: true
          schema:
            type: string
          in: path
      deprecated: false
    post:
      responses:
        '200':
          description: >-
            A VectorStoreObject representing the updated vector store.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreObject'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - VectorIO
      summary: Updates a vector store.
      description: >-
        Updates a vector store.

        :param vector_store_id: The ID of the vector store to update.
                :param name: The name of the vector store.
                :param expires_after: The expiration policy for a vector store.
                :param metadata: Set of 16 key-value pairs that can be attached to
        an object.
                :returns: A VectorStoreObject representing the updated vector store.
      parameters:
        - name: vector_store_id
          description: The ID of the vector store to update.
          required: true
          schema:
            type: string
          in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenaiUpdateVectorStoreRequest'
        required: true
      deprecated: false
    delete:
      responses:
        '200':
          description: >-
            A VectorStoreDeleteResponse indicating the deletion status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreDeleteResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - VectorIO
      summary: Delete a vector store.
      description: >-
        Delete a vector store.

        :param vector_store_id: The ID of the vector store to delete.
                :returns: A VectorStoreDeleteResponse indicating the deletion status.
      parameters:
        - name: vector_store_id
          description: The ID of the vector store to delete.
          required: true
          schema:
            type: string
          in: path
      deprecated: false
  /v1/vector_stores/{vector_store_id}/file_batches:
    post:
      responses:
        '200':
          description: >-
            A VectorStoreFileBatchObject representing the created file batch.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreFileBatchObject'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - VectorIO
      summary: Create a vector store file batch.
      description: >-
        Create a vector store file batch.

        Generate an OpenAI-compatible vector store file batch for the given vector
        store.
                :param vector_store_id: The ID of the vector store to create the file
        batch for.
                :returns: A VectorStoreFileBatchObject representing the created file
        batch.
      parameters:
        - name: vector_store_id
          description: >-
            The ID of the vector store to create the file batch for.
          required: true
          schema:
            type: string
          in: path
      requestBody:
        content:
          application/json:
            schema:
              id: Annotated
        required: true
      deprecated: false
  /v1/vector_stores/{vector_store_id}/file_batches/{batch_id}:
    get:
      responses:
        '200':
          description: >-
            A VectorStoreFileBatchObject representing the file batch.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreFileBatchObject'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - VectorIO
      summary: Retrieve a vector store file batch.
      description: >-
        Retrieve a vector store file batch.

        :param batch_id: The ID of the file batch to retrieve.
                :param vector_store_id: The ID of the vector store containing the
        file batch.
                :returns: A VectorStoreFileBatchObject representing the file batch.
      parameters:
        - name: batch_id
          description: The ID of the file batch to retrieve.
          required: true
          schema:
            type: string
          in: path
        - name: vector_store_id
          description: >-
            The ID of the vector store containing the file batch.
          required: true
          schema:
            type: string
          in: path
      deprecated: false
  /v1/vector_stores/{vector_store_id}/file_batches/{batch_id}/cancel:
    post:
      responses:
        '200':
          description: >-
            A VectorStoreFileBatchObject representing the cancelled file batch.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreFileBatchObject'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - VectorIO
      summary: Cancels a vector store file batch.
      description: >-
        Cancels a vector store file batch.

        :param batch_id: The ID of the file batch to cancel.
                :param vector_store_id: The ID of the vector store containing the
        file batch.
                :returns: A VectorStoreFileBatchObject representing the cancelled
        file batch.
      parameters:
        - name: batch_id
          description: The ID of the file batch to cancel.
          required: true
          schema:
            type: string
          in: path
        - name: vector_store_id
          description: >-
            The ID of the vector store containing the file batch.
          required: true
          schema:
            type: string
          in: path
      deprecated: false
  /v1/vector_stores/{vector_store_id}/file_batches/{batch_id}/files:
    get:
      responses:
        '200':
          description: >-
            A VectorStoreFilesListInBatchResponse containing the list of files in
            the batch.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreFilesListInBatchResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - VectorIO
      summary: >-
        Returns a list of vector store files in a batch.
      description: >-
        Returns a list of vector store files in a batch.

        :param batch_id: The ID of the file batch to list files from.
                :param vector_store_id: The ID of the vector store containing the
        file batch.
                :param after: A cursor for use in pagination. `after` is an object
        ID that defines your place in the list.
                :param before: A cursor for use in pagination. `before` is an object
        ID that defines your place in the list.
                :param filter: Filter by file status. One of in_progress, completed,
        failed, cancelled.
                :param limit: A limit on the number of objects to be returned. Limit
        can range between 1 and 100, and the default is 20.
                :param order: Sort order by the `created_at` timestamp of the objects.
        `asc` for ascending order and `desc` for descending order.
                :returns: A VectorStoreFilesListInBatchResponse containing the list
        of files in the batch.
      parameters:
        - name: batch_id
          description: >-
            The ID of the file batch to list files from.
          required: true
          schema:
            type: string
          in: path
        - name: vector_store_id
          description: >-
            The ID of the vector store containing the file batch.
          required: true
          schema:
            type: string
          in: path
        - name: after
          description: >-
            A cursor for use in pagination. `after` is an object ID that defines your
            place in the list.
          required: false
          schema:
            type: string
          in: query
        - name: before
          description: >-
            A cursor for use in pagination. `before` is an object ID that defines
            your place in the list.
          required: false
          schema:
            type: string
          in: query
        - name: filter
          description: >-
            Filter by file status. One of in_progress, completed, failed, cancelled.
          required: false
          schema:
            type: string
          in: query
        - name: limit
          description: >-
            A limit on the number of objects to be returned. Limit can range between
            1 and 100, and the default is 20.
          required: false
          schema:
            type: integer
          in: query
        - name: order
          description: >-
            Sort order by the `created_at` timestamp of the objects. `asc` for ascending
            order and `desc` for descending order.
          required: false
          schema:
            type: string
          in: query
      deprecated: false
  /v1/vector_stores/{vector_store_id}/files:
    get:
      responses:
        '200':
          description: >-
            A VectorStoreListFilesResponse containing the list of files.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreListFilesResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '429':
          $ref: >-
            #/components/responses/TooManyRequests429
        '500':
          $ref: >-
            #/components/responses/InternalServerError500
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
        - VectorIO
      summary: List files in a vector store.
      description: >-
        List files in a vector store.

        :param vector_store_id: The ID of the vector store to list files from.
                :param limit: (Optional) A limit on the number of objects to be returned.
        Limit can range between 1 and 100, and the default is 20.
                :param order: (Optional) Sort order by the `created_at` timestamp
        of the objects. `asc` for ascending order and `desc` for descending order.
                :param after: (Optional) A cursor for use in pagination. `after` is
        an object ID that defines your place in the list.
                :param before: (Optional) A cursor for use in pagination. `before`
        is an object ID that defines your place in the list.
                :param filter: (Optional) Filter by file status to only return files
        with the specified status.
                :returns: A VectorStoreListFilesResponse containing the list of files.
      parameters:
        - name: vector_store_id
          description: >-
            The ID of the vector store to list files from.
          required: true
          schema:
            type: string
          in: path
        - name: limit
          description: >-
            (Optional) A limit on the number of objects to be returned. Limit can
            range between 1 and 100, and the default is 20.
          required: false
          schema:
            type: integer
          in: query
        - name: order
          description: >-
            (Optional) Sort order by the `created_at` timestamp of the objects. `asc`
            for ascending order and `desc` for descending order.
          required: false
          schema:
            type: string
          in: query
        - name: after
          description: >-
            (Optional) A cursor for use in pagination. `after` is an object ID that
            defines your place in the list.
          required: false
          schema:
            type: string
          in: query
        - name: before
          description: >-
            (Optional) A cursor for use in pagination. `before` is an object ID that
            defines your place in the list.
          required: false
          schema:
            type: string
          in: query
        - name: filter
          description: >-
[...]
