{
  "openapi": "3.1.0",
  "info": {
    "title": "Llama Stack API - Stable & Experimental APIs",
    "description": "A comprehensive API for building and deploying AI applications\n\n**\ud83d\udd17 COMBINED**: This specification includes both stable production-ready APIs and experimental pre-release APIs. Use stable APIs for production deployments and experimental APIs for testing new features.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.llamastack.com",
      "description": "Production server"
    },
    {
      "url": "https://staging-api.llamastack.com",
      "description": "Staging server"
    }
  ],
  "paths": {
    "/v1beta/datasetio/append-rows/{dataset_id}": {
      "post": {
        "tags": [
          "V1Beta"
        ],
        "summary": "Append rows to a dataset.",
        "description": "Generic endpoint - this would be replaced with actual implementation.",
        "operationId": "append_rows_v1beta_datasetio_append_rows__dataset_id__post",
        "parameters": [
          {
            "name": "args",
            "in": "query",
            "required": true,
            "schema": {
              "title": "Args"
            }
          },
          {
            "name": "kwargs",
            "in": "query",
            "required": true,
            "schema": {
              "title": "Kwargs"
            }
          },
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path parameter: dataset_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      }
    },
    "/v1beta/datasetio/iterrows/{dataset_id}": {
      "get": {
        "tags": [
          "V1Beta"
        ],
        "summary": "Get a paginated list of rows from a dataset.",
        "description": "Query endpoint for proper schema generation.",
        "operationId": "iterrows_v1beta_datasetio_iterrows__dataset_id__get",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Limit"
            }
          },
          {
            "name": "start_index",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Start Index"
            }
          },
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Dataset Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A PaginatedResponse.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      }
    },
    "/v1beta/datasets": {
      "get": {
        "tags": [
          "V1Beta"
        ],
        "summary": "List all datasets.",
        "description": "Response-only endpoint for proper schema generation.",
        "operationId": "list_datasets_v1beta_datasets_get",
        "responses": {
          "200": {
            "description": "A ListDatasetsResponse.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDatasetsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "$ref": "#/components/responses/BadRequest400"
          },
          "429": {
            "description": "Too Many Requests",
            "$ref": "#/components/responses/TooManyRequests429"
          },
          "500": {
            "description": "Internal Server Error",
            "$ref": "#/components/responses/InternalServerError500"
          },
          "default": {
            "description": "Default Response",
            "$ref": "#/components/responses/DefaultError"
          }
        }
      },
      "post": {
        "tags": [
          "V1Beta"
        ],
        "summary": "Register a new dataset.",
        "description": "Typed endpoint for proper schema generation.",
        "operationId": "register_dataset_v1beta_datasets_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/__main_____datasets_Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A Dataset.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dataset"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "$ref": "#/components/responses/BadRequest400"
          },
          "429": {
            "description": "Too Many Requests",
            "$ref": "#/components/responses/TooManyRequests429"
          },
          "500": {
            "description": "Internal Server Error",
            "$ref": "#/components/responses/InternalServerError500"
          },
          "default": {
            "description": "Default Response",
            "$ref": "#/components/responses/DefaultError"
          }
        }
      }
    },
    "/v1beta/datasets/{dataset_id}": {
      "delete": {
        "tags": [
          "V1Beta"
        ],
        "summary": "Unregister a dataset by its ID.",
        "description": "Generic endpoint - this would be replaced with actual implementation.",
        "operationId": "unregister_dataset_v1beta_datasets__dataset_id__delete",
        "parameters": [
          {
            "name": "args",
            "in": "query",
            "required": true,
            "schema": {
              "title": "Args"
            }
          },
          {
            "name": "kwargs",
            "in": "query",
            "required": true,
            "schema": {
              "title": "Kwargs"
            }
          },
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path parameter: dataset_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      },
      "get": {
        "tags": [
          "V1Beta"
        ],
        "summary": "Get a dataset by its ID.",
        "description": "Query endpoint for proper schema generation.",
        "operationId": "get_dataset_v1beta_datasets__dataset_id__get",
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Dataset Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A Dataset.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dataset"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      }
    },
    "/v1alpha/agents": {
      "get": {
        "tags": [
          "V1Alpha"
        ],
        "summary": "List all agents.",
        "description": "Query endpoint for proper schema generation.",
        "operationId": "list_agents_v1alpha_agents_get",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Limit"
            }
          },
          {
            "name": "start_index",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Start Index"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A PaginatedResponse.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      },
      "post": {
        "tags": [
          "V1Alpha"
        ],
        "summary": "Create an agent with the given configuration.",
        "description": "Typed endpoint for proper schema generation.",
        "operationId": "create_agent_v1alpha_agents_post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentConfig"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "An AgentCreateResponse with the agent ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentCreateResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      }
    },
    "/v1alpha/agents/{agent_id}": {
      "delete": {
        "tags": [
          "V1Alpha"
        ],
        "summary": "Delete an agent by its ID and its associated sessions and turns.",
        "description": "Generic endpoint - this would be replaced with actual implementation.",
        "operationId": "delete_agent_v1alpha_agents__agent_id__delete",
        "parameters": [
          {
            "name": "args",
            "in": "query",
            "required": true,
            "schema": {
              "title": "Args"
            }
          },
          {
            "name": "kwargs",
            "in": "query",
            "required": true,
            "schema": {
              "title": "Kwargs"
            }
          },
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the agent to delete."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      },
      "get": {
        "tags": [
          "V1Alpha"
        ],
        "summary": "Describe an agent by its ID.",
        "description": "Query endpoint for proper schema generation.",
        "operationId": "get_agent_v1alpha_agents__agent_id__get",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Agent Id"
            },
            "description": "ID of the agent."
          }
        ],
        "responses": {
          "200": {
            "description": "An Agent of the agent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      }
    },
    "/v1alpha/agents/{agent_id}/session": {
      "post": {
        "tags": [
          "V1Alpha"
        ],
        "summary": "Create a new session for an agent.",
        "description": "Typed endpoint for proper schema generation.",
        "operationId": "create_agent_session_v1alpha_agents__agent_id__session_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/__main_____agents_agent_id_session_Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "An AgentSessionCreateResponse.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSessionCreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "$ref": "#/components/responses/BadRequest400"
          },
          "429": {
            "description": "Too Many Requests",
            "$ref": "#/components/responses/TooManyRequests429"
          },
          "500": {
            "description": "Internal Server Error",
            "$ref": "#/components/responses/InternalServerError500"
          },
          "default": {
            "description": "Default Response",
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the agent to create the session for."
          }
        ]
      }
    },
    "/v1alpha/agents/{agent_id}/session/{session_id}": {
      "delete": {
        "tags": [
          "V1Alpha"
        ],
        "summary": "Delete an agent session by its ID and its associated turns.",
        "description": "Generic endpoint - this would be replaced with actual implementation.",
        "operationId": "delete_agents_session_v1alpha_agents__agent_id__session__session_id__delete",
        "parameters": [
          {
            "name": "args",
            "in": "query",
            "required": true,
            "schema": {
              "title": "Args"
            }
          },
          {
            "name": "kwargs",
            "in": "query",
            "required": true,
            "schema": {
              "title": "Kwargs"
            }
          },
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the session to delete."
          },
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the agent to delete the session for."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      },
      "get": {
        "tags": [
          "V1Alpha"
        ],
        "summary": "Retrieve an agent session by its ID.",
        "description": "Query endpoint for proper schema generation.",
        "operationId": "get_agents_session_v1alpha_agents__agent_id__session__session_id__get",
        "parameters": [
          {
            "name": "turn_ids",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Turn Ids"
            }
          },
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Session Id"
            },
            "description": "The ID of the session to get."
          },
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Agent Id"
            },
            "description": "The ID of the agent to get the session for."
          }
        ],
        "responses": {
          "200": {
            "description": "A Session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Session"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      }
    },
    "/v1alpha/agents/{agent_id}/session/{session_id}/turn": {
      "post": {
        "tags": [
          "V1Alpha"
        ],
        "summary": "Create a new turn for an agent.",
        "description": "Typed endpoint for proper schema generation.",
        "operationId": "create_agent_turn_v1alpha_agents__agent_id__session__session_id__turn_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/__main_____agents_agent_id_session_session_id_turn_Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "If stream=False, returns a Turn object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Turn"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "$ref": "#/components/responses/BadRequest400"
          },
          "429": {
            "description": "Too Many Requests",
            "$ref": "#/components/responses/TooManyRequests429"
          },
          "500": {
            "description": "Internal Server Error",
            "$ref": "#/components/responses/InternalServerError500"
          },
          "default": {
            "description": "Default Response",
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the agent to create the turn for."
          },
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the session to create the turn for."
          }
        ]
      }
    },
    "/v1alpha/agents/{agent_id}/session/{session_id}/turn/{turn_id}": {
      "get": {
        "tags": [
          "V1Alpha"
        ],
        "summary": "Retrieve an agent turn by its ID.",
        "description": "Query endpoint for proper schema generation.",
        "operationId": "get_agents_turn_v1alpha_agents__agent_id__session__session_id__turn__turn_id__get",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Agent Id"
            },
            "description": "The ID of the agent to get the turn for."
          },
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Session Id"
            },
            "description": "The ID of the session to get the turn for."
          },
          {
            "name": "turn_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Turn Id"
            },
            "description": "The ID of the turn to get."
          }
        ],
        "responses": {
          "200": {
            "description": "A Turn.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Turn"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      }
    },
    "/v1alpha/agents/{agent_id}/session/{session_id}/turn/{turn_id}/resume": {
      "post": {
        "tags": [
          "V1Alpha"
        ],
        "summary": "Resume an agent turn with executed tool call responses.",
        "description": "Typed endpoint for proper schema generation.",
        "operationId": "resume_agent_turn_v1alpha_agents__agent_id__session__session_id__turn__turn_id__resume_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/__main_____agents_agent_id_session_session_id_turn_turn_id_resume_Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A Turn object if stream is False, otherwise an AsyncIterator of AgentTurnResponseStreamChunk objects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Turn"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "$ref": "#/components/responses/BadRequest400"
          },
          "429": {
            "description": "Too Many Requests",
            "$ref": "#/components/responses/TooManyRequests429"
          },
          "500": {
            "description": "Internal Server Error",
            "$ref": "#/components/responses/InternalServerError500"
          },
          "default": {
            "description": "Default Response",
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the agent to resume."
          },
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the session to resume."
          },
          {
            "name": "turn_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the turn to resume."
          }
        ]
      }
    },
    "/v1alpha/agents/{agent_id}/session/{session_id}/turn/{turn_id}/step/{step_id}": {
      "get": {
        "tags": [
          "V1Alpha"
        ],
        "summary": "Retrieve an agent step by its ID.",
        "description": "Query endpoint for proper schema generation.",
        "operationId": "get_agents_step_v1alpha_agents__agent_id__session__session_id__turn__turn_id__step__step_id__get",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Agent Id"
            },
            "description": "The ID of the agent to get the step for."
          },
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Session Id"
            },
            "description": "The ID of the session to get the step for."
          },
          {
            "name": "turn_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Turn Id"
            },
            "description": "The ID of the turn to get the step for."
          },
          {
            "name": "step_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Step Id"
            },
            "description": "The ID of the step to get."
          }
        ],
        "responses": {
          "200": {
            "description": "An AgentStepResponse.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentStepResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      }
    },
    "/v1alpha/agents/{agent_id}/sessions": {
      "get": {
        "tags": [
          "V1Alpha"
        ],
        "summary": "List all session(s) of a given agent.",
        "description": "Query endpoint for proper schema generation.",
        "operationId": "list_agent_sessions_v1alpha_agents__agent_id__sessions_get",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Limit"
            }
          },
          {
            "name": "start_index",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Start Index"
            }
          },
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Agent Id"
            },
            "description": "The ID of the agent to list sessions for."
          }
        ],
        "responses": {
          "200": {
            "description": "A PaginatedResponse.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      }
    },
    "/v1alpha/eval/benchmarks": {
      "get": {
        "tags": [
          "V1Alpha"
        ],
        "summary": "List all benchmarks.",
        "description": "Response-only endpoint for proper schema generation.",
        "operationId": "list_benchmarks_v1alpha_eval_benchmarks_get",
        "responses": {
          "200": {
            "description": "A ListBenchmarksResponse.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBenchmarksResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      },
      "post": {
        "tags": [
          "V1Alpha"
        ],
        "summary": "Register a benchmark.",
        "description": "Generic endpoint - this would be replaced with actual implementation.",
        "operationId": "register_benchmark_v1alpha_eval_benchmarks_post",
        "parameters": [
          {
            "name": "args",
            "in": "query",
            "required": true,
            "schema": {
              "title": "Args"
            }
          },
          {
            "name": "kwargs",
            "in": "query",
            "required": true,
            "schema": {
              "title": "Kwargs"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      }
    },
    "/v1alpha/eval/benchmarks/{benchmark_id}": {
      "delete": {
        "tags": [
          "V1Alpha"
        ],
        "summary": "Unregister a benchmark.",
        "description": "Generic endpoint - this would be replaced with actual implementation.",
        "operationId": "unregister_benchmark_v1alpha_eval_benchmarks__benchmark_id__delete",
        "parameters": [
          {
            "name": "args",
            "in": "query",
            "required": true,
            "schema": {
              "title": "Args"
            }
          },
          {
            "name": "kwargs",
            "in": "query",
            "required": true,
            "schema": {
              "title": "Kwargs"
            }
          },
          {
            "name": "benchmark_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the benchmark to unregister."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      },
      "get": {
        "tags": [
          "V1Alpha"
        ],
        "summary": "Get a benchmark by its ID.",
        "description": "Query endpoint for proper schema generation.",
        "operationId": "get_benchmark_v1alpha_eval_benchmarks__benchmark_id__get",
        "parameters": [
          {
            "name": "benchmark_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Benchmark Id"
            },
            "description": "The ID of the benchmark to get."
          }
        ],
        "responses": {
          "200": {
            "description": "A Benchmark.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Benchmark"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      }
    },
    "/v1alpha/eval/benchmarks/{benchmark_id}/evaluations": {
      "post": {
        "tags": [
          "V1Alpha"
        ],
        "summary": "Evaluate a list of rows on a benchmark.",
        "description": "Typed endpoint for proper schema generation.",
        "operationId": "evaluate_rows_v1alpha_eval_benchmarks__benchmark_id__evaluations_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BenchmarkConfig"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "EvaluateResponse object containing generations and scores.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvaluateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "$ref": "#/components/responses/BadRequest400"
          },
          "429": {
            "description": "Too Many Requests",
            "$ref": "#/components/responses/TooManyRequests429"
          },
          "500": {
            "description": "Internal Server Error",
            "$ref": "#/components/responses/InternalServerError500"
          },
          "default": {
            "description": "Default Response",
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "parameters": [
          {
            "name": "benchmark_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the benchmark to run the evaluation on."
          }
        ]
      }
    },
    "/v1alpha/eval/benchmarks/{benchmark_id}/jobs": {
      "post": {
        "tags": [
          "V1Alpha"
        ],
        "summary": "Run an evaluation on a benchmark.",
        "description": "Typed endpoint for proper schema generation.",
        "operationId": "run_eval_v1alpha_eval_benchmarks__benchmark_id__jobs_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BenchmarkConfig"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The job that was created to run the evaluation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "$ref": "#/components/responses/BadRequest400"
          },
          "429": {
            "description": "Too Many Requests",
            "$ref": "#/components/responses/TooManyRequests429"
          },
          "500": {
            "description": "Internal Server Error",
            "$ref": "#/components/responses/InternalServerError500"
          },
          "default": {
            "description": "Default Response",
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "parameters": [
          {
            "name": "benchmark_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the benchmark to run the evaluation on."
          }
        ]
      }
    },
    "/v1alpha/eval/benchmarks/{benchmark_id}/jobs/{job_id}": {
      "delete": {
        "tags": [
          "V1Alpha"
        ],
        "summary": "Cancel a job.",
        "description": "Generic endpoint - this would be replaced with actual implementation.",
        "operationId": "job_cancel_v1alpha_eval_benchmarks__benchmark_id__jobs__job_id__delete",
        "parameters": [
          {
            "name": "args",
            "in": "query",
            "required": true,
            "schema": {
              "title": "Args"
            }
          },
          {
            "name": "kwargs",
            "in": "query",
            "required": true,
            "schema": {
              "title": "Kwargs"
            }
          },
          {
            "name": "benchmark_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the benchmark to run the evaluation on."
          },
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the job to cancel."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      },
      "get": {
        "tags": [
          "V1Alpha"
        ],
        "summary": "Get the status of a job.",
        "description": "Query endpoint for proper schema generation.",
        "operationId": "job_status_v1alpha_eval_benchmarks__benchmark_id__jobs__job_id__get",
        "parameters": [
          {
            "name": "benchmark_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Benchmark Id"
            },
            "description": "The ID of the benchmark to run the evaluation on."
          },
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Job Id"
            },
            "description": "The ID of the job to get the status of."
          }
        ],
        "responses": {
          "200": {
            "description": "The status of the evaluation job.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      }
    },
    "/v1alpha/eval/benchmarks/{benchmark_id}/jobs/{job_id}/result": {
      "get": {
        "tags": [
          "V1Alpha"
        ],
        "summary": "Get the result of a job.",
        "description": "Query endpoint for proper schema generation.",
        "operationId": "job_result_v1alpha_eval_benchmarks__benchmark_id__jobs__job_id__result_get",
        "parameters": [
          {
            "name": "benchmark_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Benchmark Id"
            },
            "description": "The ID of the benchmark to run the evaluation on."
          },
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Job Id"
            },
            "description": "The ID of the job to get the result of."
          }
        ],
        "responses": {
          "200": {
            "description": "The result of the job.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvaluateResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      }
    },
    "/v1alpha/inference/rerank": {
      "post": {
        "tags": [
          "V1Alpha"
        ],
        "summary": "Rerank a list of documents based on their relevance to a query.",
        "description": "Typed endpoint for proper schema generation.",
        "operationId": "rerank_v1alpha_inference_rerank_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/_inference_rerank_Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "RerankResponse with indices sorted by relevance score (descending).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RerankResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "$ref": "#/components/responses/BadRequest400"
          },
          "429": {
            "description": "Too Many Requests",
            "$ref": "#/components/responses/TooManyRequests429"
          },
          "500": {
            "description": "Internal Server Error",
            "$ref": "#/components/responses/InternalServerError500"
          },
          "default": {
            "description": "Default Response",
            "$ref": "#/components/responses/DefaultError"
          }
        }
      }
    },
    "/v1alpha/post-training/job/artifacts": {
      "get": {
        "tags": [
          "V1Alpha"
        ],
        "summary": "Get the artifacts of a training job.",
        "description": "Query endpoint for proper schema generation.",
        "operationId": "get_training_job_artifacts_v1alpha_post_training_job_artifacts_get",
        "parameters": [
          {
            "name": "job_uuid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Job Uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A PostTrainingJobArtifactsResponse.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostTrainingJobArtifactsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      }
    },
    "/v1alpha/post-training/job/cancel": {
      "post": {
        "tags": [
          "V1Alpha"
        ],
        "summary": "Cancel a training job.",
        "description": "Generic endpoint - this would be replaced with actual implementation.",
        "operationId": "cancel_training_job_v1alpha_post_training_job_cancel_post",
        "parameters": [
          {
            "name": "args",
            "in": "query",
            "required": true,
            "schema": {
              "title": "Args"
            }
          },
          {
            "name": "kwargs",
            "in": "query",
            "required": true,
            "schema": {
              "title": "Kwargs"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      }
    },
    "/v1alpha/post-training/job/status": {
      "get": {
        "tags": [
          "V1Alpha"
        ],
        "summary": "Get the status of a training job.",
        "description": "Query endpoint for proper schema generation.",
        "operationId": "get_training_job_status_v1alpha_post_training_job_status_get",
        "parameters": [
          {
            "name": "job_uuid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Job Uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A PostTrainingJobStatusResponse.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostTrainingJobStatusResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      }
    },
    "/v1alpha/post-training/jobs": {
      "get": {
        "tags": [
          "V1Alpha"
        ],
        "summary": "Get all training jobs.",
        "description": "Response-only endpoint for proper schema generation.",
        "operationId": "get_training_jobs_v1alpha_post_training_jobs_get",
        "responses": {
          "200": {
            "description": "A ListPostTrainingJobsResponse.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPostTrainingJobsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "$ref": "#/components/responses/BadRequest400"
          },
          "429": {
            "description": "Too Many Requests",
            "$ref": "#/components/responses/TooManyRequests429"
          },
          "500": {
            "description": "Internal Server Error",
            "$ref": "#/components/responses/InternalServerError500"
          },
          "default": {
            "description": "Default Response",
            "$ref": "#/components/responses/DefaultError"
          }
        }
      }
    },
    "/v1alpha/post-training/preference-optimize": {
      "post": {
        "tags": [
          "V1Alpha"
        ],
        "summary": "Run preference optimization of a model.",
        "description": "Typed endpoint for proper schema generation.",
        "operationId": "preference_optimize_v1alpha_post_training_preference_optimize_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DPOAlignmentConfig"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A PostTrainingJob.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostTrainingJob"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "$ref": "#/components/responses/BadRequest400"
          },
          "429": {
            "description": "Too Many Requests",
            "$ref": "#/components/responses/TooManyRequests429"
          },
          "500": {
            "description": "Internal Server Error",
            "$ref": "#/components/responses/InternalServerError500"
          },
          "default": {
            "description": "Default Response",
            "$ref": "#/components/responses/DefaultError"
          }
        }
      }
    },
    "/v1alpha/post-training/supervised-fine-tune": {
      "post": {
        "tags": [
          "V1Alpha"
        ],
        "summary": "Run supervised fine-tuning of a model.",
        "description": "Typed endpoint for proper schema generation.",
        "operationId": "supervised_fine_tune_v1alpha_post_training_supervised_fine_tune_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrainingConfig"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A PostTrainingJob.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostTrainingJob"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "$ref": "#/components/responses/BadRequest400"
          },
          "429": {
            "description": "Too Many Requests",
            "$ref": "#/components/responses/TooManyRequests429"
          },
          "500": {
            "description": "Internal Server Error",
            "$ref": "#/components/responses/InternalServerError500"
          },
          "default": {
            "description": "Default Response",
            "$ref": "#/components/responses/DefaultError"
          }
        }
      }
    },
    "/v1/batches": {
      "get": {
        "tags": [
          "V1"
        ],
        "summary": "List all batches for the current user.",
        "description": "Query endpoint for proper schema generation.",
        "operationId": "list_batches_v1_batches_get",
        "parameters": [
          {
            "name": "after",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "title": "After"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of batch objects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBatchesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      },
      "post": {
        "tags": [
          "V1"
        ],
        "summary": "Create a new batch for processing multiple API requests.",
        "description": "Typed endpoint for proper schema generation.",
        "operationId": "create_batch_v1_batches_post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/_batches_Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created batch object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Batch"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      }
    },
    "/v1/batches/{batch_id}": {
      "get": {
        "tags": [
          "V1"
        ],
        "summary": "Retrieve information about a specific batch.",
        "description": "Query endpoint for proper schema generation.",
        "operationId": "retrieve_batch_v1_batches__batch_id__get",
        "parameters": [
          {
            "name": "batch_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Batch Id"
            },
            "description": "The ID of the batch to retrieve."
          }
        ],
        "responses": {
          "200": {
            "description": "The batch object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Batch"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      }
    },
    "/v1/batches/{batch_id}/cancel": {
      "post": {
        "tags": [
          "V1"
        ],
        "summary": "Cancel a batch that is in progress.",
        "description": "Typed endpoint for proper schema generation.",
        "operationId": "cancel_batch_v1_batches__batch_id__cancel_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/_batches_batch_id_cancel_Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The updated batch object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Batch"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "$ref": "#/components/responses/BadRequest400"
          },
          "429": {
            "description": "Too Many Requests",
            "$ref": "#/components/responses/TooManyRequests429"
          },
          "500": {
            "description": "Internal Server Error",
            "$ref": "#/components/responses/InternalServerError500"
          },
          "default": {
            "description": "Default Response",
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "parameters": [
          {
            "name": "batch_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the batch to cancel."
          }
        ]
      }
    },
    "/v1/chat/completions": {
      "get": {
        "tags": [
          "V1"
        ],
        "summary": "List chat completions.",
        "description": "Query endpoint for proper schema generation.",
        "operationId": "list_chat_completions_v1_chat_completions_get",
        "parameters": [
          {
            "name": "after",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "title": "After"
            }
          },
          {
            "name": "model",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Model"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "title": "Limit"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Order",
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A ListOpenAIChatCompletionResponse.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOpenAIChatCompletionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      },
      "post": {
        "tags": [
          "V1"
        ],
        "summary": "Create chat completions.",
        "description": "Typed endpoint for proper schema generation.",
        "operationId": "openai_chat_completion_v1_chat_completions_post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenAIChatCompletionRequestWithExtraBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "An OpenAIChatCompletion.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIChatCompletion"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      }
    },
    "/v1/chat/completions/{completion_id}": {
      "get": {
        "tags": [
          "V1"
        ],
        "summary": "Get chat completion.",
        "description": "Query endpoint for proper schema generation.",
        "operationId": "get_chat_completion_v1_chat_completions__completion_id__get",
        "parameters": [
          {
            "name": "completion_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Completion Id"
            },
            "description": "ID of the chat completion."
          }
        ],
        "responses": {
          "200": {
            "description": "A OpenAICompletionWithInputMessages.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAICompletionWithInputMessages"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      }
    },
    "/v1/completions": {
      "post": {
        "tags": [
          "V1"
        ],
        "summary": "Create completion.",
        "description": "Typed endpoint for proper schema generation.",
        "operationId": "openai_completion_v1_completions_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenAICompletionRequestWithExtraBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "An OpenAICompletion.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAICompletion"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "$ref": "#/components/responses/BadRequest400"
          },
          "429": {
            "description": "Too Many Requests",
            "$ref": "#/components/responses/TooManyRequests429"
          },
          "500": {
            "description": "Internal Server Error",
            "$ref": "#/components/responses/InternalServerError500"
          },
          "default": {
            "description": "Default Response",
            "$ref": "#/components/responses/DefaultError"
          }
        }
      }
    },
    "/v1/conversations": {
      "post": {
        "tags": [
          "V1"
        ],
        "summary": "Create a conversation.",
        "description": "Typed endpoint for proper schema generation.",
        "operationId": "create_conversation_v1_conversations_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/_conversations_Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The created conversation object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conversation"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "$ref": "#/components/responses/BadRequest400"
          },
          "429": {
            "description": "Too Many Requests",
            "$ref": "#/components/responses/TooManyRequests429"
          },
          "500": {
            "description": "Internal Server Error",
            "$ref": "#/components/responses/InternalServerError500"
          },
          "default": {
            "description": "Default Response",
            "$ref": "#/components/responses/DefaultError"
          }
        }
      }
    },
    "/v1/conversations/{conversation_id}": {
      "delete": {
        "tags": [
          "V1"
        ],
        "summary": "Delete a conversation.",
        "description": "Query endpoint for proper schema generation.",
        "operationId": "openai_delete_conversation_v1_conversations__conversation_id__delete",
        "parameters": [
          {
            "name": "conversation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Conversation Id"
            },
            "description": "The conversation identifier."
          }
        ],
        "responses": {
          "200": {
            "description": "The deleted conversation resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationDeletedResource"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      },
      "get": {
        "tags": [
          "V1"
        ],
        "summary": "Retrieve a conversation.",
        "description": "Query endpoint for proper schema generation.",
        "operationId": "get_conversation_v1_conversations__conversation_id__get",
        "parameters": [
          {
            "name": "conversation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Conversation Id"
            },
            "description": "The conversation identifier."
          }
        ],
        "responses": {
          "200": {
            "description": "The conversation object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conversation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      },
      "post": {
        "tags": [
          "V1"
        ],
        "summary": "Update a conversation.",
        "description": "Typed endpoint for proper schema generation.",
        "operationId": "update_conversation_v1_conversations__conversation_id__post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/_conversations_conversation_id_Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated conversation object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conversation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        },
        "parameters": [
          {
            "name": "conversation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The conversation identifier."
          }
        ]
      }
    },
    "/v1/conversations/{conversation_id}/items": {
      "get": {
        "tags": [
          "V1"
        ],
        "summary": "List items.",
        "description": "Query endpoint for proper schema generation.",
        "operationId": "list_items_v1_conversations__conversation_id__items_get",
        "parameters": [
          {
            "name": "after",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "title": "After"
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ConversationItemInclude"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Limit"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Order"
            }
          },
          {
            "name": "conversation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Conversation Id"
            },
            "description": "The conversation identifier."
          }
        ],
        "responses": {
          "200": {
            "description": "List of conversation items.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationItemList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      },
      "post": {
        "tags": [
          "V1"
        ],
        "summary": "Create items.",
        "description": "Typed endpoint for proper schema generation.",
        "operationId": "add_items_v1_conversations__conversation_id__items_post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/_conversations_conversation_id_items_Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of created items.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationItemList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        },
        "parameters": [
          {
            "name": "conversation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The conversation identifier."
          }
        ]
      }
    },
    "/v1/conversations/{conversation_id}/items/{item_id}": {
      "delete": {
        "tags": [
          "V1"
        ],
        "summary": "Delete an item.",
        "description": "Query endpoint for proper schema generation.",
        "operationId": "openai_delete_conversation_item_v1_conversations__conversation_id__items__item_id__delete",
        "parameters": [
          {
            "name": "conversation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Conversation Id"
            },
            "description": "The conversation identifier."
          },
          {
            "name": "item_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Item Id"
            },
            "description": "The item identifier."
          }
        ],
        "responses": {
          "200": {
            "description": "The deleted item resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationItemDeletedResource"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      },
      "get": {
        "tags": [
          "V1"
        ],
        "summary": "Retrieve an item.",
        "description": "Query endpoint for proper schema generation.",
        "operationId": "retrieve_v1_conversations__conversation_id__items__item_id__get",
        "parameters": [
          {
            "name": "conversation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Conversation Id"
            },
            "description": "The conversation identifier."
          },
          {
            "name": "item_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Item Id"
            },
            "description": "The item identifier."
          }
        ],
        "responses": {
          "200": {
            "description": "The conversation item.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIResponseMessage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      }
    },
    "/v1/embeddings": {
      "post": {
        "tags": [
          "V1"
        ],
        "summary": "Create embeddings.",
        "description": "Typed endpoint for proper schema generation.",
        "operationId": "openai_embeddings_v1_embeddings_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenAIEmbeddingsRequestWithExtraBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "An OpenAIEmbeddingsResponse containing the embeddings.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIEmbeddingsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "$ref": "#/components/responses/BadRequest400"
          },
          "429": {
            "description": "Too Many Requests",
            "$ref": "#/components/responses/TooManyRequests429"
          },
          "500": {
            "description": "Internal Server Error",
            "$ref": "#/components/responses/InternalServerError500"
          },
          "default": {
            "description": "Default Response",
            "$ref": "#/components/responses/DefaultError"
          }
        }
      }
    },
    "/v1/files": {
      "get": {
        "tags": [
          "V1"
        ],
        "summary": "List files.",
        "description": "Query endpoint for proper schema generation.",
        "operationId": "openai_list_files_v1_files_get",
        "parameters": [
          {
            "name": "after",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "title": "After"
            }
          },
          {
            "name": "purpose",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OpenAIFilePurpose"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10000,
              "title": "Limit"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Order",
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An ListOpenAIFileResponse containing the list of files.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOpenAIFileResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      },
      "post": {
        "tags": [
          "V1"
        ],
        "summary": "Upload file.",
        "description": "Response-only endpoint for proper schema generation.",
        "operationId": "openai_upload_file_v1_files_post",
        "responses": {
          "200": {
            "description": "An OpenAIFileObject representing the uploaded file.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIFileObject"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      }
    },
    "/v1/files/{file_id}": {
      "delete": {
        "tags": [
          "V1"
        ],
        "summary": "Delete file.",
        "description": "Query endpoint for proper schema generation.",
        "operationId": "openai_delete_file_v1_files__file_id__delete",
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "File Id"
            },
            "description": "The ID of the file to use for this request."
          }
        ],
        "responses": {
          "200": {
            "description": "An OpenAIFileDeleteResponse indicating successful deletion.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIFileDeleteResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      },
      "get": {
        "tags": [
          "V1"
        ],
        "summary": "Retrieve file.",
        "description": "Query endpoint for proper schema generation.",
        "operationId": "openai_retrieve_file_v1_files__file_id__get",
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "File Id"
            },
            "description": "The ID of the file to use for this request."
          }
        ],
        "responses": {
          "200": {
            "description": "An OpenAIFileObject containing file information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIFileObject"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      }
    },
    "/v1/files/{file_id}/content": {
      "get": {
        "tags": [
          "V1"
        ],
        "summary": "Retrieve file content.",
        "description": "Generic endpoint - this would be replaced with actual implementation.",
        "operationId": "openai_retrieve_file_content_v1_files__file_id__content_get",
        "parameters": [
          {
            "name": "args",
            "in": "query",
            "required": true,
            "schema": {
              "title": "Args"
            }
          },
          {
            "name": "kwargs",
            "in": "query",
            "required": true,
            "schema": {
              "title": "Kwargs"
            }
          },
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the file to use for this request."
          }
        ],
        "responses": {
          "200": {
            "description": "The raw file content as a binary response.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400",
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests429",
            "description": "Too Many Requests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500",
            "description": "Internal Server Error"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError",
            "description": "Default Response"
          }
        }
      }
    },
    "/v1/health": {
      "get": {
        "tags": [
          "V1"
        ],
        "summary": "Get health status.",
        "description": "Response-only endpoint for proper schema generation.",
        "operationId": "health_v1_health_get",
        "responses": {
          "200": {
            "description": "Health information indicating if the service is operational.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "$ref": "#/components/responses/BadRequest400"
          },
          "429": {
            "description": "Too Many Requests",
            "$ref": "#/components/responses/TooManyRequests429"
          },
          "500": {
            "description": "Internal Server Error",
            "$ref": "#/components/responses/InternalServerError500"
          },
          "default": {
            "description": "Default Response",
            "$ref": "#/components/responses/DefaultError"
          }
        }
      }
    },
    "/v1/inspect/routes": {
      "get": {
        "tags": [
          "V1"
        ],
        "summary": "List routes.",
        "description": "Response-only endpoint for proper schema generation.",
        "operationId": "list_routes_v1_inspect_routes_get",
        "responses": {
          "200": {
            "description": "Response containing information about all available routes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListRoutesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "$ref": "#/components/responses/BadRequest400"
          },
          "429": {
            "description": "Too Many Requests",
            "$ref": "#/components/responses/TooManyRequests429"
          },
          "500": {
            "description": "Internal Server Error",
            "$ref": "#/components/responses/InternalServerError500"
          },
          "default": {
            "description": "Default Response",
            "$ref": "#/components/responses/DefaultError"
          }
        }
      }
    },
    "/v1/models": {
      "get": {
        "tags": [
          "V1"
        ],
        "summary": "List all models.",
        "description": "Response-only endpoint for proper schema generation.",
        "operationId": "list_models_v1_models_get",
        "responses": {
          "200": {
            "description": "A ListModelsResponse.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListModelsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "$ref": "#/components/responses/BadRequest400"
          },
          "429": {
            "description": "Too Many Requests",
            "$ref": "#/components/responses/TooManyRequests429"
          },
          "500": {
            "description": "Internal Server Error",
            "$ref": "#/components/responses/InternalServerError500"
          },
          "default": {
            "description": "Default Response",
            "$ref": "#/components/responses/DefaultError"
          }
        }
      },
      "post": {
        "tags": [
          "V1"
        ],
        "summary": "Register model.",
        "description": "Typed endpoint for proper schema generation.",
        "operationId": "register_model_v1_models_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/_models_Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A Model.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model"
                }
              }
            }
          },
          "400": {
[...]
